{{template "main-top" .}}


<h1>{{t "PasswordChange.Title"}}</h1>
<p>{{t "PasswordChange.Description"}}</p>

<form action="{{ changePasswordUrl }}" method="POST">

    <input type="hidden" name="authSessionID" value="{{ .AuthReqID }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="old_password">{{t "PasswordChange.OldPassword"}}</label>
            <input class="input" type="password" id="old_password" name="old_password" placeholder="{{t "PasswordChange.OldPassword"}}" autocomplete="current-password" autofocus required>
        </div>

        <div class="field">
            <label class="label" for="new_password">{{t "PasswordChange.NewPassword"}}</label>
            <input class="input" type="password" id="new-password" name="new_password" placeholder="{{t "PasswordChange.NewPassword"}}" autocomplete="new-password" required>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="actions">
        <button type="submit" name="resend" value="false" class="primary right" >{{t "Actions.Next"}}</buttontype="submit">
    </div>
</form>


{{template "main-bottom" .}}
 