{{template "main-top" .}}


<h1>{{t "InitPassword.Title" }}</h1>
<p>{{t "InitPassword.Description" }}</p>

<form action="{{ initPasswordUrl }}" method="POST">

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="userID" value="{{ .UserID }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="code">{{t "InitPassword.Code"}}</label>
            <input class="input" type="text" id="code" name="code" value="{{.Code}}" placeholder="{{t "InitPassword.Code"}}" autocomplete="off" autofocus required>
        </div>
        <div class="field">
            <label class="label" for="password">{{t "InitPassword.NewPassword"}}</label>
            <input class="input" type="password" id="password" name="password" placeholder="{{t "InitPassword.NewPassword"}}" autocomplete="new-password" autofocus required>
        </div>
        <div class="field">
            <label class="label" for="passwordconfirm">{{t "InitPassword.NewPasswordConfirm"}}</label>
            <input class="input" type="password" id="passwordconfirm" name="passwordconfirm" placeholder="{{t "InitPassword.NewPasswordConfirm"}}" autocomplete="new-password" autofocus required>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="actions">
        <button type="submit" name="resend" value="false" class="primary right" >{{t "Actions.Next"}}</buttontype="submit">
        <button type="submit" name="resend" value="true" class="secondary right" formnovalidate>{{t "Actions.Resend" }}</button>
    </div>
</form>


{{template "main-bottom" .}}
 