{{template "main-top" .}}


<h1>{{t "Password.Title"}}</h1>

<form action="{{ passwordUrl }}" method="POST">

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="username" value="{{ .UserName }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="password">{{t "Password.Password"}}</label>
            <input class="input" type="password" id="password" name="password" autocomplete="current-password" autofocus required>
        </div>
    </div>

    {{template "error-message" .}}

    <div class="actions">
        <button class="primary right" type="submit">{{t "Actions.Next"}}</button>
        <a href="{{ usernameChangeUrl .AuthReqID }}">
            <button class="secondary" type="button">{{t "Actions.Back"}}</button>
        </a>
        <a href="{{ passwordResetUrl .AuthReqID }}">
            <button class="secondary" type="button">{{t "Actions.ForgotPassword"}}</button>
        </a>
    </div>
</form>


{{template "main-bottom" .}}
 