{{template "main-top" .}}


<h1>{{t "UserSelection.Title"}}</h1>
<p>{{t "UserSelection.Description"}}</p>

<form action="{{ userSelectionUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />

    <div class="actions">
        {{ range $user := .Users }}
        {{ $sessionState := (t (printf "UserSelection.SessionState%v" $user.UserSessionState)) }}
        <button type="submit" name="userID" value="{{$user.UserID}}" class="primary">
            <span class="username">{{$user.UserName}}</span>
            <span class="sessionstate">({{$sessionState}})</span>
        </button>
        {{ end }}
        <button type="submit" name="userID" value="0" class="primary">{{t "UserSelection.OtherUser"}}</button>
    </div>
</form>


{{template "main-bottom" .}}
 