<h2>{{ 'POLICY.LOGIN_TEXTS.TITLE' | translate }}</h2>
<p class="cnsl-secondary-text">{{ 'POLICY.LOGIN_TEXTS.DESCRIPTION' | translate }}</p>
@if (langSvc.isNotAllowed(language) | async) {
  <cnsl-info-section class="locked" [type]="InfoSectionType.WARN">
    {{ 'POLICY.LOGIN_TEXTS.ACTIVE_LANGUAGE_NOT_ALLOWED' | translate }}</cnsl-info-section
    >
  }

  @if (loading) {
    <div class="spinner-wr">
      <mat-spinner diameter="30" color="primary"></mat-spinner>
    </div>
  }

  <div class="date">
    <div>
      @if (newerVersionExists) {
        <p class="newer-title">{{ 'POLICY.LOGIN_TEXTS.NEWERVERSIONEXISTS' | translate }}</p>
      }
      @if (newerPolicyChangeDate && newerVersionExists) {
        <p>
          {{ 'POLICY.LOGIN_TEXTS.CHANGEDATE' | translate }}:
          {{ newerPolicyChangeDate | timestampToDate | localizedDate: 'dd. MMMM yyyy, HH:mm:ss' }}
        </p>
      }
      @if (currentPolicyChangeDate) {
        <p class="cnsl-secondary-text">
          {{ 'POLICY.LOGIN_TEXTS.CURRENTDATE' | translate }}:
          {{ currentPolicyChangeDate | timestampToDate | localizedDate: 'dd. MMMM yyyy, HH:mm:ss' }}
        </p>
      }
    </div>
    <button [disabled]="!newerVersionExists" color="primary" mat-raised-button (click)="loadData()">
      <div class="cnsl-action-button">
        <i class="las la-sync-alt"></i>
        <span>{{ 'ACTIONS.REFRESH' | translate }}</span>
      </div>
    </button>
  </div>
  @if (allowed$ | async) {
    <form class="top-actions" [formGroup]="form">
      <cnsl-form-field class="keys">
        <cnsl-label>{{ 'POLICY.LOGIN_TEXTS.KEYNAME' | translate }}</cnsl-label>
        <mat-select formControlName="currentSubMap" name="currentSubMap">
          @for (key of KeyNamesArray; track key) {
            <mat-option [value]="key">
              {{ 'POLICY.LOGIN_TEXTS.KEYS.' + key | translate }}
            </mat-option>
          }
        </mat-select>
      </cnsl-form-field>
      <cnsl-form-field class="language">
        <cnsl-label>{{ 'POLICY.LOGIN_TEXTS.LANGUAGE' | translate }}</cnsl-label>
        <mat-select formControlName="language" name="language">
          @for (lang of allowed$ | async; track lang) {
            <mat-option [value]="lang">
              <div class="centerline">
                <span
                  >{{ lang }}
                  <span class="lighter cnsl-secondary-text"
                    >|&nbsp;{{ 'POLICY.LOGIN_TEXTS.LANGUAGES.' + lang | translate }}</span
                    ></span
                    >
                  </div>
                </mat-option>
              }
              @if (langSvc.restricted$ | async) {
                <mat-optgroup [label]="'POLICY.LOGIN_TEXTS.LANGUAGES_NOT_ALLOWED' | translate">
                  @for (lang of langSvc.notAllowed$ | async; track lang) {
                    <mat-option [value]="lang">
                      <div class="centerline">
                        <span
                          >{{ lang }}
                          <span class="lighter cnsl-secondary-text"
                            >|&nbsp;{{ 'POLICY.LOGIN_TEXTS.LANGUAGES.' + lang | translate }}</span
                            ></span
                            >
                          </div>
                        </mat-option>
                      }
                    </mat-optgroup>
                  }
                </mat-select>
              </cnsl-form-field>
            </form>
          }

          <div class="divider"></div>

          <div class="content">
            <cnsl-edit-text
              label="one"
              [disabled]="(canWrite$ | async) === false"
              [default$]="getDefaultInitMessageTextMap$"
              [current$]="getCustomInitMessageTextMap$"
              (changedValues)="updateCurrentValues($event)"
            ></cnsl-edit-text>
          </div>

          <div class="actions">
            <button
              class="reset-button"
              [disabled]="(canWrite$ | async) === false || isDefault"
              (click)="resetDefault()"
              color="warn"
              type="submit"
              mat-stroked-button
              >
              <div class="cnsl-action-button">
                <i class="las la-history"></i>
                <span>{{ 'ACTIONS.RESETDEFAULT' | translate }}</span>
              </div>
            </button>
            <button
              class="save-button"
              [disabled]="(canWrite$ | async) === false"
              (click)="saveCurrentTexts()"
              color="primary"
              type="submit"
              mat-raised-button
              >
              {{ 'ACTIONS.SAVE' | translate }}
            </button>
          </div>
