<app-detail-layout [backRouterLink]="[ serviceType === PolicyComponentServiceType.ADMIN ? '/iam/policies' : '/org']"
    [title]="'POLICY.LOGIN_TEXTS.TITLE' | translate"
    [description]="'POLICY.LOGIN_TEXTS.DESCRIPTION' | translate">

    <cnsl-form-field class="full-width" appearance="outline">
      <cnsl-label>{{ 'POLICY.LOGIN_TEXTS.KEYNAME' | translate }}</cnsl-label>
      <mat-select [(ngModel)]="currentSubMap" (selectionChange)="setCurrentType($event.value)">
          <mat-option *ngFor="let key of KeyNamesArray" [value]="key">
              {{key }}
          </mat-option>
      </mat-select>
  </cnsl-form-field>

  <div class="divider"></div>

    <!-- <div class="message-type">
      <button *ngFor="let key of KeyNamesArray" (click)="setCurrentType(key)" [ngClass]="{'active': currentSubMap == key}" mat-button>{{'POLICY.LOGIN_TEXTS.KEYS.'+key | translate}}</button>
    </div> -->
    <div class="content" >
      <cnsl-edit-text label="one" [default$]="getDefaultInitMessageTextMap$" [current$]="getCustomInitMessageTextMap$" (changedValues)="updateCurrentValues(
        $event)"></cnsl-edit-text>
    </div>

    <div class="actions">
      <button class="reset-button" (click)="resetDefault()" color="warn" type="submit"
      mat-stroked-button><i class="las la-history"></i> {{ 'ACTIONS.RESETDEFAULT' | translate }}</button>
      <button class="save-button" (click)="saveCurrentMessage()" color="primary" type="submit"
        mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
    </div>

    <ng-container
        *ngIf="serviceType == PolicyComponentServiceType.MGMT && (['login_policy.idp'] | hasFeature | async) == false">
        <cnsl-info-section type="WARN">{{'FEATURES.NOTAVAILABLE' | translate: ({value:
            'login_policy.idp'})}}
        </cnsl-info-section>
    </ng-container>

    <cnsl-links *ngIf="nextLinks" [links]="nextLinks"></cnsl-links>

</app-detail-layout>
