.validation-col {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 0;
  width: 100%;

  &.between {
    margin: 0 0.5rem;
  }

  .val {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    padding: 2px 0;

    span {
      font-size: 14px;
    }

    .complexity-sp-wrapper {
      height: 20px;
      width: 20px;
      margin-right: 1rem;

      i {
        font-size: 0.9rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

      .complexity-spinner[color='valid'] {
        color: #56a392;
      }
    }

    i {
      margin-right: 1rem;
      font-size: 20px;

      &.green {
        color: #56a392;
      }

      &.red {
        color: var(--warn);
      }
    }
  }
}
