.app-type-radio-button-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0 -0.5rem;
  box-sizing: border-box;
  overflow-x: auto;
}

@mixin app-type-radio-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: map-get($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);
  $background: map-get($theme, background);
  $border-color: if($is-dark-theme, rgba(#8795a1, 0.2), rgba(#8795a1, 0.2));

  input[type='radio'].app {
    appearance: none;
    opacity: 0;
    display: none;
    box-sizing: border-box;

    &:focus {
      border: 1px solid if($is-dark-theme, white, black);
    }
  }

  input.app:checked + label {
    border-color: $primary-color;
    border-width: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 6px rgb(0 0 0 / 10%);

    .cnsl-type-radio-header span {
      color: if($is-dark-theme, white, white);
    }
  }

  .cnsl-type-radio-button {
    margin: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid $border-color;
    display: flex;
    flex-direction: column;
    background-color: map-get($background, cards);
    flex: 0 1 230px;
    min-height: 300px;
    min-width: 150px;
    cursor: pointer;
    position: relative;
    padding-bottom: 1rem;

    .cnsl-type-radio-header {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(80, 110, 110);
      margin-bottom: 1rem;
      box-sizing: border-box;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      position: relative;
      overflow: hidden;

      span {
        margin: 2rem;
        font-size: 30px;
        color: if($is-dark-theme, #00000050, #ffffff50);
      }
    }

    p {
      text-align: center;
      padding: 0 1rem;
    }

    .type-desc {
      font-size: 14px;
    }

    .cnsl-type-protocol {
      width: fit-content;
      margin: 0.5rem auto;
    }
  }
}
