@import './button_base.scss';

.lgn-button, .lgn-stroked-button {
  @include lgn-button-base;
}

.lgn-raised-button {
  @include lgn-raised-button;
}

.lgn-stroked-button {
  border: $lgn-stroked-button-border-width solid currentColor;
  padding: $lgn-stroked-button-padding;
  line-height: $lgn-stroked-button-line-height;
}

.lgn-button:focus {
  pointer-events: none;
  transition: $lgn-button-focus-transition;
}

.lgn-button, .lgn-stroked-button, .lgn-raised-button {
  * {
    vertical-align: middle;
  }
}
