h1 {
  margin: 0;
}

.desc {
  color: var(--grey);
  margin-bottom: 2rem;
  font-size: 14px;
}

.title-section {
  display: flex;
  align-items: center;
  margin-top: 1rem;

  h2 {
    margin: 0;
  }

  i {
    margin-left: 0.5rem;
  }
}

.flow {
  display: flex;
  flex-direction: column;
  max-width: 1000px;

  .flow-type {
    padding: 1rem 1rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .topelements {
    border: 3px solid var(--color-main);
    border-radius: 1rem;
    padding: 0 0.5rem;
  }

  .trigger-wrapper {
    padding-left: 100px;
    position: relative;

    .topbottomline {
      position: absolute;
      top: 0;
      bottom: 100px;
      left: 120px;
      width: 3px;
      z-index: -1;
      background-color: var(--color-main);
    }

    .trigger {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      background: var(--color-main);
      color: white;
      margin: 0.5rem 0;
      min-height: 40px;

      .icon {
        margin-right: 1rem;
      }

      .fill-space {
        flex: 1;
      }

      .action-wrapper {
        padding: 0 0.5rem;

        .action {
          display: flex;
          align-items: center;
          font-size: 14px;
          padding: 0.5rem 0;
          cursor: move;

          i {
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  .add-btn {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin: 1rem 0;
  }
}

.cdk-drag-preview {
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-radius: 0.5rem;
  padding: 0 0.5rem;
  background-color: var(--color-main);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  i {
    margin-right: 0.5rem;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
