<cnsl-refresh-table (refreshed)="refresh.emit()" [loading]="(dataSource$ | async) === null">
  <div actions>
    <ng-content></ng-content>
  </div>
  <div class="table-wrapper">
    <table *ngIf="dataSource$ | async as dataSource" mat-table class="table" aria-label="Elements"
           [dataSource]="dataSource">
      <ng-container matColumnDef="condition">
        <th mat-header-cell *matHeaderCellDef>{{ 'ACTIONSTWO.EXECUTION.TABLE.CONDITION' | translate }}</th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          <span *ngIf="row.condition?.conditionType?.value">
            {{ row?.condition | condition }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'ACTIONSTWO.EXECUTION.TABLE.TYPE' | translate }}</th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          {{ 'ACTIONSTWO.EXECUTION.TYPES.' + row?.condition?.conditionType?.case | translate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="target">
        <th mat-header-cell *matHeaderCellDef>{{ 'ACTIONSTWO.EXECUTION.TABLE.TARGET' | translate }}</th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          <div class="target-key">
            <cnsl-project-role-chip
              *ngFor="let target of filteredTargetTypes(row.targets) | async"
              [roleName]="target.name"
            >{{ target.name }}
            </cnsl-project-role-chip>
            <cnsl-project-role-chip *ngFor="let condition of filteredIncludeConditions(row.targets)" [roleName]="condition | condition">
              <mat-icon class="icon">refresh</mat-icon>
              {{ condition | condition }}
            </cnsl-project-role-chip>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ 'ACTIONSTWO.EXECUTION.TABLE.CREATIONDATE' | translate }}
        </th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          <span class="no-break">{{ row.creationDate | timestampToDate | localizedDate: 'regular' }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          <cnsl-table-actions>
            <button
              actions
              matTooltip="{{ 'ACTIONS.REMOVE' | translate }}"
              color="warn"
              (click)="$event.stopPropagation(); delete.emit(row)"
              mat-icon-button
            >
              <i class="las la-trash"></i>
            </button>
          </cnsl-table-actions>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['condition', 'type', 'target', 'creationDate', 'actions']"></tr>
      <tr
        class="highlight pointer"
        (click)="selected.emit(row)"
        mat-row
        *matRowDef="let row; columns: ['condition', 'type', 'target', 'creationDate', 'actions']"
      ></tr>
    </table>
  </div>
</cnsl-refresh-table>
