<div class="enlarged-container">
    <h1>{{ 'IAM.EVENTSTORE.TITLE' | translate }}</h1>
    <p class="desc">{{'IAM.EVENTSTORE.DESCRIPTION' | translate }}</p>
    <cnsl-card title="{{ 'IAM.VIEWS.TITLE' | translate }}" description="{{ 'IAM.VIEWS.DESCRIPTION' | translate }}">
        <cnsl-iam-views></cnsl-iam-views>
    </cnsl-card>

    <cnsl-card title="{{ 'IAM.FAILEDEVENTS.TITLE' | translate }}"
        description="{{ 'IAM.FAILEDEVENTS.DESCRIPTION' | translate }}">
        <cnsl-iam-failed-events></cnsl-iam-failed-events>
    </cnsl-card>
</div>