form {
  max-width: 35rem;

  .org-domain {
    margin-right: 1rem;
  }
}

.domain-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
  display: block;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;

  .small-button {
    display: block;
  }

  .big-button {
    display: block;
    padding: 0 4rem;
    height: 3.5rem;
  }
}
