receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 1s
    send_batch_size: 1024

exporters:
  debug:
    verbosity: detailed
  file/traces:
    path: /tmp/otel/traces.json
    flush_interval: 1s
  file/metrics:
    path: /tmp/otel/metrics.json
    flush_interval: 1s
  file/logs:
    path: /tmp/otel/logs.json
    flush_interval: 1s

extensions:
  health_check:
    endpoint: 0.0.0.0:13133

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, file/traces]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, file/metrics]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, file/logs]
