.title {
  font-size: 1.2rem;
  margin: 0;
}

.desc {
  font-size: 0.9rem;
}

.radio-button {
  margin: 0.5rem 0;

  .label {
    white-space: normal;
  }
}

.info {
  margin: 1rem 0;
  display: block;
}

.action {
  display: flex;
  justify-content: space-between;

  .ok-button {
    margin-left: 0.5rem;
  }

  button {
    border-radius: 0.5rem;
  }
}
