td {
  cursor: pointer;

  .cpy-button {
    visibility: hidden;

    i {
      pointer-events: none;
    }
  }

  .orgdefaultlabel {
    margin-left: 0.5rem;
  }

  &:hover {
    .cpy-button {
      visibility: visible;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}

.filter {
  margin-left: 1rem;
}

th {
  .search-button {
    visibility: hidden;
  }

  &:hover,
  &.search-active {
    .search-button {
      visibility: visible;
    }
  }
}
