$logoImgDark: "../logo-dark.png";
$logoImgLight: "../logo-light.png";

$footerimgDark: "../gradientdeco-full.svg";
$footerimgLight: "../gradientdeco-full.svg";

// ----- FONTS ------------
$standardFont: Lato;
$headerFont: Aileron;

// ----- COLORS ------------

// ------ DARK-THEME -------
$backgroundColor: #282828;
$fontColor: white;
$primaryColor: #760038;
$primaryColorHover: lighten($primaryColor, 25%);


// ------ LIGHT-THEME -------
$backgroundColorLight: $fontColor;
$fontColorLight: $backgroundColor;
$primaryColorLight: $primaryColor;
$primaryColorHoverLight: lighten($primaryColorLight, 25%);