<div class="max-width-container">
    <div class="container">
        <div class="left">
            <a *ngIf="userId" [routerLink]="[ '/user',userId]" mat-icon-button>
                <mat-icon class="icon">arrow_back</mat-icon>
            </a>
            <a *ngIf="!userId" [routerLink]="[ '/user/me']" mat-icon-button>
                <mat-icon class="icon">arrow_back</mat-icon>
            </a>
        </div>
        <div class="right">
            <div class="head">
                <h1>{{ 'USER.PASSWORD.TITLE' | translate }}</h1>
                <p class="desc">{{ 'USER.PASSWORD.DESCRIPTION' | translate }}</p>
            </div>

            <ng-container *ngIf="userId; else authUser">
                <form *ngIf="passwordForm" autocomplete="new-password" [formGroup]="passwordForm"
                    (ngSubmit)="setInitialPassword(userId)">
                    <div class="content center">
                        <mat-form-field class="formfield" appearance="outline">
                            <mat-label>{{ 'USER.PASSWORD.NEW' | translate }}</mat-label>
                            <input autocomplete="off" name="password" matInput formControlName="password"
                                type="password" />

                            <mat-error *ngIf="password?.errors?.required">
                                {{ 'USER.VALIDATION.REQUIRED' | translate }}
                            </mat-error>
                            <mat-error *ngIf="password?.errors?.symbolValidator">
                                {{ 'USER.VALIDATION.SYMBOLERROR' | translate }}
                            </mat-error>
                            <mat-error *ngIf="password?.errors?.numberValidator">
                                {{ 'USER.VALIDATION.NUMBERERROR' | translate }}
                            </mat-error>
                            <mat-error *ngIf="password?.errors?.upperCaseValidator">
                                {{ 'USER.VALIDATION.UPPERCASEMISSING' | translate }}
                            </mat-error>
                            <mat-error *ngIf="password?.errors?.lowerCaseValidator">
                                {{ 'USER.VALIDATION.LOWERCASEMISSING' | translate }}
                            </mat-error>
                            <mat-error *ngIf="password?.errors?.minlength">
                                {{ 'USER.VALIDATION.MINLENGTH' | translate:password?.errors?.minlength }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="formfield" appearance="outline">
                            <mat-label>{{ 'USER.PASSWORD.CONFIRM' | translate }}</mat-label>
                            <input autocomplete="off" name="passwordRepeat" matInput formControlName="confirmPassword"
                                type="password" />

                            <mat-error *ngIf="confirmPassword?.errors?.required">
                                {{ 'USER.VALIDATION.REQUIRED' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.symbolValidator">
                                {{ 'USER.VALIDATION.SYMBOLERROR' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.numberValidator">
                                {{ 'USER.VALIDATION.NUMBERERROR' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.notequal">
                                {{ 'USER.PASSWORD.NOTEQUAL' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.upperCaseValidator">
                                {{ 'USER.VALIDATION.UPPERCASEMISSING' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.lowerCaseValidator">
                                {{ 'USER.VALIDATION.LOWERCASEMISSING' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.minlength">
                                {{ 'USER.VALIDATION.MINLENGTH' | translate:confirmPassword?.errors?.minlength }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="btn-container">
                        <button class="submit-button" [disabled]="passwordForm.invalid" mat-raised-button
                            color="primary">{{ 'USER.PASSWORD.SET' | translate }}</button>
                    </div>
                </form>
            </ng-container>

            <ng-template #authUser>
                <form *ngIf="passwordForm" [formGroup]="passwordForm" (ngSubmit)="setPassword()">
                    <div class="content">
                        <mat-form-field class="formfield" appearance="outline">
                            <mat-label>{{ 'USER.PASSWORD.OLD' | translate }}</mat-label>
                            <input autocomplete="off" name="password" type="password" matInput
                                formControlName="currentPassword" />
                            <mat-error *ngIf="currentPassword?.errors?.required">
                                {{ 'USER.PASSWORD.REQUIRED' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="formfield" appearance="outline">
                            <mat-label>{{ 'USER.PASSWORD.NEW' | translate }}</mat-label>
                            <input autocomplete="off" name="new password" type="password" matInput
                                formControlName="newPassword" />

                            <mat-error *ngIf="newPassword?.errors?.required">
                                {{ 'USER.VALIDATION.REQUIRED' | translate }}
                            </mat-error>
                            <mat-error *ngIf="newPassword?.errors?.symbolValidator">
                                {{ 'USER.VALIDATION.SYMBOLERROR' | translate }}
                            </mat-error>
                            <mat-error *ngIf="newPassword?.errors?.numberValidator">
                                {{ 'USER.VALIDATION.NUMBERERROR' | translate }}
                            </mat-error>
                            <mat-error *ngIf="newPassword?.errors?.upperCaseValidator">
                                {{ 'USER.VALIDATION.UPPERCASEMISSING' | translate }}
                            </mat-error>
                            <mat-error *ngIf="newPassword?.errors?.lowerCaseValidator">
                                {{ 'USER.VALIDATION.LOWERCASEMISSING' | translate }}
                            </mat-error>
                            <mat-error *ngIf="newPassword?.errors?.minlength">
                                {{ 'USER.VALIDATION.MINLENGTH' | translate:newPassword?.errors?.minlength }}
                            </mat-error>

                        </mat-form-field>
                        <mat-form-field class="formfield" appearance="outline">
                            <mat-label>{{ 'USER.PASSWORD.CONFIRM' | translate }}</mat-label>
                            <input autocomplete="off" name="password repeating" type="password" matInput
                                formControlName="confirmPassword" />

                            <mat-error *ngIf="confirmPassword?.errors?.required">
                                {{ 'USER.VALIDATION.REQUIRED' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.symbolValidator">
                                {{ 'USER.VALIDATION.SYMBOLERROR' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.numberValidator">
                                {{ 'USER.VALIDATION.NUMBERERROR' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.notequal">
                                {{ 'USER.PASSWORD.NOTEQUAL' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.upperCaseValidator">
                                {{ 'USER.VALIDATION.UPPERCASEMISSING' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.lowerCaseValidator">
                                {{ 'USER.VALIDATION.LOWERCASEMISSING' | translate }}
                            </mat-error>
                            <mat-error *ngIf="confirmPassword?.errors?.minlength">
                                {{ 'USER.VALIDATION.MINLENGTH' | translate:confirmPassword?.errors?.minlength }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button class="submit-button" [disabled]="passwordForm.invalid" mat-raised-button
                        color="primary">{{ 'USER.PASSWORD.RESET' | translate }}</button>
                </form>
            </ng-template>

        </div>
    </div>
</div>