h1 {
  font-weight: 500;
}

.app-create-main-content {
  max-width: 35rem;

  .content-wrapper {
    display: flex;
    flex-direction: column;

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  .error-msg {
    margin-top: 0.25rem;
    display: block;
  }

  .app-create-btn-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;

    .continue-button {
      margin-top: 3rem;
      display: block;
      height: 3.5rem;
      padding: 0 4rem;
    }
  }
}
