<cnsl-create-layout title="{{ 'APP.PAGES.CREATE' | translate }}" (closed)="close()">
  <div class="app-create-main-content">
    <h1>{{ 'APP.PAGES.CREATE_SELECT_PROJECT' | translate }}</h1>

    <cnsl-search-project-autocomplete
      class="block"
      [autocompleteType]="ProjectAutocompleteType.PROJECT_OWNED"
      (selectionChanged)="selectProject($any($event))"
      (valueChanged)="projectName = $any($event)"
    >
    </cnsl-search-project-autocomplete>

    <p>{{ 'APP.PAGES.CREATE_NEW_PROJECT' | translate }}</p>

    <div class="app-create-btn-container">
      <button
        color="primary"
        mat-raised-button
        class="continue-button"
        [disabled]="!project && !projectName"
        (click)="project ? goToAppIntegratePage() : createProjectAndContinue()"
      >
        {{ projectName && project && project.name === projectName | json }}
        {{
          !projectName && !project
            ? ('ACTIONS.CONTINUE' | translate)
            : ('ACTIONS.CONTINUEWITH'
              | translate: { value: projectName && project && project.name === projectName ? projectName : project.name })
        }}
      </button>
    </div>
  </div>
</cnsl-create-layout>
