
@import '~@angular/material/theming';

@mixin cnsl-form-field-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);

  .cnsl-form-field-wrapper {
    width: 100%;
    margin: 10px 0;
  }

  .cnsl-rel {
    position: relative;
  }

  [cnslSuffix] {
    position: absolute;
    right: .5rem;
    top: 9px;
    height: inherit;
    vertical-align: middle;
  }
}
