
@import '~@angular/material/theming';

@mixin cnsl-form-field-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);

  .cnsl-form-field-wrapper {
    width: 100%;
    margin: 10px 0;
  }

//   .mat-select {
//     padding: 10px 0;
//     box-sizing: border-box;
//     padding-left: 10px;
//     border-radius: 4px;
//     border: 1px solid #00000050;

//     &:hover {
//         border-color: if($is-dark-theme,#040405, #ff0000);
//     }
    
//     &:active,
//     &:focus {
//         border-color: $primary-color;
//     }
    
//     &[disabled] {
//         border-color: if($is-dark-theme,#202225, #00ff00);
//     }
//   }
}
