<h1 mat-dialog-title>
  <span>{{ data.titleKey | translate }} {{ data?.number }}</span>
</h1>
<div mat-dialog-content>
  <p class="desc cnsl-secondary-text">{{ data.descKey | translate }}</p>

  <cnsl-form-field class="formfield">
    <cnsl-label>{{ data.labelKey | translate }}</cnsl-label>
    <input data-e2e="name" cnslInput [(ngModel)]="name" />
  </cnsl-form-field>
</div>
<div mat-dialog-actions class="action">
  <button mat-stroked-button (click)="closeDialog()">
    {{ 'ACTIONS.CLOSE' | translate }}
  </button>

  <button data-e2e="dialog-submit" [disabled]="!name" color="primary" mat-raised-button (click)="closeDialog(name)">
    {{ 'ACTIONS.RENAME' | translate }}
  </button>
</div>
