.full-width {
  width: 100%;
}

.more-space {
  margin-bottom: 1rem;
}

.target-desc {
  font-size: 14px;
  display: block;

  a {
    color: #4072b4;

    &:hover {
      cursor: pointer;
      color: #6992c9;
      text-decoration: underline;
    }
  }
}

.line {
  width: 100%;
  display: flex;

  .form-field {
    flex: 1;
  }

  button {
    margin-top: 30px;
  }
}

.sm-dlt {
  cursor: pointer;
  font-size: 0.8rem;
}

.found {
  margin: 0.5rem 0;
  background: #4072b410;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;

  .found-user-row {
    display: flex;
    align-items: center;
    min-height: 56px;

    button {
      visibility: hidden;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }

  .found-label {
    font-size: 0.9rem;
    color: var(--grey);
  }

  .fill-space {
    flex: 1;
  }

  .search-user-dl-btn {
    transition: color 0.2s ease;

    &:not(:hover) {
      color: var(--grey);
    }
  }
}

.circle {
  margin-right: 0.5rem;
}

input {
  max-width: 500px;
  display: block;
}
