.target-desc {
  font-size: 14px;
  display: block;
  margin-top: 0.5rem;

  a {
    color: #4072b4;

    &:hover {
      cursor: pointer;
      color: #6992c9;
      text-decoration: underline;
    }
  }
}

.user-create-form-field {
  flex: 1;

  &.more-space {
    margin-bottom: 1rem;
  }
}

.line {
  display: flex;
  max-width: 500px;

  button {
    margin-top: 30px;
  }
}

.sm-dlt {
  cursor: pointer;
  font-size: 0.8rem;
}

.found {
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  padding: 0.5rem 0;
  max-width: 500px;
  box-sizing: border-box;

  .add-user-row {
    margin-left: -4px;
  }

  .found-user-row {
    display: flex;
    align-items: center;
    padding: 0.25rem 0;

    button {
      visibility: hidden;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }

  .found-label {
    font-size: 14px;
  }

  .user-name-column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .smaller {
      font-size: 13px;
    }
  }

  .fill-space {
    flex: 1;
  }

  .search-user-dl-btn {
    transition: color 0.2s ease;

    &:not(:hover) {
      color: var(--grey);
    }
  }
}

.circle {
  margin-right: 0.5rem;
}

input {
  max-width: 500px;
  display: block;
}
