.full-width {
  width: 100%;
}

.target-desc {
  color: var(--grey);
  font-size: .8rem;
  margin: 0;
  margin-bottom: 1rem;

  a {
    color: #4072b4;

    &:hover {
      cursor: pointer;
      color: #6992c9;
      text-decoration: underline;
    }
  }
}

.line {
  width: 100%;
  display: flex;

  .form-field {
    flex: 1;
  }

  button {
    margin-top: 1rem;
  }
}

.sm-dlt {
  cursor: pointer;
  font-size: .8rem;
}

.found-user-row {
  display: flex;
  align-items: center;
}

.found-label {
  font-size: .9rem;
  color: var(--grey);
}
