.full-width {
  width: 100%;
}

.more-space {
  margin-bottom: 1rem;
}

.target-desc {
  font-size: 14px;

  a {
    color: #4072b4;

    &:hover {
      cursor: pointer;
      color: #6992c9;
      text-decoration: underline;
    }
  }
}

.line {
  width: 100%;
  display: flex;

  .form-field {
    flex: 1;
  }

  button {
    margin-top: 30px;
  }
}

.sm-dlt {
  cursor: pointer;
  font-size: .8rem;
}

.found {
  margin: .5rem 0;
  background: #4072b410;
  border-radius: .5rem;
  padding: .5rem;

  .found-user-row {
    padding: .5rem 0;
    display: flex;
    align-items: center;
    min-height: 56px;

    button {
      visibility: hidden;
    }

    &:hover {
      button {
        visibility: visible;
      }
    }
  }

  .found-label {
    font-size: .9rem;
    color: var(--grey);
  }
}

.circle {
  margin-right: .5rem;
}
