<div class="wrap">
    <div class="block">
        <div class="header">
            <img alt="zitadel logo" *ngIf="dark; else lighttheme" src="../../../assets/images/zitadel-logo-light.svg" />
            <ng-template #lighttheme>
                <img alt="zitadel logo" src="../../../assets/images/zitadel-logo-dark.svg" />
            </ng-template>
            <p>{{'USER.SIGNEDOUT' | translate}}</p>

            <button matTooltip="{{'ACTIONS.LOGIN' | translate}}" color="primary" mat-raised-button
                [routerLink]="[ '/users/me' ]">{{'USER.SIGNEDOUT_BTN' |
                translate}} <i class="las la-sign-in-alt"></i></button>
        </div>
    </div>
</div>