<div class="signed-out-wrap">
  <div class="block">
    <div class="signed-out-header">
      <img alt="zitadel logo" *ngIf="dark; else lighttheme" src="./assets/images/zitadel-logo-light.svg" />
      <ng-template #lighttheme>
        <img alt="zitadel logo" src="./assets/images/zitadel-logo-dark.svg" />
      </ng-template>
      <p class="cnsl-secondary-text">{{ 'USER.SIGNEDOUT' | translate }}</p>

      <button
        class="cnsl-action-button"
        matTooltip="{{ 'ACTIONS.LOGIN' | translate }}"
        color="primary"
        mat-raised-button
        [routerLink]="['/users/me']"
      >
        <i class="las la-sign-in-alt"></i>
        <span>{{ 'USER.SIGNEDOUT_BTN' | translate }}</span>
      </button>
    </div>
  </div>
</div>
