.signed-out-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .signed-out-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;

    h1 {
      font-size: 3rem;
    }

    p {
      text-align: center;
      font-size: 14px;
      margin: 2rem 0 3rem 0;
    }

    img {
      height: 140px;
      object-fit: contain;
      object-position: center;
      max-width: 170px;
    }
  }
}
