@use '@angular/material' as mat;

.policy-applied-to {
  margin: -1rem 0 0 0;
  font-size: 14px;
}

@mixin private-label-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat.get-color-from-palette($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $p-border-color: if($is-dark-theme, rgba(#8795a1, 0.2), rgba(#8795a1, 0.2));
  $border-color: if($is-dark-theme, rgba(#8795a1, 0.2), rgba(#8795a1, 0.2));

  .privatelabeling-policy {
    .header {
      display: flex;

      a {
        margin: 0 1rem;
      }

      .col {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;

        h1 {
          margin: 0;
        }
      }
    }

    .desc {
      font-size: 14px;
      max-width: 800px;
      margin-bottom: 2rem;
    }

    .max-size-desc {
      display: block;
      margin-bottom: 1rem;
    }

    .spinner-wr {
      margin: 0.5rem 0;
    }

    .privatelabeling-top-row {
      display: flex;

      .buttongroup {
        margin-right: 0.5rem;
      }

      .fill-space {
        flex: 1;
      }

      .reset-button {
        align-self: flex-end;
        margin-right: 1rem;
      }

      .activate-button {
        border-radius: 50%;
        align-self: flex-end;
      }
    }

    .theme-toggle {
      display: flex;
      align-items: center;

      .toggle-row {
        display: flex;
        align-items: center;

        i {
          margin-right: 0.5rem;
        }
      }
    }

    .lab-policy-content {
      padding-top: 1rem;
      display: flex;
      flex-direction: column;
      margin: 0 -1rem;

      .settings {
        flex: 1;
        margin: 0 1rem;

        .expansion {
          box-shadow: none;
          border: 1px solid $p-border-color;

          .header {
            justify-content: flex-start;
          }

          .panel-title {
            display: flex;
            align-items: center;

            .icon {
              margin-right: 0.5rem;
            }
          }
        }

        .title {
          margin-top: 2rem;
          margin-bottom: 0.5rem;
          display: block;
          font-size: 18px;
        }

        .logo-view {
          display: flex;
          flex-direction: column;
          margin-bottom: 1.5rem;

          .label {
            font-size: 14px;
          }

          .fill-space {
            flex: 1;
          }

          .img-wrapper {
            position: relative;
            height: 70px;
            width: 70px;
            box-sizing: border-box;
            border-radius: 0.5rem;
            margin-top: 0.5rem;
            border: 1px solid map-get($foreground, divider);
            display: flex;
            justify-content: center;
            align-items: center;

            .dl-btn {
              z-index: 2;
              position: absolute;
              right: 0;
              top: 0;
              cursor: pointer;
              visibility: hidden;
              transform: translateX(50%) translateY(-50%);
            }

            img {
              top: 0;
              left: 0;
              width: 70px;
              height: 70px;
              object-fit: contain;
              object-position: center;
              border-radius: 0.5rem;
            }

            &.icon {
              border-radius: 50%;

              img {
                border-radius: 50%;
              }
            }

            &:hover {
              .dl-btn {
                visibility: visible;
              }
            }
          }

          .fill-space {
            flex: 1;
          }
        }

        .colors {
          display: flex;
          flex-direction: column;

          .color {
            padding-bottom: 1rem;
          }
        }

        .fonts {
          .info-section {
            display: block;
            margin-bottom: 1rem;
          }

          .title {
            display: block;
            font-size: 14px;
          }

          .font-preview {
            display: flex;
            align-items: center;
            padding: 0.5rem;
            text-align: center;
            border-radius: 0.5rem;
            margin-bottom: 1rem;

            .icon {
              margin-right: 1rem;
            }

            .fill-space {
              flex: 1;
            }
          }

          .font-selector {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -0.25rem;
            padding-bottom: 1rem;

            .font {
              height: 50px;
              width: 50px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 0.5rem;
              margin: 0.25rem;
              box-sizing: border-box;
              border: 2px solid if($is-dark-theme, #ffffff30, #00000030);
              font-size: 1.5rem;
              background-color: inherit;
              color: inherit;
              cursor: pointer;

              &.active {
                border: 2px solid if($is-dark-theme, #fff, #000);
              }
            }
          }
        }

        .adv-container {
          display: flex;
          flex-direction: column;
          padding-bottom: 50px;

          .info {
            margin-bottom: 0.5rem;
          }

          .toggle {
            margin-bottom: 1rem;
          }
        }
      }
    }

    .vertical-divider {
      width: 1px;
      background-color: map-get($foreground, divider);
      margin: 0 1rem;
    }

    .preview-wrapper {
      margin: 0 1rem;
      flex: 1;
      position: relative;
      background-color: #00000010;
      border: 1px solid $border-color;
      box-sizing: border-box;

      .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 2rem;
        position: sticky;
        top: 0;
        min-height: 600px;
        width: fit-content;
        margin: auto;

        .preview {
          margin: 1rem;
        }
      }
    }

    @media only screen and (min-width: 1000px) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      .preview-wrapper {
        .col {
          min-width: 400px;
        }
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      margin-top: 3rem;
      display: block;
    }
  }
}

.grid {
  display: block;
  margin: 50px 0;
}
