.default {
  color: var(--color-main);
  margin-top: 0;
}

.spinner-wr {
  margin: .5rem 0;
}

@import '~@angular/material/theming';

@mixin private-label-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);
  $warn: map-get($theme, warn);
  $warn-color: mat-color($warn, 500);

  .content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;

    .settings {
      .expansion {
        background: if($is-dark-theme, #2d2e30, #ffffff) !important;

        .header {
          justify-content: flex-start;
        }

        .panel-title {
          display: flex;
          align-items: center;

          .icon {
            margin-right: .5rem;
          }
        }
      }

      .description {
        width: 100%;
      }

      .title {
        margin-top: 2rem;
        margin-bottom: .5rem;
        display: block;
      }

      .logo-setup-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row dense;
        grid-column-gap: 2rem;

        .part {
          padding-bottom: 1rem;

          .label {
            font-size: 14px;
            color: var(--grey);
            margin-bottom: 1rem;
            display: block;
          }

          .dropzone {
            border: none;
            outline: none;
            height: 150px;
            width: 100%;
            border-radius: 16px;
            background: if($is-dark-theme, #2d2e30, #ffffff);
            border: 1px solid if($is-dark-theme, #4a4b4b, #dddddd);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: all .2s ease-in-out;

            .file-label {
              display: flex;
              flex-direction: column;
              align-items: center;

              .btn {
                cursor: pointer;
                border-radius: 6px;
                padding: .5rem 1rem;
                background-color: inherit;
                border: 1px solid if($is-dark-theme, #ffffff20, #000000);
                color: if($is-dark-theme, white, #000000);
                margin-bottom: .5rem;
              }
            }

            .icon {
              font-size: 1.5rem;
              color: var(--grey);
            }

            .desc {
              font-size: 14px;
              color: var(--grey);
            }

            &.hovering {
              border-radius: 16px;
              box-shadow: if(
                $is-dark-theme,
                 (inset 26px 26px 52px #252628, inset -26px -26px 52px #353638),
                 (inset 26px 26px 52px #d4d4d4, inset -26px -26px 52px #ffffff)
              );

              .desc {
                color: if($is-dark-theme, white, black);
              }

              .icon {
                color: if($is-dark-theme, white, black);
              }
            }
          }
        }
      }

      .title {
        font-size: 18px;
      }

      .colors {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row dense;
        grid-column-gap: 1rem;

        .color {
          padding-bottom: 1rem;
        }
      }

      .fonts {
        .title {
          font-size: 1rem;
          display: block;
          font-size: 14px;
        }

        .font-preview {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 30px 50px;
          text-align: center;
        }

        .font-selector {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0 -.25rem;
          width: 100%;
          padding-bottom: 1rem;

          .font {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .5rem;
            margin: .25rem;
            box-sizing: border-box;
            border: 2px solid if($is-dark-theme, #ffffff30, #00000030);
            font-size: 1.5rem;
            background-color: inherit;
            color: inherit;
            cursor: pointer;

            &.active {
              border: 2px solid if($is-dark-theme, #ffffff, #000000);
            }
          }
        }
      }

      .adv-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;

        .toggle {
          margin-bottom: .5rem;
        }
      }
    }

    .preview-wrapper {
      display: flex;
      overflow-x: auto;
      justify-content: space-around;
      margin: 0 -1rem;

      .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 2rem;

        .prev {
          margin: 0 1rem;
        }

        .activate-button {
          border-radius: 50%;
          background-color: if($is-dark-theme, #ffffff, #000000);
          color: if($is-dark-theme, #000000, #ffffff);
        }
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      margin-top: 3rem;
      display: block;
    }
  }
}
::ng-deep .max-width-container {
  max-width: none !important;
}

::ng-deep .detail-left {
  width: 50px !important;
}
