.default {
  color: var(--color-main);
  margin-top: 0;
}

.spinner-wr {
  margin: .5rem 0;
}

@import '~@angular/material/theming';

@mixin private-label-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);
  $warn: map-get($theme, warn);
  $warn-color: mat-color($warn, 500);

  .content {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .settings {
      margin-right: 2rem;
      max-width: 700px;

      .expansion {
        background: if($is-dark-theme, #2d2e30, #ffffff) !important;

        .header {
          justify-content: flex-start;
        }

        .panel-title {
          display: flex;
          align-items: center;

          .icon {
            margin-right: .5rem;
          }
        }
      }

      .description {
        width: 100%;
      }

      .title {
        margin-top: 2rem;
        margin-bottom: .5rem;
        display: block;
      }

      .logo-setup-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row dense;
        grid-column-gap: 2rem;

        .part {
          .label {
            font-size: 14px;
            color: var(--grey);
            margin-bottom: 1rem;
            display: block;
          }

          .dropzone {
            height: 150px;
            width: 100%;
            border-radius: 16px;
            background: if($is-dark-theme, #2d2e30, #ffffff);
            box-shadow: if(
              $is-dark-theme,
               (inset 9px 9px 14px #252628, inset -9px -9px 14px #353638),
               (inset 9px 9px 18px #d4d4d4, inset -9px -9px 18px #ffffff)
            );
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            transition: all .2s ease-in-out;

            .icon {
              font-size: 1.5rem;
              color: var(--grey);
            }

            .desc {
              font-size: 14px;
              color: var(--grey);
            }

            &.hovering {
              cursor: d;
              border-radius: 16px;
              box-shadow: if(
                $is-dark-theme,
                 (inset 26px 26px 52px #252628, inset -26px -26px 52px #353638),
                 (inset 26px 26px 52px #d4d4d4, inset -26px -26px 52px #ffffff)
              );

              .desc {
                color: if($is-dark-theme, white, black);
              }

              .icon {
                color: if($is-dark-theme, white, black);
              }
            }
          }
        }
      }

      .colors {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-flow: row dense;
        grid-column-gap: 1rem;

        .color {
          width: 190px;

          .title {
            font-size: 1rem;
            display: block;
            font-size: 14px;

            &.border {
              border-top: 1px solid if($is-dark-theme, #ffffff20, #00000020);
              padding-top: 1.5rem;
            }
          }

          .color-selector {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0 -.25rem;
            width: 100%;
            padding-bottom: 1rem;

            .circle {
              height: 30px;
              width: 30px;
              background-color: #cd5c5c;
              border-radius: 50%;
              margin: .25rem;
              box-sizing: border-box;

              &.active {
                border: 3px solid #ffffff90;
              }
            }
          }
        }
      }

      .fonts {
        .title {
          font-size: 1rem;
          display: block;
          font-size: 14px;
        }

        .font-preview {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 30px 50px;
          text-align: center;
        }

        .font-selector {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin: 0 -.25rem;
          width: 100%;
          padding-bottom: 1rem;

          .font {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .5rem;
            margin: .25rem;
            box-sizing: border-box;
            border: 2px solid if($is-dark-theme, #ffffff30, #00000030);
            font-size: 1.5rem;
            background-color: inherit;
            color: inherit;
            cursor: pointer;

            &.active {
              border: 2px solid if($is-dark-theme, #ffffff, #000000);
            }
          }
        }
      }
    }

    .preview {
      width: calc(100px + 360px);
      pointer-events: none;
      margin: 1rem auto;

      * {
        pointer-events: none;
      }

      .label {
        color: var(--grey);
        font-size: 12px;
      }

      .dashed {
        border: 2px dashed rgba(#697386, .5);
        border-radius: 1rem;
        margin-top: .5rem;
        padding: 100px 50px;
        // box-shadow: if(
        //   $is-dark-theme,
        //    (inset 9px 9px 14px #252628, inset -9px -9px 14px #353638),
        //    (inset 9px 9px 18px #d4d4d4, inset -9px -9px 18px #ffffff)
        // );

        .login-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 360px;

          img {
            max-width: 160px;
            max-height: 150px;
            margin-bottom: 1rem;

            &.light {
              display: if($is-dark-theme, none, block);
            }

            &.dark {
              display: if($is-dark-theme, block, none);
            }
          }

          h1 {
            font-size: 20px;
          }

          .desc {
            color: inherit;
          }

          .formfield {
            width: 100%;
          }

          .btn-wrapper {
            display: flex;
            width: 100%;
            justify-content: space-between;

            .light {
              display: if($is-dark-theme, none, block);
            }

            .dark {
              display: if($is-dark-theme, block, none);
            }
          }
        }
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    button {
      margin-top: 3rem;
      display: block;
    }
  }
}
::ng-deep .max-width-container {
  max-width: none !important;
}

::ng-deep .detail-left {
  width: 50px !important;
}
