<h1 mat-dialog-title class="title">
  <span>{{ 'SETTING.SMS.ADDPROVIDER' | translate }}</span>
</h1>
<div mat-dialog-content>
  <p class="desc cnsl-secondary-text">{{ 'SETTING.SMS.ADDPROVIDERDESCRIPTION' | translate }}</p>

  <cnsl-form-field class="form-field" label="Access Code" required="true">
    <cnsl-label>{{ 'MFA.TYPE' | translate }}</cnsl-label>
    <mat-select [(ngModel)]="generatorType">
      <mat-option *ngFor="let gen of availableGenerators" [value]="gen">
        <span>{{ gen }}</span>
      </mat-option>
    </mat-select>
  </cnsl-form-field>

  <form (ngSubmit)="closeDialogWithRequest()" [formGroup]="specsForm">
    <h2>{{ generatorType }}</h2>

    <cnsl-form-field class="sms-form-field" label="sid">
      <cnsl-label>{{ 'SETTING.SMS.TWILIO.SID' | translate }}</cnsl-label>
      <input cnslInput name="sid" formControlName="sid" />
    </cnsl-form-field>

    <cnsl-form-field class="sms-form-field" label="Token">
      <cnsl-label>{{ 'SETTING.SMS.TWILIO.TOKEN' | translate }}</cnsl-label>
      <input cnslInput name="token" formControlName="token" />
    </cnsl-form-field>

    <cnsl-form-field class="sms-form-field" label="Sender Number">
      <cnsl-label>{{ 'SETTING.SMS.TWILIO.SENDERNUMBER' | translate }}</cnsl-label>
      <input cnslInput name="senderNumber" formControlName="senderNumber" />
    </cnsl-form-field>
  </form>
</div>
<div mat-dialog-actions class="action">
  <button mat-stroked-button (click)="closeDialog()">
    <span>{{ 'ACTIONS.CLOSE' | translate }}</span>
  </button>
  <button
    [disabled]="!specsForm.valid"
    mat-raised-button
    class="ok-button"
    color="primary"
    (click)="closeDialogWithRequest()"
  >
    <span>{{ 'ACTIONS.OK' | translate }}</span>
  </button>
</div>
