@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-Thin.ttf ) format('truetype');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-ThinItalic.ttf ) format('truetype');
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-Light.ttf ) format('truetype');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-LightItalic.ttf ) format('truetype');
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-Regular.ttf ) format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-Italic.ttf ) format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-Bold.ttf ) format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-BoldItalic.ttf ) format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-Black.ttf ) format('truetype');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: Lato;
    src: url(../../../fonts/lato/Lato-BlackItalic.ttf ) format('truetype');
    font-style: italic;
    font-weight: 800;
}