
@font-face {
    font-family: PTSans;
    src: url(../../../fonts/PT_Sans/PTSans-Bold.ttf ) format('truetype');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: PTSans;
    src: url(../../../fonts/PT_Sans/PTSans-BoldItalic.ttf ) format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: PTSans;
    src: url(../../../fonts/PT_Sans/PTSans-Italic.ttf ) format('truetype');
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: PTSans;
    src: url(../../../fonts/PT_Sans/PTSans-Regular.ttf ) format('truetype');
    font-style: normal;
    font-weight: 400;
}