@import '~@angular/material/theming';

.root-header {
  position: fixed;
  z-index: 100;
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 1rem;
  top: 0;
  left: 0;
  right: 0;

  .logo {
    max-height: 50px;
    width: 160px;
  }

  .title {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.2rem;
    margin-right: 1rem;
  }

  .context-menu {
    border-radius: .5rem;
    background-color: #2d2e30;
  }

  .fill-space {
    flex: 1;
  }

  .doc-link {
    margin-right: 1rem;
  }

  .icon-container {
    display: flex;
    justify-content: space-between;
    position: relative;
    user-select: none;

    .docs {
      text-decoration: none;
      font-size: 1.4rem;
    }

    .avatar {
      display: block;
      margin: auto;
      cursor: pointer;
    }

    .name {
      font-size: 1rem;
      font-weight: 400;
    }

    .a_card {
      position: absolute;
      top: 60px;
      right: 0;
      overflow: hidden;
      border-radius: .5rem;
    }
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-top: 60px;

  .sidenav {
    width: 300px;
    border-right: none;

    .side-column {
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-top: 2rem;

        .logout-icon {
          margin-left: 1rem;
        }

        .fill-space {
          flex: 1;
        }

        .nav-item {
          display: flex;
          align-items: center;
          text-decoration: none;
          cursor: pointer;
          padding: 0 1rem;
          margin-right: .5rem;
          border-top-right-radius: 1.5rem;
          border-bottom-right-radius: 1.5rem;

          .icon {
            margin: .5rem 1rem;
          }

          .label {
            margin-bottom: 0;
            font-size: 14px;
            letter-spacing: .05em;
          }

          .c_label {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 14px;
            letter-spacing: .03em;

            .count {
              font-size: 12px;
            }
          }

          &:hover {
            background-color: #00000010;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
          }

          &.active {
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
          }
        }

        .project-status {
          padding: 1rem;
        }
      }

      .fill-space {
        flex: 1 1 auto;
      }

      .logout-button {
        margin-bottom: 1rem;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;

    .router {
      height: 100%;
      overflow-y: auto;
    }
  }

  .theme-section {
    display: block;
    padding: 0 .5rem;
    margin-top: 2rem;
    align-self: flex-start;
    border-radius: 1rem;

    .round-light {
      display: inline-block;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      margin: .5rem;
      cursor: pointer;
      background: linear-gradient(315deg, #e6e6e6, #fff);
    }

    .round-dark {
      display: inline-block;
      border-radius: 50%;
      height: 30px;
      width: 30px;
      margin: .5rem;
      cursor: pointer;
      background: linear-gradient(315deg, #000, #000);
    }
  }
}

.divider {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 5px 0;

  span {
    border: 1px solid #81868a40;
    padding: 2px 1rem;
    border-radius: 50vw;
    color: var(--grey);
    font-size: 11px;
  }

  .line {
    display: block;
    background-color: #81868a40;
    height: 1px;
    margin: .5rem 0;
    flex: 1;
  }

  .hiddenline {
    display: block;
    visibility: hidden;
    width: 4rem;
  }
}

@mixin textvar($theme) {
  .filter-form {
    margin: 0 .5rem;
    /* stylelint-disable */
    $foreground: map-get($theme, foreground);
    color: mat-color($foreground, text) !important;
  }

  .show-all {
    $primary: map-get($theme, primary);
    color: mat-color($primary, 300) !important;
    border-bottom: 2px solid var(--grey);
    margin-bottom: .5rem;
  }
  /* stylelint-enable */
}

.menu {
  position: relative;

  .filter-wrapper {
    padding: 4px;
  }

  .spinner-w {
    top: 1rem;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.org-wrapper {
  max-height: 350px;
  overflow-y: auto;
}
