<form>
    <cnsl-form-field appearance="outline" class="full-width">
        <cnsl-label>Project Name</cnsl-label>
        <input cnslInput *ngIf="singleOutput" type="text" placeholder="Search for the project name" #nameInput
            [formControl]="myControl" [matAutocomplete]="auto" />

        <mat-chip-list *ngIf="!singleOutput" #chipList aria-label="name selection">
            <mat-chip class="chip" *ngFor="let selectedProject of projects" [selectable]="selectable"
                [removable]="removable" (removed)="remove(selectedProject)">
                {{selectedProject?.name ? selectedProject.name + ' (owned)' : selectedProject?.projectName ? selectedProject.projectName + ' (granted)': ''}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input cnslInput placeholder="{{'PROJECT.NAME' | translate}}" #nameInput [formControl]="myControl"
                [matAutocomplete]="auto" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
            <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="30"></mat-spinner>
            </mat-option>
            <mat-option *ngFor="let project of filteredProjects" [value]="project">
                {{project?.name ? project.name + ' (owned)' : project?.projectName ? project.projectName + ' (granted)': ''}}
            </mat-option>
        </mat-autocomplete>
    </cnsl-form-field>
</form>