.idps {
  display: flex;
  flex-direction: column;

  .idp {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: .5rem;
    position: relative;
    margin-bottom: .5rem;
    min-height: 40px;

    img {
      height: 30px;
      width: 30px;
      margin: .5rem;
      border-radius: .5rem;
      object-fit: contain;
    }

    div {
      display: block;
      margin-left: .5rem;

      * {
        display: block;
      }
    }

    .meta-info {
      font-size: 14px;
      color: var(--grey);
    }

    .fill-space {
      flex: 1;
    }

    .rm {
      display: none;
      transition: all .2s ease;
      cursor: pointer;
    }

    &:hover {
      .rm {
        display: block;
      }
    }
  }

  .new-idp {
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-top: .5rem;

    .icon {
      margin-left: .5rem;
    }
  }
}