
.add-row {
  display: flex;
  margin: -.5rem;
  flex-wrap: wrap;

  .button {
    margin: .5rem;
    margin-top: 1rem;

    .icon {
      margin-right: .5rem;
    }
  }
}

.centered {
  display: flex;
  align-items: center;

  i {
    margin-left: 1rem;
    color: var(--color-main);
  }
}

.table {
  width: 100%;

  td,
  th {
    &:first-child {
      padding-left: 0;
      padding-right: 1rem;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
