
  .add-row {
      display: flex;
      margin: -.5rem;

      button {
          border-radius: .5rem;
          margin: .5rem;

          mat-icon {
              margin-right: .5rem;
          }
      }
  }