@use '~@angular/material' as mat;

@mixin nav-theme($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary-color: mat.get-color-from-palette($primary, 500);

  $warn-color: mat.get-color-from-palette($warn, 500);
  $accent-color: mat.get-color-from-palette($accent, 500);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($background, background);
  /* stylelint-enable */

  .nav-col {
    display: flex;
    flex-direction: column;
    height: auto;
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    max-width: 100rem;
    margin: 0 auto;
    border-bottom: 1px solid map-get($foreground, divider);
    align-items: flex-start;
    background-color: map-get($background, toolbar) !important;
    backdrop-filter: blur(5px);

    // &.is-admin {
    //   border-color: mat.get-color-from-palette($warn, 500);
    // }

    .header-content {
      display: flex;
      align-items: center;
      max-width: 100rem;
      width: 100%;
      margin: 0 auto;
      padding: .5rem 2rem;
      box-sizing: border-box;

      .org-button {
        font-weight: bold;
        padding-right: .5rem;
      }

      .logo {
        max-height: 40px;
        width: 40px;
      }

      .title {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2rem;
      }

      .context-menu {
        border-radius: .5rem;
        background-color: #2d2e30;
      }

      .fill-space {
        flex: 1;
      }

      .doc-link {
        margin-right: 1rem;

        @media only screen and (max-width: 500px) {
          display: none;
        }
      }

      .icon-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        user-select: none;

        .docs {
          text-decoration: none;
          font-size: 1.4rem;
        }

        .avatar {
          display: block;
          margin: auto;
          cursor: pointer;
        }

        .name {
          font-size: 1rem;
          font-weight: 400;
        }

        .a_card {
          position: absolute;
          top: 60px;
          right: 0;
          overflow: hidden;
          border-radius: .5rem;
        }
      }
    }

    .meta {
      box-shadow: inset 1px 0 map-get($foreground, divider);
    }

    .sidenav {
      box-shadow: inset -1px 0 map-get($foreground, divider);
      transition: all .3s cubic-bezier(.645, .045, .355, 1) !important;
    }

    .nav-row {
      align-self: stretch;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      height: 40px;

      .fill-space {
        flex: 1;
      }

      .nav-item {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 14px;
        border-radius: 50vw;
        padding: .4rem 1rem;
        color: mat.get-color-from-palette($foreground, text) !important;
        transition: all .2s ease;
        text-decoration: none;
        border-radius: 50vw;
        font-weight: 500;

        // i {
        //   opacity: .6;
        // }

        &.active {
          background-color: $primary-color;
          color: mat.get-color-from-palette($foreground, toolbar-items) !important;

          // background-color: if($is-dark-theme, rgba($color: $primary-color, $alpha: .1), rgb(84 105 212 / 6%)) !important;

          // i {
          //   opacity: 1;
          // }
        }

        .c_label {
          .count {
            padding: 3px 6px;
            border-radius: 50vw;
          }
        }
      }
    }

    .mat-menu-content,
    .mat-menu-panel {
      background-color: $back;
      border-radius: .5rem;

      @include mat.elevation(5);

      .active {
        color: $primary-color !important;
        background-color: rgba($color: $primary-color, $alpha: .1) !important;
      }
    }

    .root-header {
      background-color: $back !important;
      transition: all .3s cubic-bezier(.645, .045, .355, 1);

      .slash {
        color: if($is-dark-theme, #525454, #d1d5d9);
      }

      .org-button {
        transition: all .3s cubic-bezier(.645, .045, .355, 1) !important;
      }
    }

    .divider {
      .span {
        border-color: map-get($foreground, divider);
      }

      .line {
        background-color: map-get($foreground, divider);
      }
    }
  }

  .admin-line {
    display: flex;
    align-items: center;
    right: calc(100vw - 280px);
    // border: 1px solid $warn-color;
    // border-top: none;
    color: $warn-color;
    z-index: 1;
    font-size: 13px;
    padding: .5rem 2rem;
    // transform: translateY(75%);
    transition: all .2s;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: fixed;
    top: 98px;
    right: 0;
    z-index: 110;

    &.expanded,
    &:hover {
      transform: translateY(0%);
      right: 0;

      span {
        display: inline-block;
      }
    }
  }
}