.title {
  font-size: 1.2rem;
  margin-top: 0;
}

.script {
  min-height: 200px;
}

.action {
  display: flex;
  margin-top: 1rem;

  .fill-space {
    flex: 1;
  }

  .ok-button {
    margin-left: 0.5rem;
  }
}
