<div class="iam-top">
  <div class="max-width-container">
    <div class="iam-top-row">
      <div>
        <div class="iam-title-row">
          <h1 class="iam-title">{{ 'IAM.TITLE' | translate }}</h1>
        </div>
        <p class="iam-sub cnsl-secondary-text">{{ 'IAM.DESCRIPTION' | translate }}</p>
      </div>
      <span class="fill-space"></span>
      <cnsl-contributors
        [totalResult]="totalMemberResult"
        [loading]="loading$ | async"
        [membersSubject]="membersSubject"
        title="{{ 'PROJECT.MEMBER.TITLE' | translate }}"
        description="{{ 'PROJECT.MEMBER.TITLEDESC' | translate }}"
        (addClicked)="openAddMember()"
        (showDetailClicked)="showDetail()"
        (refreshClicked)="loadMembers()"
        [disabled]="false"
      >
      </cnsl-contributors>
    </div>
  </div>
</div>
<div class="max-width-container">
  <h2 class="org-table-title">{{ 'ORG.LIST.TITLE' | translate }}</h2>

  <p class="org-table-desc cnsl-secondary-text">{{ 'ORG.LIST.DESCRIPTION' | translate }}</p>

  <cnsl-org-table></cnsl-org-table>

  <cnsl-settings-grid [type]="PolicyComponentServiceType.ADMIN"></cnsl-settings-grid>
</div>
