$lgn-input-padding-start: 10px !default;
$lgn-input-padding: 10px !default;
$lgn-input-margin: 0 0 2px 0 !default;
$lgn-input-line-height: 40px !default;
$lgn-input-border-radius: 4px !default;
$lgn-input-border-width: 1px !default;
$lgn-input-placeholder-font-size: 14px !default;

@mixin lgn-input-base {
    display: block;
    box-sizing: border-box;
    padding-inline-start: $lgn-input-padding-start;
    outline: none;
    display: inline-block;
    text-align: start;
    cursor: text;
    border-radius: $lgn-input-border-radius;
    transform: all .2 linear;
    font-size: 1rem;
    border-style: solid;
    border-width: $lgn-input-border-width;
    height: $lgn-input-line-height;
    padding: $lgn-input-padding;
    transition: border-color .2s ease-in-out;
    width: 100%;
    margin: $lgn-input-margin;

    &::placeholder {
        font-size: $lgn-input-placeholder-font-size;
        font-style: italic;
    }

    &[type='radio'] {
        opacity: 0;
        margin: 0;
        width: 0;
        height: 0;
        outline: 0;
    
        &:checked + label::before {
          border-color: grey;
          animation: ripple .2s linear forwards;
        }
    
        &:checked + label::after {
          transform: scale(1);
        }
    
        &:focus + label {
          opacity: 1;
        //   outline: 2px solid $color-grey-3;
        outline: 2px solid grey;
          outline-offset: 2px;
        }
    
        &:disabled {
          + label {
            cursor: not-allowed;
            font-style: italic;
          }
    
          + label::before {
            border-color: grey;
          }
    
          &:checked {
            + label::before {
              color: grey;
            }
    
            + label::after {
              background: grey;
            }
          }
    
          &:focus {
            opacity: 0;
          }
        }
      }
}


@keyframes ripple {
    0% {
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
    }
  
    50% {
      box-shadow: 0 0 0 15px rgba(0, 0, 0, .1);
    }
  
    100% {
      box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
  }
  