@import './input_base.scss';

input:not([type='radio']):not([type='checkbox']), .lgn-input {
  @include lgn-input-base;
}

// use seme base styling for select as input
select, .lgn-select {
    @include lgn-input-base;
}
  