<div *ngIf="currentMap">
  <form [formGroup]="form" >
  <ng-container *ngFor="let key of (current$ | async | keyvalue)">
    <div class="flex">
      <cnsl-form-field class="formfield">
        <cnsl-label>{{key.key}}</cnsl-label>
        <textarea class="text" cnslInput [formControlName]="key.key" [name]="key.key" ></textarea>
      </cnsl-form-field>
      <div class="actions" *ngIf="(default$ | async) as defaultmap">
        <button matTooltip="{{'ACTIONS.RESETDEFAULT'| translate }}" mat-icon-button [disabled]="form.get(key.key)?.value == defaultmap[key.key]" (click)="form.get(key.key)?.setValue(defaultmap[key.key])" (mouseenter) = "form.get(key.key)?.value != defaultmap[key.key] && setWarnText(key.key, defaultmap[key.key])"  (mouseleave) ="setWarnText(key.key, undefined)"><i class="las la-history"></i></button>
        <button matTooltip="{{'ACTIONS.RESETCURRENT'| translate }}" mat-icon-button [disabled]="form.get(key.key)?.value == currentMap[key.key]" (click)="form.get(key.key)?.setValue(currentMap[key.key])" (mouseenter) = "form.get(key.key)?.value != currentMap[key.key] && setWarnText(key.key, currentMap[key.key])"  (mouseleave) ="setWarnText(key.key, undefined)"><i class="las la-undo"></i></button>
      </div>
    </div>
    <cnsl-info-section *ngIf="warnText[key.key] !== undefined" class="info" type="WARN">{{'ACTIONS.RESETTO'| translate }} <cite>{{warnText[key.key]}}</cite></cnsl-info-section>
  </ng-container>
</form>
</div>
