.flex {
  display: flex;

  .formfield {
    flex: 1;

    .text {
      min-height: 80px;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-bottom: 16px;
  }
}
