.title {
  font-size: 1.2rem;
  margin-top: 0;
}

.desc {
  color: rgb(201, 51, 71);
  font-size: 0.9rem;
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: 0.5rem;
  }
}

.row {
  display: flex;
  width: 100%;
  flex-direction: column;

  .left,
  .right {
    font-size: 14px;
  }

  .left {
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .right {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    display: flex;
    align-items: center;

    .token {
      overflow-wrap: break-word;
      word-break: break-all;
    }

    .ctc {
      margin-right: 1rem;
    }
  }
}
