@import './footer.scss';

@mixin lgn-footer-theme() {
    // @include lgn-private-check-duplicate-theme-styles($theme, 'mat-button') {

    @include lgn-footer-color();
    // }
}

@mixin lgn-footer-color() {
  
    footer {
      background-color: var(--zitadel-color-background);
      border-top: 1px solid var(--zitadel-color-footer-line);

      a {
        color: var(--zitadel-color-primary);
      }

      .lgn-logo-watermark {
          background: var(--zitadel-logo);
          background-position: auto;
          background-size: contain;
      }
    }
}