.default {
  color: var(--color-main);
  margin-top: 0;
}

.spinner-wr {
  margin: .5rem 0;
}

.content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    display: flex;
    align-items: center;
    padding: .3rem 0;

    .icon {
      margin-right: 1rem;
    }

    .left-desc {
      font-size: .9rem;
    }

    .fill-space {
      flex: 1;
    }

    .length-wrapper {
      display: flex;
      align-items: center;
      margin-right: -.6rem;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    margin-top: 3rem;
    display: block;
  }
}
