@use '~@angular/material' as mat;

@mixin avatar-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat.get-color-from-palette($primary, 500);

  .avatar-circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    background-color: $primary-color;
    box-sizing: border-box;
    letter-spacing: .05em;
    font-size: 14px;
    outline: none;
    color: white;
    font-weight: bold;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: contain;
    }
  }
}
