@if (toggleState$ | async; as toggleState) {
  <cnsl-feature-toggle
    toggleStateKey="loginV2"
    [toggleState]="toggleState"
    (toggleChange)="toggleState$.next($event); !$event.enabled && toggleChanged.emit($event)"
  >
    @if (toggleState.enabled) {
      <cnsl-form-field>
        <cnsl-label>{{ 'SETTING.FEATURES.LOGINV2_BASEURI' | translate }}</cnsl-label>
        <input cnslInput [formControl]="baseUri"/>
        <button
          matTooltip="{{ 'ACTIONS.SAVE' | translate }}"
          mat-icon-button
          [disabled]="baseUri.invalid"
          color="primary"
          type="submit"
          (click)="
        toggleChanged.emit({
          source: toggleState.source,
          enabled: toggleState.enabled,
          baseUri: baseUri.value,
        })
      "
        >
          <i class="las la-save"></i>
        </button>
      </cnsl-form-field>
    }
  </cnsl-feature-toggle>
}

