.head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: .5rem;

  a {
    display: block;
    margin-right: 2rem;
  }

  h1 {
    margin: 0;
    margin-right: 1rem;
  }

  .fill-space {
    flex: 1;
  }

  .state-button {
    margin-left: .5rem;
  }
}

.img-phone-email {
  width: 300px;
}

.side {
  .changes {
    flex: 1;
    min-height: 0;
  }
}
