@mixin user-detail-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);
  $warn: map-get($theme, warn);
  $warn-color: map-get($warn, default);

  .no-user-error {
    color: $warn-color;
    font-size: 14px;
  }
}

.locked {
  display: block;
  margin: 1rem 0;
}

.is-initial-info-section {
  margin-top: 1rem;
  display: block;

  .is-initial-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    button {
      display: block;
      flex-shrink: 0;
    }
  }
}

.icon-button {
  .icon {
    font-size: 1.2rem;
  }
}

.img-phone-email {
  width: 300px;
}

.side {
  .changes {
    flex: 1;
    min-height: 0;
  }
}

.side-padding {
  padding-top: 1rem;
}

.sp-wrapper {
  margin: 1rem 0;
}
