.head {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 2rem;

  a {
    display: block;
    margin-right: 2rem;
  }

  .head-row {
    display: flex;
    flex-direction: column;

    h1 {
      margin: 0;
      margin-right: 1rem;
    }

    p {
      margin: .5rem 0;
      color: var(--grey);
    }
  }

  .fill-space {
    flex: 1;
  }

  .actions-trigger {
    margin-top: .25rem;
    display: flex;
    align-items: center;

    .icon {
      margin-left: .5rem;
      margin-right: -.5rem;
    }
  }

  .warn-item{
    color: #620e0e !important;
    background-color: #ffc1c1 !important;
  }
}

.locked {
  display: block;
  margin: 1rem 0;
}

.icon-button {
  .icon {
    font-size: 1.2rem;
  }
}

.img-phone-email {
  width: 300px;
}

.side {
  .changes {
    flex: 1;
    min-height: 0;
  }
}

.side-padding {
  padding-top: 1rem;
}
