.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff20;
  flex-wrap: wrap;
  padding-bottom: .5rem;

  a {
    display: block;
    margin-right: 2rem;
  }

  h1 {
    margin: 0;
    margin-right: 1rem;
  }

  .fill-space {
    flex: 1;
  }

  .state-button {
    margin-left: .5rem;
  }
}

.img-phone-email {
  width: 300px;
}

.side {
  .details {
    margin-bottom: 1rem;
    border-bottom: 1px solid #81868a40;
    padding-bottom: 1rem;

    .row {
      display: flex;
      margin-bottom: .5rem;
      align-items: center;

      .first {
        flex: 1;
        font-size: 13px;
        margin-right: .5rem;
        white-space: nowrap;
      }

      .second {
        font-size: .13px;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 1rem;
        text-align: right;
      }

      .state {
        border-radius: 50vw;
        padding: 2px .5rem;
        letter-spacing: .05em;
        font-size: 13px;
        background-color: #8795a120;

        &.active {
          background-color: #85d996;
          color: black;
        }

        &.inactive {
          background-color: #ff8981;
          color: black;
        }
      }
    }
  }

  .changes {
    flex: 1;
    min-height: 0;
  }
}
