<h2 class="title" mat-dialog-title>{{ 'IAM.EVENTS.DIALOG.TITLE' | translate }}</h2>
<div mat-dialog-content>
  @if (event && (event | toobject); as event) {
    <div class="event-data-column">
      @if (event && event.type && event.type.localized && event.type.localized.localizedMessage) {
        <div class="data-row">
          <span class="label cnsl-secondary-text">{{ 'IAM.EVENTS.TYPE' | translate }}</span>
          <span>{{ event.type.localized.localizedMessage }}</span>
        </div>
      }
      @if (event && event.creationDate) {
        <div class="data-row">
          <span class="label cnsl-secondary-text">{{ 'IAM.EVENTS.CREATIONDATE' | translate }}</span>
          <span>{{ event.creationDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm' }}</span>
        </div>
      }
      @if (event && event.aggregate && event.aggregate.id) {
        <div class="data-row">
          <span class="label cnsl-secondary-text">{{ 'IAM.EVENTS.AGGREGATEID' | translate }}</span>
          <span>{{ event.aggregate.id }}</span>
        </div>
      }
      @if (event && event.aggregate && event.aggregate.resourceOwner) {
        <div class="data-row">
          <span class="label cnsl-secondary-text">{{ 'IAM.EVENTS.RESOURCEOWNER' | translate }}</span>
          <span>{{ event.aggregate.resourceOwner }}</span>
        </div>
      }
      @if (
        event &&
        event.aggregate &&
        event.aggregate.type &&
        event.aggregate.type.localized &&
        event.aggregate.type.localized.localizedMessage
        ) {
        <div
          class="data-row"
          >
          <span class="label cnsl-secondary-text">{{ 'IAM.EVENTS.AGGREGATETYPE' | translate }}</span>
          <span class="state aggregate-type">{{ event.aggregate.type.localized.localizedMessage }}</span>
        </div>
      }
      @if (event && event.editor?.userId) {
        <div class="data-row">
          <span class="label cnsl-secondary-text">{{ 'IAM.EVENTS.EDITORID' | translate }}</span>
          <span>{{ event.editor?.userId }}</span>
        </div>
      }
      @if (event && event.editor?.displayName) {
        <div class="data-row">
          <span class="label cnsl-secondary-text">{{ 'IAM.EVENTS.EDITOR' | translate }}</span>
          <span>{{ event.editor?.displayName }}</span>
        </div>
      }
      @if (event && event.sequence) {
        <div class="data-row">
          <span class="label cnsl-secondary-text">{{ 'IAM.EVENTS.SEQUENCE' | translate }}</span>
          <span>{{ event.sequence }}</span>
        </div>
      }
    </div>
  }

  @if (opened$ | async) {
    <div class="code">
      @if (event) {
        <ngx-codemirror
          [ngModel]="event | topayload | json"
      [options]="{
        height: 'auto',
        readOnly: true,
        lineNumbers: true,
        lineWrapping: true,
        indentWithTabs: false,
        tabSize: 2,
        theme: 'material',
        mode: {
          name: 'javascript',
          json: true,
          statementIndent: 2,
        },
      }"
        ></ngx-codemirror>
      }
    </div>
  }
</div>
<div mat-dialog-actions class="action">
  <button mat-stroked-button (click)="closeDialog()">
    {{ 'ACTIONS.CANCEL' | translate }}
  </button>
</div>
