<div class="validation-col">
  @if (policy.minLength) {
    <div class="val">
      @if (password?.value?.length === 0) {
        <i class="las la-times red"></i>
      } @else {
        @if (
          (password && password.errors && password.errors['minlength']) || password?.value?.length === 0; as currentError) {
          <div
            class="complexity-sp-wrapper"
            >
            <mat-progress-spinner
              class="complexity-spinner"
              diameter="20"
              [color]="currentError ? 'warn' : 'valid'"
              mode="determinate"
              [value]="(password?.value?.length / minLength) * 100"
              >
            </mat-progress-spinner>
          </div>
        } @else {
          <i class="las la-check green"></i>
        }
      }
      <span class="cnsl-secondary-text"
        >{{ 'USER.PASSWORD.MINLENGTHERROR' | translate: { value: policy.minLength } }} ({{ password?.value?.length }}/{{
        policy.minLength
        }})
      </span>
    </div>
  }
  @if (policy.hasSymbol) {
    <div class="val">
      @if (password?.pristine || password?.errors?.['errorssymbolerror']) {
        <i class="las la-times red"></i>
      }
      @if (password?.dirty && !password?.errors?.['errorssymbolerror']) {
        <i class="las la-check green"></i>
      }
      <span class="cnsl-secondary-text"> {{ 'ERRORS.SYMBOLERROR' | translate }}</span>
    </div>
  }
  @if (policy.hasNumber) {
    <div class="val">
      @if (password?.pristine || password?.errors?.['errorsnumbererror']) {
        <i class="las la-times red"></i>
      }
      @if (password?.dirty && !password?.errors?.['errorsnumbererror']) {
        <i class="las la-check green"></i>
      }
      <span class="cnsl-secondary-text"> {{ 'ERRORS.NUMBERERROR' | translate }}</span>
    </div>
  }
  @if (policy.hasUppercase) {
    <div class="val">
      @if (password?.pristine || password?.errors?.['errorsuppercasemissing']) {
        <i class="las la-times red"></i>
      }
      @if (password?.dirty && !password?.errors?.['errorsuppercasemissing']) {
        <i class="las la-check green"></i>
      }
      <span class="cnsl-secondary-text"> {{ 'ERRORS.UPPERCASEMISSING' | translate }}</span>
    </div>
  }
  @if (policy.hasLowercase) {
    <div class="val">
      @if (password?.pristine || password?.errors?.['errorslowercasemissing']) {
        <i class="las la-times red"></i>
      }
      @if (password?.dirty && !password?.errors?.['errorslowercasemissing']) {
        <i class="las la-check green"></i>
      }
      <span class="cnsl-secondary-text">{{ 'ERRORS.LOWERCASEMISSING' | translate }}</span>
    </div>
  }
  <div class="val">
    @if (password?.value?.length === 0 || password?.value?.length <= 70) {
      <i class="las la-check green"></i>
    }
    @if (password?.value?.length > 70) {
      <i class="las la-times red"></i>
    }

    <span class="cnsl-secondary-text"
      >{{ 'USER.PASSWORD.MAXLENGTHERROR' | translate: { value: 70 } }} ({{ password?.value?.length }}/{{ 70 }})
    </span>
  </div>
</div>
