@import "fonts";

*, *::before, *::after {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

body {
    margin: 0 auto;

    &.waiting * {
        cursor: wait !important;
    }
}

html {
    width: 100%;
    min-height: 100%;
    background-color: $backgroundColor;
    color: $fontColor;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    @if($bodyImgDark != "") {
        background-image: url($bodyImgDark);
    }
}

h1 {
    color: $fontColor;
    text-align: center;
}

h2 {
    color: $fontColor;
    font-weight: 300;
    font-size: $header2Size;
}

p {
    font-weight: 300;
    text-align: center;
}

header {
    padding: 8px;

    .logo {
        background-image: url($logoImgDark);
        background-repeat: no-repeat;
        background-size: contain;
        height: 80px;
        margin: 30px;
    }
}

.head {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

// a {
//     color: $primaryColor;
//     text-decoration: none;
//     font-weight: 400;

//     &:hover {
//         color: $primaryColorHover;
//     }

//     &.tos-link {
//         font-size: 14px;
//     }
// }

// %profile-image {
//     .profile-image {
//         height: 80px;
//         width: 80px;
//         background-position: center;
//         background-repeat: no-repeat;
//         @include retina-background-image($profileImgDark, "png", false, 80px, 80px);
//     }

//     &:hover .profile-image {
//         @include retina-background-image($profileImgDark, "png", true, 80px, 80px);
//     }
// }
