@import "fonts";

*, *::before, *::after {
    box-sizing: border-box;
    font-family: $standardFont;
    font-size: 16px;
    font-weight: 400;
    cursor: default !important;
}

body {
    margin: 0 0 100px 0;

    &.waiting * {
        cursor: wait !important;
    }
}

html {
    width: 100%;
    min-height: 100%;
    font-weight: 300;
    background-color: $backgroundColor;
    color: $fontColor;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    @if($bodyImgDark != "") {
        background-image: url($bodyImgDark);
    }
}

h1 {
    color: $fontColor;
    font-family: $headerFont;
    font-weight: 300;
    font-size: $headerSize;
    text-align: center;
}

h2 {
    color: $fontColor;
    font-family: $headerFont;
    font-weight: 300;
    font-size: $header2Size;
}

p {
    font-weight: 300;
    text-align: center;
}

header {
    padding: 8px;

    .logo {
        background-image: url($logoImgDark);
        background-repeat: no-repeat;
        background-size: contain;
        height: 80px;
        margin: 30px;
    }
}

.head {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.content form {
    margin: auto;
    padding: 20px;
    width: 100%;
    max-width: 500px;
}

a {
    color: $primaryColor;
    text-decoration: none;
    font-weight: 400;

    &:hover {
        color: $primaryColorHover;
    }

    &.tos-link {
        font-size: 14px;
    }
}

button, .button {
    background-color: $backgroundColor;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    height: $inputHeight;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    padding: 1px 6px;

    &:hover {
        background-color: $primaryColorHover;
        color: $backgroundColor;
        border: 1px solid $primaryColorHover;
    }

    &.primary {
        background-color: $primaryColor;
        color: $fontColor;
        border: none;
        &:hover {
            background-color: $primaryColorHover;
        }
    }

    &:disabled {
        background-color: $inputBorderColor;
        border: 1px solid $inputBorderColor;

        &:hover {
            background-color: $inputBorderColor;
            border: 1px solid $inputBorderColor;
        }
    }

    &.google {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 1px;
        color: $idpGoogleFontColor;
        background-color: $idpGoogleBackgroundColor;

        span.logo {
            height: 46px;
            width: 46px;
            background-color: #FFFFFF;
            background-image: url($idpGoogleImg + '.png');
            background-size: 25px;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 5px;
        }

        span.provider-name {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}



input:not([type='radio']), select {
    background-color: $inputBackgroundColor;
    color: $fontColor;
    height: $inputHeight;
    border: 1px solid $inputBorderColor;
    border-radius: 5px;
    padding-left: 8px;
}

%profile-image {
    .profile-image {
        height: 80px;
        width: 80px;
        background-position: center;
        background-repeat: no-repeat;
        @include retina-background-image($profileImgDark, "png", false, 80px, 80px);
    }

    &:hover .profile-image {
        @include retina-background-image($profileImgDark, "png", true, 80px, 80px);
    }
}

.login-profile {
    @extend %profile-image;
    .profile-image {
        margin-left: auto;
        margin-right: auto;
    }

    .names {
        padding: 10px 0;
        text-align: center;

        div:first-of-type {
            font-size: $header3Size;
            font-weight: 300;
        }

        div:nth-of-type(2) {
            font-weight: 300;
            font-size: 0.9rem;
            font-style: italic;
            color: $labelColor;
        }
    }
}

form {
    .field {
        display: grid;
        padding: 10px 0;
    }

    .field.radio-button {
        display: flex;

        input[type='radio'] {
            height: 20px;
            vertical-align: middle;
        }

        & label {
            height: 20px;
            display: inline-block;
            padding: 3px 0 0 15px;
            width: 100%;
        }
    }

    .field.check-box {
        display: flex;

        input[type='checkbox'] {
            height: 16px;
            vertical-align: middle;
        }

        & label {
            height: 16px;
            text-transform: inherit;
            display: inline-block;
            padding: 2px 0 0 15px;
            width: 100%;
            color: $fontColor;
        }
    }

    label {
        color: $labelColor;
        text-transform: uppercase;
        font-size: 0.8rem;
        margin-bottom: 3px;

        span.optional {
            font-style: italic;
            text-transform: none;
        }
    }

    .actions {
        padding: 20px 0;

        .right {
            float: right;
        }

        button, a {
            margin: 10px 0;
        }
    }

    button.clean {
        border: none;
        height: auto;
        color: $fontColor;
        text-align: left;
        text-transform: unset;
        display: flex;
        padding: 15px;

        &:hover {
            border: none;
            background-color: $buttonBackgroundColorHover;
        }

        * {
            font-weight: 300;
        }
    }

    .user-selection-list {
        margin-bottom: 40px;
    }

    button.user-selection {
        @extend %profile-image;
        .profile-image {
            height: 80px;
            width: 80px;
        }

        .sessionstate {
            display: inline-block;
            height: 20px;
            width: 20px;
            border-radius: 20px;
            border-color: $inputBorderColor;
            border-style: solid;
            border-width: 1px;
            position: absolute;
            bottom: 0px;
            right: 10px;

            &.sessionstate-0 {
                background-color: #138D00;
            }

            &.sessionstate-1 {
                background-color: #BC372E;
            }
        }


        & > div {
            position: relative;

            &.names {
                margin: 15px;

                .displayname {
                    font-size: 1.4rem;
                }
                .loginname {
                    color: $labelColor;
                }
            }
        }
    }

    button.other-user {
        .user-selection+&{
            margin-top: 80px;
        }
        .other-user-image {
            width: 80px;
            height: 60px;
            background-repeat: no-repeat;
            background-position: center;
            @include retina-background-image($otherUserImgDark, "png", false, 80px, 60px);
        }

        &:hover {
            .other-user-image {
                background-repeat: no-repeat;
                background-position: center;
                @include retina-background-image($otherUserImgDark, "png", true, 80px, 60px);
            }
        }

        & > div:nth-of-type(2) {
            margin: 15px;
            font-size: 1.4rem;
        }
    }

    ul#passwordcomplexity {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        list-style: none;
        margin-bottom: 0;

        li {
            flex: 1 0 50%;
            display: block;
            font-weight: 300;
            font-size: 12px;
            line-height: 12px;

            i {
                height: 26px;
                padding-right: 10px;
                vertical-align: middle;
                color: $okColor;
            }
        }

        li.invalid {
            i {
                color: $nokColor;
            }
        }
    }

    #loginname {
        display: flex;
        .loginname-suffix {
            padding-left: 5px;
            line-height: 50px;
        }
    }
}

#copy-secret {
    visibility: hidden;
    position: absolute;
}

#qrcode {
    text-align: center;

    svg rect.color {
        fill: $fontColor;
    }

    svg rect.bg-color {
        fill: $backgroundColor;
    }
}

#secret {
    .copy {
        float: right;
        cursor: pointer;
    }
}

footer {
    @if($footerimgDark != "") {
        background-image: url($footerimgDark);
    }
    width: 100%;
    background-size: cover;
    bottom: 0;
    z-index: -1;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.free-tier {
    border: 2px solid $nokColor;
    border-radius: 5px;
    padding: 10px;
}

.error {
    color: $nokColor;
}

.hidden {
    display: none;
}

#wa-error {
    margin-top: 20px;
}
