@import 'main.scss';
@import 'bundle.scss';

// Include non-theme styles for core. -> mainly background of the login
@include lgn-core();

$light-primary: lgn-palette($lgn-light-brand);
$light-accent: lgn-palette($lgn-light-brand);
$light-warn: lgn-palette($lgn-warn);

$dark-primary: lgn-palette($lgn-dark-brand);
$dark-accent: lgn-palette($lgn-dark-brand);
$dark-warn: lgn-palette($lgn-warn);

$light-theme: lgn-light-theme($light-primary, $light-accent, $light-warn);
$dark-theme: lgn-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include all theme styles for the components.
@include zitadel-lgn-theme($dark-theme);

//.lgn-dark-theme {
//    @include zitadel-lgn-theme($dark-theme);
//}

//.lgn-light-theme {
//    @include zitadel-lgn-theme($light-theme);
//}