<div [ngClass]="{'max-width-container': maxWidth, 'enlarged-container': !maxWidth}">
    <div class="detail-container">
        <div class="detail-left">
            <a *ngIf="backRouterLink" [routerLink]="backRouterLink" mat-icon-button>
                <mat-icon class="icon">arrow_back</mat-icon>
            </a>
        </div>
        <div class="detail-right">
            <div class="head">
              <div class="top-view">
                <div>
                  <h1>{{ title }}</h1>
                  <p class="head-desc">{{ description }}</p>
                </div>
                <div class="actions-wrap">
                  <ng-content select="[actions]"></ng-content>
                </div>
              </div>
              <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>