<cnsl-refresh-table (refreshed)="refresh.emit()" [loading]="(targets$ | async) === null">
  <div actions>
    <ng-content></ng-content>
  </div>
  <div class="table-wrapper">
    <table mat-table class="table" aria-label="Elements" [dataSource]="dataSource">
      <!-- <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>{{ 'APP.PAGES.STATE' | translate }}</th>
        <td mat-cell *cnslCellDef="let row; let i = index; dataSource: dataSource">
          <span
            class="state"
            [ngClass]="{
              active: i === 0,
              neutral: i === 1,
            }"
            [ngSwitch]="i"
          >
            <ng-container *ngSwitchCase="0">{{ 'DESCRIPTIONS.SETTINGS.WEB_KEYS.TABLE.ACTIVE' | translate }}</ng-container>
            <ng-container *ngSwitchCase="1">{{ 'DESCRIPTIONS.SETTINGS.WEB_KEYS.TABLE.NEXT' | translate }}</ng-container>
            <ng-container *ngSwitchDefault>{{ 'DESCRIPTIONS.SETTINGS.WEB_KEYS.TABLE.FUTURE' | translate }}</ng-container>
          </span>
        </td>
      </ng-container> -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>{{ 'ACTIONSTWO.TARGET.TABLE.ID' | translate }}</th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          {{ row.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ 'ACTIONSTWO.TARGET.TABLE.NAME' | translate }}</th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          <div class="target-key">
            <cnsl-project-role-chip [roleName]="row.name">{{ row.name }}</cnsl-project-role-chip>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="endpoint">
        <th mat-header-cell *matHeaderCellDef>{{ 'ACTIONSTWO.TARGET.TABLE.ENDPOINT' | translate }}</th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          {{ row.endpoint }}
        </td>
      </ng-container>
      <ng-container matColumnDef="creationDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'ACTIONSTWO.TARGET.TABLE.CREATIONDATE' | translate }}</th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          <span class="no-break">{{ row.creationDate | timestampToDate | localizedDate: 'regular' }}</span>
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'PROJECT.TYPE.TITLE' | translate }}</th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          {{ row.key.case | uppercase }}
        </td>
      </ng-container> -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *cnslCellDef="let row; dataSource: dataSource">
          <cnsl-table-actions>
            <button
              actions
              matTooltip="{{ 'ACTIONS.REMOVE' | translate }}"
              color="warn"
              (click)="$event.stopPropagation(); delete.emit(row)"
              mat-icon-button
            >
              <i class="las la-trash"></i>
            </button>
          </cnsl-table-actions>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['name', 'endpoint', 'creationDate', 'actions']"></tr>
      <tr
        class="highlight pointer"
        (click)="selected.emit(row)"
        mat-row
        *matRowDef="let row; columns: ['name', 'endpoint', 'creationDate', 'actions']"
      ></tr>
    </table>
  </div>
</cnsl-refresh-table>
