.container {
    display: flex;
    padding-bottom: 3rem;

    .left {
        width: 100px;
        display: flex;
        padding: 1rem;
        justify-content: center;

        a {
            margin-top: .2rem;
        }
    }

    .right {
        flex: 1;
        padding-top: 1rem;

        .head {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ffffff20;
            margin-bottom: 2rem;
            flex-wrap: wrap;
          
            a {
                display: block;
            }
          
            h1 {
                font-size: 1.2rem;
            }
          
            .desc {
                width: 100%;
                display: block;
                font-size: .9rem;
                color: #81868a;
            }
        }
    }
}
