.content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    display: flex;
    align-items: center;
    padding: .3rem 0;

    .left-desc {
      color: var(--grey);
      font-size: .9rem;
    }

    .fill-space {
      flex: 1;
    }

    .length-wrapper {
      display: flex;
      align-items: center;
      margin-right: -.6rem;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    margin-top: 3rem;
    display: block;
  }
}
