<app-detail-layout [backRouterLink]="[ serviceType === PolicyComponentServiceType.ADMIN ? '/iam/policies' : '/org']"
    [title]="'POLICY.PWD_AGE.TITLE' | translate" [description]="'POLICY.PWD_AGE.DESCRIPTION' | translate">
    <ng-template appHasRole [appHasRole]="['policy.delete']">
        <button *ngIf="serviceType === PolicyComponentServiceType.MGMT && !isDefault"
            matTooltip="{{'POLICY.RESET' | translate}}" color="warn" (click)="removePolicy()" mat-stroked-button>
            {{'POLICY.RESET' | translate}}
        </button>
    </ng-template>

    <div class="content" *ngIf="ageData">
        <div class="row">
            <span class="left-desc">{{'POLICY.DATA.EXPIREWARNDAYS' | translate}}</span>
            <span class="fill-space"></span>
            <div class="length-wrapper">
                <button mat-icon-button (click)="incrementExpireWarnDays()">
                    <mat-icon>add</mat-icon>
                </button>
                <span>{{ageData?.expireWarnDays}}</span>
                <button mat-icon-button (click)="decrementExpireWarnDays()">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>

        <div class="row">
            <span class="left-desc">{{'POLICY.DATA.MAXAGEDAYS' | translate}}</span>
            <span class="fill-space"></span>
            <div class="length-wrapper">
                <button mat-icon-button (click)="incrementMaxAgeDays()">
                    <mat-icon>add</mat-icon>
                </button>
                <span>{{ageData?.maxAgeDays}}</span>
                <button mat-icon-button (click)="decrementMaxAgeDays()">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button (click)="savePolicy()" color="primary" type="submit"
            mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
    </div>
</app-detail-layout>