.default {
  display: block;
  margin-bottom: 1rem;
}

.policy-applied-to {
  margin: -1rem 0 0 0;
  font-size: 14px;
}

.age-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    display: flex;
    align-items: center;
    padding: 0.3rem 0;

    .pwd-age-form-field {
      width: 100%;
      max-width: 300px;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  button {
    display: block;
    margin-right: 1rem;
  }
}
