version: 2
updates:
- package-ecosystem: npm
  directory: "/console"
  schedule:
    interval: weekly
    time: '04:00'
  open-pull-requests-limit: 10
  commit-message:
    prefix: chore
    include: scope
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: weekly
    time: '04:00'
  open-pull-requests-limit: 10
  commit-message:
    prefix: chore
    include: scope
