<div class="cnsl-table-action-wrapper">
  <div class="cnsl-table-action">
    <ng-content select="[hoverActions]"></ng-content>
    <ng-content select="[actions]"></ng-content>
    <button
      (click)="$event.stopPropagation()"
      *ngIf="hasActions"
      mat-icon-button
      class="more-button"
      [matMenuTriggerFor]="actions"
      data-e2e="table-actions-button"
    >
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #actions="matMenu" xPosition="before" class="table-actions-menu">
      <ng-content select="[menuActions]"></ng-content>
    </mat-menu>
  </div>
</div>
