.paginator-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  .col {
    p {
      margin: 0;
    }

    .length {
      font-size: 14px;
      white-space: nowrap;
    }

    .ts {
      font-size: 12px;
    }
  }

  .fill-space {
    flex: 1;
  }

  .pos {
    font-size: 12px;
    margin: 0.5rem 1rem 0.5rem 1rem;
    white-space: nowrap;
  }

  .size {
    transform: translateY(1px);
    margin-right: 0.5rem;
  }

  button {
    margin: 0 0.5rem;
  }

  :last-child {
    margin-right: 0;
  }

  .row {
    display: flex;
    align-items: center;
  }
}

::ng-deep .paginator-select.mat-mdc-select {
  min-width: 60px;
  height: 36px !important;
  padding-top: 4px !important;
}
