.title {
  font-size: 1.2rem;
  margin: 0;
}

.desc {
  font-size: 0.9rem;
}

.project-radio-group {
  display: flex;
  flex-direction: column;

  .radio-button {
    margin: 0.5rem 0;

    .label {
      white-space: normal;
    }
  }
}

.info {
  margin: 1rem 0;
  display: block;
}

.action {
  display: flex;
  justify-content: space-between;

  button {
    border-radius: 0.5rem;
  }
}
