.h1 {
  margin-top: 0;
}

.sub {
  color: var(--grey);
  margin-bottom: 2rem;
}

.top-desc {
  color: var(--grey);
  font-size: 14px;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-top: 2rem;
}
