<app-meta-layout>
    <div class="enlarged-container">
        <h1 class="h1">{{'IAM.POLICIES.TITLE' | translate}}</h1>
        <p class="sub">{{'IAM.POLICIES.DESCRIPTION' | translate}} </p>

        <h2>{{'FEATURES.TITLE' | translate}}</h2>
        <p class="top-desc">{{'FEATURES.DESCRIPTION' | translate}}</p>
        <div *ngIf="features" class="tier">
            <mat-icon class="icon">stars</mat-icon>
            <div class="text" *ngIf="features.tier">
                <p class="title"><strong>ZITADEL {{features.tier.name}}</strong></p>
                <p>{{features.tier?.description}}</p>
                <p>{{'FEATURES.TIERSTATES.'+features.tier.state | translate}}</p>
                <p>{{features.tier?.statusInfo}}</p>
            </div>
            <span class="fill-space"></span>
            <a class="ext" href="https://zitadel.ch/pricing" target="_blank"><i
                    class="las la-external-link-alt"></i></a>
            <button mat-raised-button [routerLink]="['/iam','features']">{{'FEATURES.BTN-EDIT' | translate}}</button>
        </div>

        <app-policy-grid [type]="PolicyGridType.IAM"></app-policy-grid>
    </div>

    <div metainfo>
        <app-contributors [totalResult]="totalMemberResult" [loading]="loading$ | async"
            [membersSubject]="membersSubject" title="{{ 'PROJECT.MEMBER.TITLE' | translate }}"
            description="{{ 'PROJECT.MEMBER.TITLEDESC' | translate }}" (addClicked)="openAddMember()"
            (showDetailClicked)="showDetail()" (refreshClicked)="loadMembers()" [disabled]="false">
        </app-contributors>
    </div>
</app-meta-layout>