<app-meta-layout>
    <div class="enlarged-container">
        <h1 class="h1">{{'IAM.DETAIL.TITLE' | translate}}</h1>
        <p class="sub">{{'IAM.DETAIL.DESCRIPTION' | translate}} </p>

        <app-card title="{{ 'IAM.IDP.LIST.TITLE' | translate }}"
            description="{{ 'IAM.IDP.LIST.DESCRIPTION' | translate }}">
            <app-idp-table> </app-idp-table>
        </app-card>

        <app-card title="{{ 'IAM.VIEWS.TITLE' | translate }}" description="{{ 'IAM.VIEWS.DESCRIPTION' | translate }}">
            <app-iam-views></app-iam-views>
        </app-card>

        <app-card title="{{ 'IAM.FAILEDEVENTS.TITLE' | translate }}"
            description="{{ 'IAM.FAILEDEVENTS.DESCRIPTION' | translate }}">
            <app-iam-failed-events></app-iam-failed-events>
        </app-card>
    </div>

    <div class="side" metainfo>
        <app-contributors [totalResult]="totalMemberResult" [loading]="loading$ | async"
            [membersSubject]="membersSubject" title="{{ 'PROJECT.MEMBER.TITLE' | translate }}"
            description="{{ 'PROJECT.MEMBER.TITLEDESC' | translate }}" (addClicked)="openAddMember()"
            (showDetailClicked)="showDetail()" (refreshClicked)="loadMembers()" [disabled]="false">
        </app-contributors>
    </div>
</app-meta-layout>