.h1 {
  margin-top: 0;
}

.sub {
  color: var(--grey);
  margin-bottom: 2rem;
}

.top-desc {
  color: var(--grey);
  font-size: 14px;
}

h2 {
    font-size: 1.2rem;
    letter-spacing: .05em;
    text-transform: uppercase;
    margin-top: 2rem;
}
  
.tier {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border-radius: .5rem;
    color: white;
    background-color: rgb(245, 203, 99);
    margin-bottom: .5rem;

    .ext {
        margin-right: .5rem;
        align-self: center;
        color: inherit;
    }

    mat-icon {
        margin-right: 1rem;
        font-size: 2rem;
    }

    .text {
        display: flex;
        flex-direction: column;
        p {
            margin: 0;
            font-size: 14px;
        }
        .title {
            font-size: 16px;
            margin-bottom: .5rem;
        }
    }

    .fill-space {
        flex: 1;
    }
}