<cnsl-card class="metadata-details" title="{{ 'USER.METADATA.TITLE' | translate }}">
  <div card-actions class="actions">
    <mat-spinner class="spinner" diameter="20" *ngIf="loading"></mat-spinner>
    <button mat-raised-button color="primary" class="edit" (click)="editMetadata()">{{'ACTIONS.EDIT' | translate}}</button>
    <button matTooltip="{{'ACTIONS.REFRESH' | translate}}" class="refresh-btn" (click)="loadMetadata()"
        mat-icon-button aria-label="refresh contributors">
        <mat-icon class="icon">refresh</mat-icon>
    </button>
  </div>

  <ng-container *ngIf="metadata?.length; else emptyList">
    <div class="metadata-set" *ngFor="let md of metadata">
        <span class="first">{{md.key}}</span>
        <span class="second">{{ md.value }}</span>
    </div>
  </ng-container>

  <ng-template #emptyList>
    <p class="empty-desc">{{'USER.METADATA.EMPTY' | translate}}</p>
  </ng-template>
</cnsl-card>
