.metadata-details {
  padding-bottom: 1rem;

  .actions {
    display: flex;
    align-items: center;

    .edit {
      font-size: 14px;
    }
  }

  .meta-row {
    display: flex;
    margin-bottom: .5rem;
    align-items: center;

    .first {
      flex: 1;
      font-size: 13px;
      margin-right: .5rem;
    }

    .fill-space {
      flex: 1;
    }

    .second {
      font-size: 13px;
    }
  }

  .metadata-set {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;

    .first {
      font-size: 14px;
      color: var(--grey);
    }
  }
}
.border-t {
  border-top: 1px solid #81868a40;
}

.edit {
  font-size: 14px;
  cursor: pointer;
}

.empty-desc {
  margin: 0;
  font-size: 14px;
  color: var(--grey);
}

.ts {
  font-size: 14px;
  color: var(--grey);
  margin-top: 0;
}

.refresh-btn {
  float: left;

  .icon {
    font-size: 1.2rem;
  }
}
