.git
.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.vscode
.idea
.vercel
.env*.local
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/out
/docker

Makefile
docker-bake.hcl
**/*.md
**/*.gitignore
.git
