
# .git
.codecov
.github
.gitignore
.dockerignore
**/Dockerfile
**/.pnpm-store
**/.nx
**/.next
apps/console/src/app/proto/generated/
apps/console/.angular
apps/console/tmp/
.releaserc.js
changelog.config.js
CONTRIBUTING.md
LICENSE
README.md
SECURITY.md
**/Dockerfile
**/*.Dockerfile
pkg/grpc/*/*.pb.*
pkg/grpc/*/*.swagger.json
**/.artifacts
build/*.Dockerfile

