# Masterkey phải đủ mạnh, không đổi khi đã khởi tạo DB
ZITADEL_MASTERKEY=MasterkeyNeedsToHave32Characters

# Domain public truy cập qua Cloudflare/Traefik
ZITADEL_EXTERNALSECURE=false
ZITADEL_EXTERNALDOMAIN=localhost
ZITADEL_EXTERNALPORT=8080
ZITADEL_TLSMODE=disabled
ZITADEL_TLS_ENABLED=false

# Thông tin database Postgres
ZITADEL_DATABASE_POSTGRES_HOST=DB
ZITADEL_DATABASE_POSTGRES_PORT=5432
ZITADEL_DATABASE_POSTGRES_DATABASE=zitadel
ZITADEL_DATABASE_POSTGRES_USER_USERNAME=zitadel
ZITADEL_DATABASE_POSTGRES_USER_PASSWORD=zitadel
ZITADEL_DATABASE_POSTGRES_USER_SSL_MODE=disable
ZITADEL_DATABASE_POSTGRES_ADMIN_USERNAME=postgres
ZITADEL_DATABASE_POSTGRES_ADMIN_PASSWORD=postgres
ZITADEL_DATABASE_POSTGRES_ADMIN_SSL_MODE=disable

# Các biến khác (nếu cần)
ZITADEL_LOGLEVEL=debug
