.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo
packages/zitadel-server/src/app/proto
packages/zitadel-client/src/app/proto

apps/login/.vscode