<form>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Role Name</mat-label>
        <input matInput *ngIf="singleOutput" type="text" placeholder="Search for the role name" #nameInput
            [formControl]="myControl" [matAutocomplete]="auto" />

        <mat-chip-list *ngIf="!singleOutput" #chipList aria-label="name selection">
            <mat-chip class="chip" *ngFor="let selectedRole of roles" [selectable]="selectable" [removable]="removable"
                (removed)="remove(selectedRole)">
                {{selectedRole.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Role Name" #nameInput [formControl]="myControl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
            <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="30"></mat-spinner>
            </mat-option>
            <mat-option *ngFor="let role of filteredRoles" [value]="role">
                {{role.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>