.password-info {
  margin: -1rem 0 0 0;
  font-size: 14px;
}

form {
  .hiddeninput {
    display: none;
  }

  .password-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 40rem;

    .side-by-side {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin: 0 -0.5rem;
      width: 100%;

      @media only screen and (max-width: 500px) {
        flex-direction: column;
      }

      .formfield {
        flex: 1;
        margin: 0 0.5rem;
      }
    }

    .formfield {
      max-width: 400px;
      width: 100%;
    }
  }
}
.validation {
  &.between {
    margin: 0 0.5rem;
  }
}

.submit-button {
  margin-top: 2rem;
  display: block;
  padding: 0.5rem 4rem;
  height: 3.5rem;
}
