<div class="feature-row" *ngIf="$any(toggleStates)[toggleStateKey]">
  <span>{{ 'SETTING.FEATURES.' + toggleStateKey.toUpperCase() | translate }}</span>
  <div class="row">
    <mat-button-toggle-group
      class="theme-toggle"
      class="buttongroup"
      [(ngModel)]="$any(toggleStates)[toggleStateKey].state"
      (change)="onToggleChange()"
      name="displayview"
    >
      <mat-button-toggle [value]="ToggleState.DISABLED">
        <div class="toggle-row">
          <span>{{ 'SETTING.FEATURES.STATES.DISABLED' | translate }}</span>

          <div
            *ngIf="!enabled && (source == Source.SYSTEM || source == Source.UNSPECIFIED)"
            class="current-dot"
            matTooltip="{{ 'SETTING.FEATURES.INHERITEDINDICATOR_DESCRIPTION.DISABLED' | translate }}"
          ></div>
        </div>
      </mat-button-toggle>
      <mat-button-toggle [value]="ToggleState.ENABLED">
        <div class="toggle-row">
          <span>{{ 'SETTING.FEATURES.STATES.ENABLED' | translate }}</span>
          <div
            *ngIf="enabled && (source == Source.SYSTEM || source == Source.UNSPECIFIED)"
            class="current-dot"
            matTooltip="{{ 'SETTING.FEATURES.INHERITEDINDICATOR_DESCRIPTION.ENABLED' | translate }}"
          ></div>
        </div>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <ng-content></ng-content>
  <cnsl-info-section
    class="feature-info"
    *ngIf="'SETTING.FEATURES.' + toggleStateKey.toUpperCase() + '_DESCRIPTION' | translate as i18nDescription"
    >{{ i18nDescription }}</cnsl-info-section
  >
</div>
