
.wrapper {
  padding-bottom: 100px;
  position: relative;

  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
    align-items: center;

    h3 {
      font-size: 24px;
      margin-bottom: 1rem;
      text-align: center;
    }

    .wlc_stnce {
      color: var(--grey);
      font-size: 16px;
    }

    .avatar {
      outline: none;
      cursor: pointer;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem;
    justify-content: space-evenly;

    .onboard,
    .quickstart {
        text-decoration: none;
        cursor: pointer;
        box-sizing: border-box;
        flex: 1 0 45%;
        position: relative;
        border-radius: 0.5rem;
        margin: 1rem;
        padding: 1.5rem;
        box-shadow: 0 3px 8px 0 rgb(0 0 0 / 6%);

        h2 {
            color: white;
        }

        .first-steps {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }

        .close {
            visibility: hidden;
            position: absolute;
            top: 0;
            right: 0;

            i {
                color: white;
                font-size: 1rem;
            }
        }

        &:hover {
            .close {
                visibility: visible;
            }
        }
    }

    .onboard {
        background: linear-gradient(40deg, rgb(80, 66, 121),rgb(177, 59, 122),rgb(225,53,81), rgb(230,107,86));

        p {
            color: #fad6e3;
        }
    }

    .quickstart {
        background: linear-gradient(30deg, #2283a6,#6c8f59);

        p {
            color: #d6f3fa;
        }

        .logo-cloud {
            display: flex;
            flex-wrap: wrap;
            margin: -0.5rem;
            
            i {
                font-size: 40px;
                padding: .5rem;
                border: 1px solid #ffffff50;
                border-radius: .5rem;
                margin: 0.5rem;
                color: white;
            }
        }
    }

    .item {
      flex: 1 0 45%;
      margin: 0 1rem;
      display: flex;
      flex-direction: column;

      .top {
        h2 {
          margin-top: .5rem;
          display: flex;
          align-items: center;
        }

        p {
          display: block;
          color: var(--grey);
          font-size: .9rem;
        }

        i {
          font-size: 2.5rem;
          margin-right: 1rem;
          transition: color .1s;
        }
      }

      .fill-space {
        flex: 1;
      }

      .footer {
        display: flex;
        align-items: center;
        border-top: 1px solid #ffffff20;
        padding-top: 1rem;

        a {
          border-radius: .5rem;
        }
      }
    }
  }

  .disclaimer {
    color: var(--grey);
    font-size: 14px;
    margin-top: 3rem;
  }
}

.short-link {
  margin-bottom: .5rem;
  font-size: 15px;
  text-decoration: none;
  display: block;
  position: relative;

  .las {
    font-size: 1.5rem !important;
    height: 1.5rem;
    visibility: hidden;
    position: absolute;
    right: 0;
  }

  &:hover {
    .las {
      visibility: visible;
    }
  }
}
