.wrapper {
  padding-bottom: 100px;
  position: relative;

  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .title {
      font-size: 24px;
      margin-bottom: 1rem;
    }

    .wlc_stnce {
      color: var(--grey);
      font-size: 16px;
    }
  }

  .gridcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-content: space-evenly;

    @media only screen and (max-width: 899px) {
      grid-template-columns: 1fr;
    }

    .onboard,
    .quickstart {
      text-decoration: none;
      cursor: pointer;
      box-sizing: border-box;
      position: relative;
      border-radius: .5rem;
      padding: 1.5rem;
      box-shadow: 0 3px 8px 0 rgb(0 0 0 / 6%);

      h2 {
        color: white;
      }

      .first-steps {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
      }

      .close {
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;

        i {
          color: white;
          font-size: 1rem;
        }
      }

      &:hover {
        .close {
          visibility: visible;
        }
      }
    }

    .onboard {
      background: linear-gradient(40deg, rgb(177, 59, 122), rgb(225, 53, 81), rgb(230, 107, 86));

      p {
        color: #fad6e3;
      }
    }

    .quickstart {
      background: linear-gradient(40deg, #047857, #059669);

      p {
        color: #d6f3fa;
      }

      .logo-cloud {
        display: flex;
        flex-wrap: wrap;
        margin: -.5rem;

        i {
          font-size: 40px;
          padding: .5rem;
          border: 1px solid #ffffff50;
          border-radius: .5rem;
          margin: .5rem;
          color: white;
        }
      }
    }

    .griditem {
      display: flex;
      flex-direction: column;

      .card {
        margin: 0 !important;
      }

      .top {
        h2 {
          margin-top: .5rem;
          display: flex;
          align-items: center;
        }

        p {
          display: block;
          color: var(--grey);
          font-size: .9rem;
        }

        i {
          font-size: 2.5rem;
          margin-right: 1rem;
          transition: color .1s;
        }
      }

      .fill-space {
        flex: 1;
      }

      .footer {
        display: flex;
        align-items: center;
        border-top: 1px solid #ffffff20;
        padding-top: 1rem;

        a {
          border-radius: .5rem;
        }
      }
    }
  }

  .disclaimer {
    color: var(--grey);
    font-size: 14px;
    margin-top: 3rem;
  }
}

.short-link {
  margin-bottom: .5rem;
  font-size: 15px;
  text-decoration: none;
  display: block;
  position: relative;

  .las {
    font-size: 1.5rem !important;
    height: 1.5rem;
    visibility: hidden;
    position: absolute;
    right: 0;
  }

  &:hover {
    .las {
      visibility: visible;
    }
  }
}
