
.wrapper {
	width: 80%;
	max-width: 1350px;
	@media only screen and (max-width: 700px) {
		width: 90%;
	}
	margin: auto;

	.header {
		display: flex;
		flex-direction: column;
		margin: 4rem 0;
		align-items: center;

		.avatar {
			width: 100px;
			height: 100px;
			font-size: 100px;
			line-height: 100px;
			margin-top: 1rem;
		}

		h1 {
			font-size: 3rem;
		}
		p {
			color: #8795a1;
			text-align: center;
            font-size: 1rem;
            margin: 0;
        }
        
        img {
            height: 60px;
            align-self: flex-end;
        }
	}

	.container {
		display: flex;
		flex-wrap: wrap;
		margin: -1rem;
		justify-content: space-evenly;

		.item {
			flex: 1 1 45%;
			margin: 0 1rem;
			display: flex;
            flex-direction: column;

			.top {
				h2 {
					margin-top: .5rem;
                    display: flex;
                    align-items: center;
				}

				p {
					display: block;
					color: #8795a1;
					font-size: .9rem;
                }
                
                 i{
                     font-size: 2.5rem;
                     margin-right: 1rem;
                     transition: color .1s;
                 }
			}

			.fill-space {
				flex: 1;
			}

			.footer {
				display: flex;
				align-items: center;
                border-top: 1px solid #ffffff20;
                padding-top: 1rem;
                
                a {
                    border-radius: .5rem;
                }
			}
		}
	}
}
