@use '@angular/material' as mat;

@mixin home-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary-color: mat.get-color-from-palette($primary, 500);

  $warn-color: mat.get-color-from-palette($warn, 500);
  $accent-color: mat.get-color-from-palette($accent, 500);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($background, background);

  $list-background-color: mat.get-color-from-palette($background, 300);
  $card-background-color: mat.get-color-from-palette($background, cards);
  $border-color: if($is-dark-theme, rgba(#8795a1, 0.2), rgba(#8795a1, 0.2));
  $border-selected-color: if($is-dark-theme, #fff, #000);

  .home-title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .home-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      .title {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }

    .desc {
      font-size: 1.2rem;
      margin-top: 0;
      text-transform: uppercase;
    }

    .home-grid-container {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      justify-content: space-evenly;
      padding-bottom: 1rem;

      @media only screen and (min-width: 599px) {
        grid-template-columns: 1fr 1fr;
      }

      @media only screen and (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      .grid-item {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        font-size: 14px;
        background-color: $card-background-color;
        border: 1px solid $border-color;
        border-radius: 0.5rem;
        margin: 0;
        text-decoration: none;
        color: inherit;

        &.edit-state {
          cursor: move;
        }

        .grid-item-avatar {
          height: 40px;
          width: 40px;
          margin-right: 1rem;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: linear-gradient(40deg, rgb(129, 85, 185) 30%, #7b8ada);

          &.purple {
            background: linear-gradient(40deg, #7c3aed 30%, #6d28d9);
          }

          &.red {
            background: linear-gradient(40deg, #dc2626 30%, #db2777);
          }

          &.green {
            background: linear-gradient(40deg, #03704e 30%, #047857);
          }

          &.blue {
            background: linear-gradient(40deg, #306ccc 30%, #4f46e5);
          }

          &.yellow {
            background: linear-gradient(40deg, #f59e0b 30%, #b45309);
          }

          &.black {
            background: linear-gradient(40deg, #1f2937, #111827);
          }

          .icon,
          i {
            font-size: 1.5rem;
            height: 1.5rem;
            line-height: 1.5rem;
            color: white;
          }
        }

        .icon-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;
          border-radius: 50vw;
          flex-shrink: 0;
          margin-right: 1rem;

          .inner {
            border-radius: 50vw;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.75rem;
          }
        }
      }
    }

    .disclaimer {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 5rem;
      font-style: italic;
    }

    .fill-space {
      flex: 1;
    }
  }

  .short-link {
    margin-bottom: 0.5rem;
    font-size: 15px;
    text-decoration: none;
    display: block;
    position: relative;

    .las {
      font-size: 1.5rem !important;
      height: 1.5rem;
      visibility: hidden;
      position: absolute;
      right: 0;
    }

    &:hover {
      .las {
        visibility: visible;
      }
    }
  }
}
