.domain-top-view {
  display: flex;
  align-items: center;
  padding-top: 2rem;

  .domain-title-row {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
    }

    a i {
      font-size: 1.2rem;
      height: 1.2rem;
      line-height: 1.2rem;
    }
  }

  .fill-space {
    flex: 1;
  }

  .actions {
    display: flex;
    align-items: center;
  }
}

.desc {
  margin-bottom: 2rem;
  font-size: 14px;
}

.domain-card {
  .domain {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title {
      font-size: 16px;
      margin-right: 1rem;
    }

    .primaryset {
      font-size: 13px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    .verified,
    .primary {
      margin-right: 1rem;
    }

    .verify-btn {
      font-size: 13px;
    }

    .fill-space {
      flex: 1;
    }
  }
}
