<div class="split">
    <div class="left">
        <p class="firststeps">{{'ONBOARDING.HEADER' | translate}}</p>
        <h1>{{'ONBOARDING.TITLE' | translate}}</h1>
    </div>
    <div class="right">
        <p class="desc">{{'ONBOARDING.DESCRIPTION' | translate}}</p>

        <h2>{{'ONBOARDING.STEPS_TITLE' | translate}}</h2>
        <div class="onboarding-row" *ngFor="let step of steps; index as i">
            <div class="prev">{{i + 1}}</div>
            <div>
                <h3>{{step.titleI18nKey | translate}}</h3>
                <p>{{step.descI18nKey | translate}}</p>
            </div>
            <span class="fill-space"></span>
            <div class="action-row">
                <a *ngIf="step?.docs" [href]="step.docs" alt="Zitadel Docs" target="_blank"
                    class="goto docs">{{'ONBOARDING.DOCS' |
                    translate}}
                    <i class="las la-external-link-alt"></i>
                </a>
                <a *ngIf="step.link" class="goto" [routerLink]="step.link">{{'ONBOARDING.START' | translate}}</a>
            </div>
        </div>
    </div>
</div>