@use '~@angular/material' as mat;

@mixin onboarding-theme($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $primary-color: mat.get-color-from-palette($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);
  $foreground: map-get($theme, foreground);

  /* stylelint-enable */

  .onboarding-row {
    box-shadow: inset 0 -1px map-get($foreground, divider);

    .prev {
      background: $primary-color;
    }

    .goto {
      text-decoration: none;
      background: white;
      border: 1px solid map-get($foreground, divider);

      &.docs {
        background-color: $primary-color;

        i {
          font-size: 1rem;
          margin-left: 3px;
        }
      }
    }
  }
}

.split {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: .5rem;
  box-shadow: 0 3px 8px 0 rgb(0 0 0 / 6%);

  @media only screen and (min-width: 1024px) {
    flex-direction: row;

    .right {
      overflow: auto;
    }
  }

  .left {
    flex-basis: 300px;
    box-sizing: border-box;
    padding: 1.5rem;
    background: linear-gradient(40deg, rgb(80, 66, 121), rgb(177, 59, 122), rgb(225, 53, 81), rgb(230, 107, 86));
    box-shadow: inset -2px 1px 15px -9px #000;

    h1 {
      color: white;
    }

    .firststeps {
      color: #fad6e3;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
    }

    p {
      color: #fad6e3;
      font-size: 12px;
      font-weight: bold;
    }

    button {
      width: 100%;
    }
  }

  .right {
    padding: 1.5rem;
    flex: 1;
    box-sizing: border-box;

    .desc {
      color: var(--grey);
      font-size: 20px;
      margin-top: .5rem;
    }

    .onboarding-row {
      display: flex;
      padding: 1rem 0;
      align-items: center;

      .prev {
        height: 40px;
        width: 40px;
        min-width: 40px;
        border-radius: .5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2rem;
        color: white;
        font-size: 1.2rem;
        box-shadow: 0 3px 8px 0 rgb(0 0 0 / 6%);
      }

      h3 {
        margin-top: 0;
        margin-bottom: .5rem;
        font-size: 15px;
      }

      p {
        font-size: 12px;
        margin: 0;
        color: var(--grey);
      }

      .fill-space {
        flex: 1;
      }

      .action-row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: flex-end;

        .goto {
          background-color: white;
          padding: 2px 1rem;
          color: black;
          border-radius: 50vw;
          font-size: 12px;
          margin: .5rem 0 .5rem 1rem;
          white-space: nowrap;
        }
      }
    }
  }
}
