<form *ngIf="targetForm" class="form-grid" [formGroup]="targetForm" (ngSubmit)="submit()">
  <p class="target-description">{{ 'ACTIONSTWO.EXECUTION.DIALOG.TARGET.DESCRIPTION' | translate }}</p>

  <cnsl-form-field class="full-width">
    <cnsl-label>{{ 'ACTIONSTWO.EXECUTION.DIALOG.TARGET.TARGET.DESCRIPTION' | translate }}</cnsl-label>
    <mat-select formControlName="target">
      <mat-option *ngIf="(executionTargets$ | async) === null" class="is-loading">
        <mat-spinner diameter="30"></mat-spinner>
      </mat-option>
      <mat-option *ngFor="let target of executionTargets$ | async" [value]="target">
        {{ target.name }}
      </mat-option>
    </mat-select>
  </cnsl-form-field>

  <!--  <cnsl-form-field class="full-width">-->
  <!--    <cnsl-label>{{ 'ACTIONSTWO.EXECUTION.DIALOG.TARGET.CONDITIONS.DESCRIPTION' | translate }}</cnsl-label>-->

  <!--    <mat-select [multiple]="true" formControlName="executionConditions">-->
  <!--      <mat-option *ngIf="(executionConditions$ | async) === null" class="is-loading">-->
  <!--        <mat-spinner diameter="30"></mat-spinner>-->
  <!--      </mat-option>-->
  <!--      <mat-option *ngFor="let condition of executionConditions$ | async" [value]="condition">-->
  <!--        <span>{{ condition | condition }}</span>-->
  <!--      </mat-option>-->
  <!--    </mat-select>-->
  <!--  </cnsl-form-field>-->

  <div class="actions">
    <button *ngIf="!hideBackButton" mat-stroked-button (click)="back.emit()">
      {{ 'ACTIONS.BACK' | translate }}
    </button>
    <span class="fill-space"></span>
    <button color="primary" [disabled]="targetForm.invalid" mat-raised-button type="submit">
      {{ 'ACTIONS.CONTINUE' | translate }}
    </button>
  </div>
</form>
