<form *ngIf="targetForm" class="form-grid" [formGroup]="targetForm" (ngSubmit)="continue.emit()">
  <p class="target-description">{{ 'ACTIONSTWO.EXECUTION.CREATE.TARGET.TITLE' | translate }}</p>

  <cnsl-form-field class="full-width">
    <cnsl-label>{{ 'ACTIONSTWO.EXECUTION.CREATE.TARGET.DESCRIPTION' | translate }}</cnsl-label>
    <input cnslInput type="text" placeholder="" #serviceInput formControlName="service" [matAutocomplete]="targetauto" />

    <mat-autocomplete #targetauto="matAutocomplete">
      <mat-option *ngIf="(executionTargets$ | async) == undefined" class="is-loading">
        <mat-spinner diameter="30"></mat-spinner>
      </mat-option>
      <mat-option *ngFor="let target of executionTargets$ | async" [value]="target">
        <span>{{ target.config?.name }}</span>
      </mat-option>
    </mat-autocomplete>
  </cnsl-form-field>
</form>
