<form class="form-grid" [formGroup]="typeForm" (ngSubmit)="continue.emit()">
  <div class="executionType">
    <mat-radio-group class="executionTypeRadioGroup" aria-label="Select an option" formControlName="executionType">
      <mat-radio-button value="ExecutionType.REQUEST">{{
        'ACTIONSTWO.EXECUTION.CREATE.TYPE.REQUEST' | translate
      }}</mat-radio-button>
      <mat-radio-button value="ExecutionType.RESPONSE">{{
        'ACTIONSTWO.EXECUTION.CREATE.TYPE.RESPONSE' | translate
      }}</mat-radio-button>
      <mat-radio-button value="ExecutionType.EVENTS">{{
        'ACTIONSTWO.EXECUTION.CREATE.TYPE.EVENTS' | translate
      }}</mat-radio-button>
      <mat-radio-button value="ExecutionType.FUNCTIONS">{{
        'ACTIONSTWO.EXECUTION.CREATE.TYPE.FUNCTIONS' | translate
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- <div>
    <button
      data-e2e="create-button"
      color="primary"
      [disabled]="
        userForm.invalid || (authenticationFactor.factor === 'initialPassword' && authenticationFactor.form.invalid)
      "
      type="submit"
      class="create-button"
      mat-raised-button
    >
      {{ 'ACTIONS.CREATE' | translate }}
    </button>
  </div> -->
</form>
