.content {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.default {
  color: var(--color-main);
  margin-top: 0;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    margin-top: 3rem;
    display: block;
    padding: .5rem 4rem;
  }
}
