@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-openapi/css/preset.css';
@import '../css/custom.css';

@theme {
    --color-fd-primary: hsl(var(--primary));
    --color-fd-primary-foreground: hsl(var(--primary-foreground));
    --color-fd-background: hsl(var(--background));
    --color-fd-foreground: hsl(var(--foreground));
    --color-fd-card: hsl(var(--card));
    --color-fd-card-foreground: hsl(var(--card-foreground));
    --color-fd-popover: hsl(var(--card));
    --color-fd-popover-foreground: hsl(var(--foreground));
    --color-fd-muted: hsl(var(--muted));
    --color-fd-muted-foreground: hsl(var(--muted-foreground));
    --color-fd-accent: hsl(var(--accent));
    --color-fd-accent-foreground: hsl(var(--accent-foreground));
    --color-fd-border: hsl(var(--border));
    --color-fd-ring: hsl(var(--primary));

    --color-zitadelpink: #ff2069;
    --font-sans: "Lato", "ui-sans-serif", "system-ui";
}

:root {
    --primary: 340 100% 56%;
    /* #ff2069 */
    --primary-foreground: 0 0% 100%;

    --background: 0 0% 98%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 92%;
    --accent-foreground: 340 100% 56%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;

    --radius: 0.5rem;
}

:root[class~="dark"],
[data-theme="dark"] {
    --primary: 340 100% 56%;
    /* #ff2069 */
    --primary-foreground: 0 0% 100%;

    --background: 230 45% 7%;
    --foreground: 0 0% 98%;

    --card: 230 43% 12%;
    --card-foreground: 0 0% 98%;

    --muted: 230 43% 15%;
    --muted-foreground: 230 20% 70%;

    --accent: 230 43% 20%;
    --accent-foreground: 340 100% 65%;

    --border: 230 43% 25%;
    --input: 230 43% 25%;

    --color-fd-primary: hsl(var(--primary));
    --color-fd-primary-foreground: hsl(var(--primary-foreground));
    --color-fd-background: hsl(var(--background));
    --color-fd-foreground: hsl(var(--foreground));
    --color-fd-card: hsl(var(--card));
    --color-fd-card-foreground: hsl(var(--card-foreground));
    --color-fd-popover: hsl(var(--card));
    --color-fd-popover-foreground: hsl(var(--foreground));
    --color-fd-muted: hsl(var(--muted));
    --color-fd-muted-foreground: hsl(var(--muted-foreground));
    --color-fd-accent: hsl(var(--accent));
    --color-fd-accent-foreground: hsl(var(--accent-foreground));
    --color-fd-border: hsl(var(--border));
    --color-fd-ring: hsl(var(--primary));
}