@use '@angular/material' as mat;

@mixin project-role-chips-theme($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary-color: mat.get-color-from-palette($primary, 500);

  $warn-color: mat.get-color-from-palette($warn, 500);
  $accent-color: mat.get-color-from-palette($accent, 500);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($background, background);

  $list-background-color: mat.get-color-from-palette($background, 300);
  $card-background-color: mat.get-color-from-palette($background, card);
  $border-color: if($is-dark-theme, rgba(#8795a1, 0.2), rgba(#8795a1, 0.2));
  $border-selected-color: if($is-dark-theme, #ffffff, #000000);

  .project-role-chip {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 1rem;
    margin: 3px 0;
    margin-right: 0.5rem;
    border-radius: 50vw;
    border: 1px solid $border-color;
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
    box-shadow: 0 0 3px #0000001a;
  }
}
