<span class="title" mat-dialog-title>{{domain.domain}} {{'ORG.PAGES.ORGDOMAIN_TITLE' | translate}} </span>
<div mat-dialog-content>
    <p class="desc">{{ 'ORG.PAGES.ORGDOMAIN_VERIFICATION' | translate }}</p>

    <p>HTTP TOKEN</p>
    <p class="entry">{{http?.url}}.txt</p>

    <div class="btn-container">
        <a mat-stroked-button id="link" #link color="primary">{{ 'ORG.PAGES.DOWNLOAD_FILE' | translate }}</a>

        <button color="primary" type="submit" mat-raised-button
            (click)="validate()">{{ 'ACTIONS.VERIFY' | translate }}</button>
    </div>

    <p>DNS TOKEN</p>
    <div class="line" *ngIf="dns?.token">
        <p class="entry">{{dns?.token}}</p>
        <button color="primary" [disabled]="copied == data.clientSecret" matTooltip="copy to clipboard"
            appCopyToClipboard [valueToCopy]="dns.token" (copiedValue)="copied = $event" mat-icon-button>
            <i *ngIf="copied != dns.token" class="las la-clipboard"></i>
            <i *ngIf="copied == dns.token" class="las la-clipboard-check"></i>
        </button>
    </div>
    <p class="entry">{{dns?.url}}</p>

    <div class="btn-container">
        <button color="primary" type="submit" mat-raised-button
            (click)="validate()">{{ 'ACTIONS.VERIFY' | translate }}</button>
    </div>

    <p class="desc warn">{{ 'ORG.PAGES.ORGDOMAIN_VERIFICATION_VALIDATION_DESC' | translate }}</p>
</div>
<div mat-dialog-actions class="action">
    <button mat-button class="ok-button" (click)="closeDialog()">
        {{'ACTIONS.CLOSE' | translate}}
    </button>
</div>