.btn-container {
  display: flex;
  margin: -.5rem;

  button {
    margin: 1rem .5rem;
    display: block;
  }
}

.desc {
  color: var(--grey);
  font-size: .9rem;

  &.warn {
    color: rgb(201, 51, 71);
  }
}

.entry {
  margin: .5rem 0;
}

.line {
  display: flex;
  align-items: center;
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: .5rem;
  }
}
