@mixin instance-selector-theme($theme) {
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);

  .instance-selector-container {
    background: map-get($background, footer);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .upper-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 10px;
    }

    .dropdown-label {
      color: if($is-dark-theme, #ffffff60, #00000060);
      font-size: 14px;
    }

    .footer {
      padding: 10px;
      padding-top: 5px;
      border-bottom-left-radius: inherit;
    }

    .portal-link {
      margin-right: 1rem;
      width: 100%;

      .portal-span {
        margin-right: 0.5rem;
      }
    }
  }
}
