.title {
  font-size: 1.2rem;
  margin-top: 0;
}

.desc {
  font-size: 0.9rem;
}

.roles-selection {
  display: flex;
  flex-direction: column;

  .role-cb {
    .role-cb-content {
      padding-left: 0.5rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      .info-hover {
        font-size: 1.2rem;
        margin-left: 0.5rem;
      }
    }
  }
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: 1rem;
  }
}
