<div class="max-width-container container">
    <div class="abort-container">
        <button (click)="close()" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
        <span class="abort">{{ 'ORG.PAGES.CREATE' | translate }}</span><span class="abort-2">Step
            {{ currentCreateStep }} of
            {{ createSteps }}</span>
    </div>

    <ng-container *ngIf="currentCreateStep == 1">
        <h1>{{'ORG.PAGES.ORGDETAIL_TITLE' | translate}}</h1>
        <form [formGroup]="orgForm" (ngSubmit)="next()">
            <div class="content">
                <mat-form-field class="formfield">
                    <mat-label>{{ 'ORG_DETAIL.DETAIL.NAME' | translate }}</mat-label>
                    <input matInput formControlName="name" />
                </mat-form-field>
                <mat-form-field class="formfield">
                    <mat-label>{{ 'ORG_DETAIL.DETAIL.DOMAIN' | translate }}</mat-label>
                    <input matInput formControlName="domain" />
                </mat-form-field>
            </div>

            <div class="btn-container">
                <span class="fill-space"></span>
                <button [disabled]="orgForm.invalid" color="primary" mat-raised-button class="big-button"
                    cdkFocusInitial type="submit">
                    {{'CONTINUE' | translate}}
                </button>
            </div>
        </form>

        <!-- <div *ngIf="name?.touched" @openClose>
            <p class="desc">{{ 'ORG.PAGES.ORGDOMAIN_VERIFICATION' | translate }}</p>

            <p>{{domain?.value}}/.well-known/caos-developer-domain-association.txt</p>

            <div class="btn-container">
                <button color="primary" type="submit"
                    mat-stroked-button>{{ 'ORG.PAGES.DOWNLOAD_FILE' | translate }}</button>

                <button color="primary" type="submit" mat-raised-button>{{ 'ACTIONS.VERIFY' | translate }}</button>
            </div>

            <p class="desc">{{ 'ORG.PAGES.ORGDOMAIN_VERIFICATION_SKIP' | translate }}</p>
        </div> -->
    </ng-container>

    <ng-container *ngIf="currentCreateStep == createSteps">
        <h1>{{'ORG.PAGES.ORGDETAILUSER_TITLE' | translate}}</h1>

        <div class="user">
            <form [formGroup]="userForm" class="form">
                <div class="content">
                    <p class="section">{{ 'USER.CREATE.NAMEANDEMAILSECTION' | translate }}</p>
                    <mat-form-field class="formfield" appearance="outline">
                        <mat-label>{{ 'USER.PROFILE.USERNAME' | translate }}</mat-label>
                        <input matInput formControlName="userName" required />
                        <mat-error *ngIf="userName?.invalid && userName?.errors?.required">
                            {{ 'USER.VALIDATION.REQUIRED' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="formfield" appearance="outline">
                        <mat-label>{{ 'USER.PROFILE.EMAIL' | translate }}</mat-label>
                        <input matInput formControlName="email" required />
                        <mat-error *ngIf="email?.invalid && email?.errors?.required">
                            {{ 'USER.VALIDATION.REQUIRED' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="formfield" appearance="outline">
                        <mat-label>{{ 'USER.PROFILE.FIRSTNAME' | translate }}</mat-label>
                        <input matInput formControlName="firstName" required />
                        <mat-error *ngIf="firstName?.invalid && firstName?.errors?.required">
                            {{ 'USER.VALIDATION.REQUIRED' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="formfield" appearance="outline">
                        <mat-label>{{ 'USER.PROFILE.LASTNAME' | translate }}</mat-label>
                        <input matInput formControlName="lastName" required />
                        <mat-error *ngIf="lastName?.invalid && lastName?.errors?.required">
                            {{ 'USER.VALIDATION.REQUIRED' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="formfield" appearance="outline">
                        <mat-label>{{ 'USER.PROFILE.NICKNAME' | translate }}</mat-label>
                        <input matInput formControlName="nickName" />
                        <mat-error *ngIf="nickName?.invalid && nickName?.errors?.required">
                            {{ 'USER.VALIDATION.REQUIRED' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <p class="section">{{ 'USER.CREATE.GENDERLANGSECTION' | translate }}</p>

                    <mat-form-field class="formfield" appearance="outline">
                        <mat-label>{{ 'USER.PROFILE.GENDER' | translate }}</mat-label>
                        <mat-select formControlName="gender">
                            <mat-option *ngFor="let gender of genders" [value]="gender">
                                {{ 'GENDERS.'+gender | translate }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="gender?.invalid && gender?.errors?.required">
                            {{ 'USER.VALIDATION.REQUIRED' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="formfield" appearance="outline">
                        <mat-label>{{ 'USER.PROFILE.PREFERRED_LANGUAGE' | translate }}</mat-label>
                        <mat-select formControlName="preferredLanguage">
                            <mat-option *ngFor="let language of languages" [value]="language">
                                {{ 'LANGUAGES.'+language | translate }}
                            </mat-option>
                            <mat-error *ngIf="preferredLanguage?.invalid && preferredLanguage?.errors?.required">
                                {{ 'USER.VALIDATION.REQUIRED' | translate }}
                            </mat-error>
                        </mat-select>
                    </mat-form-field>

                    <mat-checkbox class="checkbox" [(ngModel)]="usePassword" [ngModelOptions]="{standalone: true}"
                        (change)="initPwdValidators()">
                        {{'ORG.PAGES.USEPASSWORD' | translate}}</mat-checkbox>

                    <ng-container *ngIf="usePassword && pwdForm">
                        <p class="section">{{ 'USER.CREATE.PASSWORDSECTION' | translate }}</p>

                        <div class="validation-col" *ngIf="this.policy">
                            <div class="val" *ngIf="this.policy.minLength">

                                <i *ngIf="password?.value?.length == 0; else showSpinner" class="las la-times red"></i>

                                <ng-template #showSpinner>
                                    <div *ngIf="(password?.errors?.minlength || password?.value?.length == 0) as currentError; else trueminlength"
                                        class="sp-wrapper">
                                        <mat-progress-spinner class="spinner" diameter="20"
                                            [color]="currentError ? 'warn': 'valid'" mode="determinate"
                                            [value]="(password?.value?.length / policy.minLength) * 100">
                                        </mat-progress-spinner>
                                    </div>
                                </ng-template>
                                <ng-template #trueminlength>
                                    <i class="las la-check green"></i>
                                </ng-template>

                                <span>{{ 'USER.PASSWORD.MINLENGTHERROR' | translate: {value: password?.value?.length} }}
                                    ({{password?.value?.length}}/{{ policy.minLength}})
                                </span>
                            </div>
                            <div class="val" *ngIf="this.policy.hasSymbol">
                                <i *ngIf="password?.errors?.symbolValidator" class="las la-times red"></i>
                                <i *ngIf="!password?.errors?.symbolValidator" class="las la-check green"></i>
                                <span> {{ 'USER.VALIDATION.SYMBOLERROR' | translate }}</span>
                            </div>
                            <div class="val" *ngIf="this.policy.hasNumber">
                                <i *ngIf="password?.errors?.numberValidator" class="las la-times red"></i>
                                <i *ngIf="!password?.errors?.numberValidator" class="las la-check green"></i>
                                <span> {{ 'USER.VALIDATION.NUMBERERROR' | translate }}</span>
                            </div>
                            <div class="val" *ngIf="this.policy.hasUppercase">
                                <i *ngIf="password?.errors?.upperCaseValidator" class="las la-times red"></i>
                                <i *ngIf="!password?.errors?.upperCaseValidator" class="las la-check green"></i>
                                <span> {{ 'USER.VALIDATION.UPPERCASEMISSING' | translate }}</span>
                            </div>
                            <div class="val" *ngIf="this.policy.hasLowercase">
                                <i *ngIf="password?.errors?.lowerCaseValidator" class="las la-times red"></i>
                                <i *ngIf="!password?.errors?.lowerCaseValidator" class="las la-check green"></i>
                                <span>{{ 'USER.VALIDATION.LOWERCASEMISSING' | translate }}</span>
                            </div>
                        </div>

                        <form [formGroup]="pwdForm" class="form">
                            <mat-form-field class="formfield" *ngIf="password" appearance="outline">
                                <mat-label>{{ 'USER.PASSWORD.NEW' | translate }}</mat-label>
                                <input autocomplete="off" name="firstpassword" matInput formControlName="password"
                                    type="password" />

                                <mat-error *ngIf="password?.errors?.required">
                                    {{ 'USER.VALIDATION.REQUIRED' | translate }}
                                </mat-error>

                            </mat-form-field>
                            <mat-form-field class="formfield" *ngIf="confirmPassword" appearance="outline">
                                <mat-label>{{ 'USER.PASSWORD.CONFIRM' | translate }}</mat-label>
                                <input autocomplete="off" name="confirmPassword" matInput
                                    formControlName="confirmPassword" type="password" />

                                <mat-error *ngIf="confirmPassword?.errors?.required">
                                    {{ 'USER.VALIDATION.REQUIRED' | translate }}
                                </mat-error>
                                <mat-error *ngIf="confirmPassword?.errors?.notequal">
                                    {{ 'USER.PASSWORD.NOTEQUAL' | translate }}
                                </mat-error>
                            </mat-form-field>
                        </form>
                    </ng-container>
                </div>
                <div class="btn-container">
                    <button color="primary" class="small-button" type="button" (click)="previous()"
                        mat-stroked-button>{{ 'ACTIONS.BACK' | translate }}</button>
                    <span class="fill-space"></span>
                    <button color="primary" class="big-button" (click)="finish()"
                        [disabled]="orgForm.invalid || userForm.invalid || ((usePassword && pwdForm) ? pwdForm?.invalid : false)"
                        mat-raised-button>{{ 'ACTIONS.FINISH' | translate }}</button>
                </div>
            </form>
        </div>
    </ng-container>
</div>