h1 {
    font-weight: 500;
}

.container {
	padding: 4rem 4rem 2rem 4rem;

	.abort-container {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;

		.abort {
			font-size: 1.2rem;
			margin-left: 2rem;
		}

		.abort-2 {
			font-size: 1.2rem;
			margin-left: 2rem;
		}
    }
    

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 -.5rem; 

        mat-form-field {
            flex: 1 1 33%;
            margin: 0 .5rem;
        }
    }

    .desc {
        color: #81868a;
        font-size: .9rem;
        margin: 1rem 0;
    }
}

.margin-right {
	margin-right: 0.5rem;
}

.user {
    flex: 1;
    .head {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #ffffff20;
        flex-wrap: wrap;
      
        a {
            display: block;
        }
      
        h1 {
            font-size: 2rem;
        }
      
        .desc {
            width: 100%;
            display: block;
            font-size: .9rem;
            color: #81868a;
        }
    }
    .form {
        padding-top: 1rem;

        .btn-container {
            display: flex;
            justify-content: flex-end;
            button {
                margin-top: 3rem;
                display: block;
                padding: 0.5rem 4rem;
                border-radius: 0.5rem;
            }
        }

        .content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 -.5rem; 

            .section {
                padding: .5rem;
                flex-basis: 100%;
                color: #81868a;
                font-size: .9rem;
            }
        
            &.nowrap{
                flex-wrap: nowrap;
            }
        
            mat-form-field {
                flex: 1 0 33%;
                margin: 0 .5rem;
            }
        }
    }
}

.column {
    display: flex;
    flex-direction: column;

    .formfield {
        width: 400px;
        input {
            font-size: 1.5rem;
        }

        &.autocomplete {
            margin-top: 1rem;
        }
    }
}

.btn-container {
    display: flex;
    margin: 0 -.5rem;
  
    button {
      border-radius: .5rem;
      margin: 0 .5rem;
    }
}

.continue-button {
    margin-top: 3rem;
    display: block;
    padding: 0.5rem 4rem;
    border-radius: 0.5rem;
}

