<div class="max-width-container">
    <h1>{{ 'ORG.PAGES.LIST' | translate }}</h1>
    <p class="top-desc">{{'ORG.PAGES.LISTDESCRIPTION' | translate}}</p>

    <div class="view-toggle">
        <div class="anim-list" *ngIf="selection.selected.length > 0">
        </div>
        <button disabled mat-icon-button>
            <mat-icon></mat-icon>
        </button>
    </div>

    <div class="container">
        <p class="n-items" *ngIf="!loading && selection.selected.length > 0">{{'PROJECT.PAGES.PINNED' | translate}}</p>

        <div matTooltip="{{'ORG.PAGES.SELECTORGTOOLTIP' | translate}}" class="item card"
            *ngFor="let org of selection.selected; index as i" (click)="selectOrg(org, $event)"
            [ngClass]="{ active: activeOrg?.id === org?.id }">
            <div class="text-part">
                <span class="description">{{org.id}}</span>

                <span class="name" *ngIf="org.name">{{ org.name }}</span>
                <span class="name" *ngIf="!org.name">No Name</span>
                <span class="fill-space"></span>
                <div class="icons">
                </div>
            </div>
            <button [ngClass]="{ selected: selection.isSelected(org)}" (click)="selection.toggle(org)"
                class="edit-button" mat-icon-button>
                <mat-icon>push_pin_outline</mat-icon>
            </button>
        </div>
    </div>
    <div class="container">
        <p class="n-items" *ngIf="!loading && notPinned.length > 0">{{'PROJECT.PAGES.ALL' | translate}}</p>

        <div matTooltip="{{'ORG.PAGES.SELECTORGTOOLTIP' | translate}}" class="item card"
            *ngFor="let org of notPinned; index as i" (click)="selectOrg(org, $event)"
            [ngClass]="{ active: activeOrg?.id === org?.id }">
            <div class="text-part">
                <span class="description">{{org.id}}</span>

                <span class="name" *ngIf="org.name">{{ org.name }}</span>
                <span class="name" *ngIf="!org.name">No Name</span>
                <span class="fill-space"></span>
                <div class="icons">
                </div>
            </div>
            <button [ngClass]="{ selected: selection.isSelected(org)}" (click)="selection.toggle(org)"
                class="edit-button" mat-icon-button>
                <mat-icon>push_pin_outline</mat-icon>
            </button>
        </div>

        <ng-template appHasRole [appHasRole]="['iam.write']">
            <div class="card add-org-button" [routerLink]="[ '/org/create' ]">
                <mat-icon class="icon">add</mat-icon>
                <span>Add new organization</span>
            </div>
        </ng-template>
    </div>
</div>