@mixin domain-verification-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $border-color: if($is-dark-theme, rgba(#8795a1, 0.2), rgba(#8795a1, 0.2));

  .entry {
    margin: 0.5rem 0;
    display: inline-block;
  }

  .domain-entry {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid $border-color;

    p {
      padding-left: 1rem;
    }
  }

  .domain-line {
    display: flex;
    align-items: center;

    span {
      padding-left: 0.2rem;
    }
  }

  .action {
    display: flex !important;
    justify-content: space-between !important;
  }

  .dialog-title {
    display: flex;
    align-items: center;
    margin-top: -3rem;
  }
}
