<h1 mat-dialog-title>{{'USER.MFA.OTP_DIALOG_TITLE' | translate}}</h1>
<div mat-dialog-content>
    <p>{{'USER.MFA.OTP_DIALOG_DESCRIPTION' | translate}}</p>
    <div class="qrcode-wrapper">
        <qrcode *ngIf="data" class="qrcode" [qrdata]="data" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
    </div>

    <cnsl-form-field class="form-field" label="Access Code" required="true">
        <cnsl-label>Code</cnsl-label>
        <input cnslInput [(ngModel)]="code" />
    </cnsl-form-field>
</div>
<div mat-dialog-actions class="action">
    <button mat-button (click)="closeDialog()"><span translate>ACTIONS.CLOSE</span></button>
    <button mat-raised-button class="ok-button" color="primary" (click)="closeDialogWithCode()"><span
            translate>ACTIONS.OK</span>
    </button>
</div>
