<div *ngIf="features" class="tier card">
  <!-- <mat-icon class="icon">stars</mat-icon> -->
  <img class="logo dark" alt="zitadel logo"
                    src="../assets/images/zitadel-logo-solo-light-icon.svg" />
  <img alt="zitadel logo" class="logo light" src="../assets/images/zitadel-logo-solo-dark-icon.svg" />
  <div class="text" *ngIf="features.tier">
      <p class="title"><strong>{{features.tier.name}}</strong></p>
      <p>{{features.tier?.description}}</p>
      <p class="state" [ngClass]="{'active': features.tier.state == FeaturesState.FEATURES_STATE_ACTIVE}">{{'FEATURES.TIERSTATES.'+features.tier.state | translate}}</p>
      <p >{{features.tier?.statusInfo}}</p>
  </div>
  <span class="fill-space"></span>
  <!-- <a *ngIf="['features.write'] | hasRole | async" class="ext" href="https://zitadel.ch/pricing"
      target="_blank"><i class="las la-external-link-alt"></i></a> -->

  <button mat-raised-button color="primary" [routerLink]="['features']">{{'FEATURES.BTN-EDIT' | translate}}</button>
</div>