<div class="cnsl-top-view">
  <div class="max-width-container">
    <div class="cnsl-top-row">
      <div>
        <div class="cnsl-link-row">
          <a *ngIf="backRouterLink && hasBackButton" class="cnsl-link" [routerLink]="backRouterLink"
            [queryParams]="backQueryParams" mat-icon-button>
            <mat-icon class="icon">arrow_back</mat-icon>
          </a>
          <button *ngIf="!backRouterLink && hasBackButton" mat-icon-button (click)="backClick()">
            <mat-icon class="icon">arrow_back</mat-icon>
          </button>
          <div>
            <div class="cnsl-title-row">
              <h2 class="cnsl-title">{{title}}</h2>
              <div class="cnsl-state-dot" *ngIf="isActive || isInactive" [matTooltip]="stateTooltip"
                [ngClass]="{'active': isActive, 'inactive': isInactive }">
              </div>
            </div>
            <div class="cnsl-doc-row">
              <span class="cnsl-type" [innerHtml]="sub"></span>
              <a *ngIf="docLink" mat-icon-button [href]="docLink" rel="noreferrer" target="_blank">
                <i class="las la-info-circle"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <span class="fill-space"></span>

      <ng-container *ngIf="hasActions">
        <button class="cnsl-actions-trigger-desk cnsl-action-button" mat-raised-button color="primary"
          [matMenuTriggerFor]="actions">
          <span>{{'ACTIONS.ACTIONS' | translate}}</span>
          <mat-icon class="icon">keyboard_arrow_down</mat-icon>
        </button>
        <button class="cnsl-actions-trigger-mob" matTooltip="{{'ACTIONS.ACTIONS' | translate}}" mat-icon-button
          [matMenuTriggerFor]="actions">
          <i class="las la-ellipsis-v"></i>
        </button>

        <mat-menu #actions="matMenu" xPosition="before">
          <ng-content select="[topActions]"></ng-content>
        </mat-menu>
      </ng-container>

      <div class="mob-full-width">
        <ng-content select="[topContributors]"></ng-content>
      </div>
    </div>
    <ng-content select="[topContent]"></ng-content>
  </div>
</div>