.qrcode-wrapper {
  display: flex;
  align-content: center;

  .qrcode {
    margin: 1rem auto;
  }
}

.form-field {
  width: 100%;
  margin: 0;
}

.desc {
  display: flex;
  align-items: center;
  padding-top: 1rem;

  i {
    margin-right: 1rem;
  }

  p {
    color: var(--grey);
    font-size: 14px;
  }
}

.error {
  color: #f44336;
  font-size: 14px;
}

.action {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: .5rem;
    border-radius: .5rem;
  }
}
