
.table-header-row {
  display: flex;
  align-items: center;

  .col {
      display: flex;
      flex-direction: column;
      .desc {
          font-size: .8rem;
          color: #8795a1;
      }
      .count {
          font-size: 2rem;
      }
  }

  .fill-space {
      flex: 1;
  }

  .icon-button {
      margin-right: .5rem;
  }

  .add-button {
      border-radius: .5rem;
  }
}

.table-wrapper {
    overflow: auto;

    .spinner-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table, mat-paginator {
        width: 100%;
        background-color: #2d2e30;

        td, th {
            padding-left: .5rem;
            padding-right: .5rem;

            &:first-child {
                padding-left: 0;
                padding-right: .5rem;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .selection {
            width: 50px;
            max-width: 50px;
        }

        .role {
            display: inline-block;
            margin: .25rem;
        }
    }
}

.pointer {
    outline: none;
    cursor: pointer;
}

.no-roles {
    font-size: 14px;
    color: #8795a1;
}