.table-wrapper {
  overflow: auto;

  .table,
  .paginator {
    width: 100%;
    background-color: #2d2e30;

    td,
    th {
      padding-left: .5rem;
      padding-right: .5rem;

      &:first-child {
        padding-left: 0;
        padding-right: .5rem;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    th {
      .search-button {
        display: none;
      }

      &:hover,
      &.search-active {
        .search-button {
          display: inline-block;
        }
      }
    }

    .selection {
      width: 50px;
      max-width: 50px;
    }
  }
}

.no-roles {
  font-size: 13px;
  color: var(--grey);
}

.flex-row {
  display: flex;
  flex-direction: row;
  max-width: 400px;

  .role {
    display: flex;
    flex-direction: column;
    margin: .25rem;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-items: center;
    align-self: center;
  }

  .fill-space {
      flex: 1;
  }

  button {
    margin: .5rem 0;
    max-width: 120px;

    i {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
  }
}

.fill-space {
  flex: 1;
}

.filtername {
  margin-right: 1rem;
}
