.table-wrapper {
  overflow: auto;

  .table,
  .paginator {
    width: 100%;
    background-color: #2d2e30;

    td,
    th {
      padding-left: .5rem;
      padding-right: .5rem;

      &:first-child {
        padding-left: 0;
        padding-right: .5rem;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    th {
      .search-button {
        visibility: hidden;
        width: 30px;

        .icon {
          font-size: 1.2rem;
        }
      }

      &:hover,
      &.search-active {
        .search-button {
          visibility: visible;
        }
      }
    }
  }
}

.no-roles {
  font-size: 13px;
  color: var(--grey);
}

.flex-row {
  display: flex;
  flex-direction: row;
  max-width: 400px;

  .role {
    display: flex;
    flex-direction: column;
    margin: .25rem;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    justify-items: center;
    align-self: center;
  }

  .fill-space {
    flex: 1;
  }

  button {
    margin: .5rem 0;
    display: block;
    max-width: 120px;
    box-sizing: border-box;

    i {
      font-size: 1.2rem;
      margin-bottom: 5px;
    }
  }
}

.row-form {
  display: flex;
  align-items: center;

  .form-field {
    flex: 1;
  }
}

.fill-space {
  flex: 1;
}

.role-data {
  min-width: 180px;
}

.date-block {
  margin: .5rem 0;
  display: block;
  min-width: 120px;

  .date-sub {
    font-size: 13px;
    color: var(--grey);
    display: block;
  }
}

.filtername {
    flex: 1;
    margin-right: 1rem;
  
    .filterinput {
        height: 36px;
        transform: translateY(1px);
    }
}
