<app-refresh-table [loading]="dataSource?.loading$ | async" (refreshed)="changePage()"
    [emitRefreshOnPreviousRoute]="refreshOnPreviousRoute" [timestamp]="dataSource?.viewTimestamp"
    [dataSize]="dataSource?.totalResult" [selection]="selection">
    <button color="warn" matTooltip="{{'GRANTS.DELETE' | translate}}" class="icon-button" mat-icon-button actions
        (click)="deleteGrantSelection()" *ngIf="selection.hasValue() && disableDelete == false">
        <i class="las la-trash"></i>
    </button>
    <a *ngIf="disableWrite == false" matTooltip="{{'GRANTS.ADD' | translate}}" actions color="primary" color="primary"
        mat-raised-button [routerLink]="routerLink">
        <mat-icon class="icon">add</mat-icon>{{ 'GRANTS.ADD_BTN' | translate }}
    </a>

    <div class="table-wrapper">
        <table mat-table multiTemplateDataRows class="table" aria-label="Elements" [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th class="selection" mat-header-cell *matHeaderCellDef>
                    <mat-checkbox [disabled]="disableWrite" color="primary" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td class="selection" mat-cell *matCellDef="let row">
                    <mat-checkbox
                        [disabled]="disableWrite || !((['user.grant.write$'] | hasRole | async) || ((context === UserGrantContext.OWNED_PROJECT ? ['user.grant.write:' + row?.projectId] : context === UserGrantContext.GRANTED_PROJECT ? ['user.grant.write:' + row?.grantId] : []) | hasRole | async))"
                        color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        <app-avatar
                            *ngIf="context !== UserGrantContext.USER && row && row?.displayName && row.firstName && row.lastName"
                            class="avatar" [name]="row.displayName" [size]="32">
                        </app-avatar>
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.GRANT.USER' | translate }} </th>
                <td class="pointer" mat-cell *matCellDef="let grant">
                    {{grant?.displayName}}</td>
            </ng-container>

            <ng-container matColumnDef="org">
                <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.GRANT.GRANTEDORGDOMAIN' | translate }} </th>
                <td class="pointer" mat-cell *matCellDef="let grant">
                    {{grant.orgName}} </td>
            </ng-container>

            <ng-container matColumnDef="projectId">
                <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.GRANT.PROJECTNAME' | translate }} </th>
                <td class="pointer" mat-cell *matCellDef="let grant">
                    {{grant.projectName}} </td>
            </ng-container>

            <ng-container matColumnDef="creationDate">
                <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.GRANT.CREATIONDATE' | translate }} </th>
                <td class="pointer" mat-cell *matCellDef="let grant">
                    {{grant.creationDate | timestampToDate | localizedDate: 'dd. MMM, HH:mm' }} </td>
            </ng-container>

            <ng-container matColumnDef="changeDate">
                <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.GRANT.CHANGEDATE' | translate }} </th>
                <td class="pointer" mat-cell *matCellDef="let grant">
                    {{grant.changeDate | timestampToDate | localizedDate: 'dd. MMM, HH:mm' }} </td>
            </ng-container>

            <ng-container matColumnDef="roleNamesList">
                <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.GRANT.ROLENAMESLIST' | translate }} </th>
                <td mat-cell *matCellDef="let grant; let i = index">
                    <ng-container *ngIf="context === UserGrantContext.USER">
                        <!-- <span class="no-roles"
                            *ngIf="grant.roleKeysList?.length === 0">{{'PROJECT.GRANT.NOROLES' | translate}}</span>-->

                        <ng-container
                            *ngIf="(grant.grantId && loadedGrantId !== grant.grantId) || (loadedProjectId !== grant.projectId)">
                            <div class="flex-row">
                                <span class="role" *ngFor="let role of grant.roleKeysList">{{ role }}</span>
                                <button mat-stroked-button
                                    *ngIf="grant.grantId ? loadedGrantId !== grant.grantId : loadedProjectId !== grant.projectId"
                                    [disabled]="disableWrite || !((['user.grant.write$'] | hasRole | async) || ((context === UserGrantContext.OWNED_PROJECT ? ['user.grant.write:' + grant?.projectId] : context === UserGrantContext.GRANTED_PROJECT ? ['user.grant.write:' + grant?.grantId] : []) | hasRole | async))"
                                    (click)="grant.grantId ? getGrantRoleOptions(grant.grantId, grant.projectId) : getProjectRoleOptions(grant.projectId)"
                                    matTooltip="{{'ACTIONS.CHANGE' | translate}}">
                                    <i class="las la-edit"></i>
                                    {{'ACTIONS.EDIT' | translate}}
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>

                    <ng-container
                        *ngIf="context === UserGrantContext.OWNED_PROJECT || context === UserGrantContext.USER">
                        <mat-form-field class="form-field" appearance="outline"
                            *ngIf="loadedProjectId && loadedProjectId === grant.projectId">
                            <mat-label>{{ 'PROJECT.GRANT.ROLENAMESLIST' | translate }}</mat-label>
                            <mat-select [(ngModel)]="grant.roleKeysList" multiple
                                [disabled]="disableWrite || !((['user.grant.write$'] | hasRole | async) || ((context === UserGrantContext.OWNED_PROJECT ? ['user.grant.write:' + grant?.projectId] : context === UserGrantContext.GRANTED_PROJECT ? ['user.grant.write:' + grant?.grantId] : []) | hasRole | async))"
                                (selectionChange)="updateRoles(grant, $event)">
                                <mat-option *ngFor="let role of projectRoleOptions" [value]="role.key">
                                    {{role.key}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>

                    <ng-container
                        *ngIf="context === UserGrantContext.GRANTED_PROJECT || context === UserGrantContext.USER">
                        <mat-form-field class="form-field" appearance="outline"
                            *ngIf="loadedGrantId && loadedGrantId === grant.grantId">
                            <mat-label>{{ 'PROJECT.GRANT.ROLENAMESLIST' | translate }}</mat-label>
                            <mat-select [(ngModel)]="grant.roleKeysList" multiple
                                [disabled]="disableWrite || !((['user.grant.write$'] | hasRole | async) || ((context === UserGrantContext.OWNED_PROJECT ? ['user.grant.write:' + grant?.projectId] : context === UserGrantContext.GRANTED_PROJECT ? ['user.grant.write:' + grant?.grantId] : []) | hasRole | async))"
                                (selectionChange)="updateRoles(grant, $event)">
                                <mat-option *ngFor="let role of grantRoleOptions" [value]="role">
                                    {{role}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="highlight" mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator class="paginator" #paginator [length]="dataSource.totalResult" [pageSize]="INITIAL_PAGE_SIZE"
            [length]="dataSource.totalResult" [pageSizeOptions]="[2, 3, 25, 50, 100, 250]" (page)="changePage($event)">
        </mat-paginator>
    </div>
</app-refresh-table>