<div
  class="info-section-row"
  [ngClass]="{
    info: type === infoSectionType.INFO,
    warn: type === infoSectionType.WARN,
    alert: type === infoSectionType.ALERT,
    fit: fitWidth,
  }"
>
  <i *ngIf="type === infoSectionType.INFO" class="icon las la-info"></i>
  <i *ngIf="type === infoSectionType.WARN" class="icon las la-exclamation"></i>
  <i *ngIf="type === infoSectionType.ALERT" class="icon las la-exclamation"></i>

  <div class="info-section-content">
    <ng-content></ng-content>
  </div>
</div>
