@use '~@angular/material' as mat;

@mixin info-section-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary-color: mat.get-color-from-palette($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);

  .info-section-row {
    display: flex;
    border-radius: 4px;
    padding: .5rem 0;
    padding-right: 1rem;
    font-size: 14px;

    .icon {
      margin-right: 1rem;
      height: 1.2rem;
      line-height: 1.2rem;
      font-size: 1.2rem;
      margin-left: .5rem;
    }

    .info-section-content {
      flex: 1;
    }

    &.info {
      background-color: map-get($background, infosection);
      color: map-get($foreground, infosection);

      .icon {
        color: map-get($foreground, infosection);
      }
    }

    &.success {
      background-color: map-get($background, successinfosection);
      color: map-get($foreground, successinfosection);

      .icon {
        color: map-get($foreground, successinfosection);
      }
    }

    &.warn {
      background-color: map-get($background, warninfosection);
      color: map-get($foreground, warninfosection);

      .icon {
        color: map-get($foreground, warninfosection);
      }
    }
  }
}
