.subinfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: -1.5rem 0 0 0;

  .icon {
    font-size: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
  }
}

.actions-trigger-desk {
  margin-top: 0.25rem;
  display: none;
  align-items: center;

  @media only screen and (min-width: 700px) {
    display: flex;
  }

  .icon {
    margin-left: 0.25rem;
    margin-right: -0.5rem;
  }
}

.actions-trigger-mob {
  display: inline;

  @media only screen and (min-width: 700px) {
    display: none;
  }
}

.master-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;

  .left-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .row {
      max-width: 400px;
      display: flex;
      align-items: center;
      padding: 0.5rem 0;

      span {
        font-size: 0.9rem;
      }
    }
  }

  .fill-space {
    flex: 1;
  }
}

.grant-detail-roles {
  display: block;
  width: 100%;
  max-width: 400px;
}

.project-grant-h2 {
  margin-top: 1rem;
}
