.title {
    font-size: 1.2rem;
  }
  
  .desc {
      color: #81868a;
      font-size: .9rem;
  }

 .full-width {
     width: 100%;
 }
  
  .action {
    display: flex;
    justify-content: flex-end;
  
    .ok-button {
      margin-left: 0.5rem;
    }
  
    button {
      border-radius: 0.5rem;
    }
  }

  .flex {
      display: flex;
      align-items: center;
      padding: .5rem;
      border: 1px solid #ffffff20;
      border-radius: .5rem;

        .secret {
        overflow: auto;
        }
  }