  
  @mixin lgn-core($typography-config: null) {
    @include zitadel-lgn-typography($typography-config);
  }
  
  @mixin lgn-core-color($config-or-theme) {
    $config: lgn-get-color-config($config-or-theme);
    // Wrapper element that provides the theme background when the user's content isn't
    // inside of a `mat-sidenav-container`. Note that we need to exclude the ampersand
    // selector in case the mixin is included at the top level.
    .lgn-app-background#{if(&, ', &.lgn-app-background', '')} {
      $background: map-get($config, background);
      $foreground: map-get($config, foreground);
  
      background-color: lgn-color($background, background);
      color: lgn-color($foreground, text);
    }
  
    // Provides external CSS classes for each elevation value. Each CSS class is formatted as
    // `lgn-elevation-z$zValue` where `$zValue` corresponds to the z-space to which the element is
    // elevated.
    // @for $zValue from 0 through 24 {
    //   .#{$lgn-elevation-prefix}#{$zValue} {
    //     @include lgn-private-theme-elevation($zValue, $config);
    //   }
    // }
  
    // Marker that is used to determine whether the user has added a theme to their page.
    @at-root {
      .lgn-theme-loaded-marker {
        display: none;
      }
    }
  }

  // Mixin that renders all of the core styles that depend on the theme.
  @mixin lgn-core-theme($theme-or-color-config) {
    $theme: lgn-private-legacy-get-theme($theme-or-color-config);
    // Wrap the sub-theme includes in the duplicate theme styles mixin. This ensures that
    // there won't be multiple warnings. e.g. if `mat-core-theme` reports a warning, then
    // the imported themes (such as `mat-ripple-theme`) should not report again.
    // @include lgn-private-check-duplicate-theme-styles($theme, 'mat-core') {
    //   @include lgn-ripple-theme($theme);
  
      $color: lgn-get-color-config($theme);
      @if $color != null {
        @include lgn-core-color($color);
      }
    // }
  }