<div class="card" appOutsideClick (clickOutside)="closeCard($event)">
    <app-avatar *ngIf="profile && (profile.displayName || (profile.firstName && profile.lastName))" class="avatar"
        [name]="profile.displayName ? profile.displayName : (profile.firstName + ' '+ profile.lastName)" [size]="80">
    </app-avatar>

    <span class="u-name">{{profile?.firstName}} {{profile?.lastName}}</span>
    <span class="u-email">{{profile?.userName}}</span>
    <span class="iamuser" *ngIf="iamuser">IAM USER</span>

    <button (click)="editUserProfile()" mat-stroked-button>{{'USER.EDITACCOUNT' | translate}}</button>
    <div class="l-accounts">
        <mat-progress-bar *ngIf="loadingUsers" color="primary" mode="indeterminate"></mat-progress-bar>
        <a class="row" *ngFor="let user of users" (click)="selectAccount(user.userName)">
            <app-avatar *ngIf="user && user.displayName" class="small-avatar"
                [name]="user.displayName ? user.displayName : ''" [size]="32">
            </app-avatar>

            <div class="col">
                <span class="title">{{user.userName}}</span>
                <span class="email">{{'USER.STATE.'+user.authState | translate}}</span>
            </div>
            <span class="fill-space"></span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
        <a class="row" (click)="selectAccount()">
            <div class="icon-wrapper">
                <i class="las la-user-plus"></i>
            </div>
            <span class="col">
                <span class="title">{{'USER.ADDACCOUNT' | translate}}</span>
            </span>
            <span class="fill-space"></span>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
    </div>

    <button (click)="logout()" mat-stroked-button>{{'MENU.LOGOUT' | translate}}</button>
</div>