<form [formGroup]="machineForm" *ngIf="machineForm" (ngSubmit)="submitForm()">
    <div class="content">
        <mat-form-field class="formfield">
            <mat-label>{{ 'USER.MACHINE.USERNAME' | translate }}</mat-label>
            <input matInput formControlName="userName" required />
            <mat-error *ngIf="userName?.invalid && userName?.errors?.required">
                {{ 'USER.VALIDATION.REQUIRED' | translate }}
            </mat-error>
            <mat-error *ngIf="userName?.invalid && userName?.errors?.noEmailValidator">
                {{ 'USER.VALIDATION.NOEMAIL' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="formfield">
            <mat-label>{{ 'USER.MACHINE.NAME' | translate }}</mat-label>
            <input matInput formControlName="name" required />
            <mat-error *ngIf="name?.invalid && name?.errors?.required">
                {{ 'USER.VALIDATION.REQUIRED' | translate }}
            </mat-error>
        </mat-form-field>
        <mat-form-field class="formfield">
            <mat-label>{{ 'USER.MACHINE.DESCRIPTION' | translate }}</mat-label>
            <input matInput formControlName="description" />
        </mat-form-field>
    </div>
    <div class="btn-container">
        <button type="submit" color="primary" mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
    </div>
</form>