<form [formGroup]="machineForm" *ngIf="machineForm" (ngSubmit)="submitForm()">
    <div class="content">
        <cnsl-form-field class="formfield">
            <cnsl-label>{{ 'USER.MACHINE.USERNAME' | translate }}</cnsl-label>
            <input matInput formControlName="userName" required />
            <cnsl-error *ngIf="userName?.invalid && userName?.errors?.required">
                {{ 'USER.VALIDATION.REQUIRED' | translate }}
            </cnsl-error>
            <cnsl-error *ngIf="userName?.invalid && userName?.errors?.noEmailValidator">
                {{ 'USER.VALIDATION.NOEMAIL' | translate }}
            </cnsl-error>
        </cnsl-form-field>
        <cnsl-form-field class="formfield">
            <cnsl-label>{{ 'USER.MACHINE.NAME' | translate }}</cnsl-label>
            <input matInput formControlName="name" required />
            <cnsl-error *ngIf="name?.invalid && name?.errors?.required">
                {{ 'USER.VALIDATION.REQUIRED' | translate }}
            </cnsl-error>
        </cnsl-form-field>
        <cnsl-form-field class="formfield">
            <cnsl-label>{{ 'USER.MACHINE.DESCRIPTION' | translate }}</cnsl-label>
            <input matInput formControlName="description" />
        </cnsl-form-field>
    </div>
    <div class="btn-container">
        <button type="submit" color="primary" mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
    </div>
</form>