<form [formGroup]="machineForm" *ngIf="machineForm" (ngSubmit)="submitForm()">
  <div class="content">
    <cnsl-form-field class="formfield">
      <cnsl-label>{{ 'USER.MACHINE.USERNAME' | translate }}</cnsl-label>
      <input cnslInput formControlName="userName" required />
    </cnsl-form-field>
    <cnsl-form-field class="formfield">
      <cnsl-label>{{ 'USER.MACHINE.NAME' | translate }}</cnsl-label>
      <input cnslInput formControlName="name" required />
    </cnsl-form-field>
    <cnsl-form-field class="formfield">
      <cnsl-label>{{ 'USER.MACHINE.DESCRIPTION' | translate }}</cnsl-label>
      <input cnslInput formControlName="description" />
    </cnsl-form-field>
    <cnsl-form-field class="formfield">
      <cnsl-label>{{ 'USER.MACHINE.ACCESSTOKENTYPE' | translate }}</cnsl-label>
      <mat-select formControlName="accessTokenType" required>
        <mat-option *ngFor="let aTT of accessTokenTypes" [value]="aTT">
          {{ 'USER.MACHINE.ACCESSTOKENTYPES.' + aTT | translate }}
        </mat-option>
      </mat-select>
    </cnsl-form-field>
  </div>
  <div class="btn-container">
    <button type="submit" color="primary" mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
  </div>
</form>
