<div class="main-container">
  <ng-container *ngIf="authService.user | async as user">
    <cnsl-header
      [org]="org"
      [user]="user"
      [isDarkTheme]="componentCssClass === 'dark-theme'"
      (changedActiveOrg)="changedOrg($event)"
    ></cnsl-header>

    <cnsl-nav
      id="mainnav"
      class="nav"
      [ngClass]="{ shadow: yoffset > 60 }"
      [org]="org"
      [user]="user"
      [isDarkTheme]="componentCssClass === 'dark-theme'"
    ></cnsl-nav>
  </ng-container>

  <div class="router-container" [@routeAnimations]="prepareRoute(outlet)">
    <div class="outlet">
      <router-outlet class="outlet" #outlet="outlet"></router-outlet>
    </div>
  </div>
  <span class="fill-space"></span>
  <cnsl-footer></cnsl-footer>
</div>
