.title {
  font-size: 1.2rem;
  margin-top: 0;
}

.desc {
  color: rgb(201, 51, 71);
  font-size: .9rem;
}

.form-field {
  width: 100%;
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: .5rem;
  }
}

.row {
  display: flex;
  width: 100%;
  flex-direction: column;

  .left,
  .right {
    font-size: 14px;
    flex: 1 0 auto;
  }

  .left {
    color: var(--grey);
    margin-right: 1rem;
    margin-top: 0;
    margin-bottom: .5rem;
  }

  .right {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
  }
}

.download-button {
  margin-bottom: 1rem;
}
