.apicard {
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background: var(--card-background);
  padding: 1rem;
  text-decoration: none;
  transition: all .2 ease-in-out;
  margin: 1rem 0;
}

.apiauth {
  background: linear-gradient(40deg, #a9d9ca 30%, #b4d5cb);
}

.apimgmt {
  background: linear-gradient(40deg, #c6d7f3 30%, #c7c6e3);
}

.apiadmin {
  background: linear-gradient(40deg, #e4eaf1, #eef2f9);
}

.apiasset {
  background: linear-gradient(40deg, #e4eaf1, #eef2f9);
}

.apicard:hover {
  text-decoration: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

/* .apicard h2 {
  color: white;
}

.apicard a {
  color: #bfc1cc;
} */

.apicard h3, h4, h5 {
  /* color: white; */
  margin: 0.5rem 0 0 0;
}

.apicard p {
  font-size: 14px;
  margin: 0;
}

.fillspace {
  flex: 1;
}

.bottom {
  display: flex;
  align-items: center;
}

.bottomicon {
  width: 24px;
  margin-right: .5rem;
  color: var(--ifm-font-color-base);
}

.bottomspan {
  font-size: 12px;
  font-weight: 600;
  color: var(--ifm-font-color-base);
  text-transform: uppercase;
  margin: 0;
}
