.card {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  background: var(--card-background);
  padding: 1rem;
  text-decoration: none;
  transition: all 0.2 ease-in-out;
  border: 1px solid var(--card-border);
}

.card:hover {
  text-decoration: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card p {
  font-size: 14px;
  margin: 0;
  color: var(--ifm-font-color-base);
}

.cardimg {
  height: 100px;
  background-size: cover;
  object-fit: contain;
  background-position: center;
  padding: 0.5rem 0;
  pointer-events: none;
  box-shadow: none !important;
}

.fillspace {
  flex: 1;
}

.bottom {
  display: flex;
  align-items: center;
}

.bottomicon {
  width: 24px;
  margin-right: 0.5rem;
  color: var(--ifm-font-color-base);
}

.bottomspan {
  font-size: 12px;
  font-weight: 600;
  color: var(--ifm-font-color-base);
  text-transform: uppercase;
  margin: 0;
}

.cardWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

@media (min-width: 769px) {
  .cardWrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1180px) {
  .cardWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
