.column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.item {
  border-radius: 1rem;
  transition: all 0.2s ease;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.item:hover {
  border-radius: 1rem;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.12);
}

@media (min-width: 1180px) {
  .column {
    grid-template-columns: 1fr 1fr;
  }
}
