.tile {
  margin: 0.5rem;
  border-radius: 0.5rem;
  display: inline-block;
  flex-direction: column;
  min-width: 200px;
  max-width: 200px;
  background: var(--card-background);
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2 ease-in-out;
  border: 1px solid var(--card-border);
}

.tile h4 {
  margin-top: 0.5rem;
}

.tile:hover {
  text-decoration: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.tile p {
  font-size: 14px;
  margin: 0;
  color: var(--ifm-font-color-base);
}

.tile .tileimg {
  height: 60px;
  background-size: cover;
  object-fit: contain;
  background-position: center;
  pointer-events: none;
  box-shadow: none !important;
  margin: 0;
}
