.default {
  color: var(--color-main);
  margin-top: 0;
}

.spinner-wr {
  margin: .5rem 0;
}

.content {
  padding-top: 1rem;

  .row {
    .toggle {
      margin: .3rem 0;
    }

    p {
      margin-top: .5rem;
      font-size: 14px;
      color: var(--grey);
    }
  }
}

.save-button {
  margin-top: 3rem;
  display: block;
  padding: .5rem 4rem;
}

.idp-table-card {
  width: 100%;
}

.subheader {
  width: 100%;
}

.subdesc {
    color: var(--grey);
    font-size: 14px;
}

.idps {
  display: flex;
  margin: 0 -.5rem;

  .idp,
  .new-idp {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    min-height: 70px;
    min-width: 150px;

    .name {
      font-weight: 700;
    }

    span {
      padding: 2px;
    }

    .meta {
      font-size: 12px;
      color: var(--grey);
    }

    .rm {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-50%) translateY(-50%);
      cursor: pointer;

      &[disabled] {
        display: none;
      }
    }

    &:not(.disabled) {
      &:hover {
        background-color: #ffffff10;
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: scale-down;
    }
  }
}
