.spinner-wr {
  margin: 0.5rem 0;
}

.max-card-width {
  max-width: 400px;
  display: block;
}

.passwordless-allowed {
  max-width: 400px;
  display: block;
}

.login-policy-content {
  .login-policy-row {
    padding-bottom: 0.5rem;

    .login-policy-toggle {
      margin: 0.3rem 0;
    }

    .info {
      display: block;
    }
  }
}

.login-policy-btn-container {
  display: flex;
  justify-content: flex-start;

  .login-policy-save-button {
    display: block;
  }
}

.grid {
  display: block;
  margin-top: 100px;
}
