<!-- <cnsl-info-section *ngIf="isDefault"> {{ 'POLICY.DEFAULTLABEL' | translate }}</cnsl-info-section> -->

<div class="spinner-wr">
  <mat-spinner diameter="30" *ngIf="loading" color="primary"></mat-spinner>
</div>

<h2>{{ 'SETTINGS.LIST.LOGIN' | translate }}</h2>

<ng-container *ngIf="serviceType === PolicyComponentServiceType.MGMT && !isDefault">
  <ng-template cnslHasRole [hasRole]="['policy.delete']">
    <button
      color="primary"
      class="loginpolicy-reset-button"
      matTooltip="{{ 'POLICY.RESET' | translate }}"
      color="warn"
      (click)="removePolicy()"
      mat-stroked-button
    >
      {{ 'POLICY.RESET' | translate }}
    </button>
  </ng-template>
</ng-container>

<br />

<h3>{{ 'MFA.LIST.MULTIFACTORTITLE' | translate }}</h3>
<p class="cnsl-secondary-text">{{ 'MFA.LIST.MULTIFACTORDESCRIPTION' | translate }}</p>

<div class="login-policy-row" *ngIf="loginData">
  <cnsl-form-field class="passwordless-allowed" label="Access Code" required="true">
    <cnsl-label>{{ 'LOGINPOLICY.PASSWORDLESS' | translate }}</cnsl-label>
    <mat-select [(ngModel)]="loginData.passwordlessType">
      <mat-option *ngFor="let pt of passwordlessTypes" [value]="pt">
        {{ 'LOGINPOLICY.PASSWORDLESSTYPE.' + pt | translate }}
      </mat-option>
    </mat-select>
  </cnsl-form-field>
</div>

<cnsl-card class="max-card-width">
  <cnsl-mfa-table
    [service]="service"
    [serviceType]="serviceType"
    [componentType]="LoginMethodComponentType.MultiFactor"
    [disabled]="
      loginData?.passwordlessType === PasswordlessType.PASSWORDLESS_TYPE_NOT_ALLOWED ||
      ([
        serviceType === PolicyComponentServiceType.ADMIN
          ? 'iam.policy.write'
          : serviceType === PolicyComponentServiceType.MGMT
          ? 'policy.write'
          : ''
      ]
        | hasRole
        | async) === false
    "
  >
  </cnsl-mfa-table>
</cnsl-card>

<br />

<h3>{{ 'MFA.LIST.SECONDFACTORTITLE' | translate }}</h3>
<p class="cnsl-secondary-text">{{ 'MFA.LIST.SECONDFACTORDESCRIPTION' | translate }}</p>

<div *ngIf="loginData" class="login-policy-row">
  <mat-checkbox card-actions class="login-policy-toggle" color="primary" ngDefaultControl [(ngModel)]="loginData.forceMfa">
    {{ 'POLICY.DATA.FORCEMFA' | translate }}
  </mat-checkbox>
</div>
<cnsl-card class="max-card-width">
  <cnsl-mfa-table
    [service]="service"
    [serviceType]="serviceType"
    [componentType]="LoginMethodComponentType.SecondFactor"
    [disabled]="
      ([
        serviceType === PolicyComponentServiceType.ADMIN
          ? 'iam.policy.write'
          : serviceType === PolicyComponentServiceType.MGMT
          ? 'policy.write'
          : ''
      ]
        | hasRole
        | async) === false
    "
  >
  </cnsl-mfa-table>
</cnsl-card>

<br />

<h3>{{ 'POLICY.LOGIN_POLICY.LIFETIMEDURATIONS' | translate }}</h3>

<form class="lifetime-form" (ngSubmit)="savePolicy()" [formGroup]="lifetimeForm" autocomplete="off">
  <cnsl-form-field class="lifetime-form-field" label="Password Check Lifetime" required="true">
    <cnsl-label
      >{{ 'POLICY.DATA.PASSWORDCHECKLIFETIME' | translate }}&nbsp;<strong
        >({{ 'POLICY.DATA.INHOURS' | translate }})</strong
      ></cnsl-label
    >
    <input cnslInput type="number" name="passwordCheckLifetime" formControlName="passwordCheckLifetime" />
  </cnsl-form-field>

  <cnsl-form-field class="lifetime-form-field" label="external Login Check Lifetime" required="true">
    <cnsl-label
      >{{ 'POLICY.DATA.EXTERNALLOGINCHECKLIFETIME' | translate }}&nbsp;<strong
        >({{ 'POLICY.DATA.INHOURS' | translate }})</strong
      ></cnsl-label
    >
    <input cnslInput type="number" name="externalLoginCheckLifetime" formControlName="externalLoginCheckLifetime" />
  </cnsl-form-field>

  <cnsl-form-field class="lifetime-form-field" label="MFA Init Skip Lifetime" required="true">
    <cnsl-label
      >{{ 'POLICY.DATA.MFAINITSKIPLIFETIME' | translate }}&nbsp;<strong
        >({{ 'POLICY.DATA.INHOURS' | translate }})</strong
      ></cnsl-label
    >
    <input cnslInput type="number" name="mfaInitSkipLifetime" formControlName="mfaInitSkipLifetime" />
  </cnsl-form-field>

  <cnsl-form-field class="lifetime-form-field" label="Second Factor Check Lifetime" required="true">
    <cnsl-label
      >{{ 'POLICY.DATA.SECONDFACTORCHECKLIFETIME' | translate }}&nbsp;
      <strong>({{ 'POLICY.DATA.INHOURS' | translate }})</strong></cnsl-label
    >
    <input cnslInput type="number" name="secondFactorCheckLifetime" formControlName="secondFactorCheckLifetime" />
  </cnsl-form-field>

  <cnsl-form-field class="lifetime-form-field" label="Multi Factor Check Lifetime" required="true">
    <cnsl-label
      >{{ 'POLICY.DATA.MULTIFACTORCHECKLIFETIME' | translate }}&nbsp;
      <strong>({{ 'POLICY.DATA.INHOURS' | translate }})</strong></cnsl-label
    >
    <input cnslInput type="number" name="multiFactorCheckLifetime" formControlName="multiFactorCheckLifetime" />
  </cnsl-form-field>
</form>

<br />

<h3>{{ 'POLICY.LOGIN_POLICY.ADVANCED' | translate }}</h3>

<div class="max-card-width login-policy-content" *ngIf="loginData">
  <div class="login-policy-row">
    <mat-checkbox
      class="login-policy-toggle"
      color="primary"
      matTooltip="{{ 'POLICY.DATA.FORCEMFA_DESC' | translate }}"
      ngDefaultControl
      [(ngModel)]="loginData.allowUsernamePassword"
    >
      {{ 'POLICY.DATA.ALLOWUSERNAMEPASSWORD' | translate }}
    </mat-checkbox>

    <!-- <cnsl-info-section class="info">
      {{ 'POLICY.DATA.ALLOWUSERNAMEPASSWORD_DESC' | translate }}
    </cnsl-info-section> -->
  </div>
  <div class="login-policy-row">
    <mat-checkbox class="login-policy-toggle" color="primary" ngDefaultControl [(ngModel)]="loginData.allowRegister">
      {{ 'POLICY.DATA.ALLOWREGISTER' | translate }}
    </mat-checkbox>

    <!-- <ng-template #regInfo>
      <cnsl-info-section class="info">
        {{ 'POLICY.DATA.ALLOWREGISTER_DESC' | translate }}
      </cnsl-info-section>
    </ng-template> -->
  </div>
  <div class="login-policy-row">
    <mat-checkbox class="login-policy-toggle" color="primary" ngDefaultControl [(ngModel)]="loginData.allowExternalIdp">
      {{ 'POLICY.DATA.ALLOWEXTERNALIDP' | translate }}
    </mat-checkbox>

    <!-- <ng-template #idpInfo>
      <cnsl-info-section class="info">
        {{ 'POLICY.DATA.ALLOWEXTERNALIDP_DESC' | translate }}
      </cnsl-info-section>
    </ng-template> -->
  </div>

  <div class="login-policy-row">
    <mat-checkbox class="login-policy-toggle" color="primary" ngDefaultControl [(ngModel)]="loginData.hidePasswordReset">
      {{ 'POLICY.DATA.HIDEPASSWORDRESET' | translate }}
    </mat-checkbox>

    <!-- <ng-template #passwordResetInfo>
      <cnsl-info-section class="info">
        {{ 'POLICY.DATA.HIDEPASSWORDRESET_DESC' | translate }}
      </cnsl-info-section>
    </ng-template> -->
  </div>

  <div class="login-policy-row">
    <mat-checkbox
      class="login-policy-toggle"
      color="primary"
      ngDefaultControl
      [(ngModel)]="loginData.ignoreUnknownUsernames"
    >
      {{ 'POLICY.DATA.IGNOREUNKNOWNUSERNAMES' | translate }}
    </mat-checkbox>
  </div>

  <div class="login-policy-row">
    <cnsl-form-field class="form-field" label="Access Code" required="true">
      <cnsl-label>{{ 'POLICY.DATA.DEFAULTREDIRECTURI' | translate }}</cnsl-label>
      <input cnslInput placeholder="https://" [(ngModel)]="loginData.defaultRedirectUri" />
    </cnsl-form-field>
  </div>
</div>

<br />

<div class="login-policy-btn-container">
  <button class="login-policy-save-button" (click)="savePolicy()" color="primary" type="submit" mat-raised-button>
    {{ 'ACTIONS.SAVE' | translate }}
  </button>
</div>
