.default {
  color: var(--color-main);
  margin-top: 0;
}

.spinner-wr {
  margin: .5rem 0;
}

.content {
  padding-top: 1rem;

  .row {
    padding-bottom: 1.5rem;

    .toggle {
      margin: .3rem 0;
    }

    .info {
      display: block;
    }
  }
}

.save-button {
  margin-bottom: 3rem;
  float: right;
  display: block;
}

.idp-table-card {
  width: 100%;
}

.subheader {
  width: 100%;
}

.subdesc {
  color: var(--grey);
  font-size: 14px;
}

.idps {
  display: flex;
  margin: 0 -.5rem;

  .idp {
    background-color: #506e6e;
    color: white;

    .line {
      display: flex;
      align-items: center;

      img {
        height: 30px;
        width: 30px;
        margin-right: 1rem;
        border-radius: .5rem;
        object-fit: contain;
      }

      div {
        flex: 1;
        display: block;

        * {
          display: block;
        }
      }
    }
  }

  .idp,
  .new-idp {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: 10px;
    border: 1px solid var(--grey);
    border-radius: .5rem;
    cursor: pointer;
    position: relative;
    min-height: 70px;
    min-width: 150px;

    .name {
      font-weight: 700;
    }

    span {
      padding: 2px;
    }

    .rm {
      color: #f44336;
      position: absolute;
      display: none;
      top: -2px;
      transition: all .2s ease;
      left: -2px;
      transform: translateX(-50%) translateY(-50%);
      cursor: pointer;

      &[disabled] {
        display: none;
      }
    }

    &:not(.disabled) {
      &:hover {
        .rm {
          display: block;
        }
      }
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: scale-down;
    }
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(var(--grey), .5);
  margin: 1rem 0;
}

.grid {
  display: block;
  margin-top: 100px;
}
