.spinner-wr {
  margin: 0.5rem 0;
}

.policy-applied-to {
  margin: -1rem 0 0 0;
  font-size: 14px;
}

.content {
  padding-top: 1rem;

  .row {
    padding-bottom: 1.5rem;

    .toggle {
      margin: 0.3rem 0;
    }

    .info {
      display: block;
    }
  }
}

.save-button {
  margin-bottom: 3rem;
  float: right;
  display: block;
}

.idp-table-card {
  width: 100%;
}

.subheader {
  width: 100%;
}

.subdesc {
  color: var(--grey);
  font-size: 14px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(var(--grey), 0.5);
  margin: 1rem 0;
}

.grid {
  display: block;
  margin-top: 100px;
}
