.spinner-wr {
  margin: 0.5rem 0;
}

.max-card-width {
  max-width: 400px;
  display: block;
}

.passwordless-allowed {
  max-width: 400px;
  display: block;
}

.lifetime-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1rem;

  @media only screen and (max-width: 950px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.login-policy-content {
  .login-policy-row {
    padding-bottom: 0.5rem;

    .login-policy-toggle {
      margin: 0.3rem 0;
    }

    .info {
      display: block;
    }
  }
}

.loginpolicy-reset-button {
  margin: 1rem 0;
  display: block;
}

.login-policy-btn-container {
  display: flex;
  justify-content: flex-start;

  .login-policy-save-button {
    display: block;
  }
}

.grid {
  display: block;
  margin-top: 100px;
}
