<div class="groups">
    <span class="header">{{ 'PROJECT.MEMBER.TITLE' | translate }}</span>
    <span class="sub-header">{{ 'PROJECT.MEMBER.TITLEDESC' | translate }}</span>
    <div class="people">
        <div class="img-list">
            <ng-container *ngIf="totalResult < 10; else compact">
                <ng-container *ngFor="let member of membersSubject | async">
                    <div (click)="showDetail()" class="avatar-circle"
                        matTooltip="{{ member.email }} | {{member.rolesList?.join(' ')}}">
                        <app-avatar
                            *ngIf="member && (member.displayName || (member.firstName && member.lastName)); else thumbavatar"
                            class="avatar dontcloseonclick"
                            [name]="member.displayName ? member.displayName : (member.firstName + ' '+ member.lastName)"
                            [size]="32">
                        </app-avatar>
                        <ng-template #thumbavatar>
                            <i class="avatar las la-tools"></i>
                        </ng-template>
                    </div>
                </ng-container>
            </ng-container>
            <ng-template #compact>
                <div (click)="showDetail()" class="avatar-circle" matTooltip="Click to show detail">
                    <span>{{totalResult}}</span>
                </div>
            </ng-template>
            <button class="add-img" (click)="openAddMember()"
                [disabled]="project?.state !== ProjectState.PROJECTSTATE_ACTIVE" mat-icon-button
                aria-label="Edit contributors">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>