@use '~@angular/material' as mat;


.radio-button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
  padding-bottom: .5rem;
  padding-top: 1rem;
}

@mixin app-auth-method-radio-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat.get-color-from-palette($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);

  input[type="radio"] {
    appearance: none;
    opacity: 0;
    display: none;
  }

  input:checked + label {
    border-color: if($is-dark-theme, white, var(--grey));

    .cnsl-radio-header span {
      color: if($is-dark-theme, white, white);
    }
  }

  .cnsl-radio-button {
    margin: .5rem;
    border-radius: .5rem;
    border: 1px solid if($is-dark-theme, var(--grey), white);
    display: flex;
    flex-direction: column;
    flex: 0 1 230px;
    cursor: pointer;
    position: relative;
    padding-bottom: 1rem;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);

    &.first {
      margin-left: 0;
    }

    &.last {
      margin-right: 0;
    }

    .recommended {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateY(50%) translateX(-50%);
      border-radius: 50vw;
      font-size: 11px;
      background: white;
      color: black;
      padding: 3px 1rem;
      box-shadow: 0 0 6px rgb(0 0 0 / 10%);
      white-space: nowrap;

      &.not {
        background: rgb(144 75 75);
        color: white;
      }
    }

    .cnsl-radio-header {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: rgb(80, 110, 110);
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      position: relative;

      .current {
        position: absolute;
        bottom: .5rem;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        color: #ffffff60;
        white-space: nowrap;
        font-size: 12px;
      }

      span {
        margin: 2rem;
        font-size: 30px;
        color: if($is-dark-theme, #21222450, #ffffff50);
      }
    }

    p {
      text-align: center;
      padding: 0 1rem;
    }

    .type-desc {
      font-size: 14px;
      color: var(--grey);
    }

    .fill-space {
      flex: 1;
    }

    .app-specs {
      display: block;
      padding: 1rem 0;
      margin: 0 1rem;

      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        color: var(--grey);
        margin: 3px 0;

        span {
          white-space: nowrap;
        }

        :first-child {
          margin-right: 1rem;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
