<div class="auth-method-radio-button-wrapper" [ngClass]="{ compact: compact }">
  @for (method of authMethods; track method; let i = $index) {
    <input
      type="radio"
      [disabled]="method.disabled"
      (change)="emitChange()"
      [value]="method.key"
      [id]="method.key"
      [(ngModel)]="selected"
      />
    <label
      class="cnsl-radio-button"
      [ngClass]="{ compact: compact, first: i === 0, last: i === authMethods.length - 1 }"
      [for]="method.key"
      >
      @if (method.recommended || method.notRecommended) {
        <div
          class="recommended"
          [ngClass]="{ not: method.notRecommended }"
          >
          {{ (method.recommended ? 'APP.OIDC.RECOMMENDED' : 'APP.OIDC.NOTRECOMMENDED') | translate }}
        </div>
      }
      <div class="cnsl-radio-header" [ngStyle]="{ background: method.background }">
        <span>{{ method.prefix }}</span>
        @if (current === method.key) {
          <div class="current">{{ 'APP.OIDC.CURRENT' | translate }}</div>
        }
      </div>
      <p>{{ method.titleI18nKey | translate }}</p>
      <p class="type-desc cnsl-secondary-text">{{ method.descI18nKey | translate }}</p>
      <span class="fill-space"></span>
      <div class="app-specs cnsl-secondary-text">
        @if (isOIDC && method && method.responseType !== undefined) {
          <div class="row">
            <span class="row-entry">{{ 'APP.OIDC.RESPONSETYPE' | translate }}</span>
            <span>{{ 'APP.OIDC.RESPONSE.' + method.responseType.toString() | translate }}</span>
          </div>
        }
        @if (isOIDC && method.grantType !== undefined) {
          <div class="row">
            <span class="row-entry">{{ 'APP.GRANT' | translate }}</span>
            <span
              >@for (grant of method.grantType; track grant) {
              <span class="space">{{
                'APP.OIDC.GRANT.' + grant.toString() | translate
              }}</span>
              }</span
              >
            </div>
          }
          @if (isOIDC && method.authMethod !== undefined) {
            <div class="row">
              <span class="row-entry">{{ 'APP.AUTHMETHOD' | translate }}</span>
              <span>{{ 'APP.OIDC.AUTHMETHOD.' + method.authMethod.toString() | translate }}</span>
            </div>
          }
          @if (!isOIDC && method.apiAuthMethod !== undefined) {
            <div class="row">
              <span class="row-entry">{{ 'APP.AUTHMETHOD' | translate }}</span>
              <span>{{ 'APP.API.AUTHMETHOD.' + method.apiAuthMethod.toString() | translate }}</span>
            </div>
          }
        </div>
      </label>
    }
  </div>
