<div class="radio-button-wrapper">
    <ng-container *ngFor="let method of authMethods; index as i">
        <input type="radio" [disabled]="method.disabled" (change)="emitChange()" [value]="method.key" [id]="method.key"
            [(ngModel)]="selected" />
        <label class="cnsl-radio-button" [ngClass]="{'first': i == 0, 'last': i == authMethods.length - 1}"
            [for]="method.key">
            <div class="recommended" [ngClass]="{'not': method.notRecommended}"
                *ngIf="method.recommended || method.notRecommended">
                {{(method.recommended ?
                'APP.OIDC.RECOMMENDED' : 'APP.OIDC.NOTRECOMMENDED') | translate }}</div>

            <div class="cnsl-radio-header" [ngStyle]="{'background': method.background}">
                <span>{{method.prefix}}</span>
                <div class="current" *ngIf="current == method.key">{{'APP.OIDC.CURRENT' | translate}}</div>
            </div>
            <p>{{method.titleI18nKey | translate}}</p>
            <p class="type-desc">{{method.descI18nKey | translate}}</p>
            <span class="fill-space"></span>
            <div class="app-specs">
                <div class="row" *ngIf="method && method.responseType != undefined">
                    <span>{{'APP.OIDC.RESPONSETYPE' | translate}}</span>
                    <span>{{('APP.OIDC.RESPONSE.'+method.responseType.toString()) | translate}}</span>
                </div>
                <div class="row" *ngIf="method.grantType != undefined">
                    <span>{{'APP.GRANT' | translate}}</span>
                    <span>{{('APP.OIDC.GRANT.'+method.grantType.toString()) | translate}}</span>
                </div>
                <div class="row" *ngIf="method.authMethod != undefined">
                    <span>{{'APP.AUTHMETHOD' | translate}}</span>
                    <span>{{('APP.OIDC.AUTHMETHOD.'+method.authMethod.toString()) | translate}}</span>
                </div>
                <div class="row" *ngIf="method.apiAuthMethod != undefined">
                    <span>{{'APP.AUTHMETHOD' | translate}}</span>
                    <span>{{('APP.API.AUTHMETHOD.'+method.apiAuthMethod.toString()) | translate}}</span>
                </div>
            </div>
        </label>
    </ng-container>
</div>