<div class="max-width-container">
    <div class="container">
        <div class="left">
            <a [routerLink]="[ '/org']" mat-icon-button>
                <mat-icon class="icon">arrow_back</mat-icon>
            </a>
        </div>
        <div class="right">
            <div class="head">
                <h1 *ngIf="(titleSub | async) || '' as titletrans">{{ titletrans | translate }}</h1>

                <p class="desc" *ngIf="(descSub | async) || '' as desctrans">{{ desctrans | translate }}</p>
            </div>

            <div>
                <div class="content" *ngIf="policyType === PolicyComponentType?.LOCKOUT">
                    <mat-form-field class="description-formfield" appearance="outline">
                        <mat-label>{{ 'ORG.POLICY.DATA.DESCRIPTION' | translate }}</mat-label>
                        <input matInput name="description" ngDefaultControl [(ngModel)]="lockoutData.description"
                            required />
                    </mat-form-field>
                    <div class="row">
                        <span class="left-desc">{{'ORG.POLICY.DATA.MAXATTEMPTS' | translate}}</span>
                        <span class="fill-space"></span>
                        <div class="length-wrapper">
                            <button mat-icon-button (click)="incrementMaxAttempts()">
                                <mat-icon>add</mat-icon>
                            </button>
                            <span>{{lockoutData?.maxAttempts}}</span>
                            <button mat-icon-button (click)="decrementMaxAttempts()">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="left-desc">{{'ORG.POLICY.DATA.SHOWLOCKOUTFAILURES' | translate}}</span>
                        <span class="fill-space"></span>
                        <mat-slide-toggle name="showLockOutFailures" ngDefaultControl
                            [(ngModel)]="complexityData.showLockOutFailures">
                        </mat-slide-toggle>
                    </div>
                </div>

                <div *ngIf="policyType === PolicyComponentType?.COMPLEXITY" class="content">
                    <mat-form-field class="description-formfield" appearance="outline">
                        <mat-label>{{ 'ORG.POLICY.DATA.DESCRIPTION' | translate }}</mat-label>
                        <input matInput name="description" ngDefaultControl [(ngModel)]="complexityData.description"
                            required />
                    </mat-form-field>
                    <div class="row">
                        <span class="left-desc">{{'ORG.POLICY.DATA.MINLENGTH' | translate}}</span>
                        <span class="fill-space"></span>
                        <div class="length-wrapper">
                            <button mat-icon-button (click)="decrementLength()">
                                <mat-icon>remove</mat-icon>
                            </button>
                            <span>{{complexityData?.minLength}}</span>
                            <button mat-icon-button (click)="incrementLength()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <span class="left-desc">{{'ORG.POLICY.DATA.HASNUMBER' | translate}}</span>
                        <span class="fill-space"></span>
                        <mat-slide-toggle name="hasNumber" ngDefaultControl [(ngModel)]="complexityData.hasNumber">
                        </mat-slide-toggle>
                    </div>
                    <div class="row">
                        <span class="left-desc">{{'ORG.POLICY.DATA.HASSYMBOL' | translate}}</span>
                        <span class="fill-space"></span>
                        <mat-slide-toggle name="hasSymbol" ngDefaultControl [(ngModel)]="complexityData.hasSymbol">
                        </mat-slide-toggle>
                    </div>
                    <div class="row">
                        <span class="left-desc">{{'ORG.POLICY.DATA.HASLOWERCASE' | translate}}</span>
                        <span class="fill-space"></span>
                        <mat-slide-toggle name="hasLowercase" ngDefaultControl
                            [(ngModel)]="complexityData.hasLowercase">
                        </mat-slide-toggle>
                    </div>
                    <div class="row">
                        <span class="left-desc">{{'ORG.POLICY.DATA.HASUPPERCASE' | translate}}</span>
                        <span class="fill-space"></span>
                        <mat-slide-toggle name="hasUppercase" ngDefaultControl
                            [(ngModel)]="complexityData.hasUppercase">
                        </mat-slide-toggle>
                    </div>
                </div>

                <div class="content" *ngIf="policyType === PolicyComponentType?.AGE">
                    <mat-form-field class="description-formfield" appearance="outline">
                        <mat-label>{{ 'ORG.POLICY.DATA.DESCRIPTION' | translate }}</mat-label>
                        <input matInput name="description" ngDefaultControl [(ngModel)]="ageData.description"
                            required />
                    </mat-form-field>
                    <div class="row">
                        <span class="left-desc">{{'ORG.POLICY.DATA.EXPIREWARNDAYS' | translate}}</span>
                        <span class="fill-space"></span>
                        <div class="length-wrapper">
                            <button mat-icon-button (click)="incrementExpireWarnDays()">
                                <mat-icon>add</mat-icon>
                            </button>
                            <span>{{ageData?.expireWarnDays}}</span>
                            <button mat-icon-button (click)="decrementExpireWarnDays()">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <span class="left-desc">{{'ORG.POLICY.DATA.MAXAGEDAYS' | translate}}</span>
                        <span class="fill-space"></span>
                        <div class="length-wrapper">
                            <button mat-icon-button (click)="incrementMaxAgeDays()">
                                <mat-icon>add</mat-icon>
                            </button>
                            <span>{{ageData?.maxAgeDays}}</span>
                            <button mat-icon-button (click)="decrementMaxAgeDays()">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="btn-container">
                    <button (click)="savePolicy()" color="accent" type="submit"
                        mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
                </div>
            </div>
        </div>
    </div>
</div>