<app-meta-layout>
    <div *ngIf="user" class="max-width-container">
        <div class="head">
            <a (click)="navigateBack()" mat-icon-button>
                <mat-icon class="icon">arrow_back</mat-icon>
            </a>
            <h1>{{ 'USER.PROFILE.TITLE' | translate }} {{user?.displayName}}</h1>

            <p class="desc">{{ 'USER.PROFILE.DESCRIPTION' | translate }}</p>
        </div>

        <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

        <span *ngIf="!loading && !user">{{ 'USER.PAGES.NOUSER' | translate }}</span>

        <ng-template appHasRole [appHasRole]="['user.read', 'user.read:'+user?.id]">
            <app-card title="{{ 'USER.PROFILE.TITLE' | translate }}"
                description="{{'USER.PROFILE.DESCRIPTION' | translate}}">
                <app-detail-form
                    *ngIf="((authUserService.isAllowed(['user.write:' + user?.id, 'user.write']) | async) || false) as canwrite"
                    [disabled]="canwrite" [genders]="genders" [languages]="languages" [profile]="user"
                    (submitData)="saveProfile($event)">
                </app-detail-form>
            </app-card>
        </ng-template>

        <app-card title="{{'USER.PASSWORD.TITLE' | translate}}"
            description="{{'USER.PASSWORD.DESCRIPTION' | translate}}">
            <card-actions class="card-actions">
                <button *ngIf="user.state === UserState.USERSTATE_INITIAL" mat-stroked-button color="primary"
                    (click)="sendSetPasswordNotification()">{{ 'USER.PASSWORD.RESENDNOTIFICATION' | translate }}</button>
            </card-actions>
            <form *ngIf="passwordForm" autocomplete="new-password" [formGroup]="passwordForm"
                (ngSubmit)="setInitialPassword()">
                <div class="content center">
                    <mat-form-field class="formfield">
                        <mat-label>{{ 'USER.PASSWORD.NEW' | translate }}</mat-label>
                        <input autocomplete="off" name="password" matInput formControlName="password" type="password" />

                        <mat-error *ngIf="password?.errors?.required">
                            {{ 'USER.VALIDATION.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error *ngIf="password?.errors?.symbolValidator">
                            {{ 'USER.VALIDATION.SYMBOLERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="password?.errors?.numberValidator">
                            {{ 'USER.VALIDATION.NUMBERERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="password?.errors?.upperCaseValidator">
                            {{ 'USER.VALIDATION.UPPERCASEMISSING' | translate }}
                        </mat-error>
                        <mat-error *ngIf="password?.errors?.lowerCaseValidator">
                            {{ 'USER.VALIDATION.LOWERCASEMISSING' | translate }}
                        </mat-error>
                        <mat-error *ngIf="password?.errors?.minlength">
                            {{ 'USER.VALIDATION.MINLENGTH' | translate:password?.errors?.minlength }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="formfield">
                        <mat-label>{{ 'USER.PASSWORD.CONFIRM' | translate }}</mat-label>
                        <input autocomplete="off" name="passwordRepeat" matInput formControlName="confirmPassword"
                            type="password" />

                        <mat-error *ngIf="confirmPassword?.errors?.required">
                            {{ 'USER.VALIDATION.REQUIRED' | translate }}
                        </mat-error>
                        <mat-error *ngIf="confirmPassword?.errors?.symbolValidator">
                            {{ 'USER.VALIDATION.SYMBOLERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="confirmPassword?.errors?.numberValidator">
                            {{ 'USER.VALIDATION.NUMBERERROR' | translate }}
                        </mat-error>
                        <mat-error *ngIf="confirmPassword?.errors?.notequal">
                            {{ 'USER.PASSWORD.NOTEQUAL' | translate }}
                        </mat-error>
                        <mat-error *ngIf="confirmPassword?.errors?.upperCaseValidator">
                            {{ 'USER.VALIDATION.UPPERCASEMISSING' | translate }}
                        </mat-error>
                        <mat-error *ngIf="confirmPassword?.errors?.lowerCaseValidator">
                            {{ 'USER.VALIDATION.LOWERCASEMISSING' | translate }}
                        </mat-error>
                        <mat-error *ngIf="confirmPassword?.errors?.minlength">
                            {{ 'USER.VALIDATION.MINLENGTH' | translate:confirmPassword?.errors?.minlength }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="btn-container">
                    <button [disabled]="passwordForm.invalid" mat-raised-button
                        color="primary">{{ 'USER.PASSWORD.SET' | translate }}</button>
                </div>
            </form>
        </app-card>

        <app-card title="{{ 'USER.LOGINMETHODS.TITLE' | translate }}"
            description="{{ 'USER.LOGINMETHODS.DESCRIPTION' | translate }}">
            <div class="method-col">
                <div class="method-row">
                    <span class="label">{{ 'USER.EMAIL' | translate }}</span>

                    <ng-container *ngIf="!emailEditState; else emailEdit">
                        <div class="actions">
                            <span class="name">{{user?.email}}</span>
                            <mat-icon *ngIf="user?.isEmailVerified" color="primary" aria-hidden="false"
                                aria-label="verified icon">
                                check_circle_outline</mat-icon>
                            <ng-container *ngIf="user?.email && !user?.isEmailVerified">
                                <mat-icon color="warn" aria-hidden="false" aria-label="not verified icon">highlight_off
                                </mat-icon>
                                <a class="verify" matTooltip="{{'USER.LOGINMETHODS.EMAIL.RESEND' | translate}}"
                                    (click)="resendVerification()">{{'USER.LOGINMETHODS.RESENDCODE' | translate}}</a>
                            </ng-container>
                        </div>

                        <div class="actions">
                            <button (click)="emailEditState = true" mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                    <ng-template #emailEdit>
                        <mat-form-field class="name">
                            <mat-label>{{ 'USER.EMAIL' | translate }}</mat-label>
                            <input matInput [(ngModel)]="user.email" />
                        </mat-form-field>
                        <button (click)="emailEditState = false" mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                        <button [disabled]="!user.email" class="submit-button" type="button" color="primary"
                            (click)="saveEmail()" mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
                    </ng-template>
                </div>

                <div class="method-row">
                    <span class="label">{{ 'USER.PHONE' | translate }}</span>

                    <ng-container *ngIf="!phoneEditState; else phoneEdit">
                        <div class="actions">
                            <span class="name">{{user?.phone}}</span>
                            <mat-icon *ngIf="user?.isPhoneVerified" color="primary" aria-hidden="false"
                                aria-label="verified icon">
                                check_circle_outline</mat-icon>
                            <ng-container *ngIf="user?.phone && !user?.isPhoneVerified">
                                <mat-icon color="warn" aria-hidden="false" aria-label="not verified icon">highlight_off
                                </mat-icon>
                                <a class="verify" matTooltip="{{'USER.LOGINMETHODS.PHONE.RESEND' | translate}}"
                                    (click)="resendPhoneVerification()">{{'USER.LOGINMETHODS.RESENDCODE' | translate}}</a>
                            </ng-container>
                        </div>

                        <div class="actions">
                            <button (click)="phoneEditState = true" mat-icon-button>
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                    </ng-container>

                    <ng-template #phoneEdit>
                        <mat-form-field class="name">
                            <mat-label>{{ 'USER.PHONE' | translate }}</mat-label>
                            <input matInput [(ngModel)]="user.phone" />
                        </mat-form-field>
                        <button (click)="phoneEditState = false" mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                        <button [disabled]="!user.phone" type="button" color="primary" (click)="savePhone()"
                            mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
                    </ng-template>
                </div>
            </div>
        </app-card>

        <app-user-mfa *ngIf="user" [user]="user"></app-user-mfa>

        <app-card *ngIf="user?.id" title="{{ 'GRANTS.USER.TITLE' | translate }}"
            description="{{'GRANTS.USER.DESCRIPTION' | translate }}">
            <app-user-grants [filterValue]="user?.id" [allowCreate]="['user.grant.write'] | hasRole"
                [allowDelete]="['user.grant.delete'] | hasRole"></app-user-grants>
        </app-card>
    </div>

    <metainfo *ngIf="user" class="side">
        <div class="details">
            <div class="row" *ngIf="user?.loginNamesList">
                <span class="first">Login Names:</span>
                <span class="second"><span style="display: block;"
                        *ngFor="let login of user?.loginNamesList">{{login}}</span></span>
            </div>
        </div>

        <app-changes [changeType]="ChangeType.USER" [id]="user.id"></app-changes>
    </metainfo>
</app-meta-layout>