.abort-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  .abort {
    font-size: 1.2rem;
    margin-left: 2rem;
  }

  .abort-2 {
    font-size: 1.2rem;
    margin-left: 2rem;
    white-space: nowrap;
  }
}

.machine-create-main-content {
  padding-left: 4.5rem;
  max-width: 35rem;

  .machine-create-form {
    width: 100%;
    padding-top: 1rem;

    .machine-btn-container {
      button {
        margin-top: 3rem;
        display: block;
        padding: 0.5rem 4rem;
        border-radius: 0.5rem;
      }
    }
  }

  .machine-create-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 -0.5rem;

    .section {
      padding: 0.5rem;
      flex-basis: 100%;
      color: var(--grey);
      font-size: 0.9rem;
    }

    .formfield {
      flex: 1 0 33%;
      margin: 0 0.5rem;
    }
  }
}
