<app-detail-layout [backRouterLink]="[ '/users/list/machines']" title="{{ 'USER.CREATE.TITLE' | translate }}"
    description="{{ 'USER.CREATE.DESCRIPTION' | translate }}">
    <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

    <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="createUser()" class="form">
        <div class="content">
            <cnsl-form-field class="formfield">
                <cnsl-label>{{ 'USER.MACHINE.USERNAME' | translate }}</cnsl-label>
                <input cnslInput formControlName="userName" required />
                <span cnsl-error *ngIf="userName?.invalid && userName?.errors?.required">
                    {{ 'USER.VALIDATION.REQUIRED' | translate }}asdf
                </span>
                <span cnsl-error *ngIf="userName?.invalid && userName?.errors?.noEmailValidator">
                    {{ 'USER.VALIDATION.NOEMAIL' | translate }}ökl
                </span>
            </cnsl-form-field>
            <cnsl-form-field class="formfield">
                <cnsl-label>{{ 'USER.MACHINE.NAME' | translate }}</cnsl-label>
                <input cnslInput formControlName="name" required />
                <span cnsl-error *ngIf="name?.invalid && name?.errors?.required">
                    {{ 'USER.VALIDATION.REQUIRED' | translate }}ölkj
                </span>
            </cnsl-form-field>
            <cnsl-form-field class="formfield">
                <cnsl-label>{{ 'USER.MACHINE.DESCRIPTION' | translate }}</cnsl-label>
                <input cnslInput formControlName="description" />
            </cnsl-form-field>
        </div>
        <div class="btn-container">
            <button color="primary" [disabled]="userForm.invalid" type="submit" mat-raised-button>{{ 'ACTIONS.CREATE' |
                translate }}</button>
        </div>
    </form>
</app-detail-layout>