<h2>{{ 'SETTING.LANGUAGES.TITLE' | translate }}</h2>

<div class="spinner-wr">
  <mat-spinner diameter="30" *ngIf="loading" color="primary"></mat-spinner>
</div>

<div>
    <form class="form-content">
        <div
          class="languages-container"
          cdkDropList
          id="allowed"
          [cdkDropListConnectedTo]="['notallowed']"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListData]="(localState$ | async)!.allowed"

        >
          <cnsl-label>{{ 'SETTING.LANGUAGES.ALLOWED' | translate }}</cnsl-label>
          <div class="languages-list">
              <mat-action-list
                [disabled]="(['iam.restrictions.write'] | hasRole | async) === false"
                *ngFor="let lang of (localState$ | async)!.allowed"
                name="allowed"
                class="language-box"
                [cdkDragData]="lang"
                cdkDrag>
                <mat-radio-button mat-list-item color="primary" [checked]="(localState$ | async)!.defaultLang == lang" (change)="setLocalDefaultLang(lang)">
                  {{ lang }} - {{ 'SETTING.LANGUAGES.OPTIONS.' + lang | translate }}{{ lang == (localState$ | async)!.defaultLang ? ' (' + ( 'SETTING.LANGUAGES.DEFAULT' | translate ) + ')' : '' | translate }}
                </mat-radio-button>
              </mat-action-list>
          </div>
        </div>
           <div
             class="languages-container"
             cdkDropList
             id="notallowed"
             [cdkDropListConnectedTo]="['allowed']"
             [cdkDropListEnterPredicate]="defaultLangPredicate"
             (cdkDropListDropped)="drop($event)"
             [cdkDropListData]="(localState$ | async)!.notAllowed"
             style="display: inline-block">
             <cnsl-label>{{ 'SETTING.LANGUAGES.NOT_ALLOWED' | translate }}</cnsl-label>
             <div class="languages-list">
               <mat-action-list
                 *ngFor="let lang of (localState$ | async)!.notAllowed"
                 name="notAllowed"
                 class="language-box"
                 cdkDrag>
                 <button mat-list-item color="primary">{{ lang }} - {{ 'SETTING.LANGUAGES.OPTIONS.' + lang | translate }}</button>
               </mat-action-list>
             </div>
           </div>
     </form>
   </div>

   <div class="general-btn-container">
     <button
       class="save-button"
       (click)="save()"
       color="primary"
       type="submit"
       mat-raised-button
       [disabled]="(['iam.write'] | hasRole | async) === false && (['iam.restrictions.write'] | hasRole | async) === false"
     >
       {{ 'ACTIONS.SAVE' | translate }}
     </button>
   </div>
