.languages-container {
  display: inline-block;
  max-width: 400px;
  vertical-align: top;
  width: 350px;
  max-width: 100%;

  .spinner-wr {
    margin: 0.5rem 0;
  }

  .default-language {
    max-width: 400px;
    display: block;
  }

  .general-btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;

    .save-button {
      display: block;
    }
  }

  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.languages-list {
  overflow: hidden;
  display: block;
}

.languages-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  min-height: 40px;

  &:last-child {
    border: none;
  }

  [hoveractions] {
    display: none;
  }

  &:hover {
    [hoveractions] {
      display: flex;
    }
  }

  .defaultlanglabel {
    margin-left: 0.5rem;
  }
}
