openapi: 3.1.0
info:
  title: zitadel.application.v2
paths: {}
components:
  schemas:
    zitadel.application.v2.OIDCApplicationType:
      type: string
      title: OIDCApplicationType
      enum:
        - OIDC_APP_TYPE_WEB
        - OIDC_APP_TYPE_USER_AGENT
        - OIDC_APP_TYPE_NATIVE
    zitadel.application.v2.OIDCAuthMethodType:
      type: string
      title: OIDCAuthMethodType
      enum:
        - OIDC_AUTH_METHOD_TYPE_BASIC
        - OIDC_AUTH_METHOD_TYPE_POST
        - OIDC_AUTH_METHOD_TYPE_NONE
        - OIDC_AUTH_METHOD_TYPE_PRIVATE_KEY_JWT
    zitadel.application.v2.OIDCGrantType:
      type: string
      title: OIDCGrantType
      enum:
        - OIDC_GRANT_TYPE_AUTHORIZATION_CODE
        - OIDC_GRANT_TYPE_IMPLICIT
        - OIDC_GRANT_TYPE_REFRESH_TOKEN
        - OIDC_GRANT_TYPE_DEVICE_CODE
        - OIDC_GRANT_TYPE_TOKEN_EXCHANGE
    zitadel.application.v2.OIDCResponseType:
      type: string
      title: OIDCResponseType
      enum:
        - OIDC_RESPONSE_TYPE_UNSPECIFIED
        - OIDC_RESPONSE_TYPE_CODE
        - OIDC_RESPONSE_TYPE_ID_TOKEN
        - OIDC_RESPONSE_TYPE_ID_TOKEN_TOKEN
    zitadel.application.v2.OIDCTokenType:
      type: string
      title: OIDCTokenType
      enum:
        - OIDC_TOKEN_TYPE_BEARER
        - OIDC_TOKEN_TYPE_JWT
    zitadel.application.v2.OIDCVersion:
      type: string
      title: OIDCVersion
      enum:
        - OIDC_VERSION_1_0
    google.protobuf.Duration:
      type: string
      format: duration
      description: |-
        A Duration represents a signed, fixed-length span of time represented
         as a count of seconds and fractions of seconds at nanosecond
         resolution. It is independent of any calendar and concepts like "day"
         or "month". It is related to Timestamp in that the difference between
         two Timestamp values is a Duration and it can be added or subtracted
         from a Timestamp. Range is approximately +-10,000 years.

         # Examples

         Example 1: Compute Duration from two Timestamps in pseudo code.

             Timestamp start = ...;
             Timestamp end = ...;
             Duration duration = ...;

             duration.seconds = end.seconds - start.seconds;
             duration.nanos = end.nanos - start.nanos;

             if (duration.seconds < 0 && duration.nanos > 0) {
               duration.seconds += 1;
               duration.nanos -= 1000000000;
             } else if (duration.seconds > 0 && duration.nanos < 0) {
               duration.seconds -= 1;
               duration.nanos += 1000000000;
             }

         Example 2: Compute Timestamp from Timestamp + Duration in pseudo code.

             Timestamp start = ...;
             Duration duration = ...;
             Timestamp end = ...;

             end.seconds = start.seconds + duration.seconds;
             end.nanos = start.nanos + duration.nanos;

             if (end.nanos < 0) {
               end.seconds -= 1;
               end.nanos += 1000000000;
             } else if (end.nanos >= 1000000000) {
               end.seconds += 1;
               end.nanos -= 1000000000;
             }

         Example 3: Compute Duration from datetime.timedelta in Python.

             td = datetime.timedelta(days=3, minutes=10)
             duration = Duration()
             duration.FromTimedelta(td)

         # JSON Mapping

         In JSON format, the Duration type is encoded as a string rather than an
         object, where the string ends in the suffix "s" (indicating seconds) and
         is preceded by the number of seconds, with nanoseconds expressed as
         fractional seconds. For example, 3 seconds with 0 nanoseconds should be
         encoded in JSON format as "3s", while 3 seconds and 1 nanosecond should
         be expressed in JSON format as "3.000000001s", and 3 seconds and 1
         microsecond should be expressed in JSON format as "3.000001s".
    zitadel.application.v2.LoginV1:
      type: object
      title: LoginV1
      additionalProperties: false
    zitadel.application.v2.LoginV2:
      type: object
      properties:
        baseUri:
          type: string
          title: base_uri
          description: Optionally specify a base uri of the login UI. If unspecified the default URI will be used.
          nullable: true
      title: LoginV2
      additionalProperties: false
    zitadel.application.v2.LoginVersion:
      type: object
      oneOf:
        - properties:
            loginV1:
              title: login_v1
              description: Allow the user to sign in through the ZITADEL hosted login UI.
              $ref: '#/components/schemas/zitadel.application.v2.LoginV1'
          title: login_v1
          required:
            - loginV1
        - properties:
            loginV2:
              title: login_v2
              description: Allow the user to sign in though the new login UI or even your own UI by specifying a base_uri.
              $ref: '#/components/schemas/zitadel.application.v2.LoginV2'
          title: login_v2
          required:
            - loginV2
      title: LoginVersion
      additionalProperties: false
    zitadel.application.v2.OIDCConfiguration:
      type: object
      properties:
        redirectUris:
          type: array
          items:
            type: string
          title: redirect_uris
          description: |-
            RedirectURIs are the allowed callback URIs for the OAuth2 / OIDC flows,
             where the authorization code or tokens will be sent to.
             The redirect_uri parameter in the authorization request must exactly match one of these URIs.
        responseTypes:
          type: array
          items:
            $ref: '#/components/schemas/zitadel.application.v2.OIDCResponseType'
          title: response_types
          description: |-
            ResponseTypes define whether a code, id_token token or just id_token will be returned.
             The response_type parameter in the authorization request must exactly match one of these values.
        grantTypes:
          type: array
          items:
            $ref: '#/components/schemas/zitadel.application.v2.OIDCGrantType'
          title: grant_types
          description: |-
            GrantTypes define the flow type the application is allowed to use.
             The grant_type parameter in the token request must exactly match one of these values.
        applicationType:
          title: application_type
          description: |-
            ApplicationType defines the OAuth2/OIDC client type and their ability to maintain
             confidentiality of their credentials.
             This influences the allowed grant types and the required authentication method.
          $ref: '#/components/schemas/zitadel.application.v2.OIDCApplicationType'
        clientId:
          type: string
          title: client_id
          description: |-
            The unique OAuth2/OIDC client_id used for authentication of the application,
             e.g. at the token endpoint.
        authMethodType:
          title: auth_method_type
          description: The authentication method type used by the application to authenticate at the token endpoint.
          $ref: '#/components/schemas/zitadel.application.v2.OIDCAuthMethodType'
        postLogoutRedirectUris:
          type: array
          items:
            type: string
          title: post_logout_redirect_uris
          description: |-
            PostLogoutRedirectURIs are the allowed URIs to redirect to after a logout.
             The post_logout_redirect_uri parameter in the logout request must exactly match one of these URIs.
        version:
          title: version
          description: |-
            Version defines the OIDC version used by the application.
             Currently, only version 1.0 is supported.
             Future versions might introduce breaking changes.
          $ref: '#/components/schemas/zitadel.application.v2.OIDCVersion'
        nonCompliant:
          type: boolean
          title: non_compliant
          description: |-
            NonCompliant specifies whether the config is OIDC compliant. A production configuration SHOULD be compliant.
             Non-compliant configurations can run into interoperability issues with OIDC libraries and tools.
             Compliance problems are listed in the compliance_problems field.
        complianceProblems:
          type: array
          items:
            $ref: '#/components/schemas/zitadel.application.v2.OIDCLocalizedMessage'
          title: compliance_problems
          description: |-
            ComplianceProblems lists the problems for non-compliant configurations.
             In case of a compliant configuration, this list is empty.
        developmentMode:
          type: boolean
          title: development_mode
          description: |-
            DevelopmentMode can be enabled for development purposes. This allows the use of
             OIDC non-compliant and potentially insecure settings, such as the use of
             HTTP redirect URIs or wildcard redirect URIs.
        accessTokenType:
          title: access_token_type
          description: |-
            The AccessTokenType defines the type of the access token returned from ZITADEL.
             Bearer tokens are opaque to clients. JWT tokens are self-contained and can be validated by the client.
             Bearer tokens must be introspected at the ZITADEL token endpoint.
          $ref: '#/components/schemas/zitadel.application.v2.OIDCTokenType'
        accessTokenRoleAssertion:
          type: boolean
          title: access_token_role_assertion
          description: |-
            If AccessTokenRoleAssertion is enabled, the roles of the user are added to the access token.
             Ensure that the access token is a JWT token and not a bearer token. And either request the roles
             by scope or enable the user role assertion on the project.
        idTokenRoleAssertion:
          type: boolean
          title: id_token_role_assertion
          description: |-
            If IDTokenRoleAssertion is enabled, the roles of the user are added to the id token.
             Ensure that either the roles are requested by scope or enable the user role assertion on the
             project.
        idTokenUserinfoAssertion:
          type: boolean
          title: id_token_userinfo_assertion
          description: |-
            If IDTokenUserinfoAssertion is enabled, the claims of profile, email, address and phone scopes
             are added to the id token even if an access token is issued. This can be required by some applications
             that do not call the userinfo endpoint after authentication or directly use the id_token for retrieving
             user information.
             Attention: this violates the OIDC specification, which states that these claims must only be
             requested from the userinfo endpoint if an access token is issued. This is to prevent
             leaking of personal information in the id token, which is often stored in the browser and
             therefore more vulnerable.
        clockSkew:
          title: clock_skew
          description: |-
            ClockSkew is used to compensate time differences between the servers of ZITADEL and the application.
             It is added to the "exp" claim and subtracted from "iat", "auth_time" and "nbf" claims.
             The default is 0s, the maximum is 5s.
          $ref: '#/components/schemas/google.protobuf.Duration'
        additionalOrigins:
          type: array
          items:
            type: string
          title: additional_origins
          description: |-
            AdditionalOrigins are HTTP origins (scheme + host + port) from where the API can be used
             additional to the redirect_uris.
             This is useful if the application is used from an origin different to the redirect_uris,
             e.g. if the application is a SPA served in a native app, where the redirect_uri is a custom scheme,
             but the application is served from a https origin.
        allowedOrigins:
          type: array
          items:
            type: string
          title: allowed_origins
          description: |-
            AllowedOrigins are all HTTP origins where the application is allowed to be used from.
             This is used to prevent CORS issues in browsers.
             If the origin of the request is not in this list, the request will be rejected.
             This is especially important for SPAs.
             Note that this is a generated list from the redirect_uris and additional_origins.
             If you use the application from another origin, you have to add it to the additional_origins.
        skipNativeAppSuccessPage:
          type: boolean
          title: skip_native_app_success_page
          description: |-
            For native apps a successful login usually shows a success page with a link to open the application again.
             SkipNativeAppSuccessPage can be used to skip this page and open the application directly.
        backChannelLogoutUri:
          type: string
          title: back_channel_logout_uri
          description: |-
            BackChannelLogoutURI is used to notify the application about terminated sessions according
             to the OIDC Back-Channel Logout (https://openid.net/specs/openid-connect-backchannel-1_0.html).
        loginVersion:
          title: login_version
          description: |-
            LoginVersion specifies the login UI, where the user is redirected to for authentication.
             It can be used to select a specific login UI, e.g. for embedded UIs or for custom login pages
             hosted on any other domain.
             If unset, the login UI is chosen by the instance default.
          $ref: '#/components/schemas/zitadel.application.v2.LoginVersion'
      title: OIDCConfiguration
      additionalProperties: false
    zitadel.application.v2.OIDCLocalizedMessage:
      type: object
      properties:
        key:
          type: string
          title: key
        localizedMessage:
          type: string
          title: localized_message
      title: OIDCLocalizedMessage
      additionalProperties: false
security: []
