openapi: 3.1.0
info:
  title: zitadel.application.v2
paths: {}
components:
  schemas:
    zitadel.application.v2.LoginV1:
      type: object
      title: LoginV1
      additionalProperties: false
    zitadel.application.v2.LoginV2:
      type: object
      properties:
        baseUri:
          type: string
          title: base_uri
          description: Optionally specify a base uri of the login UI. If unspecified the default URI will be used.
          nullable: true
      title: LoginV2
      additionalProperties: false
    zitadel.application.v2.LoginVersion:
      type: object
      oneOf:
        - properties:
            loginV1:
              title: login_v1
              description: Allow the user to sign in through the ZITADEL hosted login UI.
              $ref: '#/components/schemas/zitadel.application.v2.LoginV1'
          title: login_v1
          required:
            - loginV1
        - properties:
            loginV2:
              title: login_v2
              description: Allow the user to sign in though the new login UI or even your own UI by specifying a base_uri.
              $ref: '#/components/schemas/zitadel.application.v2.LoginV2'
          title: login_v2
          required:
            - loginV2
      title: LoginVersion
      additionalProperties: false
    zitadel.application.v2.SAMLConfiguration:
      type: object
      properties:
        metadataXml:
          type: string
          title: metadata_xml
          format: byte
          description: |-
            The Metadata XML is the provided or fetched metadata stored at Zitadel.
             If either the metadata was provided as XML or when Zitadel fetched it at the provided URL,
             it is stored here.
        metadataUrl:
          type: string
          title: metadata_url
          description: |-
            The Metadata URL is the URL where the metadata was fetched from.
             In case the metadata was provided as raw XML, this field is empty.
        loginVersion:
          title: login_version
          description: |-
            LoginVersion specifies the login UI, where the user is redirected to for authentication.
             It can be used to select a specific login UI, e.g. for embedded UIs or for custom login pages
             hosted on any other domain.
             If unset, the login UI is chosen by the instance default.
          $ref: '#/components/schemas/zitadel.application.v2.LoginVersion'
      title: SAMLConfiguration
      additionalProperties: false
security: []
