@mixin granted-project-grid-theme($theme) {
  $foreground: map-get($theme, foreground);

  .view-toggle {
    border-bottom: 1px solid map-get($foreground, divider);
  }
}

.view-toggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: .5rem;

  .anim-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  button {
    &.left-button {
      margin-right: 1rem;
    }
  }
}

.spinner {
  margin: 1rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  box-sizing: border-box;

  h2 {
    padding: 0 1rem;
    flex-basis: 100%;
  }

  .item {
    position: relative;
    z-index: 100;
    margin: 1rem;
    flex-basis: 260px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    border-radius: .5rem;
    box-sizing: border-box;
    min-height: 166px;
    transition: box-shadow .1s ease-in;

    &.inactive {
      color: var(--grey);
    }

    img {
      height: 50px;
      width: 50px;
      margin: 1rem;
    }

    .text-part {
      flex: 1;
      display: flex;
      flex-direction: column;
      min-height: 70px;
      padding: .5rem 1rem 0 0;

      .top {
        font-size: .8rem;
        margin-bottom: 0;
        margin-top: .5rem;
        color: var(--grey);
      }

      .name {
        margin-top: 1rem;
        font-size: 1.2rem;
        margin-bottom: .5rem;
      }

      .description {
        font-size: .8rem;
      }

      .created {
        font-size: .8rem;
        color: var(--grey);
      }

      .organization {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        .org_avatar {
          height: 25px;
          width: 25px;
          border-radius: 50%;
          margin: 0;
          margin-right: 1rem;
        }
      }

      .fill-space {
        flex: 1;
      }

      span {
        margin: 2px 0;
      }
    }

    .edit-button {
      opacity: 0;
      user-select: none;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 0;
      margin-bottom: .25rem;
      color: var(--grey);

      &.selected {
        opacity: 1;
      }
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, .12);

      .edit-button {
        opacity: 1;
      }
    }

    &.selected {
      .edit-button {
        opacity: 1;
      }
    }

    @media only screen and (max-width: 450px) {
      flex-basis: 100%;
    }
  }
}

.n-items {
  flex-basis: 100%;
  padding: 0 1rem;
  font-size: .8rem;
  color: var(--grey);
}
