<div class="view-toggle">
    <button (click)="changedView.emit(true)" matTooltip="{{'PROJECT.TABLE.SHOWTABLE' | translate}}" mat-icon-button>
        <i class="show list view las la-th-list"></i>
    </button>
</div>
<div class="container">
    <mat-progress-bar *ngIf="loading" class="spinner" color="accent" mode="indeterminate"></mat-progress-bar>

    <p class="n-items" *ngIf="!loading && selection.selected.length > 0">{{'PROJECT.PAGES.PINNED' | translate}}</p>

    <div class="item card" *ngFor="let item of selection.selected; index as i"
        [ngClass]="{ inactive: item.state !== ProjectState.PROJECT_STATE_ACTIVE}"
        (click)="navigateToProject(item.projectId,item.grantId, $event)">
        <div class="text-part">
            <span *ngIf="item.details.changeDate" class="top">{{'PROJECT.PAGES.LASTMODIFIED' | translate}}
                {{
                item.details.changeDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'
                }}</span>
            <span class="name" *ngIf="item.projectName">{{ item.projectName }}</span>
            <span class="description" *ngIf="item.projectOwnerName">{{item.projectOwnerName}}</span>
            <span *ngIf="item.details.creationDate" class="created">{{'PROJECT.PAGES.CREATEDON' | translate}}
                {{ item.details.creationDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'
                }}</span>
            <span class="fill-space"></span>
        </div>

        <template [ngTemplateOutlet]="toggleButton" [ngTemplateOutletContext]="{key: item}"></template>
    </div>

</div>
<div class="container">
    <p class="n-items" *ngIf="!loading && notPinned.length > 0">{{'PROJECT.PAGES.ALL' | translate}}</p>

    <div class="item card" *ngFor="let item of notPinned; index as i"
        (click)="navigateToProject(item.projectId,item.grantId, $event)"
        [ngClass]="{ inactive: item.state !== ProjectState.PROJECT_STATE_ACTIVE}">
        <div class="text-part">
            <span *ngIf="item.details.changeDate" class="top">{{'PROJECT.PAGES.LASTMODIFIED' | translate}}
                {{
                item.details.changeDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'
                }}</span>
            <span class="name" *ngIf="item.projectName">{{ item.projectName }}</span>
            <span class="description" *ngIf="item.projectOwnerName">{{item.projectOwnerName}}</span>
            <span *ngIf="item.details.creationDate" class="created">{{'PROJECT.PAGES.CREATEDON' | translate}}
                {{ item.details.creationDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm' }}</span>
            <span class="fill-space"></span>
        </div>
        <button [ngClass]="{ selected: selection.isSelected(item)}"
            (click)="selection.toggle(item); $event.stopPropagation()" class="edit-button" mat-icon-button>
            <mat-icon *ngIf="selection.isSelected(item)" svgIcon="mdi_pin"></mat-icon>
            <mat-icon svgIcon="mdi_pin_outline" *ngIf="!selection.isSelected(item)"></mat-icon>
        </button>
    </div>
    <p class="n-items" *ngIf="!loading && items.length === 0 && selection.selected.length === 0">
        {{'PROJECT.PAGES.NOITEMS' | translate}}</p>
</div>

<ng-template #toggleButton let-key="key">
    <button matTooltip="{{'ACTIONS.PIN' | translate}}" [ngClass]="{ selected: selection.isSelected(key)}"
        (click)="selection.toggle(key); $event.stopPropagation()" class="edit-button" mat-icon-button>
        <mat-icon *ngIf="selection.isSelected(key)" svgIcon="mdi_pin"></mat-icon>
        <mat-icon svgIcon="mdi_pin_outline" *ngIf="!selection.isSelected(key)"></mat-icon>
    </button>
</ng-template>