.meta-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;

  .main-content {
    display: relative;
    width: 100%;
    padding-bottom: 2rem;
    padding-right: 1rem;
    min-width: 0;
  }

  .meta {
    .meta-content {
      display: flex;
      flex-direction: column;
      flex-shrink: 1;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
    }
  }

  @media only screen and (min-width: 1100px) {
    flex-direction: row;

    .meta {
      padding: 1rem 0 1rem 1rem;
      flex: 1 0 300px;
      max-width: 300px;
      min-width: 0;
    }
  }
}
