@mixin meta-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);

  .meta-details {
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    .title-row {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;

      .title {
        font-size: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        display: block;
      }

      .edit {
        font-size: 14px;
      }

      .fill-space {
        flex: 1;
      }
    }

    .meta-row {
      display: flex;
      margin-bottom: 0.5rem;
      align-items: center;

      .first {
        flex: 1;
        font-size: 13px;
        margin-right: 0.5rem;
      }

      .fill-space {
        flex: 1;
      }

      .second {
        font-size: 13px;
      }
    }
  }

  .mat-tab-label {
    min-width: 100px !important;
  }

  .meta-flex-col {
    display: flex;
    flex-direction: column;
  }
}
