@mixin lgn-mfa-base {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;

  .mfa {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin: 0.5rem 0;
    position: relative;

    input[type="radio"] {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 0.5rem;
      padding: 1rem;
      width: 100%;

      .mfa-img {
        height: 40px;
        width: 40px;
        object-fit: contain;
        object-position: center;
        display: flex;
        transition: all 0.2s ease;

        &.fingerprint,
        &.email,
        &.sms {
          padding: 0.25rem;
          box-sizing: border-box;
        }
      }
    }
  }
}
