<cnsl-create-layout
  title="{{ 'PROJECT.PAGES.CREATE' | translate }}"
  [createSteps]="1"
  [currentCreateStep]="1"
  (closed)="close()"
>
  <h1>{{ 'PROJECT.PAGES.CREATE_DESC' | translate }}</h1>
  <form cdkFocusRegionStart (ngSubmit)="saveProject()">
    <div class="column">
      <cnsl-form-field class="formfield" hintLabel="The name is required!">
        <cnsl-label>{{ 'PROJECT.NAME' | translate }}</cnsl-label>
        <input cnslInput cdkFocusInitial autofocus [(ngModel)]="project.name" [ngModelOptions]="{ standalone: true }" />
      </cnsl-form-field>
    </div>

    <button
      color="primary"
      mat-raised-button
      class="continue-button"
      [disabled]="!project.name"
      cdkFocusInitial
      type="submit"
      data-e2e="continue-button"
    >
      {{ 'ACTIONS.CONTINUE' | translate }}
    </button>
  </form></cnsl-create-layout
>
