h1 {
  font-weight: 500;
}

.container {
  padding: 4rem 4rem 2rem 4rem;

  @media only screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem 1rem;
  }

  .abort-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .abort {
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    .abort-2 {
      font-size: 1.2rem;
      margin-left: 2rem;
      white-space: nowrap;
    }
  }
}

.margin-right {
  margin-right: .5rem;
}

.column {
  display: flex;
  flex-direction: column;

  .formfield {
    width: 400px;

    &.autocomplete {
      margin-top: 1rem;
    }
  }

  .slider {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: .8rem;
  }

  .access-token {
    width: 400px;
  }
}

.continue-button {
  margin-top: 3rem;
  display: block;
  padding: .5rem 4rem;
  border-radius: .5rem;
}
