<cnsl-create-layout
  title="{{ 'PROJECT.PAGES.CREATE' | translate }}"
  [createSteps]="1"
  [currentCreateStep]="1"
  (closed)="location.back()"
>
  <form *ngIf="userService.user$ | async as user" cdkFocusRegionStart [formGroup]="form" (ngSubmit)="saveProject(user)">
    <mat-slide-toggle class="example-margin" color="primary" [formControl]="form.controls.selfAccount">
      {{ 'PROJECT.PAGES.USERSELFACCOUNT' | translate }}
    </mat-slide-toggle>
    <h1>{{ 'PROJECT.PAGES.CREATE_DESC' | translate }}</h1>
    <div class="column">
      <cnsl-form-field class="formfield" hintLabel="The name is required!">
        <cnsl-label>{{ 'PROJECT.NAME' | translate }}</cnsl-label>
        <input cnslInput cdkFocusInitial autofocus [formControl]="form.controls.name" />
      </cnsl-form-field>
    </div>

    <button
      color="primary"
      mat-raised-button
      class="continue-button"
      [disabled]="!form.valid"
      cdkFocusInitial
      type="submit"
      data-e2e="continue-button"
    >
      {{ 'ACTIONS.CONTINUE' | translate }}
    </button>
  </form>
</cnsl-create-layout>
