h1 {
  font-weight: 500;
}

.abort-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  .abort {
    font-size: 1.2rem;
    margin-left: 2rem;
  }

  .abort-2 {
    font-size: 1.2rem;
    margin-left: 2rem;
    white-space: nowrap;
  }
}

.project-create-content {
  padding-left: 4.5rem;
}

.margin-right {
  margin-right: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;

  .formfield {
    width: 400px;

    &.autocomplete {
      margin-top: 1rem;
    }
  }

  .slider {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  .access-token {
    width: 400px;
  }
}

.continue-button {
  margin-top: 3rem;
  display: block;
  padding: 0.5rem 4rem;
  border-radius: 0.5rem;
}
