.container {
  padding: 4rem 4rem 2rem 4rem;

  @media only screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem 1rem;
  }

  .abort-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    white-space: nowrap;

    .abort {
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    .abort-2 {
      font-size: 1.2rem;
      margin-left: 2rem;
      white-space: nowrap;
    }
  }
}

.org-domain {
  width: 400px;
  margin-right: 1rem;
}

.domain-button {
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;

  .small-button {
    display: block;
    border-radius: .5rem;
  }

  .big-button {
    display: block;
    padding: .5rem 4rem;
    border-radius: .5rem;
  }
}
