.container {
	padding: 4rem 4rem 2rem 4rem;

    @media only screen and (max-width: 450px) {
        padding: 4rem 1rem 2rem 1rem;
    }
    
	.abort-container {
		display: flex;
		align-items: center;
        margin-bottom: 2rem;
        white-space: nowrap;

		.abort {
			font-size: 1.2rem;
			margin-left: 2rem;
		}

		.abort-2 {
			font-size: 1.2rem;
            margin-left: 2rem;
            white-space: nowrap;
		}
	}
}

.org-domain {
    width: 400px;
    margin-right: 1rem;
}

.domain-button {
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.org {
    height: 120px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .name {
        margin-top: 0;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    span {
        font-size: .8rem;
    }
}

.margin-right {
	margin-right: 0.5rem;
}

.column {
    display: flex;
    flex-direction: column;

    .formfield {
        width: 400px;
        input {
            font-size: 1.5rem;
        }

        &.autocomplete {
            margin-top: 1rem;
        }
    }

    .slider {
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 0.8rem;
    }

    .access-token {
        width: 400px;
    }
}

.content {
    display: flex;
    margin: 0 -.5rem;
    flex-wrap: wrap;

    mat-form-field {
        flex: 1 0 40%;
        margin: 0 .5rem;
    }
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

    .small-button {
        display: block;
        border-radius: 0.5rem;
    }

    .big-button {
        display: block;
        padding: 0.5rem 4rem;
        border-radius: 0.5rem;
    }
}
