@mixin string-list-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);
  $warn: map-get($theme, warn);
  $warncolor: map-get($warn, 500);

  .form-array-list {
    display: flex;
    flex-direction: row;
    max-width: 400px;
    background: if($is-dark-theme, #00000020, map-get($background, cards));
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 0 1rem 0.5rem 1rem;
    margin-top: 0.5rem;

    .list-header-wrapper {
      display: flex;
      align-items: center;
      margin: 0.5rem -0.5rem 0 0;

      .list-header {
        font-size: 12px;
      }
    }

    .form-field-list {
      flex: 1;
      display: flex;
      flex-direction: column;

      .element-row {
        display: flex;
        align-items: center;

        .formfield {
          flex: 1;
        }
      }

      .control-error {
        font-size: 12px;
        color: $warncolor;
      }
    }

    .add-element-btn {
      margin-bottom: 0rem;
    }
  }
}
