@use '@angular/material' as mat;

@mixin string-list-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);
  $warn: map-get($theme, warn);
  $warn-color: map-get($warn, 500);
  $button-text-color: map-get($foreground, text);
  $button-disabled-text-color: map-get($foreground, disabled-button);
  $divider-color: map-get($foreground, dividers);
  $secondary-text: map-get($foreground, secondary-text);

  .string-list {
    width: 100%;
    max-width: 400px;

    .value-line {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;
      padding: 0 0 0 0.75rem;
      border-radius: 4px;
      background: map-get($background, infosection);

      .fill-space {
        flex: 1;
      }

      .icon-button {
        height: 30px;
        line-height: 30px;

        .icon {
          font-size: 1rem;
          margin-bottom: 3px;
        }

        &:not(:hover) {
          color: $secondary-text;
        }
      }
    }
  }
}

.string-list-form {
  display: flex;
  align-items: flex-end;
  min-width: 320px;

  .formfield {
    width: 500px;
  }

  button {
    margin-bottom: 0.9rem;
    margin-right: -0.5rem;
  }
}
