<div class="form-array-list">
  <div class="form-field-list">
    <p class="list-header cnsl-secondary-text">{{ title }}*</p>
    <ng-container *ngFor="let entry of value; let i = index">
      <div class="element-row">
        <cnsl-form-field class="formfield" [hideRequiredMarker]="true">
          <input
            #str
            id="stringInput"
            cnslInput
            title="{{ 'IDP.SERVERS' | translate }}"
            [ngModel]="entry"
            (change)="setValueAtIndex(i, $event)"
            [ngModelOptions]="{ standalone: true }"
            required
          />
        </cnsl-form-field>

        <button
          *ngIf="i === 0"
          class="add-element-btn"
          matTooltip="{{ 'ACTIONS.ADD' | translate }}"
          type="button"
          mat-icon-button
          (click)="addArrayEntry()"
        >
          <mat-icon>add</mat-icon>
        </button>

        <button
          *ngIf="i !== 0"
          class="add-element-btn"
          matTooltip="{{ 'ACTIONS.REMOVE' | translate }}"
          type="button"
          mat-icon-button
          (click)="removeEntryAtIndex(i)"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </ng-container>
    <span class="control-error" *ngIf="control.touched && control.errors && control.errors['errorsatleastone']">{{
      control.errors['errorsatleastone'].i18nKey | translate
    }}</span>
  </div>
</div>
