<div class="view-toggle">
    <button (click)="closeGridView()" mat-icon-button matTooltip="{{'PROJECT.TABLE.SHOWTABLE' | translate}}">
        <i class="show list view las la-th-list"></i>
    </button>
</div>

<div class="container">
    <mat-progress-bar *ngIf="loading" class="spinner" color="accent" mode="indeterminate"></mat-progress-bar>

    <p class="n-items" *ngIf="!loading && selection.selected.length > 0">{{'PROJECT.PAGES.PINNED' | translate}}</p>

    <div class="item card" *ngFor="let item of selection.selected; index as i"
        (click)="navigateToProject(item.id, $event)"
        [ngClass]="{ inactive: item.state !== ProjectState.PROJECT_STATE_ACTIVE}">
        <div class="text-part">
            <span *ngIf="item.details.changeDate" class="top">{{'PROJECT.PAGES.LASTMODIFIED' | translate}}
                {{
                item.details.changeDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'
                }}</span>
            <span class="name" *ngIf="item.name">{{ item.name }}</span>

            <span *ngIf="item.details.changeDate" class="created">{{'PROJECT.PAGES.CREATEDON' | translate}}
                {{
                item.details.creationDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'
                }}</span>
            <span class="fill-space"></span>
        </div>

        <template [ngTemplateOutlet]="deleteButton" [ngTemplateOutletContext]="{key: item}"></template>
        <template [ngTemplateOutlet]="toggleButton" [ngTemplateOutletContext]="{key: item}"></template>
    </div>

</div>
<div class="container">
    <p class="n-items" *ngIf="!loading && notPinned.length > 0">{{'PROJECT.PAGES.ALL' | translate}}</p>

    <div class="item card" *ngFor="let item of notPinned; index as i" (click)="navigateToProject(item.id, $event)"
        [ngClass]="{ inactive: item.state !== ProjectState.PROJECT_STATE_ACTIVE}">
        <div class="text-part">
            <span *ngIf="item.details?.changeDate" class="top">{{'PROJECT.PAGES.LASTMODIFIED' | translate}}
                {{
                item.details.changeDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'
                }}</span>
            <span class="name" *ngIf="item.name">{{ item.name }}</span>

            <span *ngIf="item.details.creationDate" class="created">{{'PROJECT.PAGES.CREATEDON' | translate}}
                {{
                item.details.creationDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'
                }}</span>
            <span class="fill-space"></span>
        </div>

        <template [ngTemplateOutlet]="deleteButton" [ngTemplateOutletContext]="{key: item}"></template>
        <template [ngTemplateOutlet]="toggleButton" [ngTemplateOutletContext]="{key: item}"></template>
    </div>

    <p class="n-items" *ngIf="!loading && items.length === 0">{{'PROJECT.PAGES.NOITEMS' | translate}}</p>

    <ng-template appHasRole [appHasRole]="['project.create']">
        <div class="add-project-button card" (click)="addItem()">
            <mat-icon class="icon">add</mat-icon>
            <span>{{'PROJECT.PAGES.ADDNEW' | translate}}</span>
        </div>
    </ng-template>
</div>

<ng-template #deleteButton let-key="key">
    <button *ngIf="key.id !== zitadelProjectId" matTooltip="{{'ACTIONS.DELETE' | translate}}" color="warn"
        (click)="deleteProject($event, key)" class="delete-button" mat-icon-button>
        <i class="las la-trash"></i>
    </button>
</ng-template>

<ng-template #toggleButton let-key="key">
    <button matTooltip="{{'ACTIONS.PIN' | translate}}" [ngClass]="{ selected: selection.isSelected(key)}"
        (click)="toggle(key,$event)" class="edit-button" mat-icon-button>
        <mat-icon *ngIf="selection.isSelected(key)" svgIcon="mdi_pin"></mat-icon>
        <mat-icon svgIcon="mdi_pin_outline" *ngIf="!selection.isSelected(key)"></mat-icon>
    </button>
</ng-template>