.table-wrapper {
  overflow: auto;

  .table,
  .paginator {
    width: 100%;

    td,
    th {
      padding-left: .5rem;
      padding-right: .5rem;

      &:first-child {
        padding-left: 0;
        padding-right: .5rem;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    th {
      .search-button {
        visibility: hidden;
        width: 30px;

        .icon {
          font-size: 1.2rem;
        }
      }

      &:hover,
      &.search-active {
        .search-button {
          visibility: visible;
        }
      }
    }

    tr {
      .dlt-button {
        visibility: hidden;
      }

      &:hover {
        .dlt-button {
          visibility: visible;
        }
      }
    }
  }
}

.filtername {
  flex: 1;
  margin-right: 1rem;

  .filterinput {
      height: 36px;
      transform: translateY(1px);
  }
}

.sa-icon {
  display: block;
  width: 32px;
  margin: 0 .5rem;

  i {
    margin: auto;
  }
}

td {
  outline: none;
}
