<app-refresh-table [loading]="loading$ | async" (refreshed)="refreshPage()" [dataSize]="dataSource.data.length"
    [timestamp]="userResult?.viewTimestamp" [selection]="selection"
    [emitRefreshOnPreviousRoute]="refreshOnPreviousRoute">
    <ng-template appHasRole [appHasRole]="['user.write']" actions>
        <mat-form-field @appearfade *ngIf="userSearchKey != undefined" actions class="filtername">
            <mat-label>{{'USER.PAGES.FILTER' | translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)"
                [placeholder]="('USER.TABLE.FILTER.' + userSearchKey.toString()) | translate" #input>
        </mat-form-field>

        <button (click)="deactivateSelectedUsers()" matTooltip="{{'USER.TABLE.DEACTIVATE' | translate}}"
            class="icon-button" mat-icon-button *ngIf="selection.hasValue()" [disabled]="disabled">
            <mat-icon svgIcon="mdi_account_cancel"></mat-icon>
        </button>
        <button (click)="reactivateSelectedUsers()" matTooltip="{{'USER.TABLE.ACTIVATE' | translate}}"
            class="icon-button" mat-icon-button *ngIf="selection.hasValue()" [disabled]="disabled">
            <mat-icon svgIcon="mdi_account_check_outline"></mat-icon>
        </button>
        <a [routerLink]="[ '/users',userType == UserType.HUMAN ? 'create' : 'create-machine']" color="primary"
            mat-raised-button [disabled]="disabled">
            <mat-icon class="icon">add</mat-icon>{{ 'ACTIONS.NEW' | translate }}
        </a>
    </ng-template>

    <div class="table-wrapper">
        <table class="table" mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let user">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(user) : null" [checked]="selection.isSelected(user)">
                        <app-avatar *ngIf="user[userType] && user[userType].displayName" class="avatar"
                            [name]="user[userType].displayName" [size]="32">
                        </app-avatar>
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="firstname">
                <th mat-header-cell *matHeaderCellDef
                    [ngClass]="{'search-active': this.userSearchKey == UserSearchKey.USERSEARCHKEY_FIRST_NAME}">
                    {{ 'USER.PROFILE.FIRSTNAME' | translate }}
                    <template [ngTemplateOutlet]="templateRef"
                        [ngTemplateOutletContext]="{key: UserSearchKey.USERSEARCHKEY_FIRST_NAME}"></template>
                </th>
                <td mat-cell *matCellDef="let user"> {{user[userType]?.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="lastname">
                <th mat-header-cell *matHeaderCellDef
                    [ngClass]="{'search-active': this.userSearchKey == UserSearchKey.USERSEARCHKEY_LAST_NAME}">
                    {{ 'USER.PROFILE.LASTNAME' | translate }}
                    <template [ngTemplateOutlet]="templateRef"
                        [ngTemplateOutletContext]="{key: UserSearchKey.USERSEARCHKEY_LAST_NAME}"></template>
                </th>
                <td mat-cell *matCellDef="let user"> {{user[userType]?.lastName}} </td>
            </ng-container>

            <ng-container matColumnDef="displayName">
                <th mat-header-cell *matHeaderCellDef
                    [ngClass]="{'search-active': this.userSearchKey == UserSearchKey.USERSEARCHKEY_DISPLAY_NAME}">
                    {{ 'USER.PROFILE.DISPLAYNAME' | translate }}
                    <template [ngTemplateOutlet]="templateRef"
                        [ngTemplateOutletContext]="{key: UserSearchKey.USERSEARCHKEY_DISPLAY_NAME}"></template>
                </th>
                <td mat-cell *matCellDef="let user"> {{user[userType]?.displayName}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    {{ 'USER.MACHINE.NAME' | translate }}
                </th>
                <td mat-cell *matCellDef="let user"> {{user[userType]?.name}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> {{ 'USER.MACHINE.DESCRIPTION' | translate }} </th>
                <td mat-cell *matCellDef="let user"> {{user[userType]?.description}} </td>
            </ng-container>

            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef
                    [ngClass]="{'search-active': this.userSearchKey == UserSearchKey.USERSEARCHKEY_USER_NAME}">
                    {{ 'USER.PROFILE.USERNAME' | translate }}
                    <template [ngTemplateOutlet]="templateRef"
                        [ngTemplateOutletContext]="{key: UserSearchKey.USERSEARCHKEY_USER_NAME}"></template>
                </th>
                <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef
                    [ngClass]="{'search-active': this.userSearchKey == UserSearchKey.USERSEARCHKEY_EMAIL}">
                    {{ 'USER.EMAIL' | translate }}
                    <template [ngTemplateOutlet]="templateRef"
                        [ngTemplateOutletContext]="{key: UserSearchKey.USERSEARCHKEY_EMAIL}"></template>
                </th>
                <td mat-cell *matCellDef="let user"> {{user[userType]?.email}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> {{ 'USER.DATA.STATE' | translate }} </th>
                <td mat-cell *matCellDef="let user"> {{ 'USER.DATA.STATE'+user.state | translate }} </td>
            </ng-container>

            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let user">
                    <button color="warn" mat-icon-button matTooltip="{{'IAM.VIEWS.CLEAR' | translate}}"
                        (click)="deleteUser(user.id)">
                        <i class="las la-trash"></i>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="highlight" mat-row *matRowDef="let row; columns: displayedColumns;"
                [routerLink]="row.id ? ['/users', row.id ]: null">
            </tr>

        </table>
        <mat-paginator #paginator class="paginator" [length]="userResult?.totalResult || 0" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]" (page)="changePage($event)"></mat-paginator>
    </div>
</app-refresh-table>

<ng-template #templateRef let-key="key">
    <button class="search-button" mat-icon-button (click)="setFilter(key)">
        <mat-icon *ngIf="this.userSearchKey != key">search</mat-icon>
        <mat-icon *ngIf="this.userSearchKey == key">search_off</mat-icon>
    </button>
</ng-template>