@use '@angular/material' as mat;

@mixin user-table-theme($theme) {
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .margin-right {
    margin-right: 0.5rem;
  }

  .user-table-left-actions {
    display: flex;
    align-items: center;

    .type-button {
      border: none;
      background: none;
      text-align: left;
      padding: 0.75rem 0;
      opacity: 0.6;
      font-size: 15px;
      cursor: pointer;
      color: map-get($foreground, base);

      &:first-child {
        margin-right: 1rem;
      }

      &:hover {
        opacity: 1;
      }

      &.active {
        font-weight: 600;
        opacity: 1;
      }
    }
  }
}

th {
  .search-button {
    visibility: hidden;
    width: 30px;

    .icon {
      font-size: 1.2rem;
    }
  }

  &:hover,
  &.search-active {
    .search-button {
      visibility: visible;
    }
  }
}

.user-tr-actions {
  width: 50px;
}

.filtername {
  flex: 1;
  margin-right: 1rem;

  .filterinput {
    height: 36px;
    transform: translateY(1px);
  }

  .cnsl-form-field-wrapper {
    margin: 0 !important;
  }
}

.sa-icon {
  display: block;
  width: 32px;
  margin: 0 0.5rem;

  i {
    margin: auto;
  }
}

td {
  outline: none;
}
