@mixin user-table-theme($theme) {
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .user-toggle-group {
    display: flex;
    margin: 0;
    height: 100%;
  }
}

.user-sub {
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.user-tr-actions {
  width: 42px;
}

.margin-left {
  margin-left: 0.5rem;
}
