@use '@angular/material' as mat;

@mixin user-table-theme($theme) {
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .user-toggle-group {
    display: flex;
    margin: 0;
    height: 100%;

    .toggle-row {
      display: flex;
      align-items: center;

      i {
        margin-right: 0.5rem;
      }

      .info-i {
        font-size: 1.2rem;
        margin-left: 0.5rem;
        margin-right: 0;
      }

      .current-dot {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: rgb(84, 142, 230);
        margin-left: 0.5rem;
      }
    }
  }
}

.user-tr-actions {
  width: 42px;
}

.margin-left {
  margin-left: 0.5rem;
}
