.table-wrapper {
  overflow: auto;

  .table,
  .paginator {
    width: 100%;

    td,
    th {
      padding: 0 1rem;

      &:first-child {
        padding-left: 0;
        padding-right: 1rem;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.views-table {
  width: 100%;
}

tr {
  button {
    visibility: hidden;
    transition: color 0.2s ease;

    &:not(:hover) {
      color: var(--grey);
    }
  }

  &:hover {
    button {
      visibility: visible;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}

.title {
  margin-top: 2rem;
}
