.spinner-wr {
  margin: 0.5rem 0;
}

.policy-applied-to {
  margin: -1rem 0 0 0;
  font-size: 14px;
}

.notification-policy-card {
  max-width: 400px;

  .notification-policy-content {
    display: flex;
    flex-direction: column;
    width: 100%;

    .row {
      display: flex;
      align-items: center;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-start;

  button {
    display: block;
  }
}
