.desc {
  font-size: 14px;
}

.jwt-create-content {
  .title-row {
    display: flex;
    align-items: center;

    .idp-logo {
      height: 36px;
      width: 36px;
      margin-right: 1rem;
      flex-shrink: 0;
    }

    h1 {
      margin: 0 1rem 0 0;
    }
  }

  .formfield {
    display: block;
    max-width: 400px;

    .mat-chip-input {
      width: 100%;
      margin: 0;
    }

    .chip {
      border-radius: 0.5rem;
      height: 40px;
    }

    @media only screen and (max-width: 450px) {
      max-width: none;
    }
  }

  .jwt-content {
    .desc {
      margin-bottom: 1rem;
    }

    .scope-card {
      max-width: 400px;
      display: block;

      .idp-scopes {
        .flex-line {
          display: flex;
          align-items: flex-start;

          .formfield {
            flex: 1;
          }

          .scope-add-button {
            margin-top: 1.75rem;
          }
        }
      }
    }
  }
}

.jwt-create-actions {
  display: flex;
  margin-top: 1rem;

  button[mat-raised-button] {
    border-radius: 0.5rem;
    padding: 0.5rem 4rem;
  }
}

.optional-h-wrapper {
  display: flex;
  align-items: center;

  h2 {
    margin-right: 0.25rem;
  }
}
