h1 {
    margin-top: 0;
}

.sub {
    color: #8795a1;
    margin-bottom: 2rem;
}

.add-button {
    border-radius: .5rem;
}

.table-wrapper {
    overflow: auto;

    .spinner-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table, mat-paginator {
        width: 100%;

        td, th {
            padding: 0 1rem;

            &:first-child {
                padding-left: 0;
                padding-right: 1rem;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .data-row {
            cursor: pointer;
            &:hover {
                background-color: #ffffff05;
            }
        }
    }
}

tr {
    outline: none;
}
