<div class="enlarged-container" [ngSwitch]="type">
    <ng-container *ngSwitchCase="Type.TYPE_HUMAN">
        <h1>{{ 'USER.PAGES.LIST' | translate }}</h1>
        <p class="sub">{{ 'USER.PAGES.DESCRIPTION' | translate }}</p>

        <app-user-table [type]="Type.TYPE_HUMAN" [disabled]="(['user.write$'] | hasRole | async) == false">
        </app-user-table>
    </ng-container>

    <ng-container *ngSwitchCase="Type.TYPE_MACHINE">
        <h1>{{ 'USER.PAGES.LISTMACHINE' | translate }}</h1>
        <p class="sub">{{ 'USER.PAGES.DESCRIPTIONMACHINE' | translate }}</p>

        <app-user-table [type]="Type.TYPE_MACHINE"
            [displayedColumns]="['select','name', 'username', 'description','state', 'actions']"
            [disabled]="(['user.write$'] | hasRole | async) == false">
        </app-user-table>
    </ng-container>
</div>