<cnsl-create-layout
  title="{{ !provider ? ('IDP.CREATE.TITLE' | translate) : ('IDP.DETAIL.TITLE' | translate) }}"
  (closed)="close()"
>
  <div class="google-create-content">
    <div class="title-row">
      <img class="idp-logo" src="../../../assets/images/idp/google.png" alt="google" />
      <h1>{{ 'IDP.CREATE.GOOGLE.TITLE' | translate }}</h1>
    </div>

    <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>

    <p class="desc cnsl-secondary-text">
      {{ !provider ? ('IDP.CREATE.GOOGLE.DESCRIPTION' | translate) : ('IDP.DETAIL.DESCRIPTION' | translate) }}
    </p>

    <form [formGroup]="form" (ngSubmit)="addOIDCIdp()">
      <div class="google-content">
        <cnsl-form-field class="formfield">
          <cnsl-label>{{ 'IDP.NAME' | translate }}</cnsl-label>
          <input cnslInput formControlName="name" />
        </cnsl-form-field>
        <cnsl-form-field class="formfield">
          <cnsl-label>{{ 'IDP.CLIENTID' | translate }}</cnsl-label>
          <input cnslInput formControlName="clientId" />
        </cnsl-form-field>

        <mat-checkbox *ngIf="provider" [(ngModel)]="updateClientSecret" [ngModelOptions]="{ standalone: true }"
          >Update Client Secret</mat-checkbox
        >
        <cnsl-form-field *ngIf="!provider || (provider && updateClientSecret)" class="formfield">
          <cnsl-label>{{ 'IDP.CLIENTSECRET' | translate }}</cnsl-label>
          <input cnslInput formControlName="clientSecret" />
        </cnsl-form-field>
        <cnsl-card class="scope-card">
          <div class="idp-scopes">
            <div class="flex-line">
              <cnsl-form-field class="formfield">
                <cnsl-label>{{ 'IDP.SCOPESLIST' | translate }}</cnsl-label>

                <input
                  cnslInput
                  [matChipInputFor]="chipScopesList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  [matChipInputAddOnBlur]="true"
                  (matChipInputTokenEnd)="addScope($event)"
                />
              </cnsl-form-field>
              <button class="scope-add-button" (click)="addScope($any($event))" mat-icon-button>
                <mat-icon>add</mat-icon>
              </button>
            </div>

            <cnsl-form-field class="formfield">
              <mat-chip-list #chipScopesList aria-label="scope selection">
                <mat-chip
                  class="chip"
                  *ngFor="let scope of scopesList?.value"
                  selectable="false"
                  removable
                  (removed)="removeScope(scope)"
                >
                  {{ scope }} <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </cnsl-form-field>
          </div>
        </cnsl-card>
      </div>

      <div class="google-create-actions">
        <button color="primary" mat-raised-button class="continue-button" [disabled]="form.invalid" type="submit">
          <span *ngIf="provider">{{ 'ACTIONS.SAVE' | translate }}</span>
          <span *ngIf="!provider">{{ 'ACTIONS.CREATE' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</cnsl-create-layout>
