@use '@angular/material' as mat;

@mixin app-create-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);
  $primary-color: mat.get-color-from-palette($primary, 500);

  // Reference: https://github.com/angular/components/issues/10681#issuecomment-695185806
  @for $i from 1 through 3 {
    @for $j from 1 through $i {
      .last-edited-step-#{$i}
        .mat-horizontal-stepper-header-container
        .mat-step-header:nth-child(#{1 + 2 * ($j - 1)})::after,
      .last-edited-step-#{$i}
        .mat-horizontal-stepper-header-container
        .mat-stepper-horizontal-line:nth-child(#{2 + 2 * ($j - 1)}),
      .last-edited-step-#{$i}
        .mat-horizontal-stepper-header-container
        .mat-step-header:nth-child(#{3 + 2 * ($j - 1)})::before {
        border-top-width: 3px;
        border-top-color: $primary-color;
      }
    }
  }
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
}

p.desc {
  font-size: 14px;
}

.proswitch {
  margin-bottom: 2rem;
  display: block;
}

.name-formfield {
  max-width: 400px;
  display: block;
}

.app-create-container {
  padding-top: 2rem;

  .progress-bar {
    margin-bottom: 1rem;
  }
}

.margin-right {
  margin-right: 0.5rem;
}

.full-width {
  width: 100%;
}

.stepper {
  background: inherit !important;
  margin: 0 -1.5rem;

  .formfield {
    max-width: 400px;
  }

  .step-title {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }

  .step-description {
    font-size: 0.9rem;
  }

  .mat-step-icon-content {
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    // fix for misplacement
    top: 45%;
    left: 49%;
  }
}

.checkbox-container {
  display: flex;
  flex-direction: column;

  .checkbox {
    margin: 0.5rem 0;
  }
}

.cnsl-app-or {
  margin-right: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;

  .left,
  .right {
    margin-bottom: 0.5rem;
    font-size: 14px;
  }
}

.saml-xml {
  margin-top: 2rem;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.app-create-actions {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .bck-button {
    margin-right: 1rem;
  }

  .create-button {
    padding: 0.5rem 4rem;
  }
}

.dev {
  .content {
    display: flex;
    margin: 0 -0.5rem;
    flex-wrap: wrap;
    flex-direction: row;

    .formfield {
      flex: 1;
      box-sizing: border-box;
      margin: 0 0.5rem;

      &.full-width {
        flex-basis: 80%;
      }
    }

    .saml {
      display: block;
      width: 100%;
      margin: 0 0.5rem;
    }
  }

  .continue-button {
    margin-top: 3rem;
    display: block;
    padding: 0.5rem 4rem;
  }
}
