<div class="container">
    <div class="abort-container">
        <button (click)="close()" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
        <span class="abort">{{ 'APP.PAGES.CREATE_OIDC' | translate }}</span>
    </div>

    <h1>{{'APP.PAGES.CREATE_OIDC_DESC_TITLE' | translate}}</h1>
    <p class="desc">{{'APP.PAGES.CREATE_OIDC_DESC_SUB' | translate}}</p>

    <mat-progress-bar class="progress-bar" color="accent" *ngIf="loading" mode="indeterminate"></mat-progress-bar>

    <mat-checkbox class="proswitch" color="primary" [(ngModel)]="devmode">
        {{'APP.OIDC.PROSWITCH' | translate}}
    </mat-checkbox>

    <mat-horizontal-stepper class="stepper" *ngIf="!devmode" linear #stepper labelPosition="bottom">
        <mat-step [stepControl]="firstFormGroup" [editable]="true">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>{{'APP.OIDC.NAMEANDTYPESECTION' | translate}}</ng-template>

                <p class="step-title">{{'APP.OIDC.TITLEFIRST' | translate}}</p>
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'APP.NAME' | translate }}</cnsl-label>
                    <input cnslInput cdkFocusInitial formControlName="name" />
                    <span cnsl-error *ngIf="name?.errors?.required">{{'PROJECT.APP.NAMEREQUIRED' | translate}}</span>
                </cnsl-form-field>

                <p class="step-title">{{'APP.OIDC.TYPETITLE' | translate}}</p>

                <app-type-radio [types]="oidcAppTypes" (selectedType)="changedAppType($event)"
                    [selected]="applicationType?.value"></app-type-radio>
                <div class="actions">
                    <button mat-raised-button [disabled]="firstFormGroup.invalid" color="primary"
                        matStepperNext>{{'ACTIONS.CONTINUE' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <!-- skip for native applications -->
        <mat-step *ngIf="oidcApp.applicationType !== OIDCApplicationType.OIDCAPPLICATIONTYPE_NATIVE"
            [stepControl]="secondFormGroup" [editable]="true">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>{{'APP.OIDC.AUTHMETHODSECTION' | translate}}</ng-template>

                <app-auth-method-radio [authMethods]="authMethods" [selected]="authMethod?.value"
                    (selectedMethod)="changedAppAuthMethod($event)">
                </app-auth-method-radio>

                <div class="actions">
                    <button mat-stroked-button color="primary" matStepperPrevious>{{'ACTIONS.BACK' |
                        translate}}</button>
                    <button mat-raised-button color="primary" [disabled]="secondFormGroup.invalid"
                        matStepperNext>{{'ACTIONS.CONTINUE' | translate}}</button>
                </div>
            </form>
        </mat-step>

        <mat-step [editable]="true">
            <ng-template matStepLabel>{{'APP.OIDC.REDIRECTSECTION' | translate}}</ng-template>

            <p class="step-title">{{'APP.OIDC.REDIRECTTITLE' | translate}}</p>
            <p class="step-description"
                *ngIf="oidcApp.applicationType === OIDCApplicationType.OIDCAPPLICATIONTYPE_NATIVE">
                {{'APP.OIDC.REDIRECTDESCRIPTIONNATIVE' | translate}}</p>
            <p class="step-description" *ngIf="oidcApp.applicationType === OIDCApplicationType.OIDCAPPLICATIONTYPE_WEB">
                {{'APP.OIDC.REDIRECTDESCRIPTIONWEB' | translate}}</p>

            <cnsl-redirect-uris class="redirect-section" [canWrite]="true"
                (changedUris)="oidcApp.redirectUrisList = $event" [urisList]="oidcApp.redirectUrisList"
                title="{{ 'APP.OIDC.REDIRECT' | translate }}">
            </cnsl-redirect-uris>

            <p class="step-title">{{'APP.OIDC.POSTREDIRECTTITLE' | translate}}</p>
            <p class="step-description"
                *ngIf="oidcApp.applicationType === OIDCApplicationType.OIDCAPPLICATIONTYPE_NATIVE">
                {{'APP.OIDC.REDIRECTDESCRIPTIONNATIVE' | translate}}</p>
            <p class="step-description"
                *ngIf="oidcApp.applicationType === OIDCApplicationType.OIDCAPPLICATIONTYPE_WEB || oidcApp.applicationType === OIDCApplicationType.OIDCAPPLICATIONTYPE_USER_AGENT">
                {{'APP.OIDC.REDIRECTDESCRIPTIONWEB' | translate}}</p>

            <cnsl-redirect-uris class="redirect-section" [canWrite]="true"
                (changedUris)="oidcApp.postLogoutRedirectUrisList = $event"
                [urisList]="oidcApp.postLogoutRedirectUrisList" title="{{ 'APP.OIDC.POSTLOGOUTREDIRECT' | translate }}">
            </cnsl-redirect-uris>

            <div class="actions">
                <button mat-stroked-button color="primary" matStepperPrevious>{{'ACTIONS.BACK' | translate}}</button>
                <button mat-raised-button color="primary" matStepperNext>{{'ACTIONS.CONTINUE' | translate}}</button>
            </div>
        </mat-step>


        <mat-step>
            <ng-template matStepLabel>{{'APP.OIDC.OVERVIEWSECTION'| translate}}</ng-template>
            <p class="step-title">{{'APP.OIDC.OVERVIEWTITLE' | translate}}</p>
            <div class="row">
                <span class="left">
                    {{ 'APP.NAME' | translate }}
                </span>
                <span class="right">
                    {{oidcApp.name}}
                </span>
            </div>
            <div class="row">
                <span class="left">
                    {{ 'APP.TYPE' | translate }}
                </span>
                <span class="right">
                    {{'APP.OIDC.APPTYPE'+oidcApp.applicationType | translate}}
                </span>
            </div>
            <div class="row">
                <span class="left">
                    {{ 'APP.GRANT' | translate }}
                </span>
                <span class="right" *ngIf="oidcApp.grantTypesList?.length > 0">
                    [<span *ngFor="let element of oidcApp.grantTypesList; index as i">
                        {{'APP.OIDC.GRANT'+element | translate}}
                        {{i < oidcApp.grantTypesList.length - 1 ? ', ' : '' }} </span>]
                    </span>
            </div>
            <div class="row">
                <span class="left">
                    {{ 'APP.OIDC.RESPONSE' | translate }}
                </span>
                <span class="right" *ngIf="oidcApp.responseTypesList?.length > 0">
                    [<span *ngFor="let element of oidcApp.responseTypesList; index as i">
                        {{('APP.OIDC.RESPONSE'+element | translate)}}
                        {{i < oidcApp.responseTypesList.length - 1 ? ', ' : '' }} </span>]
                    </span>
            </div>

            <div class="row">
                <span class="left">
                    {{ 'APP.OIDC.AUTHMETHOD' | translate }}
                </span>
                <span class="right">
                    <span>
                        {{'APP.OIDC.AUTHMETHOD'+oidcApp?.authMethodType | translate}}
                    </span>
                </span>
            </div>

            <div class="row">
                <span class="left">
                    {{ 'APP.OIDC.REDIRECT' | translate }}
                </span>
                <span class="right" *ngIf="oidcApp.redirectUrisList?.length > 0">
                    [<span *ngFor="let redirect of oidcApp.redirectUrisList; index as i">
                        {{redirect}}
                        {{i < oidcApp.redirectUrisList.length - 1 ? ', ' : '' }} </span>]
                    </span>
            </div>

            <div class="row">
                <span class="left">
                    {{ 'APP.OIDC.POSTLOGOUTREDIRECT' | translate }}
                </span>
                <span class="right" *ngIf="oidcApp.postLogoutRedirectUrisList?.length > 0">
                    [<span *ngFor="let redirect of oidcApp.postLogoutRedirectUrisList; index as i">
                        {{redirect}}
                        {{i < oidcApp.postLogoutRedirectUrisList.length - 1 ? ', ' : '' }} </span>]
                    </span>
            </div>

            <div class="actions">
                <button mat-stroked-button color="primary" matStepperPrevious>{{'ACTIONS.BACK' | translate}}</button>
                <button mat-raised-button color="primary" (click)="saveOIDCApp()">{{'ACTIONS.CREATE' |
                    translate}}</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>

    <div *ngIf="devmode" class="dev">
        <form [formGroup]="form" (ngSubmit)="saveOIDCApp()">
            <div class="content">
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'APP.NAME' | translate }}</cnsl-label>
                    <input cnslInput formControlName="name" />
                </cnsl-form-field>

                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'APP.OIDC.APPTYPE' | translate }}</cnsl-label>
                    <mat-select formControlName="applicationType">
                        <mat-option *ngFor="let type of oidcAppTypes" [value]="type.type">
                            {{ 'APP.OIDC.APPTYPE'+type.type | translate }}
                        </mat-option>
                    </mat-select>
                </cnsl-form-field>

                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'APP.OIDC.GRANT' | translate }}</cnsl-label>
                    <mat-select formControlName="grantTypesList" multiple>
                        <mat-option *ngFor="let grant of oidcGrantTypes" [value]="grant.type">
                            {{ ('APP.OIDC.GRANT' + grant.type) | translate }}
                        </mat-option>
                    </mat-select>
                </cnsl-form-field>

                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'APP.OIDC.RESPONSE' | translate }}</cnsl-label>
                    <mat-select formControlName="responseTypesList" multiple>
                        <mat-option *ngFor="let type of oidcResponseTypes" [value]="type.type">
                            {{ 'APP.OIDC.RESPONSE'+type.type | translate }}
                        </mat-option>
                    </mat-select>
                </cnsl-form-field>

                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'APP.OIDC.AUTHMETHOD' | translate }}</cnsl-label>
                    <mat-select formControlName="authMethodType">
                        <mat-option *ngFor="let type of oidcAuthMethodType" [value]="type.type">
                            {{ 'APP.OIDC.AUTHMETHOD'+type.type | translate }}
                        </mat-option>
                    </mat-select>
                </cnsl-form-field>

                <div class="formfield full-width">
                    <cnsl-redirect-uris class="redirect-section" [canWrite]="true"
                        (changedUris)="oidcApp.redirectUrisList = $event" [urisList]="oidcApp.redirectUrisList"
                        title="{{ 'APP.OIDC.REDIRECT' | translate }}">
                    </cnsl-redirect-uris>

                    <cnsl-redirect-uris class="redirect-section" [canWrite]="true"
                        (changedUris)="oidcApp.postLogoutRedirectUrisList = $event"
                        [urisList]="oidcApp.postLogoutRedirectUrisList"
                        title="{{ 'APP.OIDC.POSTLOGOUTREDIRECT' | translate }}">
                    </cnsl-redirect-uris>
                </div>
            </div>

            <button color="primary" mat-raised-button class="continue-button" [disabled]="form.invalid" cdkFocusInitial
                type="submit">
                {{ 'ACTIONS.SAVE' | translate }}
            </button>
        </form>
    </div>
</div>