h1 {
  font-weight: 500;
  font-size: 1.5rem;
}

p.desc {
  font-size: 14px;
  color: var(--grey);
}

.proswitch {
  margin-bottom: 2rem;
  display: block;
}

.container {
  padding: 4rem 4rem 2rem 4rem;

  .progress-bar {
    margin-bottom: 1rem;
  }

  .abort-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .abort {
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    .abort-2 {
      font-size: 1.2rem;
      margin-left: 2rem;
      white-space: nowrap;
    }
  }
}

.margin-right {
  margin-right: .5rem;
}

.formfield {
  width: 400px;
  display: block;
}

.full-width {
  width: 100%;
}

.stepper {
  background: inherit !important;
  margin: 0 -1.5rem;

  .step-title {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .05em;
  }

  .step-description {
    font-size: .9rem;
    color: var(--grey);
  }

  .chip-form {
    width: 100%;
    display: flex;
    align-items: center;

    .formfield {
      flex: 1;
    }

    button {
      margin-top: 1rem;
    }
  }

  .error {
    font-size: 13px;
    color: #f44336;
    margin-top: 0;
  }

  .chip {
    border-radius: 4px;
    height: 40px;
  }

  .chip[color='white'] {
    background-color: #fafafa;
  }
}

.radio-button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.5rem;

  input[type="radio"]{
    appearance: none;
    opacity: 0;
    display: none;
  }

  input:checked + label {
    border-color: white;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);

    .radio-header span {
        color: white;
    }
  }

  .radio-button {
    margin: .5rem;
    border-radius: .5rem;
    border: 1px solid var(--grey);
    display: flex;
    flex-direction: column;
    flex: 0 1 240px;
    cursor: pointer;
    position: relative;
    padding-bottom: 1rem;

    .recommended {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateY(50%) translateX(-50%);
        border-radius: 50vw;
        font-size: 11px;
        background: white;
        color: black;
        padding: 3px 1rem;

        &.not {
            background: #f6665c;
        }
    }

    .radio-header {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(80, 110, 110);
        margin-bottom: 1rem;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        span {
            margin: 2rem;
            font-size: 30px;
            color: #212224;
        }
    }

    p {
        text-align: center;
        padding: 0 1rem;
    }
    
    .type-desc {
        font-size: 14px;
        color: var(--grey);
    }

    .fill-space {
        flex: 1;
    }

    .specs {
        display: block;
        padding: 1rem 0;
        margin: 0 1rem;

        .row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            color: var(--grey);
            margin: 3px 0;

            span {
                white-space: nowrap;
            }

            :first-child {
                margin-right: 1rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
  }
}

.checkbox-container {
  display: flex;
  flex-direction: column;

  .checkbox {
    margin: .5rem 0;
  }
}

.row {
  display: flex;
  justify-content: space-between;

  .left,
  .right {
    margin-bottom: .5rem;
    font-size: 14px;
    color: var(--grey);
  }
}

.actions {
  button[mat-stroked-button] {
    float: left;
    margin-top: 1rem;
    border-radius: .5rem;
  }

  button[mat-raised-button] {
    float: right;
    margin-top: 1rem;
    border-radius: .5rem;
    min-width: 100px;
  }
}

.dev {
  .content {
    display: flex;
    margin: 0 -.5rem;
    flex-wrap: wrap;

    .formfield {
      flex: 1 0 40%;
      margin: 0 .5rem;

      &.full-width {
        flex-basis: 80%;
      }
    }
  }

  .continue-button {
    margin-top: 3rem;
    display: block;
    padding: .5rem 4rem;
    float: right;
  }
}