tr {
  button {
    visibility: hidden;
    transition: color 0.2s ease;

    &:not(:hover) {
      color: var(--grey);
    }
  }

  &:hover {
    button {
      visibility: visible;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}

.failed-events-title {
  margin: 2rem 0 0 0;
}

.failed-events-desc {
  font-size: 14px;
}

.failed-event-error-message {
  padding: 0.5rem 0;
  display: block;
}
