.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff20;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  a {
    display: block;
  }

  .h1 {
    font-size: 1.2rem;
    margin: 0 1rem;
    margin-left: 2rem;
    font-weight: normal;
  }

  .full-width {
    padding-top: 1rem;
    width: 100%;
    display: block;

    .desc {
      font-size: .9rem;
      color: var(--grey);
    }

    .zitadel-warning {
      font-size: 14px;
      color: rgb(201, 51, 71);
    }
  }
}

.desc {
  width: 100%;
  display: block;
  font-size: .9rem;
  color: var(--grey);
}

.side {
  .details {
    margin-bottom: 1rem;
    border-bottom: 1px solid #81868a40;
    padding-bottom: 1rem;

    .row {
      display: flex;
      margin-bottom: .5rem;
      align-items: center;

      .first {
        flex: 1;
        font-size: 13px;
        margin-right: .5rem;
      }

      .fill-space {
        flex: 1;
      }

      .state {
        border-radius: 50vw;
        padding: 2px .5rem;
        letter-spacing: .05em;
        font-size: 13px;
        background-color: #8795a120;

        &.active {
          background-color: #85d996;
          color: black;
        }

        &.inactive {
          background-color: #ff8981;
          color: black;
        }
      }
    }
  }

  .mat-tab-label {
    min-width: 100px !important;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }
}
