@use '@angular/material' as mat;

@mixin granted-project-detail-theme($theme) {
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $warn: map-get($theme, warn);
  $warn-color: map-get($warn, 500);

  .granted-project-top {
    border-bottom: 1px solid map-get($foreground, divider);
    margin: 0 -2rem;
    padding: 2rem 2rem 1rem 2rem;
    background: if($is-dark-theme, #00000020, #605f5f0f);

    @media only screen and (max-width: 500px) {
      margin: 0 -1rem;
    }

    .granted-project-top-row {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;
      flex-wrap: wrap;

      .granted-project-link-row {
        display: flex;
        align-items: center;

        .link {
          margin-right: 1rem;
          display: block;
          position: relative;
        }

        .granted-project-title-row {
          display: flex;
          align-items: center;

          .granted-project-title {
            margin: 0;
            margin-right: 0.5rem;
            font-size: 2rem;
          }

          .granted-project-state-dot {
            height: 8px;
            width: 8px;
            border-radius: 50%;
            flex-shrink: 0;

            &.active {
              background-color: var(--success);
            }

            &.inactive {
              background-color: var(--warn);
            }
          }
        }
      }

      .granted-project-sub {
        margin: 1rem 1rem 0 0;
        font-size: 14px;

        &.zitadel-warning {
          font-size: 14px;
          color: $warn-color;
        }
      }

      .fill-space {
        flex: 1;
      }

      .project-contributors {
        flex-basis: 100%;

        @media only screen and (min-width: 700px) {
          flex-basis: auto;
        }
      }
    }

    .doc-row {
      display: flex;
      align-items: center;
      margin-top: -10px;

      i {
        font-size: 1.2rem;
        height: 1.2rem;
        line-height: 1.2rem;
      }
    }
  }

  .project-type {
    font-size: 14px;
  }

  .project-detail-privatelabel-info {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid map-get($foreground, divider);

    .setting-title {
      margin: 0;
      font-size: 16px;
    }

    .setting-desc {
      margin: 0;
      display: flex;
      align-items: center;

      .icon-button {
        margin-left: 0.5rem;
      }
    }
  }
}
