.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff20;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  a {
    display: block;
  }

  .h1 {
    font-size: 1.2rem;
    margin: 0 1rem;
    margin-left: 2rem;
    font-weight: normal;
  }

  .full-width {
    padding-top: 1rem;
    width: 100%;
    display: block;

    .desc {
      font-size: .9rem;
      color: var(--grey);
    }

    .zitadel-warning {
      font-size: 14px;
      color: rgb(201, 51, 71);
    }
  }
}

.desc {
  width: 100%;
  display: block;
  font-size: .9rem;
  color: var(--grey);
}
