@import '../core/core.scss';
@import '../footer/footer_theme.scss';
@import '../button/button_theme.scss';
@import '../input/input_theme.scss';
@import '../label/label_theme.scss';
@import '../typography/typography.scss';
@import './theming';

@mixin zitadel-lgn-theme($theme-or-color-config) {
    // $dedupe-key: 'lgn-theme';
    // @include mat-private-check-duplicate-theme-styles($theme-or-color-config, $dedupe-key) {
      @include lgn-core-theme($theme-or-color-config);
      @include lgn-button-theme($theme-or-color-config);
      @include lgn-input-theme($theme-or-color-config);
      @include lgn-label-theme($theme-or-color-config);
      @include lgn-footer-theme($theme-or-color-config);

    // }
}