version: '3.8'

services:
  zitadel:
    user: '$UID'
    restart: 'always'
    image: '${ZITADEL_IMAGE:-ghcr.io/zitadel/zitadel:latest}'
    command: 'start-from-init --masterkey "MasterkeyNeedsToHave32Characters" --tlsMode disabled --config /zitadel.yaml --steps /zitadel.yaml'
    depends_on:
      db:
        condition: 'service_healthy'
    volumes:
      - ./zitadel.yaml:/zitadel.yaml
    ports:
    - "8080:8080"
    extra_hosts:
    - "host.docker.internal:host-gateway"

  db:
    restart: 'always'
    image: 'cockroachdb/cockroach:v22.2.2'
    command: 'start-single-node --insecure --http-addr :9090'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9090/health?ready=1']
      interval: '10s'
      timeout: '30s'
      retries: 5
      start_period: '20s'
    ports:
      - "26257:26257"