:root {
  transition: none;
}

.theme-app {
  position: relative;
}

.theme-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.circle {
  z-index: 1;
  position: relative;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  box-shadow: 0 30px 60px rgba(0, 0, 0, .12);
}

.crescent {
  position: absolute;
  border-radius: 100%;
  right: 0;
  width: 40px;
  height: 40px;
  transform: scale(0);
  transform-origin: top right;
  transition: transform .2s cubic-bezier(.645, .045, .355, 1);
}

p {
  font-size: 90%;
}

label,
.toggle {
  height: 45px;
  border-radius: 100px;
}

label {
  width: 100%;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 100px;
  position: relative;
  cursor: pointer;
}

.toggle {
  position: absolute;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .15);
}

.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  height: 60px;
  transform: translateY(-7.5px);
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"]:checked {
  .toggle {
    transform: translateX(100%);
  }

  .light {
    opacity: .5;
  }

  .dark {
    opacity: 1;
  }

  .theme-app {
    background-color: inherit;
    color: inherit;
  }
}

[type="checkbox"]:checked + .theme-app .crescent {
  transform: scale(1);
}

[type="checkbox"]:checked + .theme-app .circle {
  background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
}

[type="checkbox"]:checked + .theme-app .main-circle {
  background: linear-gradient(40deg, #8983f7, #a3dafb 70%);
}
