@import '~@angular/material/theming';

@mixin theme-card($theme) {
  /* stylelint disable */
  $primary: map-get($theme, primary);
  $primary-dark: mat-color($primary, A800);
  /* stylelint enable */

  .theme-conent,
  .crescent {
    background-color: $primary-dark;
    transition: background-color .4s cubic-bezier(.645, .045, .355, 1);
  }
}
