.feature-settings-wrapper {
  .feature-title-row {
    display: flex;
    align-items: center;

    h1 {
      margin: 0;
    }

    a .icon {
      font-size: 1.2rem;
      height: 1.2rem;
      line-height: 1.2rem;
    }
  }

  .features {
    .feature-row {
      display: flex;
      flex-direction: column;

      .feature-info {
        margin-bottom: 1rem;
      }
    }
  }

  .btn-container {
    display: flex;
    justify-content: flex-start;

    button {
      display: block;
    }
  }
}
