@use '@angular/material' as mat;

@mixin identity-provider-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .stepper {
    background: inherit !important;
    margin: 0 -1.5rem;
  }
}
