<cnsl-create-layout
  title="{{ id ? ('SMTP.DETAIL.TITLE' | translate) : ('SMTP.CREATE.SENDGRID.TITLE' | translate) }}"
  [createSteps]="2"
  (closed)="close()"
>
  <div class="wizard-header">
    <img class="idp-logo" src="./assets/images/smtp/sendgrid.png" alt="sendgrid" />
    <h2>
      {{ 'SMTP.STEPS.SENDGRID.CREATE_DESC_TITLE' | translate }}
    </h2>
  </div>
  <mat-progress-bar class="progress-bar" color="primary" *ngIf="smtpLoading" mode="indeterminate"></mat-progress-bar>

  <mat-horizontal-stepper
    class="stepper {{ 'last-edited-step-' + stepper.selectedIndex }}"
    linear
    #stepper
    labelPosition="bottom"
    (selectionChange)="changeStep($event)"
  >
    <mat-step [editable]="true">
      <ng-template matStepLabel>{{ 'SMTP.CREATE.STEPS.PROVIDER_SETTINGS' | translate }}</ng-template>
      <form [formGroup]="firstFormGroup" autocomplete="off">
        <mat-checkbox class="smtp-checkbox" formControlName="tls" (change)="toggleTLS($event)">
          {{ 'SETTING.SMTP.TLS' | translate }}
        </mat-checkbox>

        <cnsl-form-field class="smtp-form-field" label="Host And Port" required="true">
          <cnsl-label>{{ 'SETTING.SMTP.HOSTANDPORT' | translate }}</cnsl-label>
          <input cnslInput name="hostAndPort" formControlName="hostAndPort" placeholder="smtp.mailtrap.io:2525" required />
        </cnsl-form-field>

        <cnsl-form-field class="smtp-form-field" label="User" required="true">
          <cnsl-label>{{ 'SETTING.SMTP.USER' | translate }}</cnsl-label>
          <input id="smtp-user" cnslInput name="smtp-user" autocomplete="smtp-user" formControlName="user" required />
        </cnsl-form-field>

        <cnsl-form-field class="smtp-form-field" label="Password" required="true">
          <cnsl-label>{{ 'SETTING.SMTP.PASSWORD' | translate }}</cnsl-label>
          <input
            id="smtp-password"
            cnslInput
            name="smtp-password"
            autocomplete="off webauthn"
            formControlName="password"
            placeholder="Your SendGrid API Key"
            type="password"
            required
          />
        </cnsl-form-field>
      </form>

      <div class="smtp-create-actions">
        <button
          mat-raised-button
          [disabled]="firstFormGroup.invalid"
          color="primary"
          matStepperNext
          data-e2e="continue-button-nameandtype"
        >
          {{ 'ACTIONS.CONTINUE' | translate }}
        </button>
      </div>
    </mat-step>

    <mat-step [editable]="true">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{ 'SMTP.CREATE.STEPS.SENDER_SETTINGS' | translate }}</ng-template>

        <cnsl-form-field class="smtp-form-field" label="Sender Address" required="true">
          <cnsl-label>{{ 'SETTING.SMTP.SENDERADDRESS' | translate }}</cnsl-label>
          <input cnslInput name="senderAddress" formControlName="senderAddress" placeholder="sender@example.com" required />
        </cnsl-form-field>

        <cnsl-form-field class="smtp-form-field" label="Sender Name" required="true">
          <cnsl-label>{{ 'SETTING.SMTP.SENDERNAME' | translate }}</cnsl-label>
          <input cnslInput name="senderName" formControlName="senderName" placeholder="Zitadel" required />
        </cnsl-form-field>

        <cnsl-form-field class="smtp-form-field" label="Reply-To Address">
          <cnsl-label>{{ 'SETTING.SMTP.REPLYTOADDRESS' | translate }}</cnsl-label>
          <input cnslInput name="senderReplyToAddress" formControlName="replyToAddress" placeholder="replyto@example.com" />
        </cnsl-form-field>
      </form>

      <div class="smtp-create-actions">
        <button mat-stroked-button matStepperPrevious class="bck-button">{{ 'ACTIONS.BACK' | translate }}</button>
        <button
          mat-raised-button
          class="create-button"
          color="primary"
          data-e2e="create-button"
          (click)="savePolicy()"
          [disabled]="
            firstFormGroup.invalid || secondFormGroup.invalid || (['iam.policy.write'] | hasRole | async) === false
          "
        >
          {{ 'ACTIONS.CREATE' | translate }}
        </button>
      </div>
    </mat-step>

    <!-- Future code for testing option -->
    <!--<mat-step [editable]="true">
      <form>
        <ng-template matStepLabel>{{ 'SMTP.CREATE.STEPS.TEST_SETTINGS' | translate }}</ng-template>
      </form>
      
       <ng-container>
        <div class="row">
          <span class="left">
            {{ 'APP.SAML.METADATA' | translate }}
          </span>
          <span class="right">
            <span> test </span>
            <span>
              {{ 'APP.SAML.METADATAFROMFILE' | translate }}
            </span>
          </span>
        </div>
      </ng-container>

      <div class="smtp-create-actions">
        <button mat-stroked-button matStepperPrevious class="bck-button">{{ 'ACTIONS.BACK' | translate }}</button>
        <button mat-raised-button class="create-button" color="primary" data-e2e="create-button">
          {{ 'ACTIONS.CREATE' | translate }}
        </button>
      </div>
    </mat-step> -->

    <!-- Icon override -->
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</cnsl-create-layout>
