<cnsl-create-layout
  title="{{ id ? ('SMTP.DETAIL.TITLE' | translate) : ('SMTP.CREATE.SENDGRID.TITLE' | translate) }}"
  [createSteps]="3"
  (closed)="close()"
>
  <h2>{{ 'SMTP.STEPS.SENDGRID.CREATE_DESC_TITLE' | translate }}</h2>
  <mat-progress-bar class="progress-bar" color="primary" *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <mat-horizontal-stepper
    class="stepper {{ 'last-edited-step-' + stepper.selectedIndex }}"
    linear
    #stepper
    labelPosition="bottom"
    (selectionChange)="changeStep($event)"
  >
    <mat-step [editable]="true">
      <form>
        <ng-template matStepLabel>{{ 'SMTP.CREATE.STEPS.PROVIDER_SETTINGS' | translate }}</ng-template>
      </form>

      <div class="smtp-create-actions">
        <button
          mat-raised-button
          [disabled]="firstFormGroup.invalid"
          color="primary"
          matStepperNext
          data-e2e="continue-button-nameandtype"
        >
          {{ 'ACTIONS.CONTINUE' | translate }}
        </button>
      </div>
    </mat-step>

    <mat-step [editable]="true">
      <form>
        <ng-template matStepLabel>{{ 'SMTP.CREATE.STEPS.SENDER_SETTINGS' | translate }}</ng-template>
      </form>

      <div class="smtp-create-actions">
        <button
          mat-raised-button
          [disabled]="secondFormGroup.invalid"
          color="primary"
          matStepperNext
          data-e2e="continue-button-nameandtype"
        >
          {{ 'ACTIONS.CONTINUE' | translate }}
        </button>
      </div>
    </mat-step>

    <mat-step [editable]="true">
      <form>
        <ng-template matStepLabel>{{ 'SMTP.CREATE.STEPS.TEST_SETTINGS' | translate }}</ng-template>
      </form>
    </mat-step>

    <!-- Icon override -->
    <ng-template matStepperIcon="edit">
      <mat-icon>check</mat-icon>
    </ng-template>
  </mat-horizontal-stepper>
</cnsl-create-layout>
