<cnsl-create-layout
  title="{{ id ? ('SMTP.DETAIL.TITLE' | translate) : ('SMTP.CREATE.SENDGRID.TITLE' | translate) }}"
  [createSteps]="2"
  (closed)="close()"
>
  <h2>{{ 'SMTP.STEPS.SENDGRID.CREATE_DESC_TITLE' | translate }}</h2>
  <mat-progress-bar class="progress-bar" color="primary" *ngIf="loading" mode="indeterminate"></mat-progress-bar>

  <mat-horizontal-stepper
    class="stepper {{ 'last-edited-step-' + stepper.selectedIndex }}"
    linear
    #stepper
    labelPosition="bottom"
  >
    <mat-step [editable]="true">
      <form>
        <ng-template matStepLabel>{{ 'SMTP.CREATE.STEPS.PROVIDER_SETTINGS' | translate }}</ng-template>
      </form>
    </mat-step>

    <mat-step [editable]="true">
      <form>
        <ng-template matStepLabel>{{ 'SMTP.CREATE.STEPS.SENDER_SETTINGS' | translate }}</ng-template>
      </form>
    </mat-step>

    <mat-step [editable]="true">
      <form>
        <ng-template matStepLabel>{{ 'SMTP.CREATE.STEPS.TEST_SETTINGS' | translate }}</ng-template>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</cnsl-create-layout>
