<span *ngIf="!id" class="title" mat-dialog-title>{{'FLOWS.DIALOG.ADD.TITLE' | translate}}</span>
<span *ngIf="id" class="title" mat-dialog-title>{{'FLOWS.DIALOG.UPDATE.TITLE' | translate}}</span>

<div mat-dialog-content>
  <!-- <p class="desc"> {{'FLOWS.DIALOG.ADD.DESCRIPTION' | translate}}</p> -->

  <cnsl-form-field class="form-field" appearance="outline">
    <cnsl-label>{{'FLOWS.NAME' | translate}}</cnsl-label>
    <input cnslInput [(ngModel)]="name">
  </cnsl-form-field>

  <cnsl-form-field class="form-field" appearance="outline">
    <cnsl-label>{{'FLOWS.SCRIPT' | translate}}</cnsl-label>
    <textarea class="script" cnslInput [(ngModel)]="script"></textarea>
  </cnsl-form-field>

  <cnsl-form-field class="form-field" appearance="outline">
    <cnsl-label>{{'FLOWS.TIMEOUTINSEC' | translate}}</cnsl-label>
    <input type="number" cnslInput [(ngModel)]="durationInSec">
  </cnsl-form-field>

  <mat-checkbox [(ngModel)]="allowedToFail">{{'FLOWS.ALLOWEDTOFAIL' | translate}}</mat-checkbox>
</div>
<div mat-dialog-actions class=" action">
  <button mat-button (click)="closeDialog()">
    {{'ACTIONS.CANCEL' | translate}}
  </button>

  <button color="primary" mat-raised-button class="ok-button" [disabled]="false" (click)="closeDialogWithSuccess()">
    <span *ngIf="!id">{{'ACTIONS.ADD' | translate}}</span>
    <span *ngIf="id">{{'ACTIONS.SAVE' | translate}}</span>
  </button>
</div>