<div class="max-width-container">
  <div class="enlarged-container">
    <div class="detail-layout-head">
      <div class="detail-layout-top-view">
        <div>
          <div class="back-row">
            <a *ngIf="hasBackButton" cnslBack mat-icon-button>
              <mat-icon class="icon">arrow_back</mat-icon>
            </a>
            <div>
              <h1>{{ title }}</h1>
              <ng-content select="[sub]"></ng-content>
            </div>
          </div>
          <p class="head-desc cnsl-secondary-text max-width-description">{{ description }}</p>
        </div>
        <div class="actions-wrap">
          <ng-content select="[actions]"></ng-content>
        </div>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
