<app-detail-layout [backRouterLink]="backroutes" [title]="'IDP.DETAIL.TITLE' | translate"
    [description]="'IDP.DETAIL.DESCRIPTION' | translate">
    <div class="container">
        <form (ngSubmit)="updateIdp()">
            <ng-container [formGroup]="idpForm">
                <div class="content">
                    <cnsl-form-field appearance="outline" class="formfield">
                        <cnsl-label>{{ 'IDP.ID' | translate }}</cnsl-label>
                        <input cnslInput formControlName="id" />
                    </cnsl-form-field>
                    <cnsl-form-field appearance="outline" class="formfield">
                        <cnsl-label>{{ 'IDP.NAME' | translate }}</cnsl-label>
                        <input cnslInput formControlName="name" />
                    </cnsl-form-field>
                    <cnsl-form-field class="formfield" appearance="outline">
                        <cnsl-label>{{ 'IDP.STYLE' | translate }}</cnsl-label>
                        <mat-select formControlName="stylingType">
                            <mat-option *ngFor="let field of styleFields" [value]="field">
                                {{ 'IDP.STYLEFIELD.'+field | translate }}
                            </mat-option>
                        </mat-select>
                    </cnsl-form-field>
                </div>
            </ng-container>

            <div class="btn-wrapper">
                <button color="primary" mat-raised-button class="continue-button" [disabled]="idpForm.invalid"
                    type="submit">
                    {{ 'ACTIONS.SAVE' | translate }}
                </button>
            </div>
        </form>

        <ng-container *ngIf="oidcConfigForm">
            <h2>{{'IDP.DETAIL.OIDC.TITLE' | translate}}</h2>
            <p>{{'IDP.DETAIL.OIDC.DESCRIPTION' | translate}}</p>

            <form (ngSubmit)="updateOidcConfig()">
                <ng-container [formGroup]="oidcConfigForm">
                    <div class="content">
                        <cnsl-form-field appearance="outline" class="formfield">
                            <cnsl-label>{{ 'IDP.ISSUER' | translate }}</cnsl-label>
                            <input cnslInput formControlName="issuer" />
                        </cnsl-form-field>
                        <cnsl-form-field appearance="outline" class="formfield">
                            <cnsl-label>{{ 'IDP.CLIENTID' | translate }}</cnsl-label>
                            <input cnslInput formControlName="clientId" />
                        </cnsl-form-field>
                        <mat-checkbox class="desc" [(ngModel)]="showIdSecretSection"
                            [ngModelOptions]="{standalone: true}">
                            Update Client Secret
                        </mat-checkbox>
                        <cnsl-form-field appearance="outline" class="formfield" *ngIf="showIdSecretSection">
                            <cnsl-label>{{ 'IDP.CLIENTSECRET' | translate }}</cnsl-label>
                            <input cnslInput formControlName="clientSecret" />
                        </cnsl-form-field>
                        <cnsl-form-field appearance="outline" class="formfield fullwidth">
                            <cnsl-label>{{ 'IDP.SCOPESLIST' | translate }}</cnsl-label>
                            <mat-chip-list #chipScopesList aria-label="scope selection">
                                <mat-chip class="chip" *ngFor="let scope of scopesList?.value" selectable="false"
                                    removable (removed)="removeScope(scope)">
                                    {{scope}} <mat-icon matChipRemove>cancel</mat-icon>
                                </mat-chip>
                                <input cnslInput [matChipInputFor]="chipScopesList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                                    (matChipInputTokenEnd)="addScope($event)">
                            </mat-chip-list>
                        </cnsl-form-field>

                        <cnsl-form-field class="formfield" appearance="outline">
                            <cnsl-label>{{ 'IDP.IDPDISPLAYNAMMAPPING' | translate }}</cnsl-label>
                            <mat-select formControlName="idpDisplayNameMapping">
                                <mat-option *ngFor="let field of mappingFields" [value]="field">
                                    {{ 'IDP.MAPPINGFIELD.'+field | translate }}
                                </mat-option>
                            </mat-select>
                        </cnsl-form-field>
                        <cnsl-form-field class="formfield" appearance="outline">
                            <cnsl-label>{{ 'IDP.USERNAMEMAPPING' | translate }}</cnsl-label>
                            <mat-select formControlName="usernameMapping">
                                <mat-option *ngFor="let field of mappingFields" [value]="field">
                                    {{ 'IDP.MAPPINGFIELD.'+field | translate }}
                                </mat-option>
                            </mat-select>
                        </cnsl-form-field>
                    </div>
                </ng-container>

                <div class="btn-wrapper">
                    <button color="primary" mat-raised-button class="continue-button"
                        [disabled]="oidcConfigForm.invalid" type="submit">
                        {{ 'ACTIONS.SAVE' | translate }}
                    </button>
                </div>
            </form>
        </ng-container>
    </div>

</app-detail-layout>