
.container {
  width: 100%;

  @media only screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem 1rem;
  }
}

.content {
  display: flex;
  flex-direction: row;
  margin: 0 -.5rem;
  flex-wrap: wrap;

  .desc {
    flex-basis: 100%;
    margin: 0 .5rem;
    margin-bottom: 1rem;
    color: var(--grey);
  }

  .formfield {
    flex: 1 1 auto;
    margin: 0 .5rem;
    min-width: 150px;

    .chip {
        border-radius: .5rem;
        height: 40px;
    }

    &.fullwidth {
      flex-basis: 100%;
    }

    @media only screen and (max-width: 450px) {
      flex-basis: 100%;
    }
  }

  .line {
      display: flex;
      align-items: flex-end;
      width: 100%;

      .formfield {
          flex: 1;

          input {
              margin: 0;
          }
      }

      button {
          margin-bottom: 12px;
      }
  }
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;

  .continue-button {
    margin-bottom: 4rem;
    display: block;

    @media only screen and (max-width: 450px) {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }
  }
}
