.idp-wrapper {
  margin-top: 2rem;

  .idp-desc {
    font-size: 14px;
  }

  .idp-content {
    .idp-desc {
      margin-bottom: 1rem;
    }

    .idp-formfield {
      display: block;
      max-width: 400px;

      .chip {
        border-radius: 0.5rem;
        height: 40px;
      }

      .mat-mdc-chip-input {
        width: 100%;
        margin: 0;
      }

      @media only screen and (max-width: 450px) {
        max-width: none;
      }
    }

    .auto-reg-info {
      margin: 0 0 1rem 0;
      display: block;
      width: 100%;
      max-width: 400px;

      .auto-reg-desc {
        margin: 0 0 1rem 0;
      }
    }

    .scope-card {
      max-width: 400px;
      display: block;

      .scope-card-content {
        display: block;

        .flex-line {
          display: flex;
          align-items: flex-end;
          width: 100%;

          .idp-formfield {
            flex: 1;

            input {
              margin: 0;
            }
          }

          button {
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  .btn-wrapper {
    display: flex;
    margin-top: 1rem;

    .continue-button {
      margin-bottom: 2rem;
      display: block;

      @media only screen and (max-width: 450px) {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
    }
  }
}
