h1 {
  margin-top: 0;
}

.sub {
  color: var(--grey);
  margin-bottom: 2rem;
}

.view-toggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  .icon-button {
    display: block;
    border-radius: 0.5rem;
  }
}

.projects-table-wrapper {
  padding-top: 0.5rem;

  .table-wrapper {
    overflow: auto;

    .table,
    .paginator {
      width: 100%;
      background-color: #2d2e30;
    }
  }
}

tr {
  outline: none;

  .dlt-button {
    visibility: hidden;
  }

  &:hover {
    .dlt-button {
      visibility: visible;
    }
  }
}
