.user-grant-create-desc {
  max-width: 500px;
  font-size: 14px;
}

.block {
  display: block;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;

  .small-button {
    display: block;
  }

  .big-button {
    display: block;
    padding: 0.5rem 4rem;
    height: 3.5rem;
  }
}

.sa-icon {
  display: block;
  width: 32px;
  margin: 0 0.5rem;

  i {
    margin: auto;
  }
}

h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-size: 2rem;

  &.project-search {
    margin-bottom: 1.5rem;
  }
}
