.abort-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  .abort {
    font-size: 1.2rem;
    margin-left: 2rem;
  }

  .abort-2 {
    font-size: 1.2rem;
    margin-left: 2rem;
    white-space: nowrap;
  }
}

.user-grant-create-content {
  padding-left: 4.5rem;

  .block {
    display: block;
  }

  .btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;

    .small-button {
      display: block;
    }

    .big-button {
      display: block;
      padding: 0.5rem 4rem;
    }
  }

  .sa-icon {
    display: block;
    width: 32px;
    margin: 0 0.5rem;

    i {
      margin: auto;
    }
  }

  h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-size: 2rem;

    &.project-search {
      margin-bottom: 1.5rem;
    }
  }
}
