
.container {
  padding: 4rem 4rem 2rem 4rem;

  @media only screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem 1rem;
  }

  .abort-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .abort {
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    .abort-2 {
      font-size: 1.2rem;
      margin-left: 2rem;
      white-space: nowrap;
    }
  }

  .desc {
    color: var(--grey);
  }
}

.block {
  display: block;
}

.column {
  display: flex;
  flex-direction: column;

  .formfield {
    width: 400px;

    input {
      font-size: 1.5rem;
    }

    &.autocomplete {
      margin-top: 1rem;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;

  .small-button {
    display: block;
  }

  .big-button {
    display: block;
    padding: .5rem 4rem;
  }
}

.sa-icon {
  display: block;
  width: 32px;
  margin: 0 .5rem;

  i {
    margin: auto;
  }
}
