.icon-button {
  .icon {
    font-size: 1.2rem;
  }
}

.centered {
  display: flex;
  align-items: center;

  i {
    margin-left: 1rem;
    color: var(--color-main);
  }
}

.table {
  width: 100%;
}
