.h1 {
  margin-top: 0;
}

.sub {
  color: var(--grey);
  margin-bottom: 2rem;
}

.domain {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .title {
    font-size: 16px;
    margin-right: 1rem;
    cursor: pointer;

    &:not(.disabled) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .primaryset {
    font-size: 13px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .verified,
  .primary {
    color: var(--color-main);
    margin-right: 1rem;
  }

  .verify-btn {
    font-size: 13px;
  }

  .fill-space {
    flex: 1;
  }

  .rem-button {
    visibility: hidden;
  }

  &:hover {
    .rem-button {
      visibility: visible;
      transition: none;
    }
  }
}

.new-desc {
  font-size: 14px;
  color: #818a8a;
}

.side {
  .details {
    margin-bottom: 1rem;
    border-bottom: 1px solid #81868a40;
    padding-bottom: 1rem;

    .row {
      display: flex;
      margin-bottom: .5rem;
      align-items: center;

      .first {
        flex: 1;
        font-size: .8rem;
        margin-right: .5rem;
      }

      .second {
        font-size: .8rem;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-left: 1rem;
        text-align: right;
      }
    }
  }
}
