.h1 {
  margin-top: 0;
}

h2 {
  font-size: 1.2rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-top: 2rem;
}

.top-desc {
  color: var(--grey);
  font-size: 14px;
}

.sub {
  color: var(--grey);
  margin-bottom: 2rem;
}

.domain {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  .title {
    font-size: 16px;
    margin-right: 1rem;

    &:not(.disabled) {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .primaryset {
    font-size: 13px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  .verified,
  .primary {
    color: var(--color-main);
    margin-right: 1rem;
  }

  .verify-btn {
    font-size: 13px;
  }

  .fill-space {
    flex: 1;
  }

  .rem-button {
    visibility: hidden;
  }

  &:hover {
    .rem-button {
      visibility: visible;
      transition: none;
    }
  }
}

.new-desc {
  font-size: 14px;
  color: #818a8a;
}

.custom-domain-deactivated {
  margin-bottom: 1rem;
}
