@use '@angular/material' as mat;

@mixin org-detail-theme($theme) {
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .org-top {
    border-bottom: 1px solid map-get($foreground, divider);
    margin: 0 -2rem;
    padding: 2rem 2rem 1rem 2rem;
    background: if($is-dark-theme, #00000020, #ffffff80);
    // linear-gradient(90deg, #00000000, #00000020 2%, #00000020 98%, #00000000 100%),

    .org-top-row {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;

      .org-title-row {
        display: flex;
        align-items: center;

        .org-title {
          margin: 0;
          margin-right: 0.5rem;
        }

        .org-state-dot {
          height: 8px;
          width: 8px;
          border-radius: 50%;

          &.active {
            background-color: var(--success);
          }

          &.inactive {
            background-color: var(--warn);
          }
        }
      }

      .org-sub {
        color: var(--grey);
        margin: 1rem 0 0 0;
        font-size: 14px;
      }

      .org-top-desc {
        color: var(--grey);
        font-size: 14px;
      }

      .fill-space {
        flex: 1;
      }
    }
  }
}

.org-subtitle {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 2rem;
}

// .new-desc {
//   font-size: 14px;
//   color: var(--grey);
// }

// .custom-domain-deactivated {
//   margin-bottom: 1rem;
// }
