<h1 mat-dialog-title>{{'USER.MFA.U2F_DIALOG_TITLE' | translate}}</h1>
<div mat-dialog-content>
    <p>{{'USER.MFA.U2F_DIALOG_DESCRIPTION' | translate}}</p>

    <cnsl-form-field class="form-field" label="Name" required="true">
        <cnsl-label>{{'USER.MFA.U2F_NAME' | translate}}</cnsl-label>
        <input cnslInput [(ngModel)]="name" />
    </cnsl-form-field>
</div>
<div mat-dialog-actions class="action">
    <button mat-button (click)="closeDialog()"><span translate>ACTIONS.CLOSE</span></button>
    <button mat-raised-button class="ok-button" color="primary" (click)="closeDialogWithCode()"><span
            translate>ACTIONS.OK</span>
    </button>
</div>
