<app-detail-layout [backRouterLink]="[ serviceType === PolicyComponentServiceType.ADMIN ? '/iam/policies' : '/org']"
    [title]="'POLICY.PWD_LOCKOUT.TITLE' | translate" [description]="'POLICY.PWD_LOCKOUT.DESCRIPTION' | translate">
    <p class="default" *ngIf="isDefault"> {{'POLICY.DEFAULTLABEL' | translate}}</p>

    <ng-template appHasRole [appHasRole]="['policy.delete']">
        <button *ngIf="serviceType === PolicyComponentServiceType.MGMT  && !isDefault"
            matTooltip="{{'POLICY.RESET' | translate}}" color="warn" (click)="removePolicy()" mat-stroked-button>
            {{'POLICY.RESET' | translate}}
        </button>
    </ng-template>

    <div class="content" *ngIf="lockoutData">
        <div class="row">
            <span class="left-desc">{{'POLICY.DATA.MAXATTEMPTS' | translate}}</span>
            <span class="fill-space"></span>
            <div class="length-wrapper">
                <button mat-icon-button (click)="incrementMaxAttempts()">
                    <mat-icon>add</mat-icon>
                </button>
                <span>{{lockoutData?.maxAttempts}}</span>
                <button mat-icon-button (click)="decrementMaxAttempts()">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>
        <div class="row">
            <span class="left-desc">{{'POLICY.DATA.SHOWLOCKOUTFAILURES' | translate}}</span>
            <span class="fill-space"></span>
            <mat-slide-toggle color="primary" name="showLockoutFailure" ngDefaultControl
                [(ngModel)]="lockoutData.showLockoutFailure">
            </mat-slide-toggle>
        </div>
    </div>

    <div class="btn-container">
        <button (click)="savePolicy()" color="primary" type="submit" mat-raised-button>{{ 'ACTIONS.SAVE' | translate
            }}</button>
    </div>
</app-detail-layout>