<!-- <cnsl-card
  title="{{ 'POLICY.PWD_LOCKOUT.TITLE' | translate }}"
  description="{{ 'POLICY.PWD_LOCKOUT.DESCRIPTION' | translate }}"
> -->
<h2>{{ 'POLICY.PWD_LOCKOUT.TITLE' | translate }}</h2>
<p class="cnsl-secondary-text">{{ 'POLICY.PWD_LOCKOUT.DESCRIPTION' | translate }}</p>

<cnsl-info-section class="default" *ngIf="isDefault"> {{ 'POLICY.DEFAULTLABEL' | translate }}</cnsl-info-section>

<ng-template cnslHasRole [hasRole]="['policy.delete']">
  <button
    [disabled]="(['policy.write'] | hasRole | async) === false"
    *ngIf="serviceType === PolicyComponentServiceType.MGMT && !isDefault"
    matTooltip="{{ 'POLICY.RESET' | translate }}"
    color="warn"
    (click)="resetPolicy()"
    mat-stroked-button
  >
    {{ 'POLICY.RESET' | translate }}
  </button>
</ng-template>

<cnsl-card *ngIf="lockoutData">
  <div class="lockout-content">
    <div class="row">
      <div class="length-wrapper">
        <button [disabled]="(['policy.write'] | hasRole | async) === false" mat-icon-button (click)="decrementMaxAttempts()">
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ lockoutData?.maxPasswordAttempts }}</span>
        <button [disabled]="(['policy.write'] | hasRole | async) === false" mat-icon-button (click)="incrementMaxAttempts()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div class="number-toggle-row">
        <span class="left-desc">{{ 'POLICY.DATA.MAXATTEMPTS' | translate }}</span>
        <span class="fill-space"></span>
      </div>
    </div>
  </div>
</cnsl-card>

<div class="btn-container">
  <button
    (click)="savePolicy()"
    [disabled]="(['policy.write'] | hasRole | async) === false"
    color="primary"
    type="submit"
    mat-raised-button
  >
    {{ 'ACTIONS.SAVE' | translate }}
  </button>
</div>
<!-- </cnsl-card> -->
