<form>
  <cnsl-form-field class="full-width">
    <cnsl-label>{{ 'QUICKSTART.FRAMEWORK' | translate }}</cnsl-label>
    <input cnslInput type="text" placeholder="" #nameInput [formControl]="myControl" [matAutocomplete]="auto" />

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      @if (isLoading()) {
        <mat-option class="is-loading">
          <mat-spinner diameter="30"></mat-spinner>
        </mat-option>
      }
      @for (framework of filteredOptions | async; track framework) {
        <mat-option [value]="framework.id">
          <div class="framework-option">
            <div class="framework-option-column">
              <div class="img-wrapper">
                @if (framework.imgSrcDark) {
                  <img class="dark-only" [src]="framework.imgSrcDark" />
                }
                @if (framework.imgSrcLight) {
                  <img class="light-only" [src]="framework.imgSrcLight" />
                }
              </div>
              <span class="fill-space"></span>
              <span>{{ framework.title }}</span>
            </div>
          </div>
        </mat-option>
      }
      @if (withCustom) {
        <mat-option [value]="'other'">
          <div class="framework-option">
            <div class="framework-option-column">
              <div class="img-wrapper"></div>
              <span class="fill-space"></span>
              <span>{{ 'QUICKSTART.FRAMEWORK_OTHER' | translate }}</span>
            </div>
          </div>
        </mat-option>
      }
    </mat-autocomplete>
  </cnsl-form-field>
</form>
