@mixin instance-detail-theme($theme) {
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $background: map-get($theme, background);
}

.instance-table-title {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-top: 2rem;
}

.instance-action-wrapper {
  display: flex;
  align-items: center;

  .portal-link {
    margin-right: 1rem;

    .portal-span {
      margin-right: 0.5rem;
    }
  }
}

.instance-table-desc {
  font-size: 14px;
}

.instance-settings-wrapper {
  margin-top: 2rem;
}
