<div class="max-width-container">
  <div class="settings-top-view">
    <div>
      <div class="settings-title-row">
        <h1>{{ 'SETTINGS.ORG.TITLE' | translate }}</h1>
      </div>
      <p class="desc cnsl-secondary-text">{{ 'SETTINGS.ORG.DESCRIPTION' | translate }}</p>
    </div>
    <span class="fill-space"></span>
  </div>
  <ng-container *ngIf="settingsList | async as list">
    <cnsl-settings-list
      [selectedId]="id"
      [serviceType]="PolicyComponentServiceType.MGMT"
      [settingsList]="list"
    ></cnsl-settings-list>
  </ng-container>
</div>
