@import '~@angular/material/theming';

@mixin private-label-preview-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  @include angular-material-color($theme);
  @include angular-material-color($theme);
  @include cnsl-form-field-theme($theme);
}

.preview {
  position: absolute;
  left: 0;
  width: 100%;
  // width: calc(100px + 300px);
  pointer-events: none;
  margin-bottom: 2rem;

  * {
    pointer-events: none;
  }

  .label {
    color: var(--grey);
    font-size: 12px;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .dashed {
    border: 2px dashed rgba(#697386, .5);
    border-radius: 1rem;
    padding: 100px 20px;

    .login-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 360px;
      margin: auto;

      @media only screen and (min-width: 1000px) {
        width: 360px;
      }

      img {
        max-width: 160px;
        max-height: 150px;
        margin-bottom: 1rem;
      }

      h1 {
        font-size: 20px;
      }

      .formfield {
        width: 100%;
      }

      .btn-wrapper {
        display: flex;
        width: 100%;
        justify-content: space-between;
      }
    }
  }
}
