@import './qrcode.scss';

@mixin lgn-qrcode-theme($theme-or-color-config) {
    $theme: lgn-private-legacy-get-theme($theme-or-color-config);
    $color: lgn-get-color-config($theme);

    @if $color != null {
      @include lgn-qrcode-color($color);
    }
}

@mixin lgn-qrcode-color($config-or-theme) {
    $config: lgn-get-color-config($config-or-theme);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);

    .lgn-qrcode {
        svg {
            background: lgn-color($background, qrcode);
        }

        svg rect.color {
            fill: lgn-color($foreground, qrcode);
        }

        svg rect.bg-color {
            fill: lgn-color($background, qrcode);
        }
    }
}