<div class="cnsl-provider-next">
  @if (configureProvider || autofillLink || activateLink) {
    <cnsl-card
      [title]="'DESCRIPTIONS.SETTINGS.IDPS.NEXT' | translate"
      [expanded]="!!expanded"
      >
      @if (activateLink) {
        <cnsl-info-section>
          <div class="identity-provider-title-row">
            <div class="left">
              <h2 class="title">{{ 'DESCRIPTIONS.SETTINGS.IDPS.ACTIVATE.TITLE' | translate }}</h2>
              <div>
                @if (activateLink) {
                  <a
                    mat-icon-button
                    card-actions
                    mat-icon-button
                    [href]="activateLink"
                    rel="noreferrer"
                    target="_blank"
                    >
                    <mat-icon class="next-icon">info_outline</mat-icon>
                  </a>
                }
              </div>
            </div>
            <div class="right">
              <button color="primary" mat-raised-button class="continue-button" (click)="activate.emit()">
                {{ 'ACTIONS.ACTIVATE' | translate }}
              </button>
            </div>
          </div>
          <p class="cnsl-secondary-text description">{{ 'DESCRIPTIONS.SETTINGS.IDPS.ACTIVATE.DESCRIPTION' | translate }}</p>
        </cnsl-info-section>
      }
      @if (configureProvider) {
        <div class="section">
          <div class="title-row">
            <div class="left">
              <h2 class="title">{{ configureTitle }}</h2>
              @if (configureLink) {
                <a
                  mat-icon-button
                  card-actions
                  mat-icon-button
                  [href]="configureLink"
                  rel="noreferrer"
                  target="_blank"
                  >
                  <mat-icon class="next-icon">info_outline</mat-icon>
                </a>
              }
            </div>
          </div>
          <p class="cnsl-secondary-text description">{{ configureDescription }}</p>
          @for (row of copyUrls; track row) {
            <cnsl-copy-row [label]="row.label" [value]="row.url" labelMinWidth="200px">
              @if (row.downloadable) {
                <a class="download-button" mat-stroked-button [href]="row.url" download>{{
                  'ACTIONS.DOWNLOAD' | translate
                }}</a>
              }
            </cnsl-copy-row>
          }
        </div>
      }
      @if (autofillLink) {
        <div class="section">
          <div class="title-row">
            <div class="left">
              <h2 class="title">{{ 'DESCRIPTIONS.SETTINGS.IDPS.AUTOFILL.TITLE' | translate }}</h2>
              @if (autofillLink) {
                <a
                  mat-icon-button
                  card-actions
                  mat-icon-button
                  [href]="autofillLink"
                  rel="noreferrer"
                  target="_blank"
                  >
                  <mat-icon class="next-icon">info_outline</mat-icon>
                </a>
              }
            </div>
          </div>
          <p class="cnsl-secondary-text description">{{ 'DESCRIPTIONS.SETTINGS.IDPS.AUTOFILL.DESCRIPTION' | translate }}</p>
        </div>
      }
    </cnsl-card>
  }
</div>
