@mixin owned-project-detail-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);
  $warn: map-get($theme, warn);
  $warn-color: map-get($warn, 500);

  .zitadel-warning {
    font-size: 14px;
    color: $warn-color;
  }

  .section-h2 {
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2rem 0 1rem 0;
  }

  .project-detail-privatelabel-info {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid map-get($foreground, divider);

    .setting-title {
      margin: 0;
      font-size: 16px;
    }

    .setting-desc {
      margin: 0;
      display: flex;
      align-items: center;

      span {
        font-size: 14px;
      }

      .icon-button {
        margin-left: 0.5rem;
      }
    }
  }

  .project-detail-btn-container {
    display: flex;
    justify-content: flex-end;
  }
}

.desc {
  font-size: 14px;
  margin-bottom: 1rem;
}
