.title {
  font-size: 1.2rem;
  margin-top: 0;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  .icon {
    font-size: 3rem;
  }
}

.desc {
  color: var(--grey);
  font-size: .9rem;
}

.action {
  display: flex;

  button {
    border-radius: .5rem;
  }

  .ok-button {
    margin-left: .5rem;
  }

  .fill-space {
    flex: 1;
  }
}
