.title {
  font-size: 1.2rem;
  margin-top: 0;
}

.desc {
  color: #8795a1;
  font-size: .9rem;
}

.action {
  display: flex;

  .ok-button {
    margin-left: .5rem;
  }

  .fill-space {
    flex: 1;
  }

  button {
    border-radius: .5rem;
  }
}
