# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# results
cypress/screenshots/
cypress/videos/
cypress/results/

# not compiling code
cypress/e2e/actions/e2eSetMetadata.js