:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  gap: 0.5rem;
  padding-right: 0;
  height: 32px;
  max-height: 32px;
  cursor: pointer;
}

.header-text {
  font-size: 1.1rem;
}

@mixin header-button-theme($theme) {
  $foreground: map-get($theme, foreground);

  .header-button {
    border: 0;
    background: transparent;
    border-radius: 4px;
    padding: 0;
    height: 100%;
    cursor: pointer;
    color: map-get($foreground, text);
  }
}
