h1 {
  margin-top: 0;
}

.top-desc {
  color: var(--grey);
}

.table,
.paginator {
  width: 100%;

  td,
  th {
    padding: 0 1rem;

    &:first-child {
      padding-left: 0;
      padding-right: 1rem;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}

.filter {
  margin-left: 1rem;
}

th {
  .search-button {
    visibility: hidden;
  }

  &:hover,
  &.search-active {
    .search-button {
      visibility: visible;
    }
  }
}
