<h2 mat-dialog-title>{{ 'QUICKSTART.DIALOG.CHANGE.TITLE' | translate }}</h2>
<mat-dialog-content>
  {{ 'QUICKSTART.DIALOG.CHANGE.DESCRIPTION' | translate }}
  <div class="framework-change-block">
    <cnsl-framework-autocomplete
      [frameworkId]="data.framework?.id"
      [frameworks]="data.frameworks"
      (selectionChanged)="findFramework($event)"
    ></cnsl-framework-autocomplete>
  </div>
</mat-dialog-content>
<div>
  <mat-dialog-actions class="actions">
    <button mat-stroked-button mat-dialog-close>{{ 'ACTIONS.CANCEL' | translate }}</button>
    <button color="primary" mat-raised-button (click)="close()" cdkFocusInitial>{{ 'ACTIONS.CHANGE' | translate }}</button>
  </mat-dialog-actions>
</div>
