<div class="framework-change-wrapper">
  <div class="framework-card-wrapper">
    <div class="framework-card card" *ngIf="framework | async as framework">
      <div>
        <img class="dark-only" *ngIf="framework.imgSrcDark" [src]="framework.imgSrcDark" />
        <img class="light-only" *ngIf="framework.imgSrcLight" [src]="framework.imgSrcLight" />
      </div>
      <span>{{ framework.title }}</span>
    </div>

    <div class="framework-card card" *ngIf="!(framework | async) as framework">
      <span>{{ 'QUICKSTART.SELECT_FRAMEWORK' | translate }}</span>
    </div>

    <button (click)="openDialog()" mat-stroked-button>
      {{ 'ACTIONS.CHANGE' | translate }}
    </button>
  </div>
</div>
