h2 {
  font-size: 1.2rem;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-top: 2rem;
}

.top-desc {
  color: var(--grey);
  font-size: 14px;
}

.row-lyt {
  // display: flex;
  // flex-wrap: wrap;
  margin: 0;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;

  @media only screen and (max-width: 1300px) {
    grid-template-columns: 1fr 1fr;
  }

  @media only screen and (max-width: 450px) {
    grid-template-columns: 1fr;
  }

  .p-item {
    // flex-basis: 290px;
    // margin: .5rem;
    display: flex;
    flex-direction: column;
    min-height: 250px;
    padding: 1rem;
    height: 100%;
    box-sizing: border-box;

    @media only screen and (max-width: 450px) {
      flex-basis: 100%;
    }

    .avatar {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: .5rem;
      background: linear-gradient(40deg, rgb(129, 85, 185) 30%, #7b8ada);

      &.purple {
        background: linear-gradient(40deg, #7c3aed 30%, #6d28d9);
      }

      &.red {
        background: linear-gradient(40deg, #dc2626 30%, #db2777);
      }

      &.green {
        background: linear-gradient(40deg, #059669 30%, #047857);
      }

      &.blue {
        background: linear-gradient(40deg, #3b82f6 30%, #4f46e5);
      }

      &.yellow {
        background: linear-gradient(40deg, #f59e0b 30%, #b45309);
      }

      &.black {
        background: linear-gradient(40deg, #1f2937, #111827);
      }

      .icon,
      i {
        font-size: 2.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        color: white;
      }
    }

    .title {
      display: flex;
      align-items: center;

      span {
        font-size: 1.1rem;
      }

      .icon {
        margin-left: 1rem;
        margin-right: 1rem;
      }
    }

    .desc {
      font-size: 14px;
      color: var(--grey);
    }

    .warn {
      margin-bottom: .5rem;
    }

    .icons {
      margin-bottom: 1rem;

      .icon {
        margin-right: .5rem;
      }
    }

    .fill-space {
      flex: 1;
    }

    .btn-wrapper {
      display: flex;
    }

    button {
      margin-right: 1rem;
    }
  }
}
