<h2>{{'POLICY.TITLE' | translate}}</h2>

<p class="top-desc">{{'POLICY.DESCRIPTION' | translate}}</p>

<div class="row-lyt">

  <ng-container *ngFor="let policy of POLICIES">
    <ng-template appHasRole
        [appHasRole]="type == PolicyComponentServiceType.ADMIN ? policy.iamWithRole : type == PolicyComponentServiceType.MGMT ? policy.orgWithRole : []">
        <div class="p-item card">
            <div class="avatar {{policy.color}}">
                <mat-icon *ngIf="policy.svgIcon" class="icon" [svgIcon]="policy.svgIcon"></mat-icon>
                <i *ngIf="policy.icon" class="icon {{policy.icon}}"></i>
            </div>
            <div class="title">
                <span>{{policy.i18nTitle | translate}}</span>
            </div>

            <p class="desc">
                {{policy.i18nDesc | translate}}</p>

            <span class="fill-space"></span>
            <div class="btn-wrapper">
                <button
                    [routerLink]="type == PolicyComponentServiceType.ADMIN ? policy.iamRouterLink : type == PolicyComponentServiceType.MGMT ? policy.orgRouterLink : null"
                    mat-stroked-button>{{'POLICY.BTN_EDIT' | translate}}</button>
            </div>
        </div>
    </ng-template>
  </ng-container>
</div>
