$dark-background: #2d2e30;

// * {
//     transition: background-color .5s ease-in-out;
// }

:root {
    transition: none;
}

.theme-app {
    position: relative;
}
.theme-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.circle {
  position: relative;
  border-radius: 100%;
  width: 6rem;
  height: 6rem;
  background: linear-gradient(40deg, #FF0080,#FF8C00 70%);
  margin: auto;
}
.crescent {
  position: absolute;
  border-radius: 100%;
  right: 0;
  width: 4rem;
  transform: scale(0);
  transform-origin: top right;
  transition: transform .6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
p { 
  font-size: 90%;
}
.heading {
  font-size: 100%;
  font-weight: bolder;
  margin: 2rem 0 .2rem 0;
}

.desc {
    font-size: 14px;
    color: #8795a1;
}

label, .toggle {
  height: 2.8rem;
  border-radius: 100px;
}

label {
  width: 100%;
  background-color: rgba(0,0,0,.1);
  border-radius: 100px;
  position: relative;
  margin: 1rem 0 1rem 0; 
  cursor: pointer;
}
.toggle {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 15px rgba(0,0,0,.15);
}
.names {
  font-size: 90%;
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: .5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none;
}

/* -------- Switch Styles ------------*/
[type="checkbox"] {
  display: none;
}
/* Toggle */
[type="checkbox"]:checked + .theme-app .toggle{
  transform: translateX(100%);
  background-color: $dark-background;
}
[type="checkbox"]:checked + .theme-app .dark{
  opacity: 1;
}
[type="checkbox"]:checked + .theme-app .light{
  opacity: .5;
}
/* App */
[type="checkbox"]:checked + .theme-app{
  background-color:  $dark-background;
  color: white;
}
/* Circle */
[type="checkbox"]:checked + .theme-app .crescent{
  transform: scale(1);
  background: $dark-background;
}
[type="checkbox"]:checked + .theme-app .circle{
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}
[type="checkbox"]:checked + .theme-app .main-circle{
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
}
/* Fab */
[type="checkbox"]:checked + .theme-app .fab{
  background-color: $dark-background;
}
