.next-steps {
  margin-top: 1rem;

  h5 {
    text-transform: uppercase;
    font-size: 14px;
    color: var(--grey);
  }

  .row {
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
    padding-bottom: .5rem;
    margin: 0 -.5rem;
    margin-bottom: 2rem;

    .step {
      min-width: 220px;
      padding: 1rem;
      margin: 1rem .5rem;
      border: 1px solid #8795a150;
      border-radius: .5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      flex: 1;

      @media only screen and (min-width: 899px) {
        max-width: 280px;
      }

      h6 {
        font-size: 1rem;
        text-align: center;
        margin: 0 0 1rem 0;
      }

      p {
        font-size: 14px;
        text-align: center;
        color: var(--grey);
      }

      .fill-space {
        flex: 1;
      }

      button {
        display: block;
        margin: auto;
      }
    }
  }
}
