.next-steps {
  margin-top: 4rem;

  .title-row {
    display: flex;
    align-items: center;

    h5 {
      text-transform: uppercase;
      font-size: 14px;
      letter-spacing: 0.05em;
      font-weight: 400;
      margin-right: 1rem;
    }
  }

  .row {
    display: grid;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 0.5rem;

    @media only screen and (max-width: 1300px) {
      grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 500px) {
      grid-template-columns: 1fr;
    }

    .step {
      padding: 1rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: flex-start;

      i {
        font-size: 2.5rem;
        margin-bottom: 1rem;
      }

      h6 {
        font-size: 1.1rem;
        text-align: center;
        font-weight: 400;
        margin: 0;
      }

      p {
        font-size: 14px;
        margin: 1rem 0;
        color: var(--grey);
      }

      .fill-space {
        flex: 1;
      }

      button {
        display: block;
        margin: auto;
      }
    }
  }
}
