<div class="next-steps">
  <div class="title-row">
    <h5>{{'NEXTSTEPS.TITLE' | translate}}</h5>
    <i class="las la-shoe-prints"></i>
  </div>
  <div class="row">
    <ng-container *ngFor="let link of links">
      <ng-template *ngIf="link.withRole" cnslHasRole [hasRole]="link.withRole">
        <div class="step card">
          <ng-content select="[icon]"></ng-content>
          <h6>{{ link.i18nTitle | translate }}</h6>
          <p>{{link.i18nDesc | translate}}</p>
          <span class="fill-space"></span>
          <a *ngIf="link.routerLink" [routerLink]="link.routerLink" color="primary" mat-stroked-button>
            {{'ACTIONS.CONTINUE' | translate}}
          </a>
          <a *ngIf="link.href" [href]="link.href" target="_blank" color="primary" mat-stroked-button>
            {{'ACTIONS.CONTINUE' | translate}}
          </a>
        </div>
      </ng-template>
      <div class="step card" *ngIf="!link.withRole">
        <i *ngIf="link.iconClasses" class="{{link.iconClasses}}"></i>
        <h6>{{ link.i18nTitle | translate }}</h6>
        <p>{{link.i18nDesc | translate}}</p>
        <span class="fill-space"></span>
        <a *ngIf="link.routerLink" [routerLink]="link.routerLink" mat-stroked-button>
          {{'ACTIONS.CONTINUE' | translate}}
        </a>
        <a *ngIf="link.href" [href]="link.href" target="_blank" mat-stroked-button>
          {{'ACTIONS.CONTINUE' | translate}}
        </a>
      </div>
    </ng-container>
  </div>
</div>