.title {
  font-size: 1.5rem;
}

.generator-type {
  font-size: 1rem;
}

.type-form-field {
  display: none;
}

.generator-form-field {
  width: 100%;
}

.slide-toggle-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;

  .slide-toggle {
    margin: 0.5rem 0;

    .slide-toggle-row {
      display: flex;
      align-items: center;

      .icon {
        margin: 0 0.5rem;
      }
    }
  }
}

.action {
  display: inline !important;

  button {
    border-radius: 0.5rem;
    float: right;
    margin-top: 0.5rem;
    display: flex;
  }
}
