tr {
  button {
    visibility: hidden;
    transition: color 0.2s ease;

    &:not(:hover) {
      color: var(--grey);
    }
  }

  &:hover {
    button {
      visibility: visible;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}

.views-title {
  margin: 2rem 0 0 0;
}

.views-desc {
  font-size: 14px;
}
