.spinner-wr {
  margin: 0.5rem 0;
}

.smtp-form-field,
.info-section-warn {
  max-width: 400px;
  display: block;
}

.info-section-warn {
  margin-bottom: 0.5rem;
}

.smtp-checkbox {
  max-width: 400px;
  display: block;
  margin: 1rem 0;
}

.set-password-btn {
  margin-bottom: 1rem;
}

.general-btn-container {
  display: flex;
  justify-content: flex-start;

  .save-button {
    display: block;
  }
}

.sms-providers {
  display: flex;
  align-items: center;

  .sms-card {
    margin-right: 1rem;

    &.add {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    .sms-provider {
      display: flex;
      flex-direction: row;
      align-items: center;

      .title {
        font-size: 16px;
        margin: 0 1rem 0 0;
      }

      .fill-space {
        flex: 1;
      }
    }
  }
}
