.header {
    display: flex;
    align-items: center;

    .fill-space {
        flex: 1;
    }

    h3 {
        font-family: 'Rubik';
    }
}

.app-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
    padding-bottom: 2rem;

    .app-wrap {
        outline: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 150px;

        .morph-card {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
        }

        .name {
            font-size: .8rem;
            color: #8a868a;
        }
    }
}