.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -0.5rem;

  .formfield {
    flex: 1 1 33%;
    margin: 0 0.5rem;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}
