.default {
  display: block;
  margin-bottom: 1rem;
}

.policy-applied-to {
  margin: -1rem 0 0 0;
  font-size: 14px;
}

.lockout-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    display: flex;
    align-items: center;
    padding: 0.3rem 0;

    .number-toggle-row {
      margin-left: 1rem;
      display: flex;
      align-items: center;

      .left-desc {
        font-size: 0.9rem;
      }
    }

    .fill-space {
      flex: 1;
    }

    .length-wrapper {
      display: flex;
      align-items: center;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  button {
    display: block;
    margin-right: 1rem;
  }
}
