<div class="max-width-container">
  <ng-container *ngIf="['org.write$'] | hasRole as canwrite$">
    <div class="settings-top-view">
      <div>
        <div class="settings-title-row">
          <h1>{{ 'SETTINGS.INSTANCE.TITLE' | translate }}</h1>
          <!-- <a
              mat-icon-button
              href="https://docs.zitadel.ch/docs/guides/basics/organizations#how-zitadel-handles-usernames"
              rel="noreferrer"
              target="_blank"
            >
              <i class="las la-info-circle"></i>
            </a> -->
        </div>
        <p class="desc cnsl-secondary-text">{{ 'SETTINGS.INSTANCE.DESCRIPTION' | translate }}</p>
      </div>
      <span class="fill-space"></span></div
  ></ng-container>
</div>
