<div class="sp_wrapper">
  <mat-spinner diameter="30" *ngIf="loading$ | async"></mat-spinner>
</div>
<div class="mfa-list">
  <div class="mfa mat-elevation-z1" *ngFor="let mfa of mfas">
    <span>
      {{(componentType === LoginMethodComponentType.SecondFactor ? 'MFA.SECONDFACTORTYPES.':
      LoginMethodComponentType.MultiFactor ? 'MFA.MULTIFACTORTYPES.': '')+mfa | translate}}
    </span>

    <button color="warn" *ngIf="!disabled" mat-icon-button (click)="removeMfa(mfa)" class="rm">
      <mat-icon matTooltip="{{'ACTIONS.REMOVE' | translate}}">remove_circle</mat-icon>
    </button>
  </div>
  <button mat-raised-button color="primary" class="new-mfa" [disabled]="disabled" (click)="!disabled ? addMfa(): null">
    <span>{{'ACTIONS.ADD' | translate}}</span>
    <mat-icon class="icon">add</mat-icon>
  </button>
</div>