<div class="sidenav-container">
  <div class="sidenav-settings-list" [ngClass]="{ indented: indented }">
    <div class="sidenav-sticky-rel">
      @if (setting$()) {
        <button
          (click)="setting$.set(null)"
          class="sidenav-setting-list-element mob-only"
          [ngClass]="{ active: true }"
          >
          <i class="las la-angle-left"></i>
          <span>{{ 'USER.SETTINGS.TITLE' | translate }}</span>
        </button>
      }

      @for (setting of settingsList; track trackSettings(i, setting); let i = $index) {
        @if (
          (setting.groupI18nKey && i > 0 && setting.groupI18nKey !== settingsList[i - 1].groupI18nKey) ||
          (i === 0 && setting.groupI18nKey)
          ) {
          <span
            class="sidenav-setting-group hide-on-mobile"
            >{{ setting.groupI18nKey | translate }}</span
            >
          }
          <button
            (click)="setting$.set(setting)"
            class="sidenav-setting-list-element hide-on-mobile"
            [ngClass]="{ active: setting$()?.id === setting.id }"
            [attr.data-e2e]="'sidenav-element-' + setting.id"
            >
            <span>{{ setting.i18nKey | translate }}</span>
            @if (setting?.beta) {
              <span class="state">{{ 'SETTINGS.BETA' | translate }}</span>
            }
            @if (setting.showWarn) {
              <mat-icon class="warn-icon" svgIcon="mdi_shield_alert"></mat-icon>
            }
          </button>
        }
      </div>
    </div>

    <div class="sidenav-content">
      <ng-content></ng-content>
    </div>
  </div>
