<div class="app-grid-header">
    <h3>{{'APP.LIST' | translate}}</h3>
    <span class="fill-space"></span>
    <button mat-icon-button (click)="closeView()">
        <i class="show list view las la-th-list"></i>
    </button>
</div>
<div class="app-container">
    <div class="sp-container" *ngIf="(loading$ | async)">
        <mat-spinner color="primary" diameter="50"></mat-spinner>
    </div>

    <div [routerLink]="['/projects', projectId, 'apps', app.id ]" class="app-wrap"
        *ngFor="let app of appsSubject | async"
        matTooltip="{{'ACTIONS.EDIT' | translate}}">
        <cnsl-app-card class="grid-card" matRipple [type]="app.oidcConfig?.applicationType"
            [isApiApp]="app.apiConfig !== undefined">
            {{ app.name.charAt(0)}}
            <i *ngIf="app.oidcConfig?.applicationType == OIDCApplicationType.OIDCAPPLICATIONTYPE_NATIVE"
                class="las la-mobile"></i>
            <i *ngIf="app.oidcConfig?.applicationType == OIDCApplicationType.OIDCAPPLICATIONTYPE_WEB"
                class="las la-code"></i>
            <i *ngIf="app.oidcConfig?.applicationType == OIDCApplicationType.OIDCAPPLICATIONTYPE_USER_AGENT"
                class="las la-code"></i>
            <i *ngIf="app.apiConfig" class="las la-code"></i>
        </cnsl-app-card>
        <span class="name">{{app.name}}</span>
        <span *ngIf="app.oidcConfig?.applicationType !== undefined && app.oidcConfig?.applicationType !== null"
            class="type">
            {{'APP.OIDC.APPTYPE.'+app.oidcConfig?.applicationType | translate}}</span>
        <span *ngIf="app.apiConfig !== undefined" class="type"> API</span>

    </div>

    <ng-template appHasRole [appHasRole]="['project.app.write']">
        <div class="app-wrap" *ngIf="!disabled" [routerLink]="[ '/projects', projectId, 'apps', 'create']">
            <cnsl-app-card class="grid-card add" matRipple>
                <mat-icon>add</mat-icon>
            </cnsl-app-card>
            <span class="name">{{ 'ACTIONS.NEW' | translate }}</span>
        </div>
    </ng-template>
</div>