<div class="app-grid-header">
    <h3>{{'APP.LIST' | translate}}</h3>
    <span class="fill-space"></span>
    <button mat-icon-button (click)="closeView()">
        <i class="show list view las la-th-list"></i>
    </button>
</div>
<div class="app-container">
    <div class="sp-container" *ngIf="(loading$ | async)">
        <mat-spinner color="primary" diameter="50"></mat-spinner>
    </div>

    <div [routerLink]="['/projects', projectId, 'apps', app.id ]" class="app-wrap"
        *ngFor="let app of appsSubject | async"
        matTooltip="{{'APP.OIDC.APPTYPE'+app.oidcConfig.applicationType | translate}}">
        <div class="morph-card" matRipple>
            {{ app.name.charAt(0)}}
            <i *ngIf="app.oidcConfig.applicationType == OIDCApplicationType.OIDCAPPLICATIONTYPE_NATIVE"
                class="las la-mobile"></i>
            <i *ngIf="app.oidcConfig.applicationType == OIDCApplicationType.OIDCAPPLICATIONTYPE_WEB"
                class="las la-code"></i>
            <i *ngIf="app.oidcConfig.applicationType == OIDCApplicationType.OIDCAPPLICATIONTYPE_USER_AGENT"
                class="las la-code"></i>
        </div>
        <span class="name">{{app.name}}</span>
        <span class="type">{{'APP.OIDC.APPTYPE'+app.oidcConfig.applicationType | translate}}</span>

    </div>

    <ng-template appHasRole [appHasRole]="['project.app.write']">
        <div class="app-wrap" *ngIf="!disabled" [routerLink]="[ '/projects', projectId, 'apps', 'create']">
            <div class="morph-card add" matRipple>
                <mat-icon>add</mat-icon>
            </div>
            <span class="name">{{ 'ACTIONS.NEW' | translate }}</span>
        </div>
    </ng-template>
</div>