
.app-grid-header {
  display: flex;
  align-items: center;

  .fill-space {
    flex: 1;
  }
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  padding-bottom: 2rem;

  .sp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(82px + 2rem);
    height: calc(82px + 2rem);
  }

  .app-wrap {
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;

    .grid-card {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      height: 80px;
      width: 80px;
      margin: 1rem;
      text-transform: uppercase;
      border-radius: .5rem;
      font-weight: 800;
      box-sizing: border-box;

      &.add {
        border: 2px solid var(--grey);
      }
    }

    .name {
      font-size: 14px;
    }

    .type {
      font-size: 12px;
      color: #8a868a;
    }
  }
}
