@mixin accounts-card-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary-color: map-get($primary, 500);
  $card-background-color: map-get($background, cards);

  $warn-color: map-get($warn, 500);
  $accent-color: map-get($accent, 500);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($background, background);
  $border-color: if($is-dark-theme, rgba(#8795a1, 0.2), rgba(#8795a1, 0.2));
  $secondary-text: map-get($foreground, secondary-text);

  .accounts-card {
    border-radius: 0.5rem;
    z-index: 300;
    background-color: $card-background-color;
    transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 1px solid $border-color;
    box-sizing: border-box;
    outline: none;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    position: relative;
    color: map-get($foreground, text);

    .avatar {
      font-size: 80px;
      margin-bottom: 1rem;
      border-radius: 50%;
      border: 2px solid $border-color;

      &.iam-user {
        border: 2px solid $primary-color;
      }
    }

    .u-name {
      font-size: 1rem;
      line-height: 1rem;
    }

    .u-email {
      font-size: 0.8rem;
      margin: 0.5rem 0;
    }

    button {
      border-radius: 50vh;
      margin: 0.5rem;
    }

    .l-accounts {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0.5rem 0;
      max-height: 450px;
      overflow-y: auto;
      border-top: 1px solid rgba(#8795a1, 0.3);
      border-bottom: 1px solid rgba(#8795a1, 0.3);

      .row {
        padding: 0.5rem;
        display: flex;
        align-items: center;
        color: inherit;
        text-decoration: none;

        &:hover {
          cursor: pointer;
          background-color: #00000010;
        }

        .small-avatar {
          height: 35px;
          width: 35px;
          line-height: 35px;
          font-size: 35px;
          border-radius: 50%;
          margin: 0 1rem;
        }

        .icon-wrapper {
          height: 35px;
          width: 35px;
          border-radius: 50%;
          margin: 0 1rem;
          text-align: center;
          display: flex;

          i {
            margin: auto;
            vertical-align: middle;
          }
        }

        .col {
          flex: 1;
          display: flex;
          flex-direction: column;
          overflow-x: hidden;

          .user-title {
            font-weight: 500;
            font-size: 0.9rem;
            line-height: 1rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .state,
          .loginname {
            font-size: 0.8rem;
            line-height: 1rem;
            white-space: nowrap;
            width: fit-content;
          }

          .loginname {
            color: $secondary-text;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          .state {
            margin-top: 3px;
            font-size: 11px;
            padding: 1px 0.5rem;
          }
        }
      }
    }
  }
}
