<ng-template #labelTemplate>
  <label class="cnsl-label-wrapper" [attr.for]="_control.id" [attr.aria-owns]="_control.id">
    <ng-content select="cnsl-label"></ng-content>
    @if (_control.required && !hideRequiredMarker) {
      <span aria-hidden="true" class="cnsl-form-field-required-marker"
        >*</span
        >
      }
    </label>
  </ng-template>

  <div class="cnsl-form-field-wrapper" (click)="_control.onContainerClick($event)">
    <ng-template [ngTemplateOutlet]="labelTemplate"></ng-template>
    <div class="cnsl-rel" #inputContainer>
      <ng-content></ng-content>
      <ng-content select="cnslSuffix"></ng-content>
    </div>
    @if (help$ && help$ | async; as help) {
      <div class="cnsl-form-field-subscript-wrapper">
        @switch (help.type) {
          @case ('hints') {
            <div class="cnsl-form-field-hint-wrapper" [@transitionMessages]="_subscriptAnimationState">
              <ng-content select="cnsl-hint"></ng-content>
            </div>
          }
          @case ('errors') {
            <div class="cnsl-form-field-error-wrapper" [@transitionMessages]="_subscriptAnimationState">
              @for (err of help.validationErrors; track err) {
                <span cnslError>
                  {{ err.i18nKey | translate: err.params }}
                </span>
              }
              <ng-content select="cnsl-error"></ng-content>
            </div>
          }
        }
      </div>
    }
  </div>
