<div class="cnsl-form-field-wrapper" (click)="_control.onContainerClick && _control.onContainerClick($event)">
  <ng-content select="cnsl-label"></ng-content>
  <div class="cnsl-rel" #inputContainer>
    <ng-content></ng-content>
    <ng-content select="cnslSuffix"></ng-content>
  </div>
  <div class="cnsl-form-field-subscript-wrapper">
    <div class="cnsl-form-field-error-wrapper" [@transitionMessages]="_subscriptAnimationState">
      <span *ngIf="errori18nKeys$">
        <span cnslError *ngFor="let err of errori18nKeys$ | async">
          {{ err | translate }}
        </span>
      </span>
    </div>
  </div>
</div>