
.table-wrapper {
  overflow: auto;

  .table,
  .paginator {
    td,
    th {
      padding: .5rem;

      &:first-child {
        padding-left: 0;
        padding-right: 1rem;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .action {
      width: 40px;
    }

    .selection {
      width: 50px;
      max-width: 50px;
    }

    .role {
      display: inline-block;
      margin: .25rem;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}
