services:

  devcontainer:
    image: mcr.microsoft.com/devcontainers/typescript-node:22-bookworm
    volumes:
      - ../:/workspaces/zitadel:cached
    command: sleep infinity
    working_dir: /workspaces/zitadel
    environment:
      SHELL: /bin/bash
      DEBIAN_FRONTEND: noninteractive
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
      COREPACK_ENABLE_DOWNLOAD_PROMPT: 0
      DEVCONTAINER_LISTEN_HOST: 0.0.0.0
      DEVCONTAINER_DB_HOST: db
      DEVCONTAINER_API_HOST: api
      DEVCONTAINER_LOGIN_HOST: login
      DEVCONTAINER_LOGIN_API_MOCK_HOST: login-api-mock
      DEVCONTAINER_DB_API_INTEGRATION_HOST: db-api-integration
      DEVCONTAINER_DB_FUNCTIONAL_UI_HOST: db-functional-ui
    ports:
      - "8080:8080"
      - "3000:3000"
      - "4200:4200"

  db:
    image: postgres:17
    restart: unless-stopped
    env_file:
      - ./.env.db
    volumes:
      - db-data-dev:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-U", "postgres" ]
      interval: "10s"
      timeout: "30s"
      retries: 5
      start_period: "20s"
    ports:
      - 5432:5432

  db-api-integration:
    image: 'postgres:17'
    env_file:
      - ./.env.db
    environment:
      PGPORT: 5433
    command: postgres -c shared_preload_libraries=pg_stat_statements -c pg_stat_statements.track=all -c shared_buffers=1GB -c work_mem=16MB -c effective_io_concurrency=100 -c wal_level=minimal -c archive_mode=off -c max_wal_senders=0
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-U", "postgres" ]
      interval: '10s'
      timeout: '30s'
      retries: 5
      start_period: '20s'
    ports:
      - 5433:5433

  cache-api-integration:
    image: 'redis:8'
    ports:
      - 6379:6379

  db-functional-ui:
    image: 'postgres:17'
    env_file:
      - ./.env.db
    environment:
      PGPORT: 5434
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-U", "postgres" ]
      interval: '10s'
      timeout: '30s'
      retries: 5
      start_period: '20s'
    ports:
      - "5434:5434"

  login-api-mock:
    build:
      context: ../apps/login/integration/api-mock
      additional_contexts:
        zitadel-protos: ../proto
    ports:
      - 22220:22220
      - 22222:22222

volumes:
  db-data-dev:
