.title {
  font-size: 1.2rem;
}

.desc {
  color: var(--grey);
  font-size: .9rem;
}

.full-width {
  width: 100%;
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: .5rem;
  }
}
