<app-detail-layout [backRouterLink]="[ '/users', user?.id]"
    title="{{user?.human?.displayName}} {{ 'USER.MEMBERSHIPS.TITLE' | translate }}"
    description="{{ 'USER.MEMBERSHIPS.DESCRIPTION' | translate }}">
    <app-refresh-table class="refresh-table" (refreshed)="refreshPage()" [dataSize]="dataSource?.totalResult"
        [timestamp]="dataSource?.viewTimestamp" [selection]="selection" [loading]="dataSource?.loading$ | async">

        <a actions color="primary" (click)="addMember()" color="primary" mat-raised-button>
            <mat-icon class="icon">add</mat-icon>{{ 'ACTIONS.NEW' | translate }}
        </a>

        <div class="table-wrapper">
            <table mat-table class="table" aria-label="Elements" [dataSource]="dataSource">
                <ng-container matColumnDef="select">
                    <th class="selection" mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td class="selection" mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="memberType">
                    <th mat-header-cell *matHeaderCellDef> {{ 'USER.MEMBERSHIPS.TYPE' | translate }} </th>
                    <td class="pointer" mat-cell *matCellDef="let member">
                        <span *ngIf="member.orgId && !member.projectGrantId && !member.projectId">
                            {{'USER.MEMBERSHIPS.TYPES.ORG' | translate }}</span>
                        <span *ngIf="member.projectId && !member.projectGrantId"> {{'USER.MEMBERSHIPS.TYPES.PROJECT' |
                            translate }}</span>
                        <span *ngIf="member.projectId && member.projectGrantId">
                            {{'USER.MEMBERSHIPS.TYPES.GRANTEDPROJECT' | translate }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="displayName">
                    <th mat-header-cell *matHeaderCellDef> {{ 'USER.MEMBERSHIPS.DISPLAYNAME' | translate }} </th>
                    <td class="pointer" mat-cell *matCellDef="let member">
                        {{member.displayName}} </td>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef> {{ 'USER.MEMBERSHIPS.CREATIONDATE' | translate }} </th>
                    <td class="pointer" mat-cell *matCellDef="let member">
                        {{member.details?.creationDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'}} </td>
                </ng-container>

                <ng-container matColumnDef="changeDate">
                    <th mat-header-cell *matHeaderCellDef> {{ 'USER.MEMBERSHIPS.CHANGEDATE' | translate }} </th>
                    <td class="pointer" mat-cell *matCellDef="let member">
                        {{member.details?.changeDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="roles">
                    <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.MEMBER.ROLES' | translate }} </th>
                    <td class="pointer" mat-cell *matCellDef="let member">
                        {{member.rolesList.join(', ')}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let member">
                        <button [disabled]="member.projectId && member.projectGrantId ? (['project.grant.member.delete:' + member.projectGrantId, 'project.grant.member.delete'] | hasRole | async) == false : member.projectId ? (['project.member.delete:' + member.projectGrantId, 'project.member.delete'] | hasRole | async) == false : member.orgId ? (['org.member.delete:' + member.orgId, 'org.member.delete'] | hasRole | async) == false : (['iam.member.delete'] | hasRole | async) == false"
                            mat-icon-button color="warn" matTooltip="{{'ACTIONS.REMOVE' | translate}}"
                            (click)="removeMembership(member)">
                            <i class="las la-minus-circle"></i>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="highlight" mat-row *matRowDef="let row; columns: displayedColumns;">
                </tr>
            </table>

            <cnsl-paginator class="paginator" #paginator [pageSize]="50" [pageSizeOptions]="[25, 50, 100, 250]">
            </cnsl-paginator>
        </div>
    </app-refresh-table>
</app-detail-layout>