.refresh-table {
  width: 100%;
}

.table-wrapper {
  width: 100%;
  overflow: auto;

  .table,
  .paginator {
    width: 100%;

    td,
    th {
      padding: .5rem;

      &:first-child {
        padding-left: 0;
        padding-right: 1rem;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .action {
      width: 40px;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}

tr {
  outline: none;

  button {
    visibility: hidden;
  }

  &:hover {
    button {
      visibility: visible;
    }
  }
}
