@mixin contact-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);
  $warn: map-get($theme, warn);
  $warn-color: map-get($warn, default);

  .contact-method-col {
    display: flex;
    flex-direction: column;
    margin: -0.5rem;

    .contact-method-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem;
      padding-right: 0;
      border-bottom: 1px solid #ffffff20;
      flex-wrap: wrap;

      &:last-child {
        border-bottom: none;
      }

      .left {
        .label {
          font-size: 13px;
          margin-bottom: 0.5rem;
          min-width: 100px;
          display: block;
        }

        .name {
          display: block;
          margin-bottom: 0.5rem;
        }

        .contact-state {
          font-size: 14px;
          margin-bottom: 0.5rem;

          &.verified {
            color: #85d996;
            display: block;
          }

          &.notverified {
            color: var(--warn);
            margin-right: 1rem;
          }
        }

        .block {
          display: block;
        }
      }

      .right {
        flex-basis: 70px;
        display: flex;
        justify-content: flex-end;
      }

      .verified-icon {
        font-size: 1.2rem;
        line-height: 1.2rem;
        height: 1.2rem;
        cursor: default;
      }

      .verify {
        text-decoration: none;
        font-size: 0.8rem;
        border-radius: 0.5rem;
        cursor: pointer;
        word-wrap: none;
        white-space: nowrap;
        margin-right: 1rem;

        &:hover {
          color: map-get($foreground, text);
        }
      }
    }
  }
}
