<div class="method-col">
    <div class="method-row">
        <span class="label">{{ 'USER.PROFILE.PASSWORD' | translate }}</span>

        <span>*********</span>
        <div class="overflow">
            <ng-content select="[phoneAction]"></ng-content>
            <a [disabled]="!canWrite" [routerLink]="['password']" mat-icon-button>
                <mat-icon class="icon">chevron_right</mat-icon>
            </a>
        </div>
    </div>

    <div class="method-row">
        <span class="label">{{ 'USER.EMAIL' | translate }}</span>

        <ng-container *ngIf="!emailEditState; else emailEdit">
            <div class="actions">
                <span class="name">{{human?.email}}</span>
                <mat-icon class="icon" *ngIf="human?.isEmailVerified" color="primary" aria-hidden="false"
                    aria-label="verified icon">
                    check_circle_outline</mat-icon>
                <ng-container *ngIf="human?.email && !human?.isEmailVerified">
                    <mat-icon class="icon" color="warn" aria-hidden="false" aria-label="not verified icon">
                        highlight_off
                    </mat-icon>
                    <a *ngIf="canWrite" class="verify" matTooltip="{{'USER.LOGINMETHODS.EMAIL.RESEND' | translate}}"
                        (click)="emitEmailVerification()">{{'USER.LOGINMETHODS.RESENDCODE' | translate}}</a>
                </ng-container>
            </div>

            <div>
                <button [disabled]="!canWrite" (click)="emailEditState = true" mat-icon-button>
                    <mat-icon class="icon">edit</mat-icon>
                </button>
            </div>
        </ng-container>
        <ng-template #emailEdit>
            <mat-form-field class="name">
                <mat-label>{{ 'USER.EMAIL' | translate }}</mat-label>
                <input *ngIf="human && human.email !== undefined && human.email !== null" matInput
                    [(ngModel)]="human.email" />
            </mat-form-field>
            <button (click)="emailEditState = false" mat-icon-button>
                <mat-icon class="icon">close</mat-icon>
            </button>
            <button *ngIf="human" [disabled]="!human.email" type="button" color="primary" (click)="saveEmail()"
                mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
        </ng-template>
    </div>

    <div class="method-row">
        <span class="label">{{ 'USER.PHONE' | translate }}</span>

        <ng-container *ngIf="!phoneEditState; else phoneEdit">
            <div class="actions">
                <span class="name">{{human?.phone}}</span>
                <mat-icon class="icon" *ngIf="human?.isPhoneVerified" color="primary" aria-hidden="false"
                    aria-label="verified icon">
                    check_circle_outline</mat-icon>
                <ng-container *ngIf="human?.phone && !human?.isPhoneVerified">
                    <mat-icon class="icon" matTooltip="not verified" color="warn" aria-hidden="false"
                        aria-label="not verified icon">
                        highlight_off
                    </mat-icon>
                    <a *ngIf="!disablePhoneCode && !canWrite" class="verify"
                        matTooltip="{{'USER.LOGINMETHODS.ENTERCODE_DESC' | translate}}"
                        (click)="enterCode()">{{'USER.LOGINMETHODS.ENTERCODE' | translate}}</a>
                    <a *ngIf="canWrite" class="verify" matTooltip="{{'USER.LOGINMETHODS.PHONE.RESEND' | translate}}"
                        (click)="emitPhoneVerification()">{{'USER.LOGINMETHODS.RESENDCODE' | translate}}</a>
                </ng-container>
            </div>

            <div>
                <button [disabled]="!canWrite" (click)="phoneEditState = true" mat-icon-button>
                    <mat-icon class="icon">edit</mat-icon>
                </button>
            </div>
        </ng-container>

        <ng-template #phoneEdit>
            <mat-form-field class="name">
                <mat-label>{{ 'USER.PHONE' | translate }}</mat-label>
                <input *ngIf="human && human.phone !== undefined && human.phone !== null" matInput
                    [(ngModel)]="human.phone" />
            </mat-form-field>
            <button (click)="phoneEditState = false" mat-icon-button>
                <mat-icon class="icon">close</mat-icon>
            </button>
            <button *ngIf="human && human.phone" color="warn" (click)="emitDeletePhone()" mat-icon-button>
                <i class="las la-trash"></i>
            </button>
            <button *ngIf="human" [disabled]="!human.phone" type="button" color="primary" (click)="savePhone()"
                mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
        </ng-template>
    </div>
</div>