<h1 mat-dialog-title>
  <span>{{ data.i18nTitle | translate }} {{ data?.number }}</span>
</h1>
<div mat-dialog-content>
  <cnsl-form-field class="formfield">
    <cnsl-label>{{ data.i18nLabel | translate }}</cnsl-label>
    <input
      cnslInput
      [(ngModel)]="password"
      type="password"
      autocomplete="new-password"
      data-e2e="notification-setting-password"
    />
  </cnsl-form-field>
</div>
<div mat-dialog-actions class="action">
  <button color="primary" mat-stroked-button class="ok-button" (click)="closeDialog()">
    {{ 'ACTIONS.CLOSE' | translate }}
  </button>

  <button
    [disabled]="!password"
    cdkFocusInitial
    color="primary"
    mat-raised-button
    class="ok-button"
    (click)="closeDialog(password)"
    data-e2e="save-notification-setting-password-button"
  >
    {{ 'ACTIONS.OK' | translate }}
  </button>
</div>
