@use '~@angular/material' as mat;


.radio-button-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -.5rem;
}

@mixin app-type-radio-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat.get-color-from-palette($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);

  input[type="radio"] {
    appearance: none;
    opacity: 0;
    display: none;
  }

  input:checked + label {
    border-color: if($is-dark-theme, white, var(--grey));

    .cnsl-type-radio-header span {
      color: if($is-dark-theme, white, white);
    }
  }

  .cnsl-type-radio-button {
    margin: .5rem;
    border-radius: .5rem;
    border: 1px solid if($is-dark-theme, var(--grey), white);
    display: flex;
    flex-direction: column;
    flex: 0 1 240px;
    cursor: pointer;
    position: relative;
    padding-bottom: 1rem;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);

    .cnsl-type-radio-header {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(80, 110, 110);
      margin-bottom: 1rem;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;

      span {
        margin: 2rem;
        font-size: 30px;
        color: if($is-dark-theme, #21222450, #ffffff50);
      }
    }

    p {
      text-align: center;
      padding: 0 1rem;
    }

    .type-desc {
      font-size: 14px;
      color: var(--grey);
    }
  }
}
