.execution-condition-text {
  display: flex;
  flex-direction: column;

  .description {
    font-size: 0.9rem;
  }
}

.condition-description {
  margin-bottom: 0;
}

.name-hint {
  font-size: 12px;
}

.actions {
  display: flex;
  justify-content: space-between;
}
