@use '@angular/material' as mat;

@mixin owned-project-detail-theme($theme) {
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .project-top {
    margin-bottom: 2rem;
    border-bottom: 1px solid map-get($foreground, divider);
    margin: 0 -2rem;
    padding: 2rem 2rem 1rem 2rem;
    background: if($is-dark-theme, #00000020, #ffffff80);
    // linear-gradient(90deg, #00000000, #00000020 2%, #00000020 98%, #00000000 100%),

    .project-top-row {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;

      .project-title {
        margin: 0;
        display: flex;
        align-items: center;
      }

      .project-sub {
        color: var(--grey);
        margin: 1rem 0 0 0;
        font-size: 14px;

        &.zitadel-warning {
          font-size: 14px;
          color: rgb(201, 51, 71);
        }
      }

      .project-top-desc {
        color: var(--grey);
        font-size: 14px;
      }

      .fill-space {
        flex: 1;
      }

      .actions-trigger {
        margin-top: 0.25rem;
        display: flex;
        align-items: center;
        margin-right: 2rem;

        .icon {
          margin-left: 0.5rem;
          margin-right: -0.5rem;
        }
      }
    }
  }
}

.privatelabel-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #81868a30;
  padding: 0.5rem 0 1rem 0;

  .setting-title {
    font-size: 14px;
    color: var(--grey);
    text-transform: uppercase;
    margin: 0;
  }

  .setting-desc {
    margin: 0;
    display: flex;
    align-items: center;

    .icon-button {
      margin-left: 0.5rem;
    }
  }
}

.desc {
  color: var(--grey);
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.divider {
  height: 1px;
  background-color: var(--grey);
  margin-bottom: 1.5rem;
}
