.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #81868a30;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .fill-space {
    flex: 1;
  }

  a {
    display: block;
  }

  h1 {
    font-size: 1.2rem;
    margin: 0 1rem;
    margin-left: 2rem;
    font-weight: normal;
  }

  .full-width {
    padding-top: 1rem;
    width: 100%;
    display: block;

    .icon-button {
      margin-right: 1rem;
    }

    .desc {
      font-size: .9rem;
      color: var(--grey);
    }

    .zitadel-warning {
      font-size: 14px;
      color: rgb(201, 51, 71);
    }
  }
}

.privatelabel-info {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #81868a30;
  padding: .5rem 0 1rem 0;

  .setting-title {
    font-size: 14px;
    color: var(--grey);
    text-transform: uppercase;
    margin: 0;
  }

  .setting-desc {
    margin: 0;
    display: flex;
    align-items: center;

    .icon-button {
      margin-left: .5rem;
    }
  }
}

.line {
  .formfield {
    flex: 1;
  }

  button {
    margin-top: 1rem;
  }

  display: flex;
  align-items: center;
}

.desc {
  color: var(--grey);
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.divider {
  height: 1px;
  background-color: var(--grey);
  margin-bottom: 1.5rem;
}
