<app-meta-layout>
    <div class="max-width-container">
        <div class="head" *ngIf="project?.projectId">
            <a [routerLink]="[ '/projects' ]" mat-icon-button>
                <mat-icon class="icon">arrow_back</mat-icon>
            </a>
            <h1>{{ 'PROJECT.PAGES.TITLE' | translate }} {{project?.name}}</h1>
            <ng-template appHasRole [appHasRole]="['project.write:'+projectId, 'project.write']">
                <button matTooltip="{{'ACTIONS.EDIT' | translate}}" mat-icon-button (click)="editstate = !editstate"
                    aria-label="Edit project name" *ngIf="isZitadel === false">
                    <mat-icon *ngIf="!editstate">edit</mat-icon>
                    <mat-icon *ngIf="editstate">close</mat-icon>
                </button>
            </ng-template>
            <ng-template appHasRole [appHasRole]="['project.delete:'+projectId, 'project.delete']">
                <button matTooltip="{{'ACTIONS.DELETE' | translate}}" color="warn" mat-icon-button
                    (click)="deleteProject()" aria-label="Edit project name" *ngIf="isZitadel === false">
                    <i class="las la-trash"></i>
                </button>
            </ng-template>

            <span class="fill-space"></span>

            <button mat-stroked-button color="warn"
                [disabled]="isZitadel || (['project.write$', 'project.write:'+ project.projectId]| hasRole | async) == false"
                *ngIf="project?.state === ProjectState.PROJECTSTATE_ACTIVE"
                (click)="changeState(ProjectState.PROJECTSTATE_INACTIVE)">{{'PROJECT.TABLE.DEACTIVATE' | translate}}</button>
            <button mat-stroked-button color="warn"
                [disabled]="isZitadel || (['project.write$', 'project.write:'+ project.projectId]| hasRole | async) == false"
                *ngIf="project?.state === ProjectState.PROJECTSTATE_INACTIVE"
                (click)="changeState(ProjectState.PROJECTSTATE_ACTIVE)">{{'PROJECT.TABLE.ACTIVATE' | translate}}</button>

            <div class="full-width">
                <div class="line">
                    <ng-container *ngIf="editstate">
                        <cnsl-form-field *ngIf="editstate && project?.name" class="formfield"
                            hintLabel="The name is required!">
                            <cnsl-label>{{'PROJECT.NAME' | translate}}</cnsl-label>
                            <input cnslInput [(ngModel)]="project.name" name="name" />
                        </cnsl-form-field>
                        <button matTooltip="{{'ACTIONS.SAVE' | translate}}" class="icon-button" *ngIf="editstate"
                            mat-icon-button (click)="updateName()">
                            <mat-icon>check</mat-icon>
                        </button>
                    </ng-container>
                    <span class="fill-space"></span>
                </div>
                <p class="desc">{{ 'PROJECT.PAGES.DESCRIPTION' | translate }}</p>
                <p *ngIf="isZitadel" class="zitadel-warning">{{'PROJECT.PAGES.ZITADELPROJECT' | translate}}</p>
            </div>
        </div>

        <ng-container *ngIf="project">
            <ng-template appHasRole [appHasRole]="['project.app.read:' + project.projectId, 'project.app.read']">
                <app-application-grid *ngIf="grid" [disabled]="isZitadel" (changeView)="grid = false"
                    [projectId]="projectId"></app-application-grid>
                <app-card *ngIf="!grid" title="{{ 'PROJECT.APP.TITLE' | translate }}">
                    <div class="card-actions" card-actions>
                        <button mat-icon-button (click)="grid = true">
                            <i matTooltip="show grid view" class="las la-th-large"></i>
                        </button>
                    </div>
                    <app-applications [disabled]="isZitadel" [projectId]="projectId"></app-applications>
                </app-card>
            </ng-template>

            <ng-container *ngIf="isZitadel == false">
                <ng-template appHasRole
                    [appHasRole]="['project.grant.read:' + project.projectId, 'project.grant.read']">
                    <app-card title="{{ 'PROJECT.GRANT.TITLE' | translate }}"
                        description="{{ 'PROJECT.GRANT.DESCRIPTION' | translate }}">
                        <app-project-grants
                            [refreshOnPreviousRoutes]="['/projects/'+projectId+'/grants/create','/projects/'+projectId+'/roles/create']"
                            [disabled]="((['project.grant.write$', 'project.grant.write:'+ project.projectId]| hasRole | async))== false"
                            [projectId]="projectId">
                        </app-project-grants>
                    </app-card>
                </ng-template>

                <ng-template appHasRole [appHasRole]="['project.role.read:' + project.projectId, 'project.role.read']">
                    <app-card title="{{ 'PROJECT.ROLE.TITLE' | translate }}"
                        description="{{ 'PROJECT.ROLE.DESCRIPTION' | translate }}">
                        <p>{{'PROJECT.ROLE.OPTIONS' | translate}}</p>
                        <mat-checkbox [(ngModel)]="project.projectRoleAssertion" (change)="saveProject()"
                            color="primary">
                            {{'PROJECT.ROLE.ASSERTION' | translate}}</mat-checkbox>
                        <p class="desc">{{'PROJECT.ROLE.ASSERTION_DESCRIPTION' | translate}}</p>
                        <mat-checkbox [(ngModel)]="project.projectRoleCheck" (change)="saveProject()" color="primary">
                            {{'PROJECT.ROLE.CHECK' | translate}}</mat-checkbox>
                        <p class="desc">{{'PROJECT.ROLE.CHECK_DESCRIPTION' | translate}}</p>
                        <div class="divider"></div>
                        <app-project-roles
                            [disabled]="(['project.role.write$', 'project.role.write:'+ project.projectId]| hasRole | async) == false"
                            [actionsVisible]="true" [projectId]="projectId">
                        </app-project-roles>
                    </app-card>
                </ng-template>

                <ng-template appHasRole [appHasRole]="['user.grant.read']">
                    <app-card *ngIf="project?.projectId" title="{{ 'GRANTS.PROJECT.TITLE' | translate }}"
                        description="{{'GRANTS.PROJECT.DESCRIPTION' | translate }}">
                        <app-user-grants [context]="UserGrantContext.OWNED_PROJECT" [projectId]="projectId"
                            [refreshOnPreviousRoutes]="['/grant-create/project/'+projectId]"
                            [disableWrite]="((['user.grant.write$', 'user.grant.write:'+projectId] | hasRole) | async) == false"
                            [disableDelete]="((['user.grant.delete$','user.grant.delete:'+projectId] | hasRole) | async) == false">
                        </app-user-grants>
                    </app-card>
                </ng-template>
            </ng-container>
        </ng-container>
    </div>
    <div class="side" metainfo>
        <div class="details">
            <div class="row">
                <span class="first">{{'PROJECT.STATE.TITLE' | translate}}:</span>
                <span *ngIf="project && project.state !== undefined" class="state"
                    [ngClass]="{'active': project.state === ProjectState.PROJECTSTATE_ACTIVE, 'inactive': project.state === ProjectState.PROJECTSTATE_INACTIVE}">{{'PROJECT.STATE.'+project.state | translate}}</span>
            </div>
        </div>

        <app-contributors *ngIf="project" [loading]="loading$ | async" [totalResult]="totalMemberResult"
            [membersSubject]="membersSubject" title="{{ 'PROJECT.MEMBER.TITLE' | translate }}"
            description="{{ 'PROJECT.MEMBER.TITLEDESC' | translate }}" (addClicked)="openAddMember()"
            (showDetailClicked)="showDetail()" (refreshClicked)="loadMembers()"
            [disabled]="(['project.member.write$', 'project.member.write:'+ project.projectId]| hasRole | async) == false">
        </app-contributors>
        <app-changes *ngIf="project" [changeType]="ChangeType.PROJECT" [id]="project.projectId"></app-changes>
    </div>
</app-meta-layout>