@use '@angular/material' as mat;

@mixin owned-project-detail-theme($theme) {
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $warn: map-get($theme, warn);
  $warn-color: map-get($warn, 500);

  .project-top {
    border-bottom: 1px solid map-get($foreground, divider);
    margin: 0 -2rem;
    padding: 2rem 2rem 1rem 2rem;
    background: if($is-dark-theme, #00000020, #605f5f0f);

    .project-top-row {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;
      flex-wrap: wrap;

      .project-link-row {
        display: flex;
        align-items: center;

        .link {
          margin-right: 1rem;
          display: block;
          position: relative;
        }

        .project-title-row {
          display: flex;
          align-items: center;

          .project-title {
            margin: 0;
            margin-right: 0.5rem;
            font-size: 2rem;
          }

          .project-state-dot {
            height: 8px;
            width: 8px;
            border-radius: 50%;

            &.active {
              background-color: var(--success);
            }

            &.inactive {
              background-color: var(--warn);
            }
          }
        }
      }

      .project-sub {
        color: var(--grey);
        margin: 1rem 1rem 0 0;
        font-size: 14px;

        &.zitadel-warning {
          font-size: 14px;
          color: $warn-color;
        }
      }

      .project-top-desc {
        color: var(--grey);
        font-size: 14px;
      }

      .fill-space {
        flex: 1;
      }

      .actions-trigger {
        margin-top: 0.25rem;
        display: flex;
        align-items: center;
        margin-right: 2rem;

        .icon {
          margin-left: 0.5rem;
          margin-right: -0.5rem;
        }
      }
    }
  }

  .project-detail-privatelabel-info {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid map-get($foreground, divider);

    .setting-title {
      margin: 0;
      font-size: 16px;
    }

    .setting-desc {
      margin: 0;
      display: flex;
      align-items: center;

      .icon-button {
        margin-left: 0.5rem;
      }
    }
  }
}

.desc {
  color: var(--grey);
  font-size: 14px;
  margin-bottom: 2rem;
}
