.title {
  font-size: 1.2rem;
  margin-top: 0;
}

.dialog-table-wrapper {
  max-height: 500px;
  overflow-y: auto;

  .role-table {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }
}

.action {
  display: flex;

  button {
    border-radius: 0.5rem;
  }

  .ok-button {
    margin-left: 0.5rem;
  }

  .fill-space {
    flex: 1;
  }
}
