<h1 mat-dialog-title>
    <span class="title">{{'MEMBER.ADD' | translate}}</span>
</h1>
<p class="desc"> {{'ORG_DETAIL.MEMBER.ADDDESCRIPTION' | translate}}</p>
<div mat-dialog-content>
    <app-search-user-autocomplete (selectionChanged)="selectUsers($event)">
    </app-search-user-autocomplete>

    <cnsl-form-field class="full-width" appearance="outline">
        <cnsl-label>{{ 'PROJECT.MEMBER.ROLES' | translate }}</cnsl-label>
        <mat-select [(ngModel)]="roleKeyList" multiple>
            <mat-option *ngFor="let key of data.roleKeysList" [value]="key">
                {{ key }}
            </mat-option>
        </mat-select>
    </cnsl-form-field>
</div>
<div mat-dialog-actions class="action">
    <button mat-button (click)="closeDialog()">
        cancel
    </button>

    <button [disabled]="userIds.length == 0 || roleKeyList.length == 0" color="primary" mat-raised-button
        class="ok-button" (click)="closeDialogWithSuccess()">
        Add
    </button>
</div>