.dropzone {
  outline: none;
  height: 150px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .2s ease-in-out;

  .file-label {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      cursor: pointer;
    }
  }

  .icon {
    font-size: 1.5rem;
    color: var(--grey);
  }

  .desc {
    font-size: 14px;
    color: var(--grey);
  }

  &.hovering {
    border-radius: 16px;
  }
}
