.title {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
}

.desc {
  color: var(--grey);
  font-size: .9rem;
}

.current-pic-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .pic {
    height: 80px;
    width: 80px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #00000030;
  }
}

.dropzone {
  display: block;
  margin: 1rem 0;
  outline: none;
  height: 150px;
  border-radius: 16px;
  border: 1px solid var(--grey);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all .2s ease-in-out;

  .file-label {
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      cursor: pointer;
      margin-bottom: .5rem;
    }
  }

  .icon {
    font-size: 1.5rem;
    color: var(--grey);
  }

  .desc {
    font-size: 14px;
    color: var(--grey);
  }

  &.hovering {
    border-radius: 16px;
  }
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: .5rem;
  }
}
