.idp-margin-right {
  margin-right: 0.5rem;
}

td {
  outline: none;
}

tr {
  outline: none;

  &.disabled,
  &.disabled * {
    opacity: 0.8;
    cursor: default;
  }
}

.provider-type {
  display: flex;
  align-items: center;

  .idp-logo {
    margin-right: 1rem;
    height: 28px;
    width: 28px;

    // &.dark {
    //   display: if($is-dark-theme, block, none);
    // }

    // &.light {
    //   display: if($is-dark-theme, none, block);
    // }
  }

  .idp-icon {
    font-size: 1.75rem;
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 1rem;
  }
}

.availability {
  width: 40px;
}

.idp-available {
  color: var(--success);
}

.idp-not-available {
  color: var(--warn);
}

.idp-table-actions {
  width: 100px;
}
