<app-granted-project-grid *ngIf="grid" [loading]="loading$ | async" (changedView)="grid = false"
    [items]="grantedProjectList">
</app-granted-project-grid>

<div *ngIf="!grid" class="view-toggle">
    <button class="icon-button" (click)="grid = true" mat-icon-button
        matTooltip="{{'PROJECT.TABLE.SHOWGRID' | translate}}">
        <i matTooltip="show grid view" class="las la-th-large"></i>
    </button>
</div>

<div *ngIf="!grid && grantedProjectList">
    <app-refresh-table (refreshed)="refreshPage()" [dataSize]="totalResult" [timestamp]="viewTimestamp"
        [selection]="selection" [loading]="loading$ | async">

        <div class="table-wrapper">
            <table class="table" mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="select">
                    <th class="selection" mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td class="selection" mat-cell *matCellDef="let row">
                        <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.NAME' | translate }} </th>
                    <td mat-cell *matCellDef="let project"> {{project.projectName}} </td>
                </ng-container>

                <ng-container matColumnDef="resourceOwnerName">
                    <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.TABLE.RESOURCEOWNER' | translate }} </th>
                    <td class="pointer" mat-cell *matCellDef="let project">
                        {{project.resourceOwnerName}} </td>
                </ng-container>

                <ng-container matColumnDef="state">
                    <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.TABLE.STATE' | translate }} </th>
                    <td mat-cell *matCellDef="let project"><span
                            *ngIf="project.state">{{'PROJECT.STATE.'+project.state | translate}}</span></td>
                </ng-container>

                <ng-container matColumnDef="creationDate">
                    <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.TABLE.CREATIONDATE' | translate }} </th>
                    <td mat-cell *matCellDef="let project">
                        <span
                            *ngIf="project.creationDate">{{project.creationDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'}}</span>
                    </td>
                </ng-container>


                <ng-container matColumnDef="changeDate">
                    <th mat-header-cell *matHeaderCellDef> {{ 'PROJECT.TABLE.CHANGEDATE' | translate }} </th>
                    <td mat-cell *matCellDef="let project">
                        <span
                            *ngIf="project.changeDate">{{project.changeDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'}}</span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr class="highlight" mat-row *matRowDef="let row; columns: displayedColumns;"
                    [routerLink]="['/granted-projects', row.projectId, 'grant', row.id]"></tr>

            </table>
            <div *ngIf="(loading$ | async) == false && !dataSource?.data?.length" class="no-content-row">
                <i class="las la-exclamation"></i>
                <span>{{'PROJECT.TABLE.EMPTY' | translate}}</span>
            </div>
            <mat-paginator class="paginator" #paginator [length]="totalResult" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 20]" (page)="changePage($event)"></mat-paginator>
        </div>
    </app-refresh-table>
</div>