@mixin footer-theme($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary-color: mat.get-color-from-palette($primary, 500);

  $warn-color: mat.get-color-from-palette($warn, 500);
  $accent-color: mat.get-color-from-palette($accent, 500);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($background, background);

  .footer-wrapper {
    padding: 2rem 2rem 1rem 2rem;
    background-color: map-get($background, footer) !important;
    border-top: 1px solid map-get($foreground, divider);
    padding-bottom: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    .footer-links {
      width: 100%;
      display: grid;
      grid-gap: 2rem;
      max-width: 80rem;
      margin: 0 auto;
      grid-template-columns: 1fr;

      @media only screen and (min-width: 699px) {
        grid-template-columns: 1fr 1fr;
      }

      @media only screen and (min-width: 1000px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      .footer-link-wrapper {
        display: flex;
        flex-direction: column;

        .footer-section-title {
          font-size: 0.75rem;
          font-weight: 600;
          text-transform: uppercase;
          color: var(--grey);
        }

        a {
          color: map-get($foreground, base);
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 14px;
          margin: 0.25rem 0;
          transition: all 0.1s ease;

          i {
            margin-left: 0.5rem;
            visibility: hidden;
          }

          &:hover {
            color: $primary-color;

            i {
              visibility: visible;
            }
          }
        }
      }
    }

    .swiss-wrapper {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      max-width: 80rem;
      margin: 0 auto;

      .swisssvg {
        width: 14rem;
        margin: 1rem 0;
        color: if($is-dark-theme, #ffffff60, #00000060);

        .cross {
          fill: white;
        }
      }
    }
  }
}
