@mixin footer-theme($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary-color: mat.get-color-from-palette($primary, 500);

  $warn-color: mat.get-color-from-palette($warn, 500);
  $accent-color: mat.get-color-from-palette($accent, 500);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($background, background);

  .footer-wrapper {
    padding: 2rem;
    background-color: map-get($background, footer) !important;
    border-top: 1px solid map-get($foreground, divider);
    margin-top: 50px;
    display: flex;

    .footer-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 80rem;
      margin: 0 auto;

      .footer-socials {
        display: flex;
        flex: 1;
        align-self: center;
        justify-content: center;
        margin: 1rem 0;

        a {
          color: var(--grey);
          display: flex;
          align-items: center;
          text-decoration: none;
          margin: 0 0.25rem;

          i {
            font-size: 1.875rem;
          }

          &:hover {
            color: $primary-color;
          }
        }
      }

      .swiss-wrapper {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;

        .swisssvg {
          width: 14rem;
          margin: 1rem 0;
          color: if($is-dark-theme, #ffffff60, #00000060);

          .cross {
            fill: white;
          }
        }
      }

      .footer-links {
        display: flex;
        align-items: center;
        flex: 1;

        a {
          color: map-get($foreground, base);
          text-decoration: none;
          display: flex;
          align-items: center;
          font-size: 14px;
          margin: 0.25rem 0;
          transition: all 0.1s ease;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;

          i {
            margin-left: 0.25rem;
            visibility: hidden;
            margin-right: 1rem;
          }

          &:hover {
            color: $primary-color;

            i {
              visibility: visible;
            }
          }
        }
      }

      @media only screen and (max-width: 800px) {
        flex-direction: column;

        .footer-links {
          order: 2;
        }

        .swiss-wrapper {
          order: 1;
        }

        .footer-socials {
          order: 3;
        }
      }
    }
  }
}
