<div class="footer-wrapper">
  <div class="footer-links">
    <div class="footer-link-wrapper">
      <h5 class="footer-section-title">{{'FOOTER.FEATURES.TITLE' | translate}}</h5>

      <a target="_blank" rel="noreferrer" href="https://zitadel.ch/features#login">
        <span>{{'FOOTER.FEATURES.HOSTEDLOGIN' | translate}}</span>
        <i class="las la-external-link-alt"></i>
      </a>
      <a target="_blank" rel="noreferrer" href="https://zitadel.ch/features#multifactor">
        <span>{{'FOOTER.FEATURES.MFA' | translate}}</span>
        <i class="las la-external-link-alt"></i>
      </a>
      <a target="_blank" rel="noreferrer" href="https://zitadel.ch/features#passwordless">
        <span>{{'FOOTER.FEATURES.PASSWORDLESS' | translate}}</span>
        <i class="las la-external-link-alt"></i>
      </a>
      <a target="_blank" rel="noreferrer" href="https://zitadel.ch/features#audit">
        <span>{{'FOOTER.FEATURES.AUDITTRAIL' | translate}}</span>
        <i class="las la-external-link-alt"></i>
      </a>
      <a target="_blank" rel="noreferrer" href="https://zitadel.ch/features#brokering">
        <span>{{'FOOTER.FEATURES.IDENTITYBROKERING' | translate}}</span>
        <i class="las la-external-link-alt"></i>
      </a>
      <a target="_blank" rel="noreferrer" href="https://zitadel.ch/features#platform">
        <span>{{'FOOTER.FEATURES.PLATFORM' | translate}}</span>
        <i class="las la-external-link-alt"></i>
      </a>

      <a target="_blank" rel="noreferrer" href="https://zitadel.ch/features#machine">
        <span>{{'FOOTER.FEATURES.MACHINE' | translate}}</span>
        <i class="las la-external-link-alt"></i>
      </a>
    </div>

    <div class="footer-link-wrapper">
      <h5 class="footer-section-title">{{'FOOTER.USECASES.TITLE' | translate}}</h5>

      <a target="_blank" rel="noreferrer" href="/usecases#easy-integration">
        asdf
      </a>

      <a target="_blank" rel="noreferrer" href="/usecases#self-service">
        asfd
      </a>

      <a target="_blank" rel="noreferrer" href="/usecases#existing-identities">
        asdf
      </a>

      <a target="_blank" rel="noreferrer" href="/usecases#secure-authentication">
        asdf
      </a>
    </div>

    <div class="footer-link-wrapper">
      <h5 class="footer-section-title">{{'FOOTER.ZITADEL.TITLE' | translate}}</h5>

      <a target="_blank" rel="noreferrer" href="/pricing">
        asdf
      </a>

      <a target="_blank" rel="noreferrer" href="/trust">
        asdf
      </a>

      <a target="_blank" rel="noreferrer" href="/opensource">
        asdf
      </a>

      <a target="_blank" rel="noreferrer" href="https://docs.zitadel.ch/docs/quickstarts/introduction/" external>
        asdf
      </a>

      <a target="_blank" rel="noreferrer" href="https://github.com/caos/zitadel/discussions" external>
        asdf
      </a>
    </div>


    <div class="footer-link-wrapper">
      <h5 class="footer-section-title">{{'FOOTER.LINKS.TITLE' | translate}}</h5>

      <a target="_blank" rel="noreferrer" href='/contact'>
        asdf
      </a>
      <a target="_blank" rel="noreferrer" href="" external>
        asdf
      </a>
      <a target="_blank" rel="noreferrer" href="" external>
        asdf
      </a>
      <a target="_blank" rel="noreferrer" href="/impressum">
        asdf
      </a>
      <a target="_blank" rel="noreferrer" href="/blog">
        asdf
      </a>
      <a target="_blank" rel="noreferrer" href="https://status.zitadel.ch">
        asdf
      </a>
    </div>
  </div>
</div>