<div class="footer-wrapper">
  <div class="footer-row">
    <div class="footer-links">
      <a target="_blank" *ngIf="policy?.tosLink" rel="noreferrer" [href]="policy?.tosLink" external>
        <span>{{ 'FOOTER.LINKS.TOS' | translate }}</span>
        <i class="las la-external-link-alt"></i>
      </a>
      <a target="_blank" *ngIf="policy?.privacyLink" rel="noreferrer" [href]="policy?.privacyLink" external>
        <span>{{ 'FOOTER.LINKS.PP' | translate }}</span>
        <i class="las la-external-link-alt"></i>
      </a>
    </div>

    <div class="footer-socials" *ngIf="authService.labelpolicy | async as lP">
      <ng-container *ngIf="lP?.disableWatermark === false">
        <a target="_blank" rel="noreferrer" href="https://github.com/zitadel">
          <i class="text-3xl lab la-github"></i>
        </a>
        <a target="_blank" rel="noreferrer" href="https://twitter.com/zitadel">
          <fa-icon [icon]="faXTwitter" size="xl"></fa-icon>
        </a>
        <a target="_blank" rel="noreferrer" href="https://www.linkedin.com/company/zitadel/">
          <i class="text-3xl lab la-linkedin"></i>
        </a>
        <a target="_blank" rel="noreferrer" href="https://zitadel.com/chat">
          <i class="text-3xl lab la-discord"></i>
        </a>
        <a target="_blank" rel="noreferrer" href="https://www.youtube.com/channel/UCUAWJUNYaRn1yIVrZxEfsuA">
          <i class="text-3xl lab la-youtube"></i>
        </a>
      </ng-container>
    </div>

    <div class="theme">
      <cnsl-theme-setting></cnsl-theme-setting>
    </div>
  </div>
</div>
