.formfield {
  width: 100%;
}

.verified-checkbox {
  margin-top: 1.5rem;
}

.desc {
  font-size: 14px;
}

.action {
  display: flex;
  justify-content: flex-end;

  button {
    border-radius: 0.5rem;
  }
}

.phone-grid {
  max-width: 22rem;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;

  @media only screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.phone-country-name {
  padding: 0 0.5em;
}

.phone-country-code {
  color: darkgrey;
}
