.icon-button {
  margin-right: 0.5rem;
}

.table-wrapper {
  overflow-x: auto;

  .table,
  .paginator {
    width: 100%;

    td,
    th {
      padding: 0.5rem;

      &:first-child {
        padding-left: 0;
        padding-right: 1rem;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .action {
      width: 40px;
    }
  }

  .sa-icon {
    display: block;
    width: 32px;
    margin: 0 0.5rem;

    i {
      margin: auto;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}

.role-row {
  min-width: 200px;
}
