.lgn-app-background {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}

.lgn-theme-loaded-marker {
  display: none;
}

.lgn-button, .lgn-stroked-button {
  color: inherit;
  background: transparent;
}
.lgn-button.lgn-primary, .lgn-stroked-button.lgn-primary {
  color: #5469d4;
}
.lgn-button.lgn-accent, .lgn-stroked-button.lgn-accent {
  color: #56a392;
}
.lgn-button.lgn-warn, .lgn-stroked-button.lgn-warn {
  color: #f44336;
}
.lgn-button.lgn-primary.lgn-button-disabled, .lgn-button.lgn-accent.lgn-button-disabled, .lgn-button.lgn-warn.lgn-button-disabled, .lgn-button.lgn-button-disabled.lgn-button-disabled, .lgn-stroked-button.lgn-primary.lgn-button-disabled, .lgn-stroked-button.lgn-accent.lgn-button-disabled, .lgn-stroked-button.lgn-warn.lgn-button-disabled, .lgn-stroked-button.lgn-button-disabled.lgn-button-disabled {
  color: rgba(0, 0, 0, 0.26);
}
.lgn-button.lgn-primary .lgn-button-focus-overlay, .lgn-stroked-button.lgn-primary .lgn-button-focus-overlay {
  background-color: #5469d4;
}
.lgn-button.lgn-accent .lgn-button-focus-overlay, .lgn-stroked-button.lgn-accent .lgn-button-focus-overlay {
  background-color: #56a392;
}
.lgn-button.lgn-warn .lgn-button-focus-overlay, .lgn-stroked-button.lgn-warn .lgn-button-focus-overlay {
  background-color: #f44336;
}
.lgn-button.lgn-button-disabled .lgn-button-focus-overlay, .lgn-stroked-button.lgn-button-disabled .lgn-button-focus-overlay {
  background-color: transparent;
}

.lgn-button-focus-overlay {
  background: black;
}

.lgn-stroked-button:not(.lgn-button-disabled) {
  border-color: rgba(0, 0, 0, 0.12);
}

.lgn-button, .lgn-raised-button {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}
.lgn-button.lgn-primary, .lgn-raised-button.lgn-primary {
  color: white;
}
.lgn-button.lgn-accent, .lgn-raised-button.lgn-accent {
  color: white;
}
.lgn-button.lgn-warn, .lgn-raised-button.lgn-warn {
  color: white;
}
.lgn-button.lgn-primary.lgn-button-disabled, .lgn-button.lgn-accent.lgn-button-disabled, .lgn-button.lgn-warn.lgn-button-disabled, .lgn-button.lgn-button-disabled.lgn-button-disabled, .lgn-raised-button.lgn-primary.lgn-button-disabled, .lgn-raised-button.lgn-accent.lgn-button-disabled, .lgn-raised-button.lgn-warn.lgn-button-disabled, .lgn-raised-button.lgn-button-disabled.lgn-button-disabled {
  color: rgba(0, 0, 0, 0.26);
}
.lgn-button.lgn-primary, .lgn-raised-button.lgn-primary {
  background-color: #5469d4;
}
.lgn-button.lgn-accent, .lgn-raised-button.lgn-accent {
  background-color: #56a392;
}
.lgn-button.lgn-warn, .lgn-raised-button.lgn-warn {
  background-color: #f44336;
}
.lgn-button.lgn-primary.lgn-button-disabled, .lgn-button.lgn-accent.lgn-button-disabled, .lgn-button.lgn-warn.lgn-button-disabled, .lgn-button.lgn-button-disabled.lgn-button-disabled, .lgn-raised-button.lgn-primary.lgn-button-disabled, .lgn-raised-button.lgn-accent.lgn-button-disabled, .lgn-raised-button.lgn-warn.lgn-button-disabled, .lgn-raised-button.lgn-button-disabled.lgn-button-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}

.lgn-button, .lgn-stroked-button {
  color: inherit;
  background: transparent;
}
.lgn-button.lgn-primary, .lgn-stroked-button.lgn-primary {
  color: #5469d4;
}
.lgn-button.lgn-accent, .lgn-stroked-button.lgn-accent {
  color: #56a392;
}
.lgn-button.lgn-warn, .lgn-stroked-button.lgn-warn {
  color: #f44336;
}
.lgn-button.lgn-primary.lgn-button-disabled, .lgn-button.lgn-accent.lgn-button-disabled, .lgn-button.lgn-warn.lgn-button-disabled, .lgn-button.lgn-button-disabled.lgn-button-disabled, .lgn-stroked-button.lgn-primary.lgn-button-disabled, .lgn-stroked-button.lgn-accent.lgn-button-disabled, .lgn-stroked-button.lgn-warn.lgn-button-disabled, .lgn-stroked-button.lgn-button-disabled.lgn-button-disabled {
  color: rgba(0, 0, 0, 0.26);
}
.lgn-button.lgn-primary .lgn-button-focus-overlay, .lgn-stroked-button.lgn-primary .lgn-button-focus-overlay {
  background-color: #5469d4;
}
.lgn-button.lgn-accent .lgn-button-focus-overlay, .lgn-stroked-button.lgn-accent .lgn-button-focus-overlay {
  background-color: #56a392;
}
.lgn-button.lgn-warn .lgn-button-focus-overlay, .lgn-stroked-button.lgn-warn .lgn-button-focus-overlay {
  background-color: #f44336;
}
.lgn-button.lgn-button-disabled .lgn-button-focus-overlay, .lgn-stroked-button.lgn-button-disabled .lgn-button-focus-overlay {
  background-color: transparent;
}

.lgn-button-focus-overlay {
  background: black;
}

.lgn-stroked-button:not(.lgn-button-disabled) {
  border-color: rgba(0, 0, 0, 0.12);
}

.lgn-button, .lgn-raised-button {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}
.lgn-button.lgn-primary, .lgn-raised-button.lgn-primary {
  color: white;
}
.lgn-button.lgn-accent, .lgn-raised-button.lgn-accent {
  color: white;
}
.lgn-button.lgn-warn, .lgn-raised-button.lgn-warn {
  color: white;
}
.lgn-button.lgn-primary.lgn-button-disabled, .lgn-button.lgn-accent.lgn-button-disabled, .lgn-button.lgn-warn.lgn-button-disabled, .lgn-button.lgn-button-disabled.lgn-button-disabled, .lgn-raised-button.lgn-primary.lgn-button-disabled, .lgn-raised-button.lgn-accent.lgn-button-disabled, .lgn-raised-button.lgn-warn.lgn-button-disabled, .lgn-raised-button.lgn-button-disabled.lgn-button-disabled {
  color: rgba(0, 0, 0, 0.26);
}
.lgn-button.lgn-primary, .lgn-raised-button.lgn-primary {
  background-color: #5469d4;
}
.lgn-button.lgn-accent, .lgn-raised-button.lgn-accent {
  background-color: #56a392;
}
.lgn-button.lgn-warn, .lgn-raised-button.lgn-warn {
  background-color: #f44336;
}
.lgn-button.lgn-primary.lgn-button-disabled, .lgn-button.lgn-accent.lgn-button-disabled, .lgn-button.lgn-warn.lgn-button-disabled, .lgn-button.lgn-button-disabled.lgn-button-disabled, .lgn-raised-button.lgn-primary.lgn-button-disabled, .lgn-raised-button.lgn-accent.lgn-button-disabled, .lgn-raised-button.lgn-warn.lgn-button-disabled, .lgn-raised-button.lgn-button-disabled.lgn-button-disabled {
  background-color: rgba(0, 0, 0, 0.12);
}

/*# sourceMappingURL=legacy.css.map */
