@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .ztdl-h1 {
    @apply text-2xl;
  }

  .ztdl-p {
    @apply text-sm;
  }
}

html {
  --background-color: #ffffff;
  --dark-background-color: #000000;
}

.bg-background-light-600 {
  background-color: var(--background-color);
}

.dark .dark\:bg-background-dark-600 {
  background-color: var(--dark-background-color) !important;
}
