@import './footer.scss';

@mixin lgn-idp-theme($theme-or-color-config) {
    $theme: lgn-private-legacy-get-theme($theme-or-color-config);
    $color: lgn-get-color-config($theme);

    @if $color != null {
        @include lgn-idp-color($color);
    }
}

@mixin lgn-idp-color($config-or-theme) {
    $config: lgn-get-color-config($config-or-theme);
    $background: map-get($config, background);
    $foreground: map-get($config, foreground);
  
    footer {
      background-color: lgn-color($background, footer);
      border-top: 1px solid lgn-color($foreground, footer-line);

      a {
        color: lgn-color($background, footer-links);
      }
    }
}