h1 {
  font-weight: 500;
}

.app-create-main-content {
  max-width: 35rem;

  .content-wrapper {
    display: flex;
    flex-direction: column;

    &.reverse {
      flex-direction: column-reverse;
    }
  }

  .error-msg {
    margin-top: 0.25rem;
    display: block;
  }

  .app-create-btn-container {
    display: flex;
    align-items: center;
    margin-top: 3rem;

    .continue-button {
      margin-top: 3rem;
      display: block;
      height: 3.5rem;
      padding: 0 4rem;
    }
  }
}

.framework-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-auto-columns: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  max-width: 600px;
  margin-left: auto;

  .framework-card {
    position: relative;
    flex-shrink: 0;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0.5rem;
    box-sizing: border-box;
    transition: all 0.1s ease-in;
    height: 60px;
    // width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px #0000001a;
    border: 1px solid rgba(#8795a1, 0.2);
    color: var(--success);
    opacity: 0.8;
    padding: 0 0.75rem;

    &:hover {
      border: 2px solid var(--success);
      opacity: 1;
    }

    img {
      width: 100%;
      height: 100%;
      max-width: 30px;
      max-height: 30px;
      object-fit: contain;
      object-position: center;
    }

    span {
      font-size: 0.75rem;
      color: var(--foreground-secondary);
    }

    .dark-only {
      // display: if($is-dark-theme, block, none);
    }

    .light-only {
      // display: if($is-dark-theme, none, block);
    }

    span {
      margin: 0.5rem;
      text-align: center;
      // color: map-get($foreground, text);
    }

    .action-row {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 14px;
      margin-bottom: 0.5rem;
      // color: map-get($primary, 400);

      .icon {
        margin-left: 0rem;
      }
    }

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
    }
  }
}
