<cnsl-create-layout title="{{ 'APP.PAGES.CREATE' | translate }}" (closed)="close()">
  <div class="app-create-main-content">
    <cnsl-framework-change *ngIf="initialParam()" (frameworkChanged)="framework.set($event)"></cnsl-framework-change>
    <div class="content-wrapper" [ngClass]="{ reverse: initialParam() }">
      <div>
        <h1>{{ 'APP.PAGES.QUICK_CREATE_TITLE' | translate }}</h1>
        <p>{{ 'APP.PAGES.QUICK_CREATE_DESC' | translate }}</p>

        <!-- <cnsl-search-project-autocomplete
          class="block"
          [autocompleteType]="ProjectAutocompleteType.PROJECT_OWNED"
          (selectionChanged)="selectProject($any($event))"
          (valueChanged)="projectName = $any($event)"
        >
        </cnsl-search-project-autocomplete> -->

        <!-- <p>{{ 'APP.PAGES.CREATE_NEW_PROJECT' | translate }}</p> -->
      </div>

      <div *ngIf="!initialParam()">
        <h2>{{ 'APP.PAGES.QUICK_CREATE_FRAMEWORK' | translate }}</h2>
        <p>{{ 'APP.PAGES.QUICK_CREATE_FRAMEWORK_DESC' | translate }}</p>

        <div class="framework-wrapper">
          <ng-container *ngFor="let framework of frameworks.slice(0, 18)">
            <button
              (click)="createProjectAndContinue(framework.id)"
              class="framework-card card"
              title="{{ framework.title }}"
            >
              <img class="dark-only" *ngIf="framework.imgSrcDark" [src]="framework.imgSrcDark" alt="{{ framework.title }}" />
              <span class="framework-name">{{ framework.title }}</span>
            </button>
          </ng-container>
        </div>

        <!-- <div class="framework-search-wrapper">
          <p class="search-label">{{ 'APP.PAGES.FRAMEWORK_NOT_LISTED' | translate }}</p>
          <cnsl-framework-autocomplete
            *ngIf="frameworks"
            [frameworkId]="framework()?.id"
            [frameworks]="frameworks"
            [withCustom]="true"
            (selectionChanged)="findFramework($event)"
          ></cnsl-framework-autocomplete>
        </div> -->
      </div>
    </div>

    <cnsl-info-section *ngIf="error()" [type]="InfoSectionType.WARN"
      ><span class="error-msg">{{ error() }}</span></cnsl-info-section
    >

    <div class="app-create-btn-container">
      <button
        color="primary"
        mat-raised-button
        class="continue-button"
        [disabled]="!(framework() || customFramework())"
        (click)="project && project.name === projectName ? goToAppIntegratePage() : createProjectAndContinue()"
      >
        {{
          !project && !projectName
            ? ('ACTIONS.CONTINUE' | translate)
            : project && project.name === projectName
              ? ('ACTIONS.CONTINUEWITH' | translate: { value: project.name })
              : ('QUICKSTART.CREATEPROJECTFORAPP' | translate: { value: projectName })
        }}
      </button>
    </div>
  </div>
</cnsl-create-layout>
