// ----- FONTS ------------
$standardFont: Lato;
$headerFont: Aileron;

// ----- LAYOUT ------------
$inputHeight: 50px;


// ----- DARK-THEME --------
$backgroundColor: #282828;
$headerColor: #FFFFFF;
$fontColor: #898989;
$primaryColor: #364DF6;
$primaryColorHover: lighten($primaryColor, 10%);
$inputBorderColor: #595959;
$inputBackgroundColor: #252525;


// ----- LIGHT-THEME --------
$backgroundColorLight: $headerColor;
$headerColorLight: $backgroundColor;
$fontColorLight: $backgroundColor;
$primaryColorLight: $primaryColor;
$primaryColorHoverLight: lighten($primaryColorLight, 10%);