@import '~@angular/material/theming';

@mixin changes-theme($theme) {
    $primary: map-get($theme, primary);
    $primary-dark: mat-color($primary, A900);
    
    .change-item-back {
        background-color: lighten($primary-dark, 5%);
    }
}
