@import '~@angular/material/theming';

@mixin changes-theme($theme) {
    $primary: map-get($theme, primary);
    $primary-dark: mat-color($primary, A600);
    
    .change-item-back {
        background-color: rgba($primary-dark, 0.03);
    }
}
