$cnsl-dark-theme-text: #ffffff;
$cnsl-light-theme-text: hsla(0, 0%, 0%, 0.87);

$caos-dark-primary: (
  50: #f1f7fd,
  100: #afd1f2,
  200: #7fb5ea,
  300: #4192e0,
  400: #2782dc,
  500: #2073c4,
  600: #1c64aa,
  700: #17548f,
  800: #134575,
  900: #0f355b,
  A100: #e4f2ff,
  A200: #7ebfff,
  A400: #278df0,
  A700: #1d80e0,
  contrast: (
    50: hsla(0, 0%, 0%, 0.87),
    100: hsla(0, 0%, 0%, 0.87),
    200: hsla(0, 0%, 0%, 0.87),
    300: hsla(0, 0%, 0%, 0.87),
    400: hsla(0, 0%, 0%, 0.87),
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: hsla(0, 0%, 0%, 0.87),
    A200: hsla(0, 0%, 0%, 0.87),
    A400: hsla(0, 0%, 0%, 0.87),
    A700: hsla(0, 0%, 0%, 0.87),
  ),
);

$caos-light-primary: (
  50: #ffffff,
  100: #ebedfa,
  200: #bec6ef,
  300: #8594e0,
  400: #6c7eda,
  500: #5469d4,
  600: #3c54ce,
  700: #2f46bc,
  800: #293da3,
  900: #23348b,
  A100: #ffffff,
  A200: #c5cefc,
  A400: #7085ea,
  A700: #6478de,
  contrast: (
    50: hsla(0, 0%, 0%, 0.87),
    100: hsla(0, 0%, 0%, 0.87),
    200: hsla(0, 0%, 0%, 0.87),
    300: hsla(0, 0%, 0%, 0.87),
    400: hsla(0, 0%, 0%, 0.87),
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: hsla(0, 0%, 0%, 0.87),
    A200: hsla(0, 0%, 0%, 0.87),
    A400: hsla(0, 0%, 0%, 0.87),
    A700: hsla(0, 0%, 0%, 0.87),
  ),
);

$caos-dark-warn: (
  50: #ffe7eb,
  100: #ffc4ce,
  200: #ff9dad,
  300: #ff768c,
  400: #ff5874,
  500: #ff3b5b,
  600: #ff3553,
  700: #ff2d49,
  800: #ff2640,
  900: #ff192f,
  A100: #ffffff,
  A200: #fffdfd,
  A400: #ffcace,
  A700: #ffb1b7,
  contrast: (
    50: $cnsl-dark-theme-text,
    100: $cnsl-dark-theme-text,
    200: $cnsl-dark-theme-text,
    300: $cnsl-dark-theme-text,
    400: $cnsl-dark-theme-text,
    500: $cnsl-light-theme-text,
    600: $cnsl-light-theme-text,
    700: $cnsl-light-theme-text,
    800: $cnsl-light-theme-text,
    900: $cnsl-light-theme-text,
    A100: $cnsl-dark-theme-text,
    A200: $cnsl-light-theme-text,
    A400: $cnsl-light-theme-text,
    A700: $cnsl-light-theme-text,
  ),
);

$caos-light-warn: (
  50: #f9e8eb,
  100: #f0c5cc,
  200: #e69eab,
  300: #dc7789,
  400: #d55a6f,
  500: #cd3d56,
  600: #c8374f,
  700: #c12f45,
  800: #ba273c,
  900: #ae1a2b,
  A100: #ffe4e6,
  A200: #ffb1b9,
  A400: #ff7e8b,
  A700: #ff6474,
  contrast: (
    50: $cnsl-dark-theme-text,
    100: $cnsl-dark-theme-text,
    200: $cnsl-dark-theme-text,
    300: $cnsl-dark-theme-text,
    400: $cnsl-dark-theme-text,
    500: $cnsl-light-theme-text,
    600: $cnsl-light-theme-text,
    700: $cnsl-light-theme-text,
    800: $cnsl-light-theme-text,
    900: $cnsl-light-theme-text,
    A100: $cnsl-dark-theme-text,
    A200: $cnsl-light-theme-text,
    A400: $cnsl-light-theme-text,
    A700: $cnsl-light-theme-text,
  ),
);
