@import '~@angular/material/theming';

@mixin theme-card($theme) {
    $accent: map-get($theme, accent);
    $background: map-get($theme, background);
    $background-color: mat-color($background, card);
    $primary: map-get($theme, primary);
    $primary-color: mat-color($primary, 500);
    $primary-dark: mat-color($primary, A800);
    $border-color: mat-color($primary, A700);
    $border-selected-color: mat-color($primary, A600);

    .theme-conent {
        background-color: $primary-dark;
        transition: background-color .5s ease-in-out;
    }

    .theme-app {
        background-color: $primary-dark;
        transition: background-color .5s ease-in-out;
    }

    .crescent {
        background-color: $primary-dark;
        transition: background-color .5s ease-in-out;
    }
}
