@import '~@angular/material/theming';

@mixin theme-card($theme) {
    $primary: map-get($theme, primary);
    $primary-dark: mat-color($primary, A800);

    .theme-conent {
        background-color: $primary-dark;
        transition: background-color .4s ease-in-out;
    }

    .theme-app {
        background-color: $primary-dark;
        transition: background-color .4s ease-in-out;
    }

    .crescent {
        background-color: $primary-dark;
        transition: background-color .4s ease-in-out;
    }
}
