@use '@angular/material' as mat;

@mixin toast-theme($theme) {
  $warn: map-get($theme, warn);
  $warn-color: mat.get-color-from-palette($warn, 500);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  //   .data-e2e-success {
  //     background-color: map-get($background, cards) !important;
  //     color: var(--success) !important;
  //   }

  .data-e2e-failure {
    color: $warn-color !important;
    background-color: mat.get-color-from-palette($background, cards) !important;
  }
}
