<div class="context_intro_overlay">
  <div class="overlay-info-row">
    <span class="info"
      >INFO <span *ngIf="data.number && data.count">{{ data.number }}/{{ data.count }}</span></span
    >
    <button mat-icon-button (click)="workflowService.reset()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <p>{{ data.i18nText | translate }}</p>
  <div class="overlay-actions">
    <button
      (click)="workflowService.nextStep()"
      *ngIf="workflowService.nextPossible && !workflowService.isLast"
      mat-stroked-button
    >
      {{ 'ACTIONS.NEXT' | translate }}
    </button>

    <button *ngIf="workflowService.isLast" (click)="workflowService.nextStep()" color="primary" mat-raised-button>
      {{ 'ACTIONS.FINISHED' | translate }}
    </button>
  </div>
</div>
