<h1 mat-dialog-title>
    <span class="title">{{'MEMBER.ADD' | translate}}</span>
</h1>
<p class="desc"> {{'ORG_DETAIL.MEMBER.ADDDESCRIPTION' | translate}}</p>

<div mat-dialog-content>

    <mat-form-field *ngIf="showCreationTypeSelector" class="full-width" appearance="outline">
        <mat-label>{{ 'MEMBER.CREATIONTYPE' | translate }}</mat-label>
        <mat-select [(ngModel)]="creationType" (selectionChange)="loadRoles()">
            <mat-option *ngFor="let type of creationTypes" [value]="type">
                {{ 'MEMBER.CREATIONTYPES.'+type | translate}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <app-search-user-autocomplete (selectionChanged)="users = $event"></app-search-user-autocomplete>

    <mat-form-field class="full-width" appearance="outline"
        *ngIf="creationType === CreationType.PROJECT_OWNED || creationType === CreationType.PROJECT_GRANTED || creationType === CreationType.IAM">
        <mat-label>{{ 'PROJECT.GRANT.TITLE' | translate }}</mat-label>
        <mat-select [(ngModel)]="roles" multiple>
            <mat-option *ngFor="let role of memberRoleOptions" [value]="role">
                {{ 'ROLES.'+role | translate }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <ng-container *ngIf="creationType === CreationType.ORG">
        <app-org-member-roles-autocomplete (selectionChanged)="setOrgMemberRoles($event)">
        </app-org-member-roles-autocomplete>
    </ng-container>

</div>
<div mat-dialog-actions class="action">
    <button mat-button (click)="closeDialog()">
        {{'ACTIONS.CANCEL' | translate}}
    </button>

    <button [disabled]="users.length == 0 || roles.length == 0" color="primary" mat-raised-button class="ok-button"
        (click)="closeDialogWithSuccess()">
        {{'ACTIONS.ADD' | translate}}
    </button>
</div>