.type-selection {
  display: flex;
  margin: 0 -.5rem;

  .otp-btn,
  .u2f-btn {
    flex: 1;
    min-height: 100px;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-sizing: border-box;

    .icon-row {
      display: flex;
    }
  }

  button {
    margin: .5rem;
  }
}

.desc {
  font-size: 14px;
  color: var(--grey);
}

.otp {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.u2f {
  max-width: 400px;
}

.formfield {
  width: 100%;
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: .5rem;
  }

  button {
    border-radius: .5rem;
  }
}
