.desc {
  margin-top: 0;
}

.type-selection {
  display: flex;
  margin: 0 -0.5rem;

  .otp-btn,
  .u2f-btn {
    flex: 1;
    min-height: 100px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    box-sizing: border-box;
    max-width: 180px;
    white-space: normal;
    line-height: 1.5rem;

    .authenticator-logo {
      height: 40px;
      width: 40px;
    }

    * {
      white-space: normal;
    }

    .icon-row {
      height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
    }
  }

  button {
    margin: 0.5rem;
  }
}

.desc {
  font-size: 14px;
}

.otp {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .qrcode-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .otp-flex {
      display: flex;
      align-items: center;
      border: 1px solid #ffffff20;
      border-radius: 0.5rem;
      padding-left: 0.5rem;
      justify-content: space-between;

      .overflow-auto {
        overflow: auto;

        .desc {
          font-size: 14px;
        }
      }
    }
  }
}

.u2f {
  max-width: 400px;
}

.formfield {
  width: 100%;
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: 0.5rem;
  }

  button {
    border-radius: 0.5rem;
  }
}
