.table-header-row {
  display: flex;
  align-items: center;

  .col {
      display: flex;
      flex-direction: column;
      .desc {
          font-size: .8rem;
          color: #81868a;
      }
      .count {
          font-size: 2rem;
      }
  }

  .fill-space {
      flex: 1;
  }

  .icon-button {
      margin-right: .5rem;
  }

  .add-button {
      border-radius: .5rem;
  }
}

.table-wrapper {
    overflow: auto;

    .spinner-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    table, mat-paginator {
        width: 100%;
        background-color: #2d2e30;

        td, th {
            padding: 0 1rem; 

            &:first-child {
                padding-left: 0;
                padding-right: 1rem;
            }

            &:last-child {
                padding-right: 0;
            }

            .role {
                display: inline-block;
                border-radius: .5rem;
                border: 1px solid #ffffff30;
                padding: .5rem 1rem;
                margin-top: .25rem;
                margin-bottom: .25rem;
                margin-left: 0;
                margin-right: .5rem;
                cursor: pointer;
            }
        }

        tr.detail-row {
            height: 0;

        }

        tr {
            .element-row:not(.expanded-row):hover {
                background: whitesmoke;
            }
            
            .element-row:not(.expanded-row):active {
                background: #efefef;
            }
        }

        .button-show {
            border-radius: .5rem;
        }
        
        .element-row td {
            border-bottom-width: 0;
        }
        
        .element-detail {
            overflow: hidden;
            display: flex;
           
            .right {
                display: flex;
                flex-direction: column;

                .title-row {
                    display: flex;
                    align-items: center;

                    .mem-title {
                        font-size: .8rem;
                        color: #81868a;
                    }
                }

                .mem-description {
                    padding-bottom: 1rem;

                    .img-list {
                        width: 100%;
                        margin-top: 0.5rem;
                        margin-left: 1rem;
                        margin-bottom: 1rem;
                        display: flex;
                        align-items: center;
                  
                        .avatar {
                          float: left;
                          margin: 0 8px 0 -15px;
                          height: 32px;
                          width: 32px;
                          border-radius: 50%;
                          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5), 0 3px 6px rgba(0, 0, 0, 0.5);
                        }
                
                        .add-img {
                            float: left;
                            margin: 0 8px 0 -15px;
                        }
             
                        .avatar-circle {
                            cursor: pointer;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: indianred;
                        }
                  
                        .margin-neg {
                          margin-left: -1rem;
                        }
                    }
                }
            }
        }
        
        .element-symbol {
            font-weight: bold;
            font-size: 40px;
            line-height: normal;
        }
        
        .element-description {
            padding: 16px;
        }
        
        .element-description-attribution {
            opacity: 0.5;
        }

        .selection {
            width: 50px;
            max-width: 50px;
        }
    }
}

.pointer {
    outline: none;
    cursor: pointer;
}