<h1 mat-dialog-title>
    <span>{{data.titleKey | translate}} {{data?.number}}</span>
</h1>
<p class="desc">{{data.descKey | translate}}</p>
<div mat-dialog-content>
    <cnsl-form-field class="formfield">
        <cnsl-label>{{ data.labelKey | translate }}</cnsl-label>
        <input cnslInput [(ngModel)]="name" />
    </cnsl-form-field>
</div>
<div mat-dialog-actions class="action">
    <button color="primary" mat-stroked-button class="ok-button" (click)="closeDialog()">
        {{'ACTIONS.CLOSE' | translate}}
    </button>

    <button [disabled]="!name" cdkFocusInitial color="primary" mat-raised-button class="ok-button"
        (click)="closeDialog(name)">
        {{'ACTIONS.RENAME' | translate}}
    </button>
</div>