<cnsl-create-layout
  title="{{ id ? ('IDP.DETAIL.TITLE' | translate) : ('IDP.CREATE.TITLE' | translate) }}"
  (closed)="close()"
>
  <div class="identity-provider-create-content">
    <div class="title-row">
      <mat-icon class="idp-logo" svgIcon="mdi_openid" alt="openid" />
      <h1>{{ 'IDP.CREATE.OIDC.TITLE' | translate }}</h1>
      <mat-spinner diameter="25" *ngIf="loading" color="primary"></mat-spinner>
    </div>

    <p class="identity-provider-desc cnsl-secondary-text">{{ 'IDP.CREATE.OIDC.DESCRIPTION' | translate }}</p>

    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <!-- identity-provider-content-here -->

      <div class="identity-provider-create-actions">
        <button color="primary" mat-raised-button class="continue-button" [disabled]="form.invalid" type="submit">
          <span *ngIf="id">{{ 'ACTIONS.SAVE' | translate }}</span>
          <span *ngIf="!id">{{ 'ACTIONS.CREATE' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</cnsl-create-layout>
