@use '@angular/material' as mat;

@mixin filter-events-aggregate-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat.get-color-from-palette($primary, 500);
  $lighter-primary-color: mat.get-color-from-palette($primary, 300);
  $darker-primary-color: mat.get-color-from-palette($primary, 700);

  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $secondary-text: map-get($foreground, secondary-text);
  $is-dark-theme: map-get($theme, is-dark);

  $link-hover-color: if($is-dark-theme, mat.get-color-from-palette($primary, 200), $primary-color);
  $link-color: if($is-dark-theme, $lighter-primary-color, $primary-color);

  .filter-events-aggregate-wrapper {
    border-radius: 0.5rem;
    z-index: 200;
    border: 1px solid #ffffff30;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    min-width: 220px;
    max-width: 260px;
    padding-bottom: 0.5rem;
    position: relative;
    color: map-get($foreground, text);
    background: map-get($background, cards);
  }
}

.events-aggregate-form-field {
}

// .events-user-mat-option {
//   padding: 0 !important;

//   .mat-option-text:first-child {
//     display: none;
//   }

//   .events-user-option {
//     display: flex;
//     align-items: center;

//     .events-user-option-column {
//       display: flex;
//       flex-direction: column;
//       align-items: flex-start;
//       justify-content: center;

//       span {
//         line-height: normal;
//       }

//       .fill-space {
//         flex: 1;
//       }

//       .smaller {
//         font-size: 13px;
//       }
//     }

//     .fill-space {
//       flex-grow: 1;
//     }
//   }
// }
