<span class="title" mat-dialog-title>{{'USER.MACHINE.ADD.TITLE' | translate}}</span>
<div mat-dialog-content>
    <p class="desc"> {{'USER.MACHINE.ADD.DESCRIPTION' | translate}}</p>

    <cnsl-form-field class="form-field" appearance="outline">
        <cnsl-label>{{'USER.MACHINE.TYPE' | translate}}</cnsl-label>
        <mat-select [(ngModel)]="type">
            <mat-option *ngFor="let t of types" [value]="t">
                {{'USER.MACHINE.KEYTYPES.'+t | translate}}
            </mat-option>
        </mat-select>
    </cnsl-form-field>

    <cnsl-form-field class="form-field" appearance="outline">
        <cnsl-label>{{'USER.MACHINE.CHOOSEEXPIRY' | translate}}</cnsl-label>
        <input cnslInput [matDatepicker]="picker" [formControl]="dateControl">
        <mat-datepicker-toggle style="top: 0;" cnslSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
        <span cnsl-error *ngIf="dateControl?.errors?.forbiddenDate">

        </span>
    </cnsl-form-field>
</div>
<div mat-dialog-actions class="action">
    <button mat-button (click)="closeDialog()">
        {{'ACTIONS.CANCEL' | translate}}
    </button>

    <button color="primary" mat-raised-button class="ok-button" [disabled]="type == undefined || dateControl.invalid"
        (click)="closeDialogWithSuccess()">
        {{'ACTIONS.ADD' | translate}}
    </button>
</div>