<div class="max-width-container">
  <div class="enlarged-container">
    <div class="grants-title-row">
      <h1>{{ 'DESCRIPTIONS.AUTHORIZATIONS.TITLE' | translate }}</h1>
      <a mat-icon-button href="https://zitadel.com/docs/concepts/structure/managers" rel="noreferrer" target="_blank">
        <mat-icon class="icon">info_outline</mat-icon>
      </a>
    </div>
    <p class="sub cnsl-secondary-text max-width-description">{{ 'DESCRIPTIONS.AUTHORIZATIONS.DESCRIPTION' | translate }}</p>
    <div leftActions class="user-toggle-group">
      <cnsl-nav-toggle
        label="{{ 'DESCRIPTIONS.AUTHORIZATIONS.USER.TITLE' | translate }}"
        (clicked)="setType('default')"
        [active]="listType === 'default'"
      ></cnsl-nav-toggle>
      <cnsl-nav-toggle
        label="{{ 'DESCRIPTIONS.AUTHORIZATIONS.GROUP.TITLE' | translate }}"
        (clicked)="setType('group')"
        [active]="listType === 'group'"
      ></cnsl-nav-toggle>
    </div>
    <div class="enlarged-container" [ngSwitch]="listType">
      <ng-container *ngSwitchCase="'default'">
        <cnsl-user-grants
          *ngIf="grantContext === UserGrantContext.NONE"
          [displayedColumns]="[
            'select',
            'user',
            'org',
            'projectId',
            'type',
            'creationDate',
            'changeDate',
            'state',
            'roleNamesList',
            'actions',
          ]"
          [disableWrite]="(['user.grant.write$'] | hasRole | async) === false"
          [disableDelete]="(['user.grant.delete$'] | hasRole | async) === false"
          [refreshOnPreviousRoutes]="['/grant-create']"
        >
        </cnsl-user-grants>
      </ng-container>
      <ng-container *ngSwitchCase="'group'">
        <cnsl-group-grants
          *ngIf="grantContext === UserGrantContext.NONE"
          [displayedColumns]="[
            'select',
            'groupName',
            'org',
            'projectId',
            'creationDate',
            'changeDate',
            'state',
            'roleNamesList',
            'actions',
          ]"
          [disableWrite]="(['user.grant.write$'] | hasRole | async) === false"
          [disableDelete]="(['user.grant.delete$'] | hasRole | async) === false"
          [refreshOnPreviousRoutes]="['/grant-create']"
        >
        </cnsl-group-grants>
      </ng-container>
    </div>

    <cnsl-user-grants
      *ngIf="grantContext === UserGrantContext.OWNED_PROJECT"
      [context]="UserGrantContext.OWNED_PROJECT"
      [projectId]="projectId"
      [refreshOnPreviousRoutes]="['/grant-create/project/' + projectId]"
      [disableWrite]="(['user.grant.write$', 'user.grant.write:' + projectId] | hasRole | async) === false"
      [disableDelete]="(['user.grant.delete$', 'user.grant.delete:' + projectId] | hasRole | async) === false"
    >
    </cnsl-user-grants>
  </div>
</div>
