<div class="table-header-row">
    <div class="col">
        <ng-container *ngIf="!selection.hasValue()">
            <span class="desc">{{'ORG_DETAIL.TABLE.TOTAL' | translate}}</span>
            <span class="count">{{dataSize}}</span>
        </ng-container>
        <ng-container *ngIf="selection.hasValue()">
            <span class="desc">{{'ORG_DETAIL.TABLE.SELECTION' | translate}}</span>
            <span class="count">{{selection?.selected?.length}}</span>
        </ng-container>
    </div>
    <span class="fill-space"></span>
    <mat-spinner class="spinner" *ngIf="loading" diameter="20"></mat-spinner>
    <button mat-icon-button (click)="emitRefresh()" class="icon-button" matTooltip="{{'ACTIONS.REFRESH' | translate}}">
        <mat-icon>refresh</mat-icon>
    </button>
    <ng-content select="[actions]"></ng-content>
</div>
<ng-content></ng-content>