
.table-header-row {
  display: flex;
  align-items: center;

  .row {
    display: flex;

    .count {
      margin-right: .5rem;
      color: var(--grey);
    }

    .desc {
      font-size: 14px;
      color: var(--grey);
    }

    .slash {
      margin: 0 .5rem;
      color: var(--grey);
    }

    a {
      cursor: pointer;
      font-size: 14px;
      margin-top: 2px;
    }
  }

  .spinner {
    margin-top: 2px;
    margin-bottom: 1px;
    margin-right: 1rem;
  }

  .fill-space {
    flex: 1;
  }

  .icon-button {
    margin-right: .5rem;
  }
}
