<div class="change-header">
    <span class="ch-header">{{ 'CHANGES.LISTTITLE' | translate }}</span>
    <button matTooltip="{{'ACTIONS.REFRESH' | translate}}" (click)="init()" mat-icon-button>
        <mat-icon class="icon">refresh</mat-icon>
    </button>
</div>

<div class="scroll-container" appScrollable (scrollPosition)="scrollHandler($event)">
    <li class="item change-item-back" *ngFor="let hist of data | async; index as histindex">
        <span *ngIf="hist.values[0].dates[0]" class="date">{{
            hist.values[0]?.dates[0]| timestampToDate | localizedDate: 'dd. MMM, HH:mm' }}</span>
        <div class="item" *ngFor="let dayelement of hist.values; index as i">
            <div class="row">
                <app-avatar *ngIf="dayelement.editorName" class="avatar" [name]="dayelement.editorName" [size]="32">
                </app-avatar>
                <div class="actions">
                    <div class="action" *ngFor="let action of dayelement.eventTypes; index as j">
                        <button disabled mat-icon-button aria-label="Restore history">
                            <mat-icon class="icon">schedule</mat-icon>
                        </button>

                        <span *ngIf="histindex > 0 || i > 0 || j > 0">
                            <span>{{ action }}</span>
                            <span class="block">{{
                                dayelement.dates[j] | timestampToDate | localizedDate: 'dd. MMM, HH:mm'
                                }}</span>
                        </span>
                        <span *ngIf="histindex === 0 && i === 0 && j === 0">
                            <span>current file</span>
                            <span class="block">{{
                                dayelement.dates[j] | timestampToDate | localizedDate: 'dd. MMM, HH:mm'
                                }}</span>
                        </span>

                        <!-- <button mat-icon-button disabled>
                            <mat-icon class="icon red" color="warn">error_outline
                            </mat-icon>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
    </li>
    <div class="sp-wrapper">
        <mat-spinner *ngIf="loading | async" diameter="25"></mat-spinner>
    </div>
    <span class="end-container" *ngIf="bottom">{{'CHANGES.BOTTOM' | translate}}</span>
</div>