.header {
    display: block;
    margin-bottom: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}

.scroll-container {
    max-height: 540px;
    overflow-y: scroll;

    .item {
        box-sizing: border-box;
        padding: .5rem;
        margin: .25rem 0;
        border-radius: .5rem;
        display: flex;
        flex-direction: column;
        .editor {
            color: #81868a;
            font-size: 12px;
            align-self: flex-end;
        }
        .seq {
            color: #81868a;
            font-size: 12px;
            align-self: flex-end;
        }

        .desc {
            overflow-x: auto;
            font-size: 14px;
        }
    }

    .sp-wrapper {
        padding: .5rem;
        display: flex;
        justify-content: center;
    }

    .err-container {
        font-size: 14px;
        color: rgb(201,51,71);
    }
}
