<div class="change-header">
  <span class="ch-header">{{ 'CHANGES.LISTTITLE' | translate }}</span>
</div>

<div class="scroll-container">
  @for (hist of data | async; track hist; let histindex = $index) {
    <li class="item">
      @if (hist.values[0].dates[0]) {
        <span class="date">
          {{ hist.values[0].dates[0] | timestampToDate | localizedDate: 'dd. MMM yyyy' }}
        </span>
      }
      @for (dayelement of hist.values; track dayelement; let i = $index) {
        <div class="item">
          <div class="row">
            @if (dayelement.editorDisplayName) {
              <cnsl-avatar
                matTooltip="{{ dayelement.editorDisplayName }}"
                class="avatar"
                [name]="dayelement.editorDisplayName"
                [size]="32"
                [forColor]="dayelement?.editorPreferredLoginName ?? 'A'"
                [avatarUrl]="dayelement.editorAvatarUrl || ''"
                >
              </cnsl-avatar>
            } @else {
              <div class="spacer"></div>
            }
            <div class="change-actions">
              @for (action of dayelement.eventTypes; track action; let j = $index) {
                <div class="change-action">
                  <div>
                    <span class="msg">{{ action.localizedMessage }}</span>
                    <span
                      class="block"
                      matTooltip="{{ dayelement.dates[j] | timestampToDate | localizedDate: 'dd. MM yyyy, HH:mm:ss.SSS' }}"
                      >{{ dayelement.dates[j] | timestampToDate | localizedDate: 'HH:mm' }}</span
                      >
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        }
      </li>
    }
    <div class="ch-sp-wrapper">
      @if (loading | async) {
        <mat-spinner diameter="25"></mat-spinner>
      }
    </div>

    @if (!bottom) {
      <button (click)="more()" class="load-more-button" mat-stroked-button>
        {{ 'CHANGES.LOADMORE' | translate }}
      </button>
    }

    @if (bottom) {
      <div class="end-container">
        <span class="cnsl-secondary-text">{{ 'CHANGES.BOTTOM' | translate }}</span>
      </div>
    }
  </div>
