<div class="change-header">
    <span class="ch-header">{{ 'CHANGES.LISTTITLE' | translate }}</span>
    <button matTooltip="{{'ACTIONS.REFRESH' | translate}}" (click)="init()" mat-icon-button>
        <mat-icon class="icon">refresh</mat-icon>
    </button>
</div>

<div class="scroll-container" appScrollable (scrollPosition)="scrollHandler($event)">
    <li class="item change-item-back" *ngFor="let event of data | async">
        <span class="seq">
            {{event.changeDate | timestampToDate | localizedDate: 'EEE dd. MMM, HH:mm'}}
        </span>
        <span class="editor">{{event.editor}}</span>
        <span class="desc">{{event?.eventType?.localizedMessage }}</span>
    </li>
    <div class="sp-wrapper">
        <mat-spinner *ngIf="loading | async" diameter="25"></mat-spinner>
    </div>
    <span class="end-container" *ngIf="bottom">{{'CHANGES.BOTTOM' | translate}}</span>
</div>