// include styles from the ui package
@import "./vars.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  .ztdl-h1 {
    @apply text-2xl text-center;
  }

  .ztdl-p {
    @apply text-sm text-center text-text-light-secondary-500 dark:text-text-dark-secondary-500 text-center;
  }
}

html {
  --background-color: #ffffff;
  --dark-background-color: #000000;
}

.form-checkbox:checked {
  background-image: url("/checkbox.svg");
}
