@use '@angular/material' as mat;

@mixin app-detail-theme($theme) {
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);

  .app-top {
    border-bottom: 1px solid map-get($foreground, divider);
    margin: 0 -2rem;
    padding: 2rem 2rem 2rem 2rem;
    background: if($is-dark-theme, #00000020, #ffffff80);
    // linear-gradient(90deg, #00000000, #00000020 2%, #00000020 98%, #00000000 100%),

    .app-top-row {
      display: flex;
      align-items: center;
      padding-bottom: 1rem;

      .app-title-wrapper {
        display: flex;
        align-items: center;

        a {
          margin-right: 1rem;
        }

        .app-title {
          margin: 0;
          display: flex;
          align-items: center;
        }
      }

      .app-sub {
        color: var(--grey);
        margin: 1rem 0 0 0;
        font-size: 14px;
      }

      .app-top-desc {
        color: var(--grey);
        font-size: 14px;
      }

      .fill-space {
        flex: 1;
      }

      .actions-trigger {
        margin-top: 0.25rem;
        display: flex;
        align-items: center;

        .icon {
          margin-left: 0.5rem;
          margin-right: -0.5rem;
        }
      }
    }
  }
}

.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff20;
  flex-wrap: wrap;

  a {
    display: block;
  }

  .title-col {
    margin-left: 2rem;
    margin-right: 1rem;

    h1 {
      font-size: 2rem;
      margin: 0;
      font-weight: normal;
    }

    span {
      font-size: 14px;
      margin: 0.5rem 0;
      color: var(--grey);
    }
  }

  .fill-space {
    flex: 1;
  }

  .desc {
    width: 100%;
    display: block;
    font-size: 0.9rem;
    color: var(--grey);
    margin-top: 1.5rem;
  }

  .zitadel-warning {
    font-size: 14px;
    color: rgb(201, 51, 71);
  }

  .actions-trigger {
    margin-top: 0.25rem;
    display: flex;
    align-items: center;

    .icon {
      margin-left: 0.5rem;
      margin-right: -0.5rem;
    }
  }
}

.err-container {
  color: rgb(201, 51, 71);
  font-size: 14px;
}

.compliance {
  .title {
    margin: 2rem 0 1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 14px;
  }
  .problem {
    font-size: 14px;
    margin: 0rem 0 0.5rem 0;
    display: block;
  }
}

.name-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .toggle {
    outline: none;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;

    * {
      outline: none;
    }

    i {
      margin-right: 1rem;
    }
  }

  .name-field {
    flex: 1;
  }
}

.docs-line {
  flex-basis: 100%;
  margin: 0.5rem 0;

  p {
    margin: 0;
    margin-bottom: 0.5rem;
  }

  p:last-child {
    margin: 0;
  }
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  .rt {
    margin-top: 2.3rem;
    margin-left: 0.5rem;
  }
}

.main-app-content {
  display: flex;
  flex-direction: column;
}

.expandables {
  padding-top: 1rem;

  .expandable {
    display: block;
    width: 100%;
    margin: 0 0.5rem;

    .title {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      font-size: 14px;
    }

    .dev-col {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .devmode {
        margin: 1rem 0 0.5rem 0;
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 -0.5rem;
      padding-bottom: 2rem;

      .redirect-section {
        flex: 1;
        margin: 0 0.5rem;
      }
    }

    .desc {
      color: var(--grey);
      font-size: 14px;
      margin: 0;
    }

    .input {
      width: 100%;
    }
  }
}

.formfield {
  flex: 1 1 30%;
  margin: 0 0.5rem;

  &.full-width {
    flex-basis: 100%;
  }
}

.section-title {
  margin: 1.5rem 0 0 0;
}

.full-width {
  flex-basis: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.clockskew-title {
  font-size: 14px;
  color: var(--grey);
  margin: 1rem 0.5rem 0 0.5rem;
}

.clockskew-slider {
  width: 100%;
  margin: 0 0.5rem;
}

.desc {
  color: var(--grey);
  font-size: 14px;
  margin-bottom: 1.5rem;
}

.error {
  font-size: 13px;
  color: var(--warn);
  margin: 0 0.5rem 1.5rem 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.divider {
  flex-basis: 100%;
  margin: 1.5rem 0.5rem;
  height: 1px;
  background-color: rgba(#8795a1, 0.2);
}
