.head {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff20;
  flex-wrap: wrap;

  a {
    display: block;
  }

  .title-col {
    margin-left: 2rem;
    margin-right: 1rem;

    h1 {
      font-size: 1.2rem;
      margin: 0 0 0 0;
      font-weight: normal;
    }

    span {
      font-size: 12px;
      color: var(--grey);
    }
  }

  .fill-space {
    flex: 1;
  }

  .desc {
    width: 100%;
    display: block;
    font-size: .9rem;
    color: var(--grey);
    margin-top: 1.5rem;
  }

  .zitadel-warning {
    font-size: 14px;
    color: rgb(201, 51, 71);
  }

  .state-button {
    margin-left: .5rem;
  }
}

.err-container {
  color: rgb(201, 51, 71);
  font-size: 14px;
}

.environment-wrapper {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;

  .environment {
    min-width: 300px;

    .key {
      font-size: 12px;
      color: var(--grey);
    }

    .environment-row {
      display: flex;
      align-items: center;
      overflow: hidden;
      height: 30px;

      button {
        transition: opacity .15s ease-in-out;
        visibility: hidden;
        opacity: 0;

        &[disabled] {
          visibility: visible;
          color: white;
          opacity: 1;
        }
      }

      &:hover {
        button {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}

.compliance .problem {
  font-size: 14px;
}

.name-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .toggle {
    outline: none;
    margin-top: 1rem;
    margin-right: 1rem;
    border-radius: .5rem;

    * {
      outline: none;
    }

    i {
      margin-right: 1rem;
    }
  }

  .name-field {
    flex: 1;
  }
}

.docs-line {
  flex-basis: 100%;
  margin: .5rem 0;

  p {
    margin: 0;
    margin-bottom: .5rem;
  }

  p:last-child {
    margin: 0;
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -.5rem;

  &.nowrap {
    flex-wrap: nowrap;
  }

  &.center {
    align-items: center;
  }

  .redirect-section {
    flex: 1;
    margin: 0 .5rem;
  }

  .additional-origins {
    display: block;
    width: 100%;
    margin: 0 .5rem;

    .title {
      margin: 0;
    }

    .desc {
      color: var(--grey);
      font-size: 14px;
      margin-top: 0;
    }

    .input {
      width: 100%;
    }
  }

  .formfield {
    flex: 1 1 30%;
    margin: 0 .5rem;

    &.full-width {
      flex-basis: 100%;
    }
  }

  .section-title {
    margin: 1.5rem 0 0 0;
  }

  .full-width {
    flex-basis: 100%;
    margin-left: .5rem;
    margin-right: .5rem;
  }

  .clockskew-title {
    font-size: 14px;
    color: var(--grey);
    margin: 1rem .5rem 0 .5rem;
  }

  .clockskew-slider {
    width: 100%;
    margin: 0 .5rem;
  }

  .desc {
    color: var(--grey);
    font-size: 14px;
    margin-bottom: 1.5rem;
  }

  .devmode {
    flex: 1 1 100%;
    margin: 1rem .5rem;
  }

  .step-description {
    font-size: .9rem;
    color: var(--grey);
    flex-basis: 100%;
    margin: 0 .5rem 1rem .5rem;
  }

  .error {
    font-size: 13px;
    color: #f44336;
    margin: 0 .5rem 1.5rem .5rem;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.divider {
  flex-basis: 100%;
  margin: 1.5rem .5rem;
  height: 1px;
  background-color: rgba(#8795a1, .2);
}
