<form>
    <mat-form-field appearance="outline" class="full-width">
        <mat-label>Organization</mat-label>
        <mat-chip-list #chipList aria-label="org selection">
            <mat-chip class="chip" *ngFor="let selectedOrg of orgs" [selectable]="selectable" [removable]="removable"
                (removed)="remove(selectedOrg)">
                {{selectedOrg.name}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="{{'ORG_DETAIL.DETAIL.DOMAIN' | translate}}" #domainInput [formControl]="myControl"
                [matAutocomplete]="auto" [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                (matChipInputTokenEnd)="add($event)" />
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)" [displayWith]="displayFn">
            <mat-option *ngIf="isLoading" class="is-loading">
                <mat-spinner diameter="30"></mat-spinner>
            </mat-option>
            <mat-option *ngFor="let org of filteredOrgs" [value]="org">
                {{org.name}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</form>