<div class="table-wrapper">
    <app-refresh-table *ngIf="eventDataSource" (refreshed)="loadEvents()" [dataSize]="eventDataSource.data.length"
        [loading]="loading$ | async">

        <table [dataSource]="eventDataSource" mat-table class="table " aria-label="Elements">
            <ng-container matColumnDef="viewName">
                <th mat-header-cell *matHeaderCellDef> {{ 'IAM.FAILEDEVENTS.VIEWNAME' | translate }} </th>
                <td mat-cell *matCellDef="let event"> {{event.viewName}} </td>
            </ng-container>

            <ng-container matColumnDef="database">
                <th mat-header-cell *matHeaderCellDef> {{ 'IAM.FAILEDEVENTS.DATABASE' | translate }} </th>
                <td mat-cell *matCellDef="let event"> {{event.database}} </td>
            </ng-container>

            <ng-container matColumnDef="failedSequence">
                <th mat-header-cell *matHeaderCellDef> {{ 'IAM.FAILEDEVENTS.FAILEDSEQUENCE' | translate }} </th>
                <td mat-cell *matCellDef="let event">
                    <span>{{event?.failedSequence}}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="failureCount">
                <th mat-header-cell *matHeaderCellDef> {{ 'IAM.FAILEDEVENTS.FAILURECOUNT' | translate }} </th>
                <td mat-cell *matCellDef="let event">
                    <span>{{event?.failureCount }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="errorMessage">
                <th mat-header-cell *matHeaderCellDef> {{ 'IAM.FAILEDEVENTS.ERRORMESSAGE' | translate }} </th>
                <td mat-cell *matCellDef="let event">
                    <span>{{event?.errorMessage }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef></th>
                <td class="back" mat-cell *matCellDef="let event">
                    <button color="warn" mat-icon-button matTooltip="{{'IAM.FAILEDEVENTS.DELETE' | translate}}"
                        (click)="cancelEvent(event.viewName, event.database, event.failedSequence)">
                        <i class="las la-minus-circle"></i>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="eventDisplayedColumns"></tr>
            <tr class="highlight" mat-row *matRowDef="let row; columns: eventDisplayedColumns;"></tr>
        </table>
        <mat-paginator class="paginator" [pageSize]="10" #paginator [pageSizeOptions]="[10, 20, 100, 250]">
        </mat-paginator>
    </app-refresh-table>
</div>