.table-wrapper {
  overflow: auto;

  .table,
  .paginator {
    width: 100%;
  }
}

tr {
  button {
    visibility: hidden;
    transition: color 0.2s ease;

    &:not(:hover) {
      color: var(--grey);
    }
  }

  &:hover {
    button {
      visibility: visible;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}

.title {
  margin-top: 2rem;
}
