.email-provider-restrictions {
  display: block;
  margin-bottom: 1.5rem;

  p {
    margin: 0;
  }

  ul {
    margin: 0.5rem 0;
    padding-left: 1.25rem;
  }

  .own-provider {
    margin-top: 0.75rem;
  }
}
