@import './error.scss';

@mixin lgn-error-theme($theme-or-color-config) {
    $theme: lgn-private-legacy-get-theme($theme-or-color-config);
    $color: lgn-get-color-config($theme);

    @if $color != null {
        @include lgn-error-color($color);
    }
}

@mixin lgn-error-color($config-or-theme) {
    $config: lgn-get-color-config($config-or-theme);
    $warn: map-get($config, warn);
  
    .lgn-error {
      color: var(--zitadel-color-warn);
    }
}