{{template "main-top" .}}
<script>
    document.getElementById("change-button").disabled = true;

    let pw = document.getElementById('new-password').value
    regex.test(pw)
    lw =document.getElementById('lowercase')
    lw.classList.toggle('invalid')
    lw.getElementsByTagName('i')[0].innerText = 'circle_check';
</script>

<h1>{{t "PasswordChange.Title"}}</h1>
<p>{{t "PasswordChange.Description"}}</p>

<form action="{{ changePasswordUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="authRequestID" value="{{ .MinLength }}" />
    <input type="hidden" name="authRequestID" value="{{ .HasUppercase }}" />
    <input type="hidden" name="authRequestID" value="{{ .HasLowercase }}" />
    <input type="hidden" name="authRequestID" value="{{ .HasNumber }}" />
    <input type="hidden" name="authRequestID" value="{{ .HasSymbol }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="old_password">{{t "PasswordChange.OldPassword"}}</label>
            <input class="input" type="password" id="old_password" name="old_password" autocomplete="current-password" autofocus required>
        </div>

        <div class="field">
            <label class="label" for="new_password">{{t "PasswordChange.NewPassword"}}</label>
            <input class="input" type="password" id="new-password" name="new_password" autocomplete="new-password" required>
            {{ .PasswordPolicyDescription }}
        </div>

        <div class="field">
            <label class="label" for="new_password_confirmation">{{t "PasswordChange.NewPasswordConfirmation"}}</label>
            <input class="input" type="password" id="new-password-confirmation" name="new_password_confirmation" autocomplete="new-password" required>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="actions">
        <button type="submit" id="change-button" name="resend" value="false" class="primary right"  >{{t "Actions.Next"}}</buttontype="submit">
    </div>
</form>



{{template "main-bottom" .}}
 