{{template "main-top" .}}

<div class="lgn-head">
    <h1>{{t "UsernameChangeDone.Title"}}</h1>

    {{ template "user-profile" . }}

    <p>{{t "UsernameChangeDone.Description"}}</p>
</div>

<form action="{{ loginUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />


    <div class="lgn-actions">
        <span class="fill-space"></span>
        <button class="lgn-raised-button lgn-primary" type="submit">{{t "UsernameChangeDone.NextButtonText"}}</button>
    </div>
</form>


{{template "main-bottom" .}}