{{template "main-top" .}}

<h1>{{t "PasswordChange.Title"}}</h1>
<p>{{t "PasswordChange.Description"}}</p>

<form action="{{ changePasswordUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" id="min-length" name="minLength" value="{{ .MinLength }}" />
    <input type="hidden" id="uppercase-regex" name="hasUpperCase" value="{{ .HasUppercase }}" />
    <input type="hidden" id="lowercase-regex" name="hasLowerCase" value="{{ .HasLowercase }}" />
    <input type="hidden" id="hasnumebr-regex" name="hasNumber" value="{{ .HasNumber }}" />
    <input type="hidden" id="hassymbol-regex" name="hasSymbol" value="{{ .HasSymbol }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="old-password">{{t "PasswordChange.OldPassword"}}</label>
            <input class="input" type="password" id="old-password" name="old-password" autocomplete="current-password" autofocus required>
        </div>

        <div class="field">
            <label class="label" for="new-password">{{t "PasswordChange.NewPassword"}}</label>
            <input class="input" type="password" id="new-password" name="new-password" autocomplete="new-password" required>
            {{ .PasswordPolicyDescription }}
        </div>

        <div class="field">
            <label class="label" for="password-confirmation">{{t "PasswordChange.NewPasswordConfirmation"}}</label>
            <input class="input" type="password" id="password-confirmation" name="password-confirmation" autocomplete="new-password" required>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="actions">
        <button type="submit" id="change-button" name="resend" value="false" class="primary right disabled">{{t "Actions.Next"}}</buttontype="submit">
    </div>
</form>

<script src="{{ resourceUrl "scripts/password_policy_check.js" }}"></script>

{{template "main-bottom" .}}
 