{{define "header"}}
<header class="lgn-header">
<!--    {{ if hasCustomPolicy .LabelPolicy }}-->
<!--    <link rel="stylesheet" href="{{ variablesCssFileUrl .OrgID .LabelPolicy}}" type="text/css">-->
<!--    {{ end}}-->
<!--    <div class="lgn-logo" height="43px" width="160px" sourcelight="logo-light.svg" sourcedark="logo-dark.svg" alt="logo" ></div>-->
    {{if .DarkMode }}
        <img class="lgn-logo" src="{{ resourceThemeUrl "logo-light.svg" .Theme }}" alt="Logo">
    {{end}}

    {{if not .DarkMode }}
        <img class="lgn-logo" src="{{ resourceThemeUrl "logo-dark.svg" .Theme }}" alt="Logo">
    {{end}}
</header>
{{end}}