{{define "header"}}
<header class="lgn-header">
    {{ if hasCustomPolicy .LabelPolicy }}
        {{ $logo := customLogoResource .OrgID .LabelPolicy .DarkMode }}
        {{if $logo}}
            <img class="lgn-logo" src="{{ customLogoResource .OrgID .LabelPolicy .DarkMode }}" alt="Logo">
        {{end}}
    {{ else }}

        {{if .DarkMode }}
            <img class="lgn-logo" src="{{ resourceThemeUrl "logo-light.svg" .Theme }}" alt="Logo">
        {{else}}
            <img class="lgn-logo" src="{{ resourceThemeUrl "logo-dark.svg" .Theme }}" alt="Logo">
        {{end}}
    {{end}}
</header>
{{end}}