{{template "main-top" .}}


<h1>{{t "InitUser.Title" }}</h1>
<p>{{t "InitUser.Description" }}</p>

<form action="{{ initUserUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="userID" value="{{ .UserID }}" />
    <input type="hidden" name="passwordSet" value="{{ .PasswordSet }}" />
    <input type="hidden" id="min-length" name="minLength" value="{{ .MinLength }}" />
    <input type="hidden" id="uppercase-regex" name="hasUpperCase" value="{{ .HasUppercase }}" />
    <input type="hidden" id="lowercase-regex" name="hasLowerCase" value="{{ .HasLowercase }}" />
    <input type="hidden" id="hasnumebr-regex" name="hasNumber" value="{{ .HasNumber }}" />
    <input type="hidden" id="hassymbol-regex" name="hasSymbol" value="{{ .HasSymbol }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="code">{{t "InitUser.Code"}}</label>
            <input class="input" type="text" id="code" name="code" value="{{.Code}}" autocomplete="off" autofocus required>
        </div>
        {{ if not .PasswordSet }}
        <div class="field">
            <label class="label" for="password">{{t "InitUser.NewPassword"}}</label>
            <input class="input" type="password" id="password" name="password" autocomplete="new-password" autofocus required>
            {{ .PasswordPolicyDescription }}
        </div>
        <div class="field">
            <label class="label" for="passwordconfirm">{{t "InitUser.NewPasswordConfirm"}}</label>
            <input class="input" type="password" id="passwordconfirm" name="passwordconfirm" autocomplete="new-password" autofocus required>
        </div>
        {{ end }}
    </div>

    {{ template "error-message" .}}

    <div class="actions">
        <button type="submit" id="init-button" name="resend" value="false" class="primary right" >{{t "Actions.Next"}}</button>
        <button type="submit" name="resend" value="true" class="secondary right" formnovalidate>{{t "Actions.Resend" }}</button>
    </div>
</form>

{{ if not .PasswordSet }}
    <script src="{{ resourceUrl "scripts/password_policy_check.js" }}"></script>
    <script src="{{ resourceUrl "scripts/init_password_check.js" }}"></script>
{{ end }}

{{template "main-bottom" .}}
 