{{template "main-top" .}}

<div class="lgn-head">
    {{ template "user-profile" . }}

    <p>{{t "InitPassword.Description" }}</p>
</div>

<form action="{{ initPasswordUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="userID" value="{{ .UserID }}" />

    <div class="fields">
        <div class="field">
            <label class="lgn-label" for="code">{{t "InitPassword.CodeLabel"}}</label>
            <input class="lgn-input" type="text" id="code" name="code" value="{{.Code}}" autocomplete="off" autofocus
                required>
        </div>
        <div class="field">
            <label class="lgn-label" for="password">{{t "InitPassword.NewPasswordLabel"}}</label>
            <input data-minlength="{{ .MinLength }}" data-has-uppercase="{{ .HasUppercase }}"
                data-has-lowercase="{{ .HasLowercase }}" data-has-number="{{ .HasNumber }}"
                data-has-symbol="{{ .HasSymbol }}" class="lgn-input" type="password" id="password" name="password"
                autocomplete="new-password" autofocus required>
            {{ .PasswordPolicyDescription }}
        </div>
        <div class="field">
            <label class="lgn-label" for="passwordconfirm">{{t "InitPassword.NewPasswordConfirmLabel"}}</label>
            <input class="lgn-input" type="password" id="passwordconfirm" name="passwordconfirm"
                autocomplete="new-password" autofocus required>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="lgn-actions lgn-reverse-order">
        <!-- position element in header -->
        <a class="lgn-icon-button lgn-left-action" href="{{ loginUrl }}">
            <i class="lgn-icon-arrow-left-solid"></i>
        </a>
        <button type="submit" id="init-button" name="resend" value="false"
            class="lgn-raised-button lgn-primary">{{t "InitPassword.NextButtonText"}}</button>

        <span class="fill-space"></span>

        <button type="submit" name="resend" value="true" class="lgn-stroked-button" formnovalidate>{{t "InitPassword.ResendButtonText" }}</button>
    </div>
</form>

<script src="{{ resourceUrl "scripts/form_submit.js" }}"></script>
<script src="{{ resourceUrl "scripts/password_policy_check.js" }}"></script>
<script src="{{ resourceUrl "scripts/init_password_check.js" }}"></script>


{{template "main-bottom" .}}