{{template "main-top" .}}

<div class="lgn-head">
    {{ template "user-profile" . }}

    <p>{{t "InitUserDone.Description"}}</p>
</div>

<form action="{{ loginUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />

    <div class="actions">
        <button class="primary right" type="submit">{{t "Actions.Next"}}</button>
        <a class="button secondary" href="{{ loginUrl }}">
            {{t "Actions.Cancel"}}
        </a>
    </div>
</form>


{{template "main-bottom" .}}