{{template "main-top" .}}


<h1>{{t "InitPassword.Title" }}</h1>
<p>{{t "InitPassword.Description" }}</p>

<form action="{{ initPasswordUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="userID" value="{{ .UserID }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="code">{{t "InitPassword.Code"}}</label>
            <input class="input" type="text" id="code" name="code" value="{{.Code}}" autocomplete="off" autofocus required>
        </div>
        <div class="field">
            <label class="label" for="password">{{t "InitPassword.NewPassword"}}</label>
            <input data-minlength="{{ .MinLength }}"
                   data-has-uppercase="{{ .HasUppercase }}"
                   data-has-lowercase="{{ .HasLowercase }}"
                   data-has-number="{{ .HasNumber }}"
                   data-has-symbol="{{ .HasSymbol }}"
                   class="input"
                   type="password"
                   id="password"
                   name="password"
                   autocomplete="new-password"
                   autofocus required>
            {{ .PasswordPolicyDescription }}
        </div>
        <div class="field">
            <label class="label" for="passwordconfirm">{{t "InitPassword.NewPasswordConfirm"}}</label>
            <input class="input"
                   type="password"
                   id="passwordconfirm"
                   name="passwordconfirm"
                   autocomplete="new-password"
                   autofocus required>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="actions">
        <button type="submit" id="init-button" name="resend" value="false" class="primary right" disabled>{{t "Actions.Next"}}</buttontype="submit">
        <button type="submit" name="resend" value="true" class="secondary right" formnovalidate>{{t "Actions.Resend" }}</button>
    </div>
</form>

<script src="{{ resourceUrl "scripts/password_policy_check.js" }}"></script>
<script src="{{ resourceUrl "scripts/init_password_check.js" }}"></script>

{{template "main-bottom" .}}
 