{{template "main-top" .}}

<div class="lgn-head">
    <h1>{{t "LinkingUsersDone.Title"}}</h1>
    {{ template "user-profile" . }}

    <p>{{t "LinkingUsersDone.Description"}}</p>
</div>

<form action="{{ loginUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />

    <div class="lgn-actions">
        <a class="lgn-stroked-button lgn-primary" href="{{ loginUrl }}">
            {{t "LinkingUsersDone.CancelButtonText"}}
        </a>
        <span class="fill-space"></span>
        <button class="lgn-raised-button lgn-primary" type="submit">{{t "LinkingUsersDone.NextButtonText"}}</button>
    </div>
</form>


{{template "main-bottom" .}}