
{{template "main-top" .}}

<h1>{{t "Login.Title"}}</h1>
<p>{{t "Login.Description"}}</p>

<form action="{{ loginNameUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="loginName">{{t "Login.Loginname"}}</label>
            <input class="input" type="text" id="loginName" name="loginName" placeholder="{{t "Login.LoginnamePlaceHolder"}}" value="{{ .LoginName }}" autocomplete="username" autofocus required>
        </div>
    </div>

    {{template "error-message" .}}

    <div class="actions">
        <button class="primary right" id="submit-button" type="submit">{{t "Actions.Next"}}</button>
        <button class="secondary right" name="register" value="true" formnovalidate>{{t "Actions.Register"}}</button>
    </div>
</form>


<script src="{{ resourceUrl "scripts/register_check.js" }}"></script>

{{template "main-bottom" .}}
 