{{template "main-top" .}}

<div class="lgn-head">
    {{if .Linking}}
    <h1>{{t "Login.TitleLinking"}}</h1>
    <p>{{t "Login.DescriptionLinking"}}{{if .OrgName}} {{t "Login.MustBeMemberOfOrg" "OrgName" .OrgName}}{{end}}</p>
    {{else}}
    <h1>{{t "Login.Title"}}</h1>
    <p>{{t "Login.Description"}}{{if .OrgName}} {{t "Login.MustBeMemberOfOrg" "OrgName" .OrgName}}{{end}}</p>
    {{end}}
</div>


<form action="{{ loginNameUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />

    {{if hasUsernamePasswordLogin }}
    <div class="fields">
        <label class="lgn-label" for="loginName">{{t "Login.Loginname"}}</label>
            <input class="lgn-input lgn-suffix-input" type="text" id="loginName" name="loginName" placeholder="{{t "Login.LoginnamePlaceHolder"}}"
            value="{{ .LoginName }}" {{if .ErrMessage}}shake {{end}} autocomplete="username" autofocus required>
            {{if displayLoginSuffix}}
                <span>{{.PrimaryDomain}}</span>
            {{end}}
    </div>
    {{end}}

    {{template "error-message" .}}

    <div class="lgn-actions lgn-reverse-order">
        <button class="lgn-raised-button lgn-primary lgn-initial-focus" id="submit-button" type="submit">{{t "Actions.Next"}}</button>
        <span class="fill-space"></span>
        {{if .LoginPolicy.AllowRegister}}
        <button class="lgn-stroked-button lgn-primary" name="register" value="true" formnovalidate>{{t "Actions.Register"}}</button>
        {{end}}
    </div>

    {{if hasExternalLogin }}
    <div class="lgn-idp-providers">
        <p>{{t "Login.ExternalLogin"}}</p>

        {{ $reqid := .AuthReqID}}
        {{range $provider := .IDPProviders}}
        <a href="{{ externalIDPAuthURL $reqid $provider.IDPConfigID}}"
            class="lgn-idp {{idpProviderClass $provider.StylingType}}">
            <span class="logo"></span>
            <span class="provider-name">{{$provider.Name}}</span>
        </a>
        {{end}}
    </div>
    {{end}}
</form>

<script src="{{ resourceUrl "scripts/form_submit.js" }}"></script>
<script src="{{ resourceUrl "scripts/default_form_validation.js" }}"></script>

{{template "main-bottom" .}}