{{template "main-top" .}}

<div class="lgn-head">
    {{ template "user-profile" . }}

    <p>{{t "EmailVerification.Description"}}</p>
</div>

<form action="{{ mailVerificationUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="userID" value="{{ .UserID }}" />

    <div class="fields">
        <label class="lgn-label" for="code">{{t "EmailVerification.Code"}}</label>
        <input class="lgn-input" type="text" id="code" name="code" autocomplete="off" autofocus required>
    </div>

    {{ template "error-message" .}}

    {{ if .UserID }}
    <button type="submit" name="resend" value="true" class="lgn-button" formnovalidate>{{t "Actions.Resend"}}</button>
    {{ end }}

    <div class="lgn-actions">
        <a class="lgn-button" href="{{ loginUrl }}">
            {{t "Actions.Cancel"}}
        </a>
        <span class="fill-space"></span>
        <button type="submit" id="submit-button" name="resend" value="false"
            class="lgn-primary lgn-raised-button">{{t "Actions.Next"}}</button>
    </div>
</form>
<script src="{{ resourceUrl "scripts/form_submit.js" }}"></script>
<script src="{{ resourceUrl "scripts/default_form_validation.js" }}"></script>

{{template "main-bottom" .}}