{{template "main-top" .}}

<div class="lgn-head">
    {{ template "user-profile" . }}

    <p>{{t "MfaInitVerify.Description"}}</p>
</div>

<form action="{{ mfaInitVerifyUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="mfaType" value="{{ .MfaType }}" />
    <input type="hidden" name="url" value="{{ .Url }}" />
    <input type="hidden" name="secret" value="{{ .Secret }}" />

    {{if (eq .MfaType 0) }}
    <p>{{t "MfaInitVerify.OtpDescription"}}</p>
    <div class="lgn-qrcode" id="qrcode">
        {{.QrCode}}
    </div>
    <div class="fields">
        <div class="field">
            <span class="lgn-label" for="secret">{{t "MfaInitVerify.Secret"}}</span>
            <div class="lgn-actions">
                <span id="secret"> {{.Secret}} </span>
                <span class="fill-space"></span>
                <i data-copy="{{ .Secret }}" class="las la-clipboard"></i>
            </div>
        </div>
        <div class="field">
            <label class="lgn-label" for="code">{{t "MfaInitVerify.Code"}}</label>
            <input class="lgn-input" type="text" id="code" name="code" autocomplete="off" autofocus required>
        </div>
    </div>
    {{end}}

    <div class="lgn-actions">
        <a class="lgn-button" href="{{ mfaPromptChangeUrl .AuthReqID .MfaType }}">
            {{t "Actions.Back"}}
        </a>
        <a class="lgn-button" href="{{ loginUrl }}">
            {{t "Actions.Cancel"}}
        </a>
        <span class="fill-space"></span>
        <button class="lgn-primary lgn-raised-button" id="submit-button" type="submit">{{t "Actions.Next"}}</button>
    </div>
</form>

<script src="{{ resourceUrl "scripts/copy_to_clipboard.js" }}"></script>
<script src="{{ resourceUrl "scripts/form_submit.js" }}"></script>
<script src="{{ resourceUrl "scripts/default_form_validation.js" }}"></script>

{{template "main-bottom" .}}