{{template "main-top" .}}

<div class="head">
    {{ template "user-profile" . }}

    <p>{{t "MfaInitVerify.Description"}}</p>
</div>

<form action="{{ mfaInitU2FLoginUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}"/>
    <input type="hidden" name="credentialAssertionData" value="{{ .CredentialCreationData }}"/>
    <input type="hidden" name="credentialData"/>

    {{/*    {{if (eq .MfaType 0) }}*/}}
    {{/*        <p>{{t "MfaInitVerify.OtpDescription"}}</p>*/}}
    {{/*        <div id="qrcode">*/}}
    {{/*            {{.QrCode}}*/}}
    {{/*        </div>*/}}
    {{/*        <div class="fields">*/}}
    {{/*            <div class="field">*/}}
    {{/*                <span class="label" for="secret">{{t "MfaInitVerify.Secret"}}</span>*/}}
    {{/*                <span class="input" id="secret">*/}}
    {{/*                    {{.Secret}}*/}}
    {{/*                    <span class="copy material-icons" data-copy="{{ .Secret }}" >content_copy</span>*/}}
    {{/*                </span>*/}}
    {{/*            </div>*/}}
    {{/*            <div class="field">*/}}
    {{/*               <label class="label" for="code">{{t "MfaInitVerify.Code"}}</label>*/}}
    {{/*                <input class="input" type="text" id="code" name="code" autocomplete="off" autofocus required>*/}}
    {{/*            </div>*/}}
    {{/*        </div>*/}}
    {{/*    {{end}}*/}}

    {{/*    <div class="actions">*/}}
    {{/*        <button class="primary right" id="submit-button" type="submit">{{t "Actions.Next"}}</button>*/}}
    {{/*        <a class="button secondary" href="{{ mfaPromptChangeUrl .AuthReqID .MfaType }}">*/}}
    {{/*            {{t "Actions.Back"}}*/}}
    {{/*        </a>*/}}
    {{/*        <a class="button secondary" href="{{ loginUrl }}">*/}}
    {{/*            {{t "Actions.Cancel"}}*/}}
    {{/*        </a>*/}}
    {{/*    </div>*/}}
</form>

<button id="test">Test</button>

<script src="{{ resourceUrl "scripts/base64.js" }}"></script>
<script src="{{ resourceUrl "scripts/webauthn.js" }}"></script>
<script src="{{ resourceUrl "scripts/login.js" }}"></script>

{{template "main-bottom" .}}
 