{{template "main-top" .}}

<div class="head">
    {{ template "user-profile" . }}

    <p>{{t "MFAPrompt.Description"}}</p>
</div>

<form action="{{ mfaPromptUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    
    <div class="fields">
        {{ range $provider := .MFAProviders}}
        {{ $providerName := (t (printf "MFAPrompt.Provider%v" $provider)) }}
            <div class="field radio-button">
                <input id="{{ $provider }}" type="radio" name="provider" value="{{ $provider }}">
                <label for="{{ $provider }}">{{ $providerName }}</label>
            </div>
        {{ end }}
    </div>

    <div class="actions">
        <button class="primary right" type="submit">{{t "Actions.Next"}}</button>
        {{if not .MFARequired}}
        <button class="default right" name="skip" value="true" type="submit" formnovalidate>{{t "Actions.Skip"}}</button>
        {{end}}
        <a class="button secondary" href="{{ loginUrl }}">
            {{t "Actions.Cancel"}}
        </a>
    </div>
</form>


{{template "main-bottom" .}}
 