{{template "main-top" .}}

<div class="lgn-head">
    {{ template "user-profile" . }}

    <p>{{t "MfaInitDone.Description"}}</p>
</div>

<form action="{{ loginUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="mfaType" value="{{ .MfaType }}" />

    <div class="lgn-actions">
        <a class="lgn-stroked-button lgn-primary" href="{{ loginUrl }}">
            {{t "Actions.Cancel"}}
        </a>
        <span class="fill-space"></span>
        <button class="lgn-raised-button lgn-primary" type="submit">{{t "Actions.Next"}}</button>
    </div>
</form>


{{template "main-bottom" .}}