{{template "main-top" .}}

<div class="head">
    {{ template "user-profile" . }}

    <p>{{t "MfaInitVerify.Description"}}</p>
</div>

<div id="webauthn">
    <p class="wa-no-support">{{t "WebAuthn.NotSupported"}}</p>
    <button id="btn-login" class="wa-support">{{t "Actions.ValidateToken"}}</button>
</div>

<form action="{{ mfaInitU2FLoginUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}"/>
    <input type="hidden" name="credentialAssertionData" value="{{ .CredentialCreationData }}"/>
    <input type="hidden" name="credentialData"/><div class="error">
        {{ if .ErrType }}{{ .ErrType }} - {{end}}{{ .ErrMessage }}
    </div>
</form>

<script src="{{ resourceUrl "scripts/base64.js" }}"></script>
<script src="{{ resourceUrl "scripts/webauthn.js" }}"></script>
<script src="{{ resourceUrl "scripts/webauthn_login.js" }}"></script>

{{template "main-bottom" .}}
