{{template "main-top" .}}


<h1>{{t "MfaVerify.Title"}}</h1>
<p>{{t "MfaVerify.Description"}}</p>

<form action="{{ mfaVerifyUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="mfaType" value="{{ .SelectedMfaProvider }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="code">{{t "MfaVerify.Code"}}</label>
            <input class="input" type="text" id="code" name="code" autocomplete="off" autofocus required>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="actions">
        <button class="primary right" id="submit-button" type="submit">{{t "Actions.Next"}}</button>
    </div>
</form>

<script src="{{ resourceUrl "scripts/register_check.js" }}"></script>
{{template "main-bottom" .}}
 