{{template "main-top" .}}

<div class="lgn-head">
    {{ template "user-profile" . }}

    <p>{{t "MfaPrompt.Description"}}</p>
</div>

<form action="{{ mfaPromptUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />

    <div class="fields">
        {{ range $provider := .MfaProviders}}
        {{ $providerName := (t (printf "MfaPrompt.Provider%v" $provider)) }}
        <div class="lgn-radio block">
            <input id="{{ $provider }}" type="radio" name="provider" value="{{ $provider }}">
            <label for="{{ $provider }}">{{ $providerName }}</label>
        </div>
        {{ end }}
    </div>

    <div class="lgn-actions">
        <a class="lgn-button" href="{{ loginUrl }}">
            {{t "Actions.Cancel"}}
        </a>
        {{if not .MfaRequired}}
        <button class="lgn-button" name="skip" value="true" type="submit" formnovalidate>{{t "Actions.Skip"}}</button>
        {{end}}
        <span class="fill-space"></span>
        <button class="lgn-raised-button lgn-primary" type="submit">{{t "Actions.Next"}}</button>
    </div>
</form>


{{template "main-bottom" .}}