{{template "main-top" .}}

{{ template "user-profile" . }}

<p>{{t "MfaVerify.Description"}}</p>

<form action="{{ mfaVerifyUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="mfaType" value="{{ .SelectedMfaProvider }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="code">{{t "MfaVerify.Code"}}</label>
            <input class="input" type="text" id="code" name="code" autocomplete="off" autofocus required>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="actions">
        <button class="primary right" id="submit-button" type="submit" disabled>{{t "Actions.Next"}}</button>
    </div>
</form>

<script src="{{ resourceUrl "scripts/form_submit.js" }}"></script>
<script src="{{ resourceUrl "scripts/default_form_validation.js" }}"></script>
{{template "main-bottom" .}}
 