{{template "main-top" .}}

<div class="head">
    {{ template "user-profile" . }}

    <p>{{t "MFAInitDone.Description"}}</p>
</div>

<form action="{{ loginUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="mfaType" value="{{ .MFAType }}" />

    <div class="actions">
        <button class="primary right" type="submit">{{t "Actions.Next"}}</button>
        <a class="button secondary" href="{{ loginUrl }}">
            {{t "Actions.Cancel"}}
        </a>
    </div>
</form>


{{template "main-bottom" .}}
 