{{template "main-top" .}}

<div class="head">
    {{ template "user-profile" . }}

    <p>{{t "Passwordless.Description"}}</p>
</div>

<form action="{{ passwordLessVerificationUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}"/>
    <input type="hidden" name="credentialAssertionData" value="{{ .CredentialCreationData }}"/>
    <input type="hidden" name="credentialData"/>

    <div id="webauthn">
        <p class="wa-no-support error hidden">{{t "WebAuthN.NotSupported"}}</p>
        <a id="btn-login" class="lgn-raised-button lgn-primary wa-support">{{t "Actions.ValidateToken"}}</a>
        <div id="wa-error" class="error hidden">
            <span class="cause"></span>
            <span>{{t "WebAuthN.Error.Retry"}}</span>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="lgn-actions lgn-reverse-order">
        {{if .PasswordLogin}}
            <button class="lgn-stroked-button lgn-primary" name="passwordlogin" value="true" type="submit">{{t "Actions.PasswordLogin"}}</button>
        {{end}}
        <span class="fill-space"></span>
        <a href="{{ loginNameChangeUrl .AuthReqID }}">
            <button class="lgn-stroked-button lgn-primary" type="button">{{t "Actions.Back"}}</button>
        </a>
    </div>
</form>

<script src="{{ resourceUrl "scripts/base64.js" }}"></script>
<script src="{{ resourceUrl "scripts/webauthn.js" }}"></script>
<script src="{{ resourceUrl "scripts/webauthn_login.js" }}"></script>

{{template "main-bottom" .}}
