{{template "main-top" .}}

<div class="lgn-head">
    {{ template "user-profile" . }}

    <p>{{t "PasswordResetDone.Description"}}</p>
</div>

<form action="{{ loginUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />

    <div class="lgn-actions">
        <span class="fill-space"></span>
        <button class="lgn-raised-button lgn-primary" type="submit">{{t "Actions.Next"}}</button>
    </div>
</form>


{{template "main-bottom" .}}