{{template "main-top" .}}

<div class="head">
    <h1>{{t "PasswordlessRegistration.Title"}}</h1>

    {{ template "user-profile" . }}

    <p>{{t "PasswordlessRegistration.Description"}}</p>
</div>

<form action="{{ passwordLessRegistrationUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="userID" value="{{ .UserID }}" />
    <input type="hidden" name="credentialCreationData" value="{{ .CredentialCreationData }}" />
    <input type="hidden" name="credentialData" />

    <div class="fields">
        <p class="wa-no-support lgn-error hidden">{{t "PasswordlessRegistration.NotSupported"}}</p>
        <div class="field">
            <label class="lgn-label" for="name">{{t "PasswordlessRegistration.TokenNameLabel"}}</label>
            <input class="lgn-input" type="text" id="name" name="name" autocomplete="off" autofocus>
        </div>
        <div id="wa-error" class="lgn-error hidden">
            <span class="cause"></span>
            <span>{{t "PasswordlessRegistration.ErrorRetry"}}</span>
        </div>
    </div>

    {{ template "error-message" .}}

    <div class="lgn-actions">
        <span class="fill-space"></span>
        <a id="btn-register" class="lgn-raised-button lgn-primary wa-support">{{t "PasswordlessRegistration.RegisterTokenButtonText"}}</a>
    </div>
</form>

<script src="{{ resourceUrl "scripts/base64.js" }}"></script>
<script src="{{ resourceUrl "scripts/webauthn.js" }}"></script>
<script src="{{ resourceUrl "scripts/webauthn_register.js" }}"></script>

{{template "main-bottom" .}}
 