{{template "main-top" .}}

<div class="lgn-head">
    <h1>{{t "InitMFAPrompt.Title"}}</h1>
    {{ template "user-profile" . }}

    <p>{{t "InitMFAPrompt.Description"}}</p>
</div>

<form action="{{ passwordlessPromptUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />

    <div class="lgn-actions">
        <!-- position element in header -->
        <a class="lgn-icon-button lgn-left-action" href="{{ loginUrl }}">
            <i class="lgn-icon-arrow-left-solid"></i>
        </a>

        <button class="lgn-stroked-button lgn-primary" name="skip" value="true" type="submit" formnovalidate>{{t "InitMFAPrompt.SkipButtonText"}}</button>

        <span class="fill-space"></span>
        <button class="lgn-raised-button lgn-primary" type="submit">{{t "InitMFAPrompt.NextButtonText"}}</button>
    </div>
</form>


{{template "main-bottom" .}}