{{template "main-top" .}}

<div class="lgn-head">
    {{ template "user-profile" . }}

    <p>{{t "Password.Description"}}</p>
</div>

<form action="{{ passwordUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="loginName" value="{{ .LoginName }}" />

    <div class="fields">
        <div class="field">
            <label class="label" for="password">{{t "Password.Password"}}</label>
            <input class="input" type="password" id="password" name="password" autocomplete="current-password" autofocus
                required>
        </div>
    </div>

    {{template "error-message" .}}

    <div class="actions">
        <button id="submit-button" class="lgn-raised-button lgn-primary right"
            type="submit">{{t "Actions.Next"}}</button>
        <a href="{{ loginNameChangeUrl .AuthReqID }}">
            <button class="lgn-stroked-button lgn-primary secondary" type="button">{{t "Actions.Back"}}</button>
        </a>
        <a class="button secondary" href="{{ passwordResetUrl .AuthReqID }}">
            {{t "Actions.ForgotPassword"}}
        </a>
    </div>
</form>

<script src="{{ resourceUrl "scripts/form_submit.js" }}"></script>
<script src="{{ resourceUrl "scripts/default_form_validation.js" }}"></script>
{{template "main-bottom" .}}