{{template "main-top" .}}

<div class="lgn-head">
    <h1>{{t "Password.Title"}}</h1>

    {{ template "user-profile" . }}
</div>

<form action="{{ passwordUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />
    <input type="hidden" name="loginName" value="{{ .LoginName }}" />

    <div class="fields">
        <label class="lgn-label" for="password">{{t "Password.Password"}}</label>
        <input class="lgn-input" type="password" id="password" name="password" autocomplete="current-password" autofocus
            required {{if .ErrMessage}}shake {{end}}>
    </div>

    {{template "error-message" .}}

    <a class="block" href="{{ passwordResetUrl .AuthReqID }}">
        {{t "Actions.ForgotPassword"}}
    </a>

    <div class="lgn-actions">
        <a href="{{ loginNameChangeUrl .AuthReqID }}">
            <button class="lgn-stroked-button lgn-primary" type="button">{{t "Actions.Back"}}</button>
        </a>
        <span class="fill-space"></span>
        <button id="submit-button" class="lgn-raised-button lgn-primary right" type="submit">{{t "Actions.Next"}}</button>
    </div>
</form>

{{template "main-bottom" .}}

<script src="{{ resourceUrl "scripts/form_submit.js" }}"></script>
<script src="{{ resourceUrl "scripts/default_form_validation.js" }}"></script>

