{{template "main-top" .}}

<div class="head">
    {{if .Linking}}
        <h1>{{t "UserSelection.TitleLinking"}}</h1>
        <p>{{t "UserSelection.DescriptionLinking"}}{{if .OrgName}} {{t "UserSelection.MustBeMemberOfOrg" "OrgName" .OrgName}}{{end}}</p>
    {{else}}
        <h1>{{t "UserSelection.Title"}}</h1>
        <p>{{t "UserSelection.Description"}}{{if .OrgName}} {{t "UserSelection.MustBeMemberOfOrg" "OrgName" .OrgName}}{{end}}</p>
    {{end}}
</div>


<form action="{{ userSelectionUrl }}" method="POST">

    {{ .CSRF }}

    <input type="hidden" name="authRequestID" value="{{ .AuthReqID }}" />

    <div class="actions">
        {{ if .Users }}
        <div class="user-selection-list">
            {{ range $user := .Users }}
            {{ $sessionState := (printf "sessionstate-%v" $user.UserSessionState) }}
            <button type="submit" name="userID" value="{{$user.UserID}}" class="clean user-selection" {{if not $user.SelectionPossible}}disabled title="{{t "Errors.User.NotAllowedOrg"}}"{{end}}>
                <div>
                    <div class="profile-image"></div>
                    <div class="sessionstate {{$sessionState}}"></div>
                </div>
                <div class="names">
                    <div class="displayname">{{$user.DisplayName}}</div>
                    <div class="loginname">{{$user.LoginName}}</div>
                </div>
            </button>
            {{ end }}
        </div>
        {{ end }}
        <button type="submit" name="userID" value="0" class="clean other-user">
            <div class="other-user-image"></div>
            <div>{{t "UserSelection.OtherUser"}}</div>
        </button>
    </div>
</form>


{{template "main-bottom" .}}
 