<app-meta-layout>
    <div class="max-width-container">
        <div class="head" *ngIf="project?.id">
            <a [routerLink]="[ '/projects' ]" mat-icon-button>
                <mat-icon class="icon">arrow_back</mat-icon>
            </a>
            <h1>{{ 'PROJECT.PAGES.TITLE' | translate }} {{project?.name}}</h1>

            <div class="full-width">
                <p class="desc">{{ 'PROJECT.PAGES.DESCRIPTION' | translate }}</p>
            </div>
        </div>

        <!-- <ng-template appHasRole [appHasRole]="['project.app.read:' + project?.id, 'project.app.read']">
            <app-project-application-grid *ngIf="grid" [disabled]="project?.state !== ProjectState.PROJECTSTATE_ACTIVE"
                (changeView)="grid = false" [projectId]="projectId"></app-project-application-grid>
            <app-card *ngIf="!grid" title="{{ 'PROJECT.APP.TITLE' | translate }}">
                <card-actions class="card-actions">
                    <button mat-icon-button (click)="grid = true">
                        <i matTooltip="show grid view" class="las la-th-large"></i>
                    </button>
                </card-actions>
                <app-project-applications [disabled]="project?.state !== ProjectState.PROJECTSTATE_ACTIVE"
                    [projectId]="projectId"></app-project-applications>
            </app-card>
        </ng-template> -->

        <app-card>
            <app-project-grant-members *ngIf="project && project.id && project.grantId"
                [disabled]="project?.state !== ProjectState.PROJECTSTATE_ACTIVE" [project]="project">
            </app-project-grant-members>
        </app-card>
    </div>
    <metainfo class="side">
        <div class="details">
            <div class="row">
                <span class="first">{{'PROJECT.TYPE.TITLE' | translate}}:</span>
                <span class="second">{{'PROJECT.TYPE.'+ ProjectType.PROJECTTYPE_GRANTED | translate}}</span>
            </div>
            <div class="row">
                <span class="first">{{'PROJECT.STATE.TITLE' | translate}}:</span>
                <span *ngIf="project && project.state !== undefined"
                    class="second">{{'PROJECT.STATE.'+project.state | translate}}</span>
            </div>
        </div>

        <app-changes *ngIf="project" [changeType]="ChangeType.PROJECT" [id]="project.id"></app-changes>
    </metainfo>
</app-meta-layout>