.title {
  font-size: 1.2rem;
}

.desc {
  color: var(--grey);
  font-size: .9rem;
}

.full-width {
  width: 100%;
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: .5rem;
  }
}

.flex {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff20;
  border-radius: .5rem;
  justify-content: space-between;

  .overflow-auto {
    overflow: auto;

    .desc {
      font-size: 14px;
      color: var(--grey);
    }
  }
}
