.margin-right {
  margin-inline-end: 0.5rem;
}

td,
th {
  padding: 0 1rem;

  &:first-child {
    padding-inline-start: 0;
    padding-inline-end: 1rem;
  }

  &:last-child {
    padding-inline-end: 0;
  }
}

tr {
  outline: none;

  button {
    visibility: hidden;
  }

  &:hover {
    button {
      visibility: visible;
    }
  }
}
