
.table-header-row {
  display: flex;
  align-items: center;

  .col {
      display: flex;
      flex-direction: column;
      .desc {
          font-size: .8rem;
          color: #81868a;
      }
      .count {
          font-size: 2rem;
      }
  }

  .fill-space {
      flex: 1;
  }

  .icon-button {
      margin-right: .5rem;
  }

  .add-button {
      border-radius: .5rem;
  }
}

.table-wrapper {
    overflow: auto;

    .spinner-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

  table, mat-paginator {
      width: 100%;
      background-color: #2d2e30;

      td, th {
          &:first-child {
              padding-left: 0;
              padding-right: 1rem;
          }

          &:last-child {
              padding-right: 0;
          }
      }

      .data-row {
          cursor: pointer;
          &:hover {
              background-color: #ffffff05;
          }
      }

      .selection {
        width: 50px;
        max-width: 50px;
      }

      .margin-neg {
          margin-left: -1rem;
      }
  }
}

.pointer {
    outline: none;
    cursor: pointer;
}

tr {
    outline: none;
}
