<div class="upper-content">
  <span class="dropdown-label">{{ 'MENU.INSTANCEOVERVIEW' | translate }}</span>
  <a
    (click)="setInstance(instance)"
    mat-button
    class="dropdown-button"
    >{{ instance.name }}
    <i class="las la-1x la-angle-right"></i>
  </a>
</div>

<div class="footer">
  <a [routerLink]="['/instance']" (click)="settingsClicked.emit()" mat-button class="dropdown-button settings-button">
    <h3>{{ 'MENU.SETTINGS' | translate }}</h3>
    <i class="las la-1x la-cog"></i>
  </a>
</div>
