<div class="upper-content">
  <span class="dropdown-label">{{ 'MENU.INSTANCEOVERVIEW' | translate }}</span>
  <a (click)="setInstance(instance)" mat-button class="dropdown-button"
    >{{ instance.name }}
    <ng-icon name="heroChevronRight"></ng-icon>
  </a>
</div>

<div class="footer">
  <a [routerLink]="['/instance']" (click)="settingsClicked.emit()" mat-button class="dropdown-button settings-button">
    <h3>{{ 'MENU.SETTINGS' | translate }}</h3>
    <ng-icon name="heroCog8ToothSolid"></ng-icon>
  </a>
</div>
