@use '~@angular/material' as mat;

@mixin membership-theme($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $is-dark-theme: map-get($theme, is-dark);
  $primary-dark: if($is-dark-theme, #212224, #fafafa);
  $accent: map-get($theme, accent);
  $accent-color: mat.get-color-from-palette($accent, 500);
  /* stylelint-enable */

  .membership-groups {
    .me-header {
      display: block;
      margin-bottom: 1rem;
      font-weight: 400;
      margin-top: 0;
      font-size: 14px;
      letter-spacing: .05em;
      text-transform: uppercase;
    }

    .sub-header {
      font-size: .8rem;
      color: var(--grey);
    }

    .people {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 1rem;

      .owner {
        margin-right: 1rem;
      }

      .img-list {
        width: 100%;
        margin-left: 1rem;
        display: flex;
        align-items: center;

        .spinner {
          margin-left: -15px;
          margin-right: 20px;
        }

        .add-img {
          float: left;
          margin: 0 8px 0 -15px;
        }

        .fill-space {
          flex: 1;
        }

        .refresh-img {
          float: left;
          margin: 0 0 0 -15px;

          .icon {
            font-size: 1.2rem;
          }
        }

        .avatar-circle {
          float: left;
          margin: 0 8px 0 -12px;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          -webkit-box-shadow: 2px 0 7px -1px rgba(33, 34, 36, .5);
          -moz-box-shadow: 2px 0 7px -1px rgba(33, 34, 36, .5);
          box-shadow: 2px 0 7px -1px rgba(33, 34, 36, .5);
          display: flex;
          align-items: center;
          justify-content: center;

          .membership-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: white;
            outline: none;
            padding: 3px;
            text-align: center;
            height: 40px;
            width: 40px;
            box-sizing: border-box;
            font-size: 8px;
            border-radius: .5rem;
            transition: background-color .3s cubic-bezier(.645, .045, .355, 1);
            background-color: $accent-color;
            cursor: pointer;
            flex-direction: column;
            overflow: hidden;

            span {
              max-width: 30px;
              text-overflow: ellipsis;
              font-weight: 800;
              display: block;
              white-space: nowrap;
              overflow: hidden;
              letter-spacing: .05em;
            }

            i {
              font-size: 1.2rem;
              flex-basis: 100%;
              width: 100%;
              height: 1.2rem;
              max-height: 1.2rem;
            }
          }
        }

        .margin-neg {
          margin-left: -1rem;
        }
      }
    }
  }
}
