@mixin header-theme($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);
  $primary-color: mat.get-color-from-palette($primary, 500);

  $warn-color: mat.get-color-from-palette($warn, 500);
  $accent-color: mat.get-color-from-palette($accent, 500);
  $foreground: map-get($theme, foreground);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($background, background);

  .show-all {
    color: mat.get-color-from-palette($primary, 300) !important;
    border-top: 1px solid map-get($foreground, divider);
  }

  .filter-form {
    margin: 0 0.5rem;
    color: mat.get-color-from-palette($foreground, text) !important;
  }

  .header-wrapper {
    padding: 0.5rem 1rem;
    background-color: map-get($background, toolbar) !important;

    @media only screen and (min-width: 500px) {
      padding: 0.5rem 2rem;
    }

    .header-content {
      display: flex;
      align-items: center;
      max-width: 80rem;
      width: 100%;
      margin: 0 auto;
      box-sizing: border-box;

      .slash {
        flex-shrink: 0;
        color: map-get($foreground, divider);
        fill: map-get($foreground, divider);
      }

      .org-context {
        display: flex;
        align-items: center;

        .org-link {
          font-size: 14px;
          color: map-get($foreground, base);
          text-decoration: none;
          padding: 0.5rem 0.75rem 0.5rem 0.75rem;
          height: 2.5rem;
          border-radius: 6px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          transition: all ease 0.1s;

          &:hover {
            background-color: if($is-dark-theme, #ffffff10, #00000010);
          }

          @media only screen and (max-width: 700px) {
            padding: 0.25rem;
          }

          @media only screen and (max-width: 500px) {
            padding: 0;
          }
        }

        .org-context-wrapper {
          display: flex;
          justify-content: space-between;
          position: relative;
          user-select: none;

          .org-switch-button {
            font-weight: bold;
            padding-right: 0.5rem;
            border: none;
            color: map-get($foreground, base);
            border-radius: 6px;
            position: relative;
            font-size: 14px;
            padding: 0.5rem 1.5rem 0.5rem 0.75rem;
            height: 2.5rem;
            text-align: left;
            background-color: transparent;
            cursor: pointer;
            transition: all ease 0.2s;
            z-index: 502;

            &:hover {
              background-color: if($is-dark-theme, #ffffff10, #00000010);
            }

            .svgsapn {
              margin-left: 0.75rem;
              position: absolute;
              top: 0;
              bottom: 0;
              right: 0;
              display: flex;
              align-items: center;
              padding-right: 0.5rem;
              pointer-events: none;

              svg {
                opacity: 0.7;
                fill: map-get($foreground, base);
                height: 1.25rem;
                width: 1.25rem;
              }
            }
          }

          .context_viewport_overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #00000020;
            backdrop-filter: blur(10px);
            z-index: 500;
          }

          .context_intro_overlay {
            position: absolute;
            background-color: $primary-color;
            color: mat.get-color-from-palette($primary, default-contrast);
            border-radius: 6px;
            left: -1rem;
            top: 55px;
            padding: 1rem;
            font-size: 14px;
            width: 300px;
            z-index: 501;
            display: flex;
            flex-direction: column;
            border: 1px solid if($is-dark-theme, rgba(#8795a1, 0.2), rgba(#8795a1, 0.2));
            filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, 0.1));

            &::before {
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              bottom: 100%;
              left: 1.5em;
              border: 0.75rem solid transparent;
              border-top: none;
              border-radius: 4px;
              border-bottom-color: $primary-color;
            }

            .info-row {
              display: flex;
              justify-content: space-between;
              margin: -1rem -1rem 0 0;
              align-items: center;

              .info {
                font-size: 12px;
                text-transform: uppercase;
                color: mat.get-color-from-palette($primary, 900);
              }

              // button {
              //   height: 1.2rem;
              //   width: 1.2rem;
              //   font-size: 1.2rem;
              // }
            }

            p {
              margin: 0;
              line-height: 1.5rem;
              font-size: 15px;
              word-wrap: break-word;
              white-space: pre-wrap;
              word-break: break-word;
            }
          }

          .context_card {
            position: absolute;
            top: 55px;
            right: -3rem;
            z-index: 300;
            overflow: hidden;
            border-radius: 0.5rem;
            box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
          }
        }
      }

      .breadcrumb-context {
        display: flex;
        align-items: center;

        .breadcrumb-link {
          font-size: 14px;
          color: map-get($foreground, base);
          text-decoration: none;
          padding: 0.5rem 0.75rem 0.5rem 0.75rem;
          height: 2.5rem;
          border-radius: 6px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          transition: all ease 0.1s;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
          }

          &:hover {
            background-color: if($is-dark-theme, #ffffff10, #00000010);
          }

          .mob {
            display: none;
          }

          @media only screen and (max-width: 700px) {
            padding: 0.25rem;
          }

          @media only screen and (max-width: 500px) {
            padding: 0;

            span {
              max-width: 50px;
            }

            .mob {
              display: inline;
            }

            .desk {
              display: none;
            }
          }
        }
      }

      .logo {
        max-height: 40px;
        width: 40px;
      }

      .title {
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2rem;
      }

      .fill-space {
        flex: 1;
      }

      .doc-link {
        margin-right: 1rem;

        @media only screen and (max-width: 800px) {
          display: none;
        }
      }

      .iam-settings,
      .org-settings {
        margin-right: 1rem;
        display: none;

        &.hide {
          display: none;
        }

        @media only screen and (min-width: 600px) {
          display: inline;

          i {
            margin-right: -0.5rem;
            margin-left: 0.25rem;
          }
        }
      }

      .icon-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        user-select: none;
        border: 2px solid #ffffff80;
        border-radius: 50%;
        transition: border ease 0.15s;

        &.iam-user {
          border: 2px solid $primary-color;
        }

        &:hover {
          border-color: if($is-dark-theme, #ffffff, #00000050);
        }

        .docs {
          text-decoration: none;
          font-size: 1.4rem;
        }

        .avatar-toggle {
          display: block;
          margin: auto;
          cursor: pointer;
        }

        .name {
          font-size: 1rem;
          font-weight: 400;
        }

        .a_card {
          position: absolute;
          z-index: 300;
          top: 55px;
          right: 0;
          overflow: hidden;
          box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
          border-radius: 0.5rem;
        }
      }
    }
  }
}
