<mat-toolbar class="header-wrapper">
  <div class="header-content">
    @if (authService.labelPolicyLoading$ | async) {
      <div class="logo-placeholder">
        <mat-spinner [diameter]="20"></mat-spinner>
      </div>
    } @else {
      @if (authService.labelpolicy$ | async; as lP) {
        <a
          class="title custom"
          [routerLink]="(['iam.read', 'iam.policy.read'] | hasRole | async) ? ['/'] : ['/org']"
          >
          @if (isDarkTheme) {
            <img
              class="logo"
              alt="home logo"
              [src]="lP.iconUrlDark ? lP.iconUrlDark : './assets/images/zitadel-logo-solo-light.svg'"
              (error)="errorHandler($event, './assets/images/zitadel-logo-solo-light.svg')"
              />
          } @else {
            <img
              alt="home logo"
              class="logo"
              [src]="lP.iconUrl ? lP.iconUrl : './assets/images/zitadel-logo-solo-dark.svg'"
              (error)="errorHandler($event, './assets/images/zitadel-logo-solo-dark.svg')"
              />
          }
        </a>
      } @else {
        <a class="title" [routerLink]="(authService.zitadelPermissions | async)?.length ? ['/'] : ['/users', 'me']">
          @if (isDarkTheme) {
            <img
              class="logo"
              alt="zitadel logo"
              src="./assets/images/zitadel-logo-solo-light.svg"
              />
          } @else {
            <img alt="zitadel logo" class="logo" src="./assets/images/zitadel-logo-solo-dark.svg" />
          }
        </a>
      }
    }


    <cnsl-new-header></cnsl-new-header>

    <span class="fill-space"></span>

    @if (authService.privacypolicy$ | async; as pP) {
      @if (pP.customLink) {
        <a class="custom-link" href="{{ pP.customLink }}" mat-stroked-button target="_blank">
          {{ pP.customLinkText }}
        </a>
      }
      @if (pP.docsLink) {
        <a class="doc-link" href="{{ pP.docsLink }}" mat-stroked-button target="_blank">
          {{ 'MENU.DOCUMENTATION' | translate }}
        </a>
      }
    }

    @if (user && user.id) {
      <div class="account-card-wrapper">
        <button
          cdkOverlayOrigin
          #accounttrigger="cdkOverlayOrigin"
          class="icon-container"
          (click)="showAccount = !showAccount"
          [ngClass]="{ 'iam-user': (['iam.write$'] | hasRole | async) }"
          >
          <cnsl-avatar
            id="avatartoggle"
            class="avatar-toggle dontcloseonclick"
            [active]="showAccount"
            [avatarUrl]="user.human?.profile?.avatarUrl || ''"
            [forColor]="user.preferredLoginName || ''"
            [name]="user.human?.profile?.displayName ?? ''"
            [size]="38"
            >
          </cnsl-avatar>
        </button>
      </div>
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="accounttrigger"
        [cdkConnectedOverlayOffsetY]="10"
        [cdkConnectedOverlayHasBackdrop]="true"
        [cdkConnectedOverlayPositions]="accountCardPositions"
        cdkConnectedOverlayBackdropClass="transparent-backdrop"
        [cdkConnectedOverlayOpen]="showAccount"
        (backdropClick)="showAccount = false"
        (detach)="showAccount = false"
        >
        @if (showAccount) {
          <cnsl-accounts-card
            class="a_card"
            (closedCard)="showAccount = false"
            [user]="user"
            [iamuser]="['iam.write$'] | hasRole | async"
            >
          </cnsl-accounts-card>
        }
      </ng-template>
    }
  </div>
</mat-toolbar>
