.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;

  .text {
    flex: 1;

    .h1 {
      margin: 0;
    }

    .sub {
      color: var(--grey);
      max-width: 500px;
      font-size: 14px;
    }
  }

  .theme {
    min-width: 250px;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 -0.5rem;

  button {
    border-radius: 0.5rem;
    margin: 0 0.5rem;
  }
}

.col {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -1.5rem -0.5rem;

  .app-card {
    flex: 1;
    margin: 0.5rem;
  }
}

.icon-button {
  .icon {
    font-size: 1.2rem;
  }
}

.resendemail {
  margin-right: 1rem;
}

.side-padding {
  padding-top: 1rem;
}

.delete-account-wrapper {
  display: flex;
  justify-content: flex-end;
}
