<app-meta-layout>
    <div class="max-width-container">
        <div class="header-row">
            <div>
                <h1 class="h1">{{ 'USER.TITLE' | translate }}</h1>
                <p class="sub">{{'USER.DESCRIPTION' | translate}}</p>
            </div>

            <div class="theme">
                <app-theme-setting></app-theme-setting>
            </div>
        </div>
        <mat-progress-bar *ngIf="loading" color="accent" mode="indeterminate"></mat-progress-bar>

        <span *ngIf="!loading && !user">{{ 'USER.PAGES.NOUSER' | translate }}</span>

        <app-card title="{{ 'USER.PAGES.LOGINNAMES' | translate }}"
            description="{{ 'USER.PAGES.LOGINNAMESDESC' | translate }}" *ngIf="user">
            <div class="login-name-row" *ngFor="let login of user?.loginNamesList">
                <span>{{login}}</span>
                <button color="primary" [disabled]="copied == login"
                    [matTooltip]="(copied != login ? 'USER.PAGES.COPY' : 'USER.PAGES.COPIED' ) | translate"
                    appCopyToClipboard [valueToCopy]="login" (copiedValue)="copied = $event" mat-icon-button>
                    <i *ngIf="copied != login" class="las la-clipboard"></i>
                    <i *ngIf="copied == login" class="las la-clipboard-check"></i>
                </button>
            </div>
        </app-card>

        <app-card *ngIf="user" class="app-card" title="{{ 'USER.PROFILE.TITLE' | translate }}">
            <app-detail-form [genders]="genders" [languages]="languages" [username]="user.userName" [user]="user.human"
                (changedLanguage)="changedLanguage($event)" (submitData)="saveProfile($event)">
            </app-detail-form>
        </app-card>

        <app-card *ngIf="user && user.human && user.id" title="{{ 'USER.EXTERNALIDP.TITLE' | translate }}"
            description="{{ 'USER.EXTERNALIDP.DESC' | translate }}">
            <app-external-idps [userId]="user.id" [service]="userService"></app-external-idps>
        </app-card>

        <app-card *ngIf="user" title="{{ 'USER.LOGINMETHODS.TITLE' | translate }}"
            description="{{ 'USER.LOGINMETHODS.DESCRIPTION' | translate }}">
            <button card-actions mat-icon-button (click)="refreshUser()" matTooltip="{{'ACTIONS.REFRESH' | translate}}">
                <mat-icon>refresh</mat-icon>
            </button>
            <app-contact *ngIf="user?.human" [human]="user.human" [state]="user.state" canWrite="true"
                [userStateEnum]="UserState" (editType)="openEditDialog($event)"
                (enteredPhoneCode)="enteredPhoneCode($event)" (deletedPhone)="deletePhone()"
                (resendEmailVerification)="resendEmailVerification()"
                (resendPhoneVerification)="resendPhoneVerification()">
            </app-contact>
        </app-card>

        <app-auth-passwordless *ngIf="user" #mfaComponent></app-auth-passwordless>

        <app-auth-user-mfa *ngIf="user" #mfaComponent></app-auth-user-mfa>

        <app-card *ngIf="user?.id" title="{{ 'GRANTS.USER.TITLE' | translate }}"
            description="{{'GRANTS.USER.DESCRIPTION' | translate }}">
            <app-user-grants [userId]="user.id" [context]="USERGRANTCONTEXT"
                [displayedColumns]="['select', 'projectId', 'dates', 'roleNamesList']"
                [disableWrite]="((['user.grant.write$'] | hasRole) | async) == false"
                [disableDelete]="((['user.grant.delete$'] | hasRole) | async) == false">
            </app-user-grants>
        </app-card>
    </div>

    <div *ngIf="user" class="side" metainfo>
        <div class="meta-details">
            <div class="meta-row">
                <span class="first">{{'RESOURCEID' | translate}}:</span>
                <span *ngIf="user?.id" class="second">{{ user.id }}</span>
            </div>
            <div class="meta-row" *ngIf="user?.preferredLoginName">
                <span class="first">{{'USER.PREFERRED_LOGINNAME' | translate}}</span>
                <span class="second"><span style="display: block;">{{user.preferredLoginName}}</span></span>
            </div>
        </div>
        <ng-template appHasRole [appHasRole]="['user.membership.read']">
            <app-memberships [user]="user"></app-memberships>
        </ng-template>

        <app-changes class="changes" [refresh]="refreshChanges$" [changeType]="ChangeType.MYUSER" [id]="user.id">
        </app-changes>
    </div>
</app-meta-layout>