.form {
  width: 100%;
  padding-top: 1rem;

  .btn-container {
    button {
      margin-top: 3rem;
      display: block;
      padding: 0.5rem 4rem;
      border-radius: 0.5rem;
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 -0.5rem;

  .section {
    padding: 0.5rem;
    flex-basis: 100%;
    color: var(--grey);
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }

  .formfield {
    flex: 1 0 33%;
    margin: 0 0.5rem;
  }

  .email-is-verified {
    margin: 0 0.5rem;
    flex-basis: 100%;
    margin-top: 1.5rem;
  }
}
