.abort-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  .abort {
    font-size: 1.2rem;
    margin-left: 2rem;
  }
}

.user-create-main-content {
  padding-left: 4.5rem;
  max-width: 35rem;

  @media only screen and (max-width: 500px) {
    padding: 0 0.5rem;
  }

  .user-create-form {
    .user-create-content {
      .user-create-section {
        padding: 1rem 0 0 0;
        flex-basis: 100%;
        font-size: 14px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
      }

      .user-create-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;

        @media only screen and (max-width: 500px) {
          grid-template-columns: 1fr;
        }
      }

      .email-is-verified,
      .use-password-block {
        flex-basis: 100%;
        margin-top: 1.5rem;

        .block-checkbox {
          display: block;
          margin: 0.25rem 0;
        }
      }
    }

    .user-create-btn-container {
      button {
        margin-top: 3rem;
        display: block;
        padding: 0.5rem 4rem;
        border-radius: 0.5rem;
      }
    }
  }

  .pwd-section {
    .section {
      padding: 0.5rem 0;
    }
  }
}
