<app-detail-layout [backRouterLink]="[ '/org']" [title]="title ? (title | translate) : ''"
    [description]="desc ? (desc | translate) : ''">
    <ng-template appHasRole [appHasRole]="['iam.policy.write']">
        <button matTooltip="{{'ORG.POLICY.DELETE' | translate}}" color="warn" (click)="deletePolicy()"
            mat-stroked-button>
            {{'ORG.POLICY.DELETE' | translate}}
        </button>
    </ng-template>


    <div class="content" *ngIf="policyType === PolicyComponentType?.AGE && ageData">
        <mat-form-field class="description-formfield" appearance="outline">
            <mat-label>{{ 'ORG.POLICY.DATA.DESCRIPTION' | translate }}</mat-label>
            <input matInput name="description" ngDefaultControl [(ngModel)]="ageData.description" required />
        </mat-form-field>
        <div class="row">
            <span class="left-desc">{{'ORG.POLICY.DATA.EXPIREWARNDAYS' | translate}}</span>
            <span class="fill-space"></span>
            <div class="length-wrapper">
                <button mat-icon-button (click)="incrementExpireWarnDays()">
                    <mat-icon>add</mat-icon>
                </button>
                <span>{{ageData?.expireWarnDays}}</span>
                <button mat-icon-button (click)="decrementExpireWarnDays()">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>

        <div class="row">
            <span class="left-desc">{{'ORG.POLICY.DATA.MAXAGEDAYS' | translate}}</span>
            <span class="fill-space"></span>
            <div class="length-wrapper">
                <button mat-icon-button (click)="incrementMaxAgeDays()">
                    <mat-icon>add</mat-icon>
                </button>
                <span>{{ageData?.maxAgeDays}}</span>
                <button mat-icon-button (click)="decrementMaxAgeDays()">
                    <mat-icon>remove</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div class="btn-container">
        <button (click)="savePolicy()" color="primary" type="submit"
            mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
    </div>
</app-detail-layout>