<h2>{{ 'POLICY.IAM_POLICY.TITLE' | translate }}</h2>
<p>{{ 'POLICY.IAM_POLICY.DESCRIPTION' | translate }}</p>
<cnsl-info-section *ngIf="isDefault"> {{ 'POLICY.DEFAULTLABEL' | translate }}</cnsl-info-section>

<ng-template cnslHasRole [hasRole]="['iam.policy.delete']">
  <button
    *ngIf="serviceType === PolicyComponentServiceType.MGMT && !isDefault"
    matTooltip="{{ 'POLICY.RESET' | translate }}"
    color="warn"
    (click)="removePolicy()"
    mat-stroked-button
  >
    {{ 'POLICY.RESET' | translate }}
  </button>
</ng-template>

<div class="content" *ngIf="iamData">
  <div class="row">
    <mat-slide-toggle
      color="primary"
      name="hasNumber"
      ngDefaultControl
      [disabled]="(['iam.policy.write'] | hasRole | async) === false"
      [(ngModel)]="iamData.userLoginMustBeDomain"
    >
      {{ 'POLICY.DATA.USERLOGINMUSTBEDOMAIN' | translate }}
    </mat-slide-toggle>
  </div>
</div>

<div class="btn-container">
  <button
    (click)="savePolicy()"
    [disabled]="(['iam.policy.write'] | hasRole | async) === false"
    color="primary"
    type="submit"
    mat-raised-button
  >
    {{ 'ACTIONS.SAVE' | translate }}
  </button>
</div>
