.default {
  color: var(--color-main);
  margin-top: 0;
}

.policy-applied-to {
  margin: -1rem 0 0 0;
  font-size: 14px;
}

.content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    display: flex;
    align-items: center;
    padding: 0.3rem 0;

    .left-desc {
      font-size: 0.9rem;
    }

    .fill-space {
      flex: 1;
    }

    .length-wrapper {
      display: flex;
      align-items: center;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;

  button {
    display: block;
  }
}
