<div class="info-row" *ngIf="user">
  <div class="info">
    <p class="title">{{ 'USER.PAGES.STATE' | translate }}</p>
    <p *ngIf="user && user.state !== undefined" class="state"
      [ngClass]="{'active': user.state === UserState.USER_STATE_ACTIVE, 'inactive': user.state === UserState.USER_STATE_INACTIVE}">
      {{'USER.DATA.STATE'+user.state
      | translate}}</p>
  </div>

  <div class="info">
    <p class="title">{{ 'USER.DETAILS.DATECREATED' | translate }}</p>
    <p *ngIf="user && user.details && user.details.creationDate" class="desc">{{user.details.creationDate |
      timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}</p>
  </div>

  <div class="info">
    <p class="title">{{ 'USER.DETAILS.DATECHANGED' | translate }}</p>
    <p *ngIf="user && user.details && user.details.changeDate" class="desc">{{user.details.changeDate | timestampToDate
      | localizedDate: 'dd. MMMM YYYY, HH:mm' }}</p>
  </div>

  <div class="info width">
    <p class="title">{{ 'USER.PAGES.LOGINNAMES' | translate }}</p>
    <div class="copy-row" *ngFor="let login of user?.loginNamesList">
      <button [disabled]="copied === login"
        [matTooltip]="(copied !== login ? 'ACTIONS.COPY' : 'ACTIONS.COPIED' ) | translate" cnslCopyToClipboard
        [valueToCopy]="login" (copiedValue)="copied = $event">
        {{login}}
      </button>
    </div>
  </div>
</div>

<div class="info-row" *ngIf="app">
  <div class="info">
    <p class="title">{{ 'APP.PAGES.STATE' | translate }}</p>
    <p *ngIf="app && app.state !== undefined" class="state"
      [ngClass]="{'active': app.state === AppState.APP_STATE_ACTIVE, 'inactive': app.state === AppState.APP_STATE_INACTIVE}">
      {{'APP.PAGES.DETAIL.STATE.'+app.state
      | translate}}</p>
  </div>

  <div class="info">
    <p class="title">{{ 'APP.PAGES.DATECREATED' | translate }}</p>
    <p *ngIf="app && app.details && app.details.creationDate" class="desc">{{app.details.creationDate | timestampToDate
      | localizedDate: 'dd. MMMM YYYY, HH:mm' }}</p>
  </div>

  <div class="info">
    <p class="title">{{ 'APP.PAGES.DATECHANGED' | translate }}</p>
    <p *ngIf="app && app.details && app.details.changeDate" class="desc">{{app.details.changeDate | timestampToDate |
      localizedDate: 'dd. MMMM YYYY, HH:mm' }}</p>
  </div>

  <div class="info">
    <p class="title">{{ 'APP.OIDC.INFO.CLIENTID' | translate }}</p>
    <div class="copy-row" *ngIf="app?.oidcConfig?.clientId">
      <button *ngIf="app.oidcConfig && app.oidcConfig?.clientId" [disabled]="copied === app.oidcConfig?.clientId"
        [matTooltip]="(copied !== app.oidcConfig?.clientId ? 'ACTIONS.COPY' : 'ACTIONS.COPIED' ) | translate"
        cnslCopyToClipboard [valueToCopy]="app.oidcConfig.clientId" (copiedValue)="copied = $event">
        {{app.oidcConfig?.clientId}}
      </button>
    </div>

    <div class="copy-row" *ngIf="app?.apiConfig?.clientId">
      <button *ngIf="app && app.apiConfig && app.apiConfig.clientId" [disabled]="copied === app.apiConfig?.clientId"
        [matTooltip]="(copied !== app.apiConfig?.clientId ? 'ACTIONS.COPY' : 'ACTIONS.COPIED' ) | translate"
        cnslCopyToClipboard [valueToCopy]="app.apiConfig.clientId" (copiedValue)="copied = $event">
        {{app.apiConfig?.clientId}}
      </button>
    </div>
  </div>

  <div class="info">
    <p class="title">{{ 'APP.PAGES.URLS' | translate }}</p>
    <div class="copy-row" *ngFor="let environmentV of (environmentMap | keyvalue)">
      <div *ngIf="environmentV.value" class="environment">
        <span class="key">{{environmentV.key}}</span>
        <button [disabled]="copied === environmentV.value"
          [matTooltip]="(copied !== environmentV.value ? 'ACTIONS.COPY' : 'ACTIONS.COPIED' ) | translate"
          cnslCopyToClipboard [valueToCopy]="environmentV.value" (copiedValue)="copied = environmentV.key">
          {{environmentV.value}}
        </button>
      </div>
    </div>
  </div>
</div>

<div class="info-row" *ngIf="idp">
  <div class="info width">
    <p class="title">{{ 'IDP.ID' | translate }}</p>
    <div class="copy-row">
      <button [disabled]="copied == idp.id"
        [matTooltip]="(copied != idp.id ? 'ACTIONS.COPY' : 'ACTIONS.COPIED' ) | translate" cnslCopyToClipboard
        [valueToCopy]="idp.id" (copiedValue)="copied = $event">
        {{idp.id}}
      </button>
    </div>
  </div>

  <div class="info">
    <p class="title">{{ 'IDP.DETAIL.DATECREATED' | translate }}</p>
    <p class="desc" *ngIf="idp && idp.details && idp.details.creationDate">{{idp.details.creationDate | timestampToDate
      | localizedDate: 'dd. MMMM YYYY, HH:mm' }}</p>
  </div>

  <div class="info">
    <p class="title">{{ 'IDP.DETAIL.DATECHANGED' | translate }}</p>
    <p class="desc" *ngIf="idp && idp.details && idp.details.changeDate">{{idp.details.changeDate | timestampToDate |
      localizedDate: 'dd. MMMM YYYY, HH:mm' }}</p>
  </div>

  <div class="info">
    <p class="title">{{ 'IDP.STATE' | translate }}</p>
    <p *ngIf="idp && idp.state !== undefined" class="state"
      [ngClass]="{'active': idp.state === IDPState.IDP_STATE_ACTIVE, 'inactive': idp.state === IDPState.IDP_STATE_INACTIVE}">
      {{'IDP.STATES.'+idp.state
      | translate}}</p>
  </div>
</div>