<div class="info-row" *ngIf="user">
  <div class="info-wrapper">
    <p class="info-row-title">{{ 'USER.PAGES.STATE' | translate }}</p>
    <p
      *ngIf="user && user.state !== undefined"
      class="state"
      [ngClass]="{
        active: user.state === UserState.USER_STATE_ACTIVE,
        inactive: user.state === UserState.USER_STATE_INACTIVE
      }"
    >
      {{ 'USER.DATA.STATE' + user.state | translate }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'USER.ID' | translate }}</p>
    <p *ngIf="user && user.id" class="info-row-desc">{{ user.id }}</p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'USER.DETAILS.DATECREATED' | translate }}</p>
    <p *ngIf="user && user.details && user.details.creationDate" class="info-row-desc">
      {{ user.details.creationDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'USER.DETAILS.DATECHANGED' | translate }}</p>
    <p *ngIf="user && user.details && user.details.changeDate" class="info-row-desc">
      {{ user.details.changeDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>

  <div class="info-wrapper width">
    <p class="info-row-title">{{ 'USER.PAGES.LOGINMETHODS' | translate }}</p>
    <div class="copy-row" *ngFor="let login of loginMethods">
      <button
        [disabled]="copied === login"
        [matTooltip]="(copied !== login ? 'ACTIONS.COPY' : 'ACTIONS.COPIED') | translate"
        cnslCopyToClipboard
        [valueToCopy]="login"
        (copiedValue)="copied = $event"
        data-e2e="copy-loginname"
      >
        {{ login }}
      </button>
    </div>
  </div>
</div>

<div class="info-row" *ngIf="instance">
  <div class="info-wrapper">
    <p class="info-row-title">{{ 'IAM.PAGES.STATE' | translate }}</p>
    <p
      *ngIf="instance && instance.state !== undefined"
      class="state"
      [ngClass]="{
        active: instance.state === State.INSTANCE_STATE_RUNNING,
        inactive: instance.state === State.INSTANCE_STATE_STOPPED || instance.state === State.INSTANCE_STATE_STOPPING
      }"
    >
      {{ 'IAM.STATE.' + instance.state | translate }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'RESOURCEID' | translate }}</p>
    <p *ngIf="instance && instance.id" class="info-row-desc">{{ instance.id }}</p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'NAME' | translate }}</p>
    <p *ngIf="instance && instance.name" class="info-row-desc">{{ instance.name }}</p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'VERSION' | translate }}</p>
    <p *ngIf="instance && instance.version" class="info-row-desc">{{ instance.version }}</p>
  </div>

  <div class="info-wrapper width">
    <p class="info-row-title">{{ 'IAM.PAGES.DOMAINLIST' | translate }}</p>
    <div class="copy-row" *ngFor="let domain of instance?.domainsList">
      <button
        [disabled]="copied === domain.domain"
        [matTooltip]="(copied !== domain.domain ? 'ACTIONS.COPY' : 'ACTIONS.COPIED') | translate"
        cnslCopyToClipboard
        [valueToCopy]="domain.domain"
        (copiedValue)="copied = $event"
      >
        {{ domain.domain }}
      </button>
    </div>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'ORG.PAGES.CREATIONDATE' | translate }}</p>
    <p *ngIf="instance && instance.details && instance.details.creationDate" class="info-row-desc">
      {{ instance.details.creationDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'ORG.PAGES.DATECHANGED' | translate }}</p>
    <p *ngIf="instance && instance.details && instance.details.changeDate" class="info-row-desc">
      {{ instance.details.changeDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>
</div>

<div class="info-row" *ngIf="org">
  <div class="info-wrapper">
    <p class="info-row-title">{{ 'ORG.PAGES.STATE' | translate }}</p>
    <p
      *ngIf="org && org.state !== undefined"
      class="state"
      [ngClass]="{ active: org.state === OrgState.ORG_STATE_ACTIVE, inactive: org.state === OrgState.ORG_STATE_INACTIVE }"
    >
      {{ 'ORG.STATE.' + org.state | translate }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'RESOURCEID' | translate }}</p>
    <p *ngIf="org && org.id" class="info-row-desc">{{ org.id }}</p>
  </div>

  <div class="info-wrapper width">
    <p class="info-row-title">{{ 'ORG.PAGES.PRIMARYDOMAIN' | translate }}</p>
    <div class="copy-row" *ngIf="org.primaryDomain">
      <button
        [disabled]="copied === org.primaryDomain"
        [matTooltip]="(copied !== org.primaryDomain ? 'ACTIONS.COPY' : 'ACTIONS.COPIED') | translate"
        cnslCopyToClipboard
        [valueToCopy]="org.primaryDomain"
        (copiedValue)="copied = $event"
      >
        {{ org.primaryDomain }}
      </button>
    </div>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'ORG.PAGES.CREATIONDATE' | translate }}</p>
    <p *ngIf="org && org.details && org.details.creationDate" class="info-row-desc">
      {{ org.details.creationDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'ORG.PAGES.DATECHANGED' | translate }}</p>
    <p *ngIf="org && org.details && org.details.changeDate" class="info-row-desc">
      {{ org.details.changeDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>
</div>

<div class="info-row" *ngIf="project">
  <div class="info-wrapper">
    <p class="info-row-title">{{ 'PROJECT.STATE.TITLE' | translate }}</p>
    <p
      *ngIf="project && project.state !== undefined"
      class="state"
      [ngClass]="{
        active: project.state === ProjectState.PROJECT_STATE_ACTIVE,
        inactive: project.state === ProjectState.PROJECT_STATE_INACTIVE
      }"
    >
      {{ 'PROJECT.STATE.' + project.state | translate }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'RESOURCEID' | translate }}</p>
    <p *ngIf="project && project.id" class="info-row-desc">{{ project.id }}</p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'PROJECT.PAGES.CREATEDON' | translate }}</p>
    <p *ngIf="project && project.details && project.details.creationDate" class="info-row-desc">
      {{ project.details.creationDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'PROJECT.PAGES.LASTMODIFIED' | translate }}</p>
    <p *ngIf="project && project.details && project.details.changeDate" class="info-row-desc">
      {{ project.details.changeDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>
</div>

<div class="info-row" *ngIf="grantedProject">
  <div class="info-wrapper">
    <p class="info-row-title">{{ 'PROJECT.STATE.TITLE' | translate }}</p>
    <p
      *ngIf="grantedProject && grantedProject.state !== undefined"
      class="state"
      [ngClass]="{
        active: grantedProject.state === ProjectGrantState.PROJECT_GRANT_STATE_ACTIVE,
        inactive: grantedProject.state === ProjectGrantState.PROJECT_GRANT_STATE_INACTIVE
      }"
    >
      {{ 'PROJECT.STATE.' + grantedProject.state | translate }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'RESOURCEID' | translate }}</p>
    <p *ngIf="grantedProject && grantedProject.projectId" class="info-row-desc">{{ grantedProject.projectId }}</p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'PROJECT.GRANT.GRANTID' | translate }}</p>
    <p *ngIf="grantedProject && grantedProject.grantId" class="info-row-desc">{{ grantedProject.grantId }}</p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'PROJECT.PAGES.CREATEDON' | translate }}</p>
    <p *ngIf="grantedProject && grantedProject.details && grantedProject.details.creationDate" class="info-row-desc">
      {{ grantedProject.details.creationDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'PROJECT.PAGES.LASTMODIFIED' | translate }}</p>
    <p *ngIf="grantedProject && grantedProject.details && grantedProject.details.changeDate" class="info-row-desc">
      {{ grantedProject.details.changeDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>
</div>

<ng-container *ngIf="app">
  <div class="info-row">
    <div class="info-wrapper">
      <p class="info-row-title">{{ 'APP.PAGES.STATE' | translate }}</p>
      <p
        *ngIf="app && app.state !== undefined"
        class="state"
        [ngClass]="{ active: app.state === AppState.APP_STATE_ACTIVE, inactive: app.state === AppState.APP_STATE_INACTIVE }"
      >
        {{ 'APP.PAGES.DETAIL.STATE.' + app.state | translate }}
      </p>
    </div>

    <div class="info-wrapper">
      <p class="info-row-title">{{ 'APP.PAGES.ID' | translate }}</p>
      <p *ngIf="app && app.id" class="info-row-desc">{{ app.id }}</p>
    </div>

    <div class="info-wrapper">
      <p class="info-row-title">{{ 'APP.PAGES.DATECREATED' | translate }}</p>
      <p *ngIf="app && app.details && app.details.creationDate" class="info-row-desc">
        {{ app.details.creationDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
      </p>
    </div>

    <div class="info-wrapper">
      <p class="info-row-title">{{ 'APP.PAGES.DATECHANGED' | translate }}</p>
      <p *ngIf="app && app.details && app.details.changeDate" class="info-row-desc">
        {{ app.details.changeDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
      </p>
    </div>

    <div class="info-wrapper" *ngIf="app">
      <p class="info-row-title">{{ 'APP.OIDC.INFO.CLIENTID' | translate }}</p>
      <div class="copy-row" *ngIf="app.oidcConfig?.clientId">
        <button
          *ngIf="app.oidcConfig && app.oidcConfig?.clientId"
          [disabled]="copied === app.oidcConfig.clientId"
          [matTooltip]="(copied !== app.oidcConfig.clientId ? 'ACTIONS.COPY' : 'ACTIONS.COPIED') | translate"
          cnslCopyToClipboard
          [valueToCopy]="app.oidcConfig.clientId"
          (copiedValue)="copied = $event"
        >
          {{ app.oidcConfig.clientId }}
        </button>
      </div>

      <div class="copy-row" *ngIf="app.apiConfig?.clientId">
        <button
          *ngIf="app && app.apiConfig && app.apiConfig.clientId"
          [disabled]="copied === app.apiConfig.clientId"
          [matTooltip]="(copied !== app.apiConfig.clientId ? 'ACTIONS.COPY' : 'ACTIONS.COPIED') | translate"
          cnslCopyToClipboard
          [valueToCopy]="app.apiConfig.clientId"
          (copiedValue)="copied = $event"
        >
          {{ app.apiConfig.clientId }}
        </button>
      </div>
    </div>
  </div>
</ng-container>

<div class="info-row" *ngIf="idp">
  <div class="info-wrapper width">
    <p class="info-row-title">{{ 'IDP.ID' | translate }}</p>
    <p class="info-row-desc">
      {{ idp.id }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'IDP.DETAIL.DATECREATED' | translate }}</p>
    <p class="info-row-desc" *ngIf="idp && idp.details && idp.details.creationDate">
      {{ idp.details.creationDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'IDP.DETAIL.DATECHANGED' | translate }}</p>
    <p class="info-row-desc" *ngIf="idp && idp.details && idp.details.changeDate">
      {{ idp.details.changeDate | timestampToDate | localizedDate: 'dd. MMMM YYYY, HH:mm' }}
    </p>
  </div>

  <div class="info-wrapper">
    <p class="info-row-title">{{ 'IDP.STATE' | translate }}</p>
    <p
      *ngIf="idp && idp.state !== undefined"
      class="state"
      [ngClass]="{ active: idp.state === IDPState.IDP_STATE_ACTIVE, inactive: idp.state === IDPState.IDP_STATE_INACTIVE }"
    >
      {{ 'IDP.STATES.' + idp.state | translate }}
    </p>
  </div>
</div>
