@import '~@angular/material/theming';

@mixin meta-theme($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary, 500);
  $primary-dark: mat-color($primary, A800);
  /* stylelint-enable */

  $lighter-color: rgba(0,0,0,.5);//rgba(mat-color($primary, A900), .5);

  .meta-wrapper {
    .meta {
      position: relative;
      flex: 1 0 300px;
      background: linear-gradient(to bottom right, rgba($lighter-color, .05) 20%, transparent 50%);

      &.hidden {
        background: linear-gradient(to bottom right, rgba($lighter-color, .05), transparent 50%);
      }

      &::after {
        border-left: 2px solid $primary-color;
        -webkit-border-image:
          -webkit-gradient(
            linear,
            left top,
            left bottom,
            from($primary-color),
            to(rgb(0,0,0,.5)),
            color-stop(
              01,
              $primary-dark
            )
          ) 50 21;
        border-image:
          -webkit-gradient(
            linear,
            left top,
            left bottom,
            from($primary-color),
            to(rgb(0,0,0,.5)),
            color-stop(
              01,
              $primary-dark
            )
          ) 50 21;
      }
    }
  }
}
