.meta-wrapper {
	display: flex;
    height: 100%;
    overflow-x: hidden;
    transition: all .2s ease-in-out;

    .main-content {
		display: relative;
		width: 100%;
        overflow-y: auto;

        &.hidden {
            flex-basis: 100%;
        }
    }

    .meta {
        position: relative;
        flex: 1 0 300px;
        background: linear-gradient(to bottom right, #4072b410 20%,transparent 50%);

		@media only screen and (min-width: 1500px) {
			flex-basis: 400px;
		}
        padding: 1rem;
        
        .meta-content {
            max-height: calc(100vh - 60px);
            display: flex;
            flex-direction: column;
        }

        &.hidden {
            flex: 0 0 0 !important;
            width: 0;
            background: linear-gradient(to bottom right, #4072b450,transparent 50%);

            .hide {
                transform: rotate(180deg);
                visibility: visible;
                opacity: 1;
            }
        }

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 50%;
            border-left: 2px solid #4072b4;
            -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#4072b4), to(#212224), color-stop(01, #212224)) 50 21;
            border-image: -webkit-gradient(linear, left top, left bottom, from(#4072b4), to(#212224), color-stop(01, #212224)) 50 21;
        }

        .hide {
            position: absolute;
            left: -40px;
            top: .5rem;
            opacity: 0;
            transition: all .3s ease-in-out;

            i {
                font-size: 1.5rem;
            }

            &:hover {
                visibility: visible;
            }
        }

        &:hover {
            .hide {
                opacity: 1;
            }
        }
    }
    

	// @media only screen and (max-width: 700px) {
    //     flex-direction: column;
    //     .main-content, .meta {
    //         overflow-y: visible;
    //     }
    // }
}