.meta-wrapper {
  display: flex;
  height: 100%;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  position: relative;

  .main-content {
    display: relative;
    width: 100%;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }

  .meta {
    flex: 1 0 300px;
    max-width: 300px;
    padding: 1rem 0 1rem 1rem;

    @media only screen and (min-width: 1500px) {
      flex-basis: 400px;
      max-width: 400px;
    }

    .meta-content {
      display: flex;
      flex-direction: column;
    }

    &.hidden {
      flex: 0 0 0 !important;
      width: 0;
      padding: 1px;

      .hide {
        transform: rotate(180deg);
        visibility: visible;
        opacity: 1;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
    }
  }
}
