.meta-wrapper {
	display: flex;
	height: 100%;

    .main-content {
		display: relative;
		width: 100%;
        overflow-y: auto;
    }

    .meta {
        flex: 1 0 300px;
		@media only screen and (min-width: 1500px) {
			flex-basis: 400px;
		}
		// overflow-y: auto;
        padding: 1rem;
        
        .meta-content {
            max-height: calc(100vh - 60px);
            display: flex;
            flex-direction: column;
        }
    }
    

	@media only screen and (max-width: 700px) {
        flex-direction: column;
        .main-content, .meta {
            overflow-y: visible;
        }
    }
}