.meta-wrapper {
  display: flex;
  height: 100%;
  overflow-x: hidden;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);

  .main-content {
    display: relative;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 50px;

    &.hidden {
      flex-basis: 100%;
    }
  }

  .meta {
    position: relative;
    flex: 1 0 300px;
    padding: 1rem;

    @media only screen and (min-width: 1500px) {
      flex-basis: 400px;
    }

    .meta-content {
      max-height: calc(100vh - 60px);
      display: flex;
      flex-direction: column;
    }

    &.hidden {
      flex: 0 0 0 !important;
      width: 0;
      padding: 1px;

      .hide {
        transform: rotate(180deg);
        visibility: visible;
        opacity: 1;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 50%;
    }

    .hide {
      position: absolute;
      left: -40px;
      top: .5rem;
      opacity: 0;
      transition: all .3s ease-in-out;

      i {
        font-size: 1.5rem;
      }

      &:hover {
        visibility: visible;
      }
    }

    &:hover {
      .hide {
        opacity: 1;
      }
    }
  }
}
