.icon-button {
  .icon {
    font-size: 1.2rem;
  }
}

.col {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff20;
  margin-bottom: 1rem;

  .row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;

    span {
      flex: 1;
    }
  }
}

.centered {
  display: flex;
  align-items: center;
}

.table {
  width: 100%;
}
