@if (!data.execution) {
  <h2 mat-dialog-title>{{ 'ACTIONSTWO.EXECUTION.DIALOG.CREATE_TITLE' | translate }}</h2>
}
@if (data.execution) {
  <h2 mat-dialog-title>{{ 'ACTIONSTWO.EXECUTION.DIALOG.UPDATE_TITLE' | translate }}</h2>
}

<mat-dialog-content>
  <div class="framework-change-block">
    @switch (page()) {
      @case (Page.Type) {
        <cnsl-actions-two-add-action-type
          [initialValue]="typeSignal()"
          (back)="back()"
          (continue)="typeSignal.set($event); continue()"
        ></cnsl-actions-two-add-action-type>
      }
      @case (Page.Condition) {
        <cnsl-actions-two-add-action-condition
          [conditionType]="typeSignal()"
          (back)="back()"
          (continue)="conditionSignal.set({ conditionType: { case: typeSignal(), value: $event } }); continue()"
        ></cnsl-actions-two-add-action-condition>
      }
      @case (Page.Target) {
        <cnsl-actions-two-add-action-target
          (back)="back()"
          [hideBackButton]="!!data.execution"
          (continue)="targetsSignal.set($event); continue()"
          [preselectedTargetIds]="preselectedTargetIds"
        ></cnsl-actions-two-add-action-target>
      }
    }
  </div>
</mat-dialog-content>
