<h2 mat-dialog-title>{{ 'ACTIONSTWO.EXECUTION.CREATE.TITLE' | translate }}</h2>
<mat-dialog-content>
  <div class="framework-change-block">
    <cnsl-actions-two-add-action-type
      *ngIf="page() == Page.Type"
      (typeChanges$)="onTypeChanged($event)"
    ></cnsl-actions-two-add-action-type>
    <cnsl-actions-two-add-action-condition *ngIf="page() == Page.Condition"></cnsl-actions-two-add-action-condition>
    <cnsl-actions-two-add-action-target *ngIf="page() == Page.Target"></cnsl-actions-two-add-action-target>
  </div>
</mat-dialog-content>
<div>
  <mat-dialog-actions class="actions">
    <button mat-stroked-button mat-dialog-close>{{ 'ACTIONS.CANCEL' | translate }}</button>
    <button color="primary" mat-raised-button (click)="continue()" cdkFocusInitial>
      {{ page() == Page.Target ? ('ACTIONS.CREATE' | translate) : ('ACTIONS.CONTINUE' | translate) }}
    </button>
  </mat-dialog-actions>
</div>
