footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000020;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
footer .fill-space {
  flex: 1;
}
footer a {
  font-size: 12px;
}

.lgn-button, .lgn-stroked-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
}
.lgn-button[disabled], .lgn-stroked-button[disabled] {
  cursor: default;
}
.lgn-button::-moz-focus-inner, .lgn-stroked-button::-moz-focus-inner {
  border: 0;
}

.lgn-raised-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
}
.lgn-raised-button[disabled] {
  cursor: default;
}
.lgn-raised-button::-moz-focus-inner {
  border: 0;
}

.lgn-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px;
}

.lgn-button:focus {
  pointer-events: none;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}

.lgn-button *, .lgn-stroked-button *, .lgn-raised-button * {
  vertical-align: middle;
}

input, .lgn-input {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
input::placeholder, .lgn-input::placeholder {
  font-size: 14px;
  font-style: italic;
}

select, .lgn-select {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
select::placeholder, .lgn-select::placeholder {
  font-size: 14px;
  font-style: italic;
}

label, .lgn-label {
  display: block;
  font-size: 12px;
  transition: color 0.2s ease;
  margin: 0 0 2px 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: Aileron;
  src: url(../../../fonts/ailerons/ailerons.otf) format("opentype");
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../../../fonts/material/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../../fonts/material/MaterialIcons-Regular.woff2) format("woff2"), url(../../../fonts/material/MaterialIcons-Regular.woff) format("woff"), url(../../../fonts/material/MaterialIcons-Regular.ttf) format("truetype");
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000020;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
footer .fill-space {
  flex: 1;
}
footer a {
  font-size: 12px;
}

.lgn-button, .lgn-stroked-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
}
.lgn-button[disabled], .lgn-stroked-button[disabled] {
  cursor: default;
}
.lgn-button::-moz-focus-inner, .lgn-stroked-button::-moz-focus-inner {
  border: 0;
}

.lgn-raised-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
}
.lgn-raised-button[disabled] {
  cursor: default;
}
.lgn-raised-button::-moz-focus-inner {
  border: 0;
}

.lgn-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px;
}

.lgn-button:focus {
  pointer-events: none;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}

.lgn-button *, .lgn-stroked-button *, .lgn-raised-button * {
  vertical-align: middle;
}

input, .lgn-input {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
input::placeholder, .lgn-input::placeholder {
  font-size: 14px;
  font-style: italic;
}

select, .lgn-select {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
select::placeholder, .lgn-select::placeholder {
  font-size: 14px;
  font-style: italic;
}

label, .lgn-label {
  display: block;
  font-size: 12px;
  transition: color 0.2s ease;
  margin: 0 0 2px 0;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
}

@font-face {
  font-family: Aileron;
  src: url(../../../fonts/ailerons/ailerons.otf) format("opentype");
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../../../fonts/material/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../../fonts/material/MaterialIcons-Regular.woff2) format("woff2"), url(../../../fonts/material/MaterialIcons-Regular.woff) format("woff"), url(../../../fonts/material/MaterialIcons-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Aileron;
  src: url(../../../fonts/ailerons/ailerons.otf) format("opentype");
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../../../fonts/material/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../../fonts/material/MaterialIcons-Regular.woff2) format("woff2"), url(../../../fonts/material/MaterialIcons-Regular.woff) format("woff"), url(../../../fonts/material/MaterialIcons-Regular.ttf) format("truetype");
}
.content-container {
  display: block;
  margin: 0px auto 50px auto;
  max-width: 350px;
  padding: 20px;
  width: 100%;
}
.content-container .lgn-head h1 {
  text-align: center;
}
.content-container .lgn-actions {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}
.content-container .lgn-actions .fill-space {
  flex: 1;
}

.lgn-header {
  display: block;
  margin: 100px auto 0.5rem auto;
  max-width: 350px;
  padding: 0;
  width: 100%;
}
.lgn-header img {
  width: 100%;
  display: block;
  margin: 0 auto;
  max-width: 170px;
}

/*# sourceMappingURL=bundle.css.map */
