@charset "UTF-8";
footer {
  width: 100%;
  box-sizing: border-box;
  background: #00000020;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
footer .fill-space {
  flex: 1;
}
footer a {
  font-size: 12px;
  margin-left: 1rem;
}
@media only screen and (min-width: 600px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.lgn-header {
  display: block;
  position: relative;
  margin: 1rem auto 0.5rem auto;
  padding: 0;
  width: 100%;
}
.lgn-header .lgn-logo {
  height: 43px;
  width: 160px;
  margin: 0 auto;
}

.lgn-button, .lgn-stroked-button, .lgn-icon-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
}
.lgn-button[disabled], .lgn-stroked-button[disabled], .lgn-icon-button[disabled] {
  cursor: default;
}
.lgn-button::-moz-focus-inner, .lgn-stroked-button::-moz-focus-inner, .lgn-icon-button::-moz-focus-inner {
  border: 0;
}

.lgn-raised-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
}
.lgn-raised-button[disabled] {
  cursor: default;
}
.lgn-raised-button::-moz-focus-inner {
  border: 0;
}

.lgn-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}
.lgn-icon-button i, .lgn-icon-button .mat-icon {
  line-height: 24px;
}

.lgn-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px;
}

.lgn-button:focus {
  pointer-events: none;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}

.lgn-button *, .lgn-stroked-button *, .lgn-raised-button * {
  vertical-align: middle;
}

input:not([type=radio]):not([type=checkbox]),
.lgn-input {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
input:not([type=radio]):not([type=checkbox])::placeholder,
.lgn-input::placeholder {
  font-size: 14px;
  font-style: italic;
}

select, .lgn-select {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
select::placeholder, .lgn-select::placeholder {
  font-size: 14px;
  font-style: italic;
}

.lgn-suffix-wrapper {
  position: relative;
}
.lgn-suffix-wrapper [lgnSuffix] {
  position: absolute;
  right: 0.5rem;
  top: 9px;
  height: inherit;
  vertical-align: middle;
}

.lgn-label {
  display: block;
  font-size: 12px;
  transition: color 0.2s ease;
  margin: 0 0 2px 0;
  font-weight: 400;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
.lgn-radio {
  outline: none;
  margin: 16px 0;
  display: inline-block;
}
.lgn-radio.block {
  display: block;
}
.lgn-radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: middle;
  padding-top: 2px;
  outline: none;
  font-size: 14px;
  line-height: 16px;
}
.lgn-radio label::before, .lgn-radio label::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: all 0.3s ease;
  transition-property: transform, border-color;
}
.lgn-radio label::before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
}
.lgn-radio label::after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
}
.lgn-radio input[type=radio] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  outline: none;
}
.lgn-radio input[type=radio]:checked + label::before {
  animation: ripple 0.2s linear forwards;
}
.lgn-radio input[type=radio]:checked + label::after {
  transform: scale(1);
}
.lgn-radio input[type=radio]:focus + label {
  opacity: 1;
}
.lgn-radio input[type=radio]:disabled + label {
  cursor: not-allowed;
  font-style: italic;
}
.lgn-radio input[type=radio]:disabled:focus {
  opacity: 0;
}
.lgn-radio *,
.lgn-radio *::before,
.lgn-radio *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  margin: 2px 0;
}
a.block {
  display: block;
}

.lgn-idp {
  display: block;
  margin: 0.5rem 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 1px;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
}
.lgn-idp span.logo {
  height: 46px;
  width: 46px;
}
.lgn-idp span.provider-name {
  line-height: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.lgn-idp.google span.logo {
  height: 46px;
  width: 46px;
  background-image: url("../../../images/idp/google.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.lgn-error {
  display: flex;
  align-items: center;
  outline: none;
}
.lgn-error i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.lgn-qrcode {
  display: block;
  margin: auto;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
}
.lgn-qrcode svg {
  margin: auto;
  display: block;
  border-radius: 0.5rem;
}

.lgn-max-width-wrapper {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}
@media only screen and (min-width: 600px) {
  .lgn-max-width-wrapper {
    margin-top: 100px;
  }
}

.content-container {
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.content-container .lgn-head h1 {
  text-align: center;
}
.content-container .lgn-head p {
  text-align: center;
}
.content-container .lgn-actions {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
}
.content-container .lgn-actions.lgn-reverse-order {
  flex-direction: row-reverse;
}
.content-container .lgn-actions .fill-space {
  flex: 1;
}
.content-container .lgn-row {
  display: flex;
  align-items: center;
  padding: 0;
}
.content-container .lgn-row.lgn-reverse-order {
  flex-direction: row-reverse;
}
.content-container .lgn-row .fill-space {
  flex: 1;
}
.content-container .lgn-login-profile {
  margin-bottom: 0.5rem;
}
.content-container .lgn-login-profile .lgn-profile-image {
  display: block;
  margin: 0.5rem;
}
.content-container .lgn-login-profile .lgn-names {
  border-width: 1px;
  border-style: solid;
  border-radius: 50vw;
  display: flex;
  align-items: center;
}
.content-container .lgn-login-profile .lgn-names .inline-block {
  display: inline-block;
  margin: 0 2px;
}
.content-container .lgn-login-profile .lgn-names .lgn-displayname {
  margin: 0.5rem 1rem;
}
.content-container .lgn-login-profile .lgn-names .lgn-loginname p {
  margin: 0.5rem 1rem;
}
.content-container .lgn-left-action {
  position: absolute;
  left: 1rem;
  top: -40px;
}
.content-container .lgn-register-options {
  display: flex;
  flex-direction: column;
}
.content-container .lgn-mfa-other {
  display: flex;
  flex-direction: column;
}
.content-container .lgn-mfa-other button {
  width: 100%;
  margin: 0.5rem 0;
}

i {
  font-size: 1.2rem;
}

.lgn-account-selection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lgn-account-selection .lgn-account {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}
.lgn-account-selection .lgn-account .left {
  padding: 0.5rem 1rem;
}
.lgn-account-selection .lgn-account .lgn-names {
  display: block;
  margin: 0.5rem;
  text-align: start;
}
.lgn-account-selection .lgn-account .lgn-names .lgn-displayname {
  font-size: 16px;
  margin: 0.5rem 0;
  margin-bottom: 0;
}
.lgn-account-selection .lgn-account .lgn-names .lgn-loginname {
  font-size: 14px;
  margin: 0;
}
.lgn-account-selection .lgn-account .lgn-names .lgn-session-state {
  margin: 0;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.lgn-account-selection .lgn-account .fill-space {
  flex: 1;
}
.lgn-account-selection .lgn-account i {
  font-size: 1.2rem;
}

.lgn-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 0.05em;
  font-size: 14px;
  outline: none;
  font-weight: bold;
}

.lgn-checkbox {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 24px;
  box-sizing: inherit;
}
.lgn-checkbox input[type=checkbox] {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  opacity: 0;
  z-index: 0;
  box-sizing: inherit;
}
.lgn-checkbox label {
  display: block;
  padding: 0 0 0 30px;
  cursor: pointer;
  box-sizing: inherit;
  font-size: 14px;
  line-height: 28px;
}
.lgn-checkbox label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color;
}
.lgn-checkbox label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.lgn-select, select {
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  color: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.lgn-select::-ms-expand, select::-ms-expand {
  display: none;
}

.lgn-list.lgn-policy, ul.lgn-policy {
  display: flex;
  flex-wrap: wrap;
}
.lgn-list.lgn-policy li, ul.lgn-policy li {
  flex: 1 0 50%;
}
.lgn-list li, ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 4px 0;
  font-style: italic;
}
.lgn-list li i, ul li i {
  margin: 0 0.5rem;
  font-size: 20px;
}
.lgn-list:not(.lgn-no-dots) li::before, ul:not(.lgn-no-dots) li::before {
  content: "•";
  font-weight: bold;
  display: inline-block;
  width: 20px;
  margin-left: -20px;
  font-style: normal;
}
.lgn-list.lgn-no-dots, ul.lgn-no-dots {
  list-style-type: none;
  padding-inline-start: 0;
}

@font-face {
  font-family: Aileron;
  src: url(../../../fonts/ailerons/ailerons.otf) format("opentype");
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraLightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-SemiBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
.lgn-success-label {
  color: #0e6245;
  background: #cbf4c9;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

footer {
  width: 100%;
  box-sizing: border-box;
  background: #00000020;
  min-height: 50px;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
footer .fill-space {
  flex: 1;
}
footer a {
  font-size: 12px;
  margin-left: 1rem;
}
@media only screen and (min-width: 600px) {
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.lgn-header {
  display: block;
  position: relative;
  margin: 1rem auto 0.5rem auto;
  padding: 0;
  width: 100%;
}
.lgn-header .lgn-logo {
  height: 43px;
  width: 160px;
  margin: 0 auto;
}

.lgn-button, .lgn-stroked-button, .lgn-icon-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
}
.lgn-button[disabled], .lgn-stroked-button[disabled], .lgn-icon-button[disabled] {
  cursor: default;
}
.lgn-button::-moz-focus-inner, .lgn-stroked-button::-moz-focus-inner, .lgn-icon-button::-moz-focus-inner {
  border: 0;
}

.lgn-raised-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
}
.lgn-raised-button[disabled] {
  cursor: default;
}
.lgn-raised-button::-moz-focus-inner {
  border: 0;
}

.lgn-icon-button {
  padding: 0;
  min-width: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
}
.lgn-icon-button i, .lgn-icon-button .mat-icon {
  line-height: 24px;
}

.lgn-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px;
}

.lgn-button:focus {
  pointer-events: none;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}

.lgn-button *, .lgn-stroked-button *, .lgn-raised-button * {
  vertical-align: middle;
}

input:not([type=radio]):not([type=checkbox]),
.lgn-input {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
input:not([type=radio]):not([type=checkbox])::placeholder,
.lgn-input::placeholder {
  font-size: 14px;
  font-style: italic;
}

select, .lgn-select {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
select::placeholder, .lgn-select::placeholder {
  font-size: 14px;
  font-style: italic;
}

.lgn-suffix-wrapper {
  position: relative;
}
.lgn-suffix-wrapper [lgnSuffix] {
  position: absolute;
  right: 0.5rem;
  top: 9px;
  height: inherit;
  vertical-align: middle;
}

.lgn-label {
  display: block;
  font-size: 12px;
  transition: color 0.2s ease;
  margin: 0 0 2px 0;
  font-weight: 400;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
.lgn-radio {
  outline: none;
  margin: 16px 0;
  display: inline-block;
}
.lgn-radio.block {
  display: block;
}
.lgn-radio label {
  display: inline-block;
  height: 20px;
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 0;
  cursor: pointer;
  vertical-align: middle;
  padding-top: 2px;
  outline: none;
  font-size: 14px;
  line-height: 16px;
}
.lgn-radio label::before, .lgn-radio label::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: all 0.3s ease;
  transition-property: transform, border-color;
}
.lgn-radio label::before {
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border-width: 2px;
  border-style: solid;
}
.lgn-radio label::after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: scale(0);
}
.lgn-radio input[type=radio] {
  opacity: 0;
  margin: 0;
  width: 0;
  height: 0;
  outline: none;
}
.lgn-radio input[type=radio]:checked + label::before {
  animation: ripple 0.2s linear forwards;
}
.lgn-radio input[type=radio]:checked + label::after {
  transform: scale(1);
}
.lgn-radio input[type=radio]:focus + label {
  opacity: 1;
}
.lgn-radio input[type=radio]:disabled + label {
  cursor: not-allowed;
  font-style: italic;
}
.lgn-radio input[type=radio]:disabled:focus {
  opacity: 0;
}
.lgn-radio *,
.lgn-radio *::before,
.lgn-radio *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  margin: 2px 0;
}
a.block {
  display: block;
}

.lgn-idp {
  display: block;
  margin: 0.5rem 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 1px;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
}
.lgn-idp span.logo {
  height: 46px;
  width: 46px;
}
.lgn-idp span.provider-name {
  line-height: 36px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.lgn-idp.google span.logo {
  height: 46px;
  width: 46px;
  background-image: url("../../../images/idp/google.png");
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.lgn-error {
  display: flex;
  align-items: center;
  outline: none;
}
.lgn-error i {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.lgn-qrcode {
  display: block;
  margin: auto;
  margin: 1rem 0;
  margin-bottom: 1.5rem;
}
.lgn-qrcode svg {
  margin: auto;
  display: block;
  border-radius: 0.5rem;
}

.lgn-max-width-wrapper {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}
@media only screen and (min-width: 600px) {
  .lgn-max-width-wrapper {
    margin-top: 100px;
  }
}

.content-container {
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.content-container .lgn-head h1 {
  text-align: center;
}
.content-container .lgn-head p {
  text-align: center;
}
.content-container .lgn-actions {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
}
.content-container .lgn-actions.lgn-reverse-order {
  flex-direction: row-reverse;
}
.content-container .lgn-actions .fill-space {
  flex: 1;
}
.content-container .lgn-row {
  display: flex;
  align-items: center;
  padding: 0;
}
.content-container .lgn-row.lgn-reverse-order {
  flex-direction: row-reverse;
}
.content-container .lgn-row .fill-space {
  flex: 1;
}
.content-container .lgn-login-profile {
  margin-bottom: 0.5rem;
}
.content-container .lgn-login-profile .lgn-profile-image {
  display: block;
  margin: 0.5rem;
}
.content-container .lgn-login-profile .lgn-names {
  border-width: 1px;
  border-style: solid;
  border-radius: 50vw;
  display: flex;
  align-items: center;
}
.content-container .lgn-login-profile .lgn-names .inline-block {
  display: inline-block;
  margin: 0 2px;
}
.content-container .lgn-login-profile .lgn-names .lgn-displayname {
  margin: 0.5rem 1rem;
}
.content-container .lgn-login-profile .lgn-names .lgn-loginname p {
  margin: 0.5rem 1rem;
}
.content-container .lgn-left-action {
  position: absolute;
  left: 1rem;
  top: -40px;
}
.content-container .lgn-register-options {
  display: flex;
  flex-direction: column;
}
.content-container .lgn-mfa-other {
  display: flex;
  flex-direction: column;
}
.content-container .lgn-mfa-other button {
  width: 100%;
  margin: 0.5rem 0;
}

i {
  font-size: 1.2rem;
}

.lgn-account-selection {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lgn-account-selection .lgn-account {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}
.lgn-account-selection .lgn-account .left {
  padding: 0.5rem 1rem;
}
.lgn-account-selection .lgn-account .lgn-names {
  display: block;
  margin: 0.5rem;
  text-align: start;
}
.lgn-account-selection .lgn-account .lgn-names .lgn-displayname {
  font-size: 16px;
  margin: 0.5rem 0;
  margin-bottom: 0;
}
.lgn-account-selection .lgn-account .lgn-names .lgn-loginname {
  font-size: 14px;
  margin: 0;
}
.lgn-account-selection .lgn-account .lgn-names .lgn-session-state {
  margin: 0;
  font-size: 14px;
  margin-bottom: 0.5rem;
}
.lgn-account-selection .lgn-account .fill-space {
  flex: 1;
}
.lgn-account-selection .lgn-account i {
  font-size: 1.2rem;
}

.lgn-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  box-sizing: border-box;
  letter-spacing: 0.05em;
  font-size: 14px;
  outline: none;
  font-weight: bold;
}

.lgn-checkbox {
  display: inline-block;
  position: relative;
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 24px;
  box-sizing: inherit;
}
.lgn-checkbox input[type=checkbox] {
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  opacity: 0;
  z-index: 0;
  box-sizing: inherit;
}
.lgn-checkbox label {
  display: block;
  padding: 0 0 0 30px;
  cursor: pointer;
  box-sizing: inherit;
  font-size: 14px;
  line-height: 28px;
}
.lgn-checkbox label:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, border-color;
}
.lgn-checkbox label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 6px;
  height: 12px;
  transform: rotate(45deg);
  transition: border-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.lgn-select, select {
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: auto 50%;
  color: white;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.lgn-select::-ms-expand, select::-ms-expand {
  display: none;
}

.lgn-list.lgn-policy, ul.lgn-policy {
  display: flex;
  flex-wrap: wrap;
}
.lgn-list.lgn-policy li, ul.lgn-policy li {
  flex: 1 0 50%;
}
.lgn-list li, ul li {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 4px 0;
  font-style: italic;
}
.lgn-list li i, ul li i {
  margin: 0 0.5rem;
  font-size: 20px;
}
.lgn-list:not(.lgn-no-dots) li::before, ul:not(.lgn-no-dots) li::before {
  content: "•";
  font-weight: bold;
  display: inline-block;
  width: 20px;
  margin-left: -20px;
  font-style: normal;
}
.lgn-list.lgn-no-dots, ul.lgn-no-dots {
  list-style-type: none;
  padding-inline-start: 0;
}

@font-face {
  font-family: Aileron;
  src: url(../../../fonts/ailerons/ailerons.otf) format("opentype");
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraLightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-SemiBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
.lgn-success-label {
  color: #0e6245;
  background: #cbf4c9;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

@font-face {
  font-family: Aileron;
  src: url(../../../fonts/ailerons/ailerons.otf) format("opentype");
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url(../../../fonts/Roboto/Roboto-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 900;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraLight.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ExtraLightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-MediumItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-SemiBoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Raleway;
  src: url(../../../fonts/Raleway/Raleway-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: PTSans;
  src: url(../../../fonts/PT_Sans/PTSans-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
.lgn-max-width-wrapper {
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: block;
}
@media only screen and (min-width: 600px) {
  .lgn-max-width-wrapper {
    margin-top: 100px;
  }
}

.content-container {
  position: relative;
  display: block;
  margin: 0 auto 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}
.content-container .lgn-head h1 {
  text-align: center;
}
.content-container .lgn-head p {
  text-align: center;
}
.content-container .lgn-actions {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  margin-top: 1rem;
}
.content-container .lgn-actions.lgn-reverse-order {
  flex-direction: row-reverse;
}
.content-container .lgn-actions .fill-space {
  flex: 1;
}
.content-container .lgn-row {
  display: flex;
  align-items: center;
  padding: 0;
}
.content-container .lgn-row.lgn-reverse-order {
  flex-direction: row-reverse;
}
.content-container .lgn-row .fill-space {
  flex: 1;
}
.content-container .lgn-login-profile {
  margin-bottom: 0.5rem;
}
.content-container .lgn-login-profile .lgn-profile-image {
  display: block;
  margin: 0.5rem;
}
.content-container .lgn-login-profile .lgn-names {
  border-width: 1px;
  border-style: solid;
  border-radius: 50vw;
  display: flex;
  align-items: center;
}
.content-container .lgn-login-profile .lgn-names .inline-block {
  display: inline-block;
  margin: 0 2px;
}
.content-container .lgn-login-profile .lgn-names .lgn-displayname {
  margin: 0.5rem 1rem;
}
.content-container .lgn-login-profile .lgn-names .lgn-loginname p {
  margin: 0.5rem 1rem;
}
.content-container .lgn-left-action {
  position: absolute;
  left: 1rem;
  top: -40px;
}
.content-container .lgn-register-options {
  display: flex;
  flex-direction: column;
}
.content-container .lgn-mfa-other {
  display: flex;
  flex-direction: column;
}
.content-container .lgn-mfa-other button {
  width: 100%;
  margin: 0.5rem 0;
}

i {
  font-size: 1.2rem;
}

.lgn-register .double-col {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
.lgn-register .double-col .lgn-field {
  margin: 0 0.5rem;
  flex: 1;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
}
.lgn-register .lgn-field {
  margin-bottom: 0.5rem;
}

.lgn-header {
  display: block;
  position: relative;
  margin: 1rem auto 0.5rem auto;
  padding: 0;
  width: 100%;
}
.lgn-header .lgn-logo {
  height: 43px;
  width: 160px;
  margin: 0 auto;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
[shake] {
  animation: shake 0.8s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
}

/*# sourceMappingURL=bundle.css.map */
