footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000020;
  min-height: 50px;
}

.lgn-button, .lgn-stroked-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
}
.lgn-button[disabled], .lgn-stroked-button[disabled] {
  cursor: default;
}
.lgn-button::-moz-focus-inner, .lgn-stroked-button::-moz-focus-inner {
  border: 0;
}

.lgn-raised-button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 6px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
}
.lgn-raised-button[disabled] {
  cursor: default;
}
.lgn-raised-button::-moz-focus-inner {
  border: 0;
}

.lgn-stroked-button {
  border: 1px solid currentColor;
  padding: 0 15px;
  line-height: 34px;
}

.lgn-button:focus {
  pointer-events: none;
  transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1), background-color 200ms cubic-bezier(0.35, 0, 0.25, 1);
}

.lgn-button *, .lgn-stroked-button *, .lgn-raised-button * {
  vertical-align: middle;
}

input, .lgn-input {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
input::placeholder, .lgn-input::placeholder {
  font-size: 14px;
  font-style: italic;
}

select, .lgn-select {
  display: block;
  box-sizing: border-box;
  padding-inline-start: 10px;
  outline: none;
  display: inline-block;
  text-align: start;
  cursor: text;
  border-radius: 4px;
  transform: all 0.2 linear;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  height: 40px;
  padding: 10px;
  transition: border-color 0.2s ease-in-out;
  width: 100%;
  margin: 0 0 2px 0;
}
select::placeholder, .lgn-select::placeholder {
  font-size: 14px;
  font-style: italic;
}

label, .lgn-label {
  display: block;
  font-size: 12px;
  transition: color 0.2s ease;
  margin: 0 0 2px 0;
  font-weight: 400;
}

@font-face {
  font-family: Aileron;
  src: url(../../../fonts/ailerons/ailerons.otf) format("opentype");
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Thin.ttf) format("truetype");
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-ThinItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 100;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-LightItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Italic.ttf) format("truetype");
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BoldItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-Black.ttf) format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: Lato;
  src: url(../../../fonts/lato/Lato-BlackItalic.ttf) format("truetype");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(../../../fonts/material/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../../fonts/material/MaterialIcons-Regular.woff2) format("woff2"), url(../../../fonts/material/MaterialIcons-Regular.woff) format("woff"), url(../../../fonts/material/MaterialIcons-Regular.ttf) format("truetype");
}
h1, .lgn-headline, .lgn-typography h1 {
  font: 400 24px/32px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

h2, .lgn-title, .lgn-typography h2 {
  font: 500 20px/32px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

h3, .lgn-subheading-2, .lgn-typography h3 {
  font: 400 16px/28px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

h4, .lgn-subheading-1, .lgn-typography h4 {
  font: 400 15px/24px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

.lgn-body-strong, .lgn-body-2 {
  font: 500 14px/24px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: normal;
}

p, .lgn-body, .lgn-body-1, .lgn-typography {
  font: 400 14px/20px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: normal;
}
p p, .lgn-body p, .lgn-body-1 p, .lgn-typography p {
  margin: 0 0 12px;
}

small .lgn-small, .lgn-caption {
  font: 400 12px/20px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: normal;
}

label, .lgn-label, .lgn-typography .lgn-label, .lgn-typography label {
  font: 400 12px/20px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: normal;
  margin: 0 0 2px 0;
}

.lgn-display-4, .lgn-typography .lgn-display-4 {
  font: 300 112px/112px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: -0.05em;
  margin: 0 0 56px;
}

.lgn-display-3, .lgn-typography .lgn-display-3 {
  font: 400 56px/56px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: -0.02em;
  margin: 0 0 64px;
}

.lgn-display-2, .lgn-typography .lgn-display-2 {
  font: 400 45px/48px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: -0.005em;
  margin: 0 0 64px;
}

.lgn-display-1, .lgn-typography .lgn-display-1 {
  font: 400 34px/40px Lato, -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: normal;
  margin: 0 0 64px;
}

.lgn-app-background {
  background-color: #212224;
  color: white;
}

.lgn-theme-loaded-marker {
  display: none;
}

.lgn-button, .lgn-stroked-button {
  color: inherit;
  background: transparent;
}
.lgn-button.lgn-primary, .lgn-stroked-button.lgn-primary {
  color: #5282c1;
}
.lgn-button.lgn-accent, .lgn-stroked-button.lgn-accent {
  color: #56a392;
}
.lgn-button.lgn-warn, .lgn-stroked-button.lgn-warn {
  color: #f44336;
}
.lgn-button.lgn-primary[disabled], .lgn-button.lgn-accent[disabled], .lgn-button.lgn-warn[disabled], .lgn-button[disabled][disabled], .lgn-stroked-button.lgn-primary[disabled], .lgn-stroked-button.lgn-accent[disabled], .lgn-stroked-button.lgn-warn[disabled], .lgn-stroked-button[disabled][disabled] {
  color: rgba(255, 255, 255, 0.3);
}
.lgn-button.lgn-primary:focus, .lgn-stroked-button.lgn-primary:focus {
  background-color: #5282c1;
}
.lgn-button.lgn-accent:focus, .lgn-stroked-button.lgn-accent:focus {
  background-color: #56a392;
}
.lgn-button.lgn-warn:focus, .lgn-stroked-button.lgn-warn:focus {
  background-color: #f44336;
}

.lgn-button:focus, .lgn-stroked-button:focus {
  background: white;
}

.lgn-stroked-button:not([disabled]) {
  border-color: rgba(255, 255, 255, 0.12);
}

.lgn-button.lgn-primary {
  color: white;
}
.lgn-button.lgn-accent {
  color: white;
}
.lgn-button.lgn-warn {
  color: white;
}
.lgn-button.lgn-primary[disabled], .lgn-button.lgn-accent[disabled], .lgn-button.lgn-warn[disabled], .lgn-button[disabled][disabled] {
  color: rgba(255, 255, 255, 0.3);
}
.lgn-button:hover {
  background-color: rgba(82, 130, 193, 0.1);
}
.lgn-button:focus.lgn-primary, .lgn-button:active.lgn-primary {
  background-color: #5282c1;
}
.lgn-button:focus.lgn-accent, .lgn-button:active.lgn-accent {
  background-color: #56a392;
}
.lgn-button:focus.lgn-warn, .lgn-button:active.lgn-warn {
  background-color: #f44336;
}
.lgn-button:focus.lgn-primary[disabled], .lgn-button:focus.lgn-accent[disabled], .lgn-button:focus.lgn-warn[disabled], .lgn-button:focus[disabled][disabled], .lgn-button:active.lgn-primary[disabled], .lgn-button:active.lgn-accent[disabled], .lgn-button:active.lgn-warn[disabled], .lgn-button:active[disabled][disabled] {
  background-color: rgba(255, 255, 255, 0.12);
}

.lgn-raised-button {
  color: white;
  background-color: #424242;
}
.lgn-raised-button.lgn-primary {
  color: white;
}
.lgn-raised-button.lgn-accent {
  color: white;
}
.lgn-raised-button.lgn-warn {
  color: white;
}
.lgn-raised-button.lgn-primary[disabled], .lgn-raised-button.lgn-accent[disabled], .lgn-raised-button.lgn-warn[disabled], .lgn-raised-button[disabled][disabled] {
  color: rgba(255, 255, 255, 0.3);
}
.lgn-raised-button.lgn-primary {
  background-color: #5282c1;
}
.lgn-raised-button.lgn-accent {
  background-color: #56a392;
}
.lgn-raised-button.lgn-warn {
  background-color: #f44336;
}
.lgn-raised-button.lgn-primary[disabled], .lgn-raised-button.lgn-accent[disabled], .lgn-raised-button.lgn-warn[disabled], .lgn-raised-button[disabled][disabled] {
  background-color: rgba(255, 255, 255, 0.12);
}

input:not([disabled]), .lgn-input:not([disabled]),
select:not([disabled]), .lgn-select:not([disabled]) {
  border-color: #403e3e;
}

input, .lgn-input,
select, .lgn-select {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
input:hover, .lgn-input:hover,
select:hover, .lgn-select:hover {
  border-color: #aeafb1;
}
input:active, .lgn-input:active,
select:active, .lgn-select:active {
  border-color: #5282c1;
}
input:focus, .lgn-input:focus,
select:focus, .lgn-select:focus {
  border-color: #5282c1;
}

input::placeholder,
.lgn-input::placeholder,
select::placeholder,
.lgn-select::placeholder {
  color: #757575;
}

label, .lgn-label {
  color: #757575;
}

footer {
  background-color: rgba(0, 0, 0, 0.2);
}

.lgn-dark-theme .lgn-app-background, .lgn-dark-theme.lgn-app-background {
  background-color: #212224;
  color: white;
}
.lgn-theme-loaded-marker {
  display: none;
}

.lgn-dark-theme .lgn-button, .lgn-dark-theme .lgn-stroked-button {
  color: inherit;
  background: transparent;
}
.lgn-dark-theme .lgn-button.lgn-primary, .lgn-dark-theme .lgn-stroked-button.lgn-primary {
  color: #5282c1;
}
.lgn-dark-theme .lgn-button.lgn-accent, .lgn-dark-theme .lgn-stroked-button.lgn-accent {
  color: #56a392;
}
.lgn-dark-theme .lgn-button.lgn-warn, .lgn-dark-theme .lgn-stroked-button.lgn-warn {
  color: #f44336;
}
.lgn-dark-theme .lgn-button.lgn-primary[disabled], .lgn-dark-theme .lgn-button.lgn-accent[disabled], .lgn-dark-theme .lgn-button.lgn-warn[disabled], .lgn-dark-theme .lgn-button[disabled][disabled], .lgn-dark-theme .lgn-stroked-button.lgn-primary[disabled], .lgn-dark-theme .lgn-stroked-button.lgn-accent[disabled], .lgn-dark-theme .lgn-stroked-button.lgn-warn[disabled], .lgn-dark-theme .lgn-stroked-button[disabled][disabled] {
  color: rgba(255, 255, 255, 0.3);
}
.lgn-dark-theme .lgn-button.lgn-primary:focus, .lgn-dark-theme .lgn-stroked-button.lgn-primary:focus {
  background-color: #5282c1;
}
.lgn-dark-theme .lgn-button.lgn-accent:focus, .lgn-dark-theme .lgn-stroked-button.lgn-accent:focus {
  background-color: #56a392;
}
.lgn-dark-theme .lgn-button.lgn-warn:focus, .lgn-dark-theme .lgn-stroked-button.lgn-warn:focus {
  background-color: #f44336;
}
.lgn-dark-theme .lgn-button:focus, .lgn-dark-theme .lgn-stroked-button:focus {
  background: white;
}
.lgn-dark-theme .lgn-stroked-button:not([disabled]) {
  border-color: rgba(255, 255, 255, 0.12);
}
.lgn-dark-theme .lgn-button.lgn-primary {
  color: white;
}
.lgn-dark-theme .lgn-button.lgn-accent {
  color: white;
}
.lgn-dark-theme .lgn-button.lgn-warn {
  color: white;
}
.lgn-dark-theme .lgn-button.lgn-primary[disabled], .lgn-dark-theme .lgn-button.lgn-accent[disabled], .lgn-dark-theme .lgn-button.lgn-warn[disabled], .lgn-dark-theme .lgn-button[disabled][disabled] {
  color: rgba(255, 255, 255, 0.3);
}
.lgn-dark-theme .lgn-button:hover {
  background-color: rgba(82, 130, 193, 0.1);
}
.lgn-dark-theme .lgn-button:focus.lgn-primary, .lgn-dark-theme .lgn-button:active.lgn-primary {
  background-color: #5282c1;
}
.lgn-dark-theme .lgn-button:focus.lgn-accent, .lgn-dark-theme .lgn-button:active.lgn-accent {
  background-color: #56a392;
}
.lgn-dark-theme .lgn-button:focus.lgn-warn, .lgn-dark-theme .lgn-button:active.lgn-warn {
  background-color: #f44336;
}
.lgn-dark-theme .lgn-button:focus.lgn-primary[disabled], .lgn-dark-theme .lgn-button:focus.lgn-accent[disabled], .lgn-dark-theme .lgn-button:focus.lgn-warn[disabled], .lgn-dark-theme .lgn-button:focus[disabled][disabled], .lgn-dark-theme .lgn-button:active.lgn-primary[disabled], .lgn-dark-theme .lgn-button:active.lgn-accent[disabled], .lgn-dark-theme .lgn-button:active.lgn-warn[disabled], .lgn-dark-theme .lgn-button:active[disabled][disabled] {
  background-color: rgba(255, 255, 255, 0.12);
}
.lgn-dark-theme .lgn-raised-button {
  color: white;
  background-color: #424242;
}
.lgn-dark-theme .lgn-raised-button.lgn-primary {
  color: white;
}
.lgn-dark-theme .lgn-raised-button.lgn-accent {
  color: white;
}
.lgn-dark-theme .lgn-raised-button.lgn-warn {
  color: white;
}
.lgn-dark-theme .lgn-raised-button.lgn-primary[disabled], .lgn-dark-theme .lgn-raised-button.lgn-accent[disabled], .lgn-dark-theme .lgn-raised-button.lgn-warn[disabled], .lgn-dark-theme .lgn-raised-button[disabled][disabled] {
  color: rgba(255, 255, 255, 0.3);
}
.lgn-dark-theme .lgn-raised-button.lgn-primary {
  background-color: #5282c1;
}
.lgn-dark-theme .lgn-raised-button.lgn-accent {
  background-color: #56a392;
}
.lgn-dark-theme .lgn-raised-button.lgn-warn {
  background-color: #f44336;
}
.lgn-dark-theme .lgn-raised-button.lgn-primary[disabled], .lgn-dark-theme .lgn-raised-button.lgn-accent[disabled], .lgn-dark-theme .lgn-raised-button.lgn-warn[disabled], .lgn-dark-theme .lgn-raised-button[disabled][disabled] {
  background-color: rgba(255, 255, 255, 0.12);
}
.lgn-dark-theme input:not([disabled]), .lgn-dark-theme .lgn-input:not([disabled]),
.lgn-dark-theme select:not([disabled]), .lgn-dark-theme .lgn-select:not([disabled]) {
  border-color: #403e3e;
}
.lgn-dark-theme input, .lgn-dark-theme .lgn-input,
.lgn-dark-theme select, .lgn-dark-theme .lgn-select {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
.lgn-dark-theme input:hover, .lgn-dark-theme .lgn-input:hover,
.lgn-dark-theme select:hover, .lgn-dark-theme .lgn-select:hover {
  border-color: #aeafb1;
}
.lgn-dark-theme input:active, .lgn-dark-theme .lgn-input:active,
.lgn-dark-theme select:active, .lgn-dark-theme .lgn-select:active {
  border-color: #5282c1;
}
.lgn-dark-theme input:focus, .lgn-dark-theme .lgn-input:focus,
.lgn-dark-theme select:focus, .lgn-dark-theme .lgn-select:focus {
  border-color: #5282c1;
}
.lgn-dark-theme input::placeholder,
.lgn-dark-theme .lgn-input::placeholder,
.lgn-dark-theme select::placeholder,
.lgn-dark-theme .lgn-select::placeholder {
  color: #757575;
}
.lgn-dark-theme label, .lgn-dark-theme .lgn-label {
  color: #757575;
}
.lgn-dark-theme footer {
  background-color: rgba(0, 0, 0, 0.2);
}

.lgn-light-theme .lgn-app-background, .lgn-light-theme.lgn-app-background {
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.87);
}
.lgn-theme-loaded-marker {
  display: none;
}

.lgn-light-theme .lgn-button, .lgn-light-theme .lgn-stroked-button {
  color: inherit;
  background: transparent;
}
.lgn-light-theme .lgn-button.lgn-primary, .lgn-light-theme .lgn-stroked-button.lgn-primary {
  color: #5469d4;
}
.lgn-light-theme .lgn-button.lgn-accent, .lgn-light-theme .lgn-stroked-button.lgn-accent {
  color: #56a392;
}
.lgn-light-theme .lgn-button.lgn-warn, .lgn-light-theme .lgn-stroked-button.lgn-warn {
  color: #f44336;
}
.lgn-light-theme .lgn-button.lgn-primary[disabled], .lgn-light-theme .lgn-button.lgn-accent[disabled], .lgn-light-theme .lgn-button.lgn-warn[disabled], .lgn-light-theme .lgn-button[disabled][disabled], .lgn-light-theme .lgn-stroked-button.lgn-primary[disabled], .lgn-light-theme .lgn-stroked-button.lgn-accent[disabled], .lgn-light-theme .lgn-stroked-button.lgn-warn[disabled], .lgn-light-theme .lgn-stroked-button[disabled][disabled] {
  color: rgba(0, 0, 0, 0.26);
}
.lgn-light-theme .lgn-button.lgn-primary:focus, .lgn-light-theme .lgn-stroked-button.lgn-primary:focus {
  background-color: #5469d4;
}
.lgn-light-theme .lgn-button.lgn-accent:focus, .lgn-light-theme .lgn-stroked-button.lgn-accent:focus {
  background-color: #56a392;
}
.lgn-light-theme .lgn-button.lgn-warn:focus, .lgn-light-theme .lgn-stroked-button.lgn-warn:focus {
  background-color: #f44336;
}
.lgn-light-theme .lgn-button:focus, .lgn-light-theme .lgn-stroked-button:focus {
  background: black;
}
.lgn-light-theme .lgn-stroked-button:not([disabled]) {
  border-color: rgba(0, 0, 0, 0.12);
}
.lgn-light-theme .lgn-button.lgn-primary {
  color: white;
}
.lgn-light-theme .lgn-button.lgn-accent {
  color: white;
}
.lgn-light-theme .lgn-button.lgn-warn {
  color: white;
}
.lgn-light-theme .lgn-button.lgn-primary[disabled], .lgn-light-theme .lgn-button.lgn-accent[disabled], .lgn-light-theme .lgn-button.lgn-warn[disabled], .lgn-light-theme .lgn-button[disabled][disabled] {
  color: rgba(0, 0, 0, 0.26);
}
.lgn-light-theme .lgn-button:hover {
  background-color: rgba(84, 105, 212, 0.1);
}
.lgn-light-theme .lgn-button:focus.lgn-primary, .lgn-light-theme .lgn-button:active.lgn-primary {
  background-color: #5469d4;
}
.lgn-light-theme .lgn-button:focus.lgn-accent, .lgn-light-theme .lgn-button:active.lgn-accent {
  background-color: #56a392;
}
.lgn-light-theme .lgn-button:focus.lgn-warn, .lgn-light-theme .lgn-button:active.lgn-warn {
  background-color: #f44336;
}
.lgn-light-theme .lgn-button:focus.lgn-primary[disabled], .lgn-light-theme .lgn-button:focus.lgn-accent[disabled], .lgn-light-theme .lgn-button:focus.lgn-warn[disabled], .lgn-light-theme .lgn-button:focus[disabled][disabled], .lgn-light-theme .lgn-button:active.lgn-primary[disabled], .lgn-light-theme .lgn-button:active.lgn-accent[disabled], .lgn-light-theme .lgn-button:active.lgn-warn[disabled], .lgn-light-theme .lgn-button:active[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.12);
}
.lgn-light-theme .lgn-raised-button {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
}
.lgn-light-theme .lgn-raised-button.lgn-primary {
  color: white;
}
.lgn-light-theme .lgn-raised-button.lgn-accent {
  color: white;
}
.lgn-light-theme .lgn-raised-button.lgn-warn {
  color: white;
}
.lgn-light-theme .lgn-raised-button.lgn-primary[disabled], .lgn-light-theme .lgn-raised-button.lgn-accent[disabled], .lgn-light-theme .lgn-raised-button.lgn-warn[disabled], .lgn-light-theme .lgn-raised-button[disabled][disabled] {
  color: rgba(0, 0, 0, 0.26);
}
.lgn-light-theme .lgn-raised-button.lgn-primary {
  background-color: #5469d4;
}
.lgn-light-theme .lgn-raised-button.lgn-accent {
  background-color: #56a392;
}
.lgn-light-theme .lgn-raised-button.lgn-warn {
  background-color: #f44336;
}
.lgn-light-theme .lgn-raised-button.lgn-primary[disabled], .lgn-light-theme .lgn-raised-button.lgn-accent[disabled], .lgn-light-theme .lgn-raised-button.lgn-warn[disabled], .lgn-light-theme .lgn-raised-button[disabled][disabled] {
  background-color: rgba(0, 0, 0, 0.12);
}
.lgn-light-theme input:not([disabled]), .lgn-light-theme .lgn-input:not([disabled]),
.lgn-light-theme select:not([disabled]), .lgn-light-theme .lgn-select:not([disabled]) {
  border-color: rgba(0, 0, 0, 0.2509803922);
}
.lgn-light-theme input, .lgn-light-theme .lgn-input,
.lgn-light-theme select, .lgn-light-theme .lgn-select {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgba(250, 250, 250, 0.3137254902);
}
.lgn-light-theme input:hover, .lgn-light-theme .lgn-input:hover,
.lgn-light-theme select:hover, .lgn-light-theme .lgn-select:hover {
  border-color: #1a1b1b;
}
.lgn-light-theme input:active, .lgn-light-theme .lgn-input:active,
.lgn-light-theme select:active, .lgn-light-theme .lgn-select:active {
  border-color: #5469d4;
}
.lgn-light-theme input:focus, .lgn-light-theme .lgn-input:focus,
.lgn-light-theme select:focus, .lgn-light-theme .lgn-select:focus {
  border-color: #5469d4;
}
.lgn-light-theme input::placeholder,
.lgn-light-theme .lgn-input::placeholder,
.lgn-light-theme select::placeholder,
.lgn-light-theme .lgn-select::placeholder {
  color: #757575;
}
.lgn-light-theme label, .lgn-light-theme .lgn-label {
  color: #757575;
}
.lgn-light-theme footer {
  background-color: rgba(250, 250, 250, 0.3137254902);
}

/*# sourceMappingURL=zitadel.css.map */
