
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -.5rem;

  .formfield {
    margin: 0 .5rem;
    width: 100%;
    max-width: 400px;
  }

  &.center {
    align-items: center;
  }
}

.validation-col {
  display: flex wrap;
  padding: 1rem 0;
  width: 100%;

  &.between {
    margin: 0 .5rem;
  }

  .val {
    display: flex;
    align-items: center;
    flex-basis: 50%;
    padding: 2px 0;

    span {
      font-size: 14px;
      color: #8795a1;
    }

    i {
      margin-right: 1rem;
      font-size: 1.3rem;

      &.green {
        color: #56a392;
      }

      &.red {
        color: #f44336;
      }
    }
  }
}

.submit-button {
  margin-top: 100px;
  display: block;
  padding: .5rem 4rem;
  border-radius: .5rem;
}

.mat-error {
  display: block;
}
