.container {
  display: flex;
  padding-bottom: 3rem;

  .left {
    width: 100px;
    display: flex;
    padding: 1rem;
    justify-content: center;

    a {
      margin-top: .2rem;
    }
  }

  .right {
    flex: 1;
    padding-top: 1rem;

    .head {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ffffff20;
      margin-bottom: 2rem;
      flex-wrap: wrap;

      a {
        display: block;
      }

      h1 {
        font-size: 2rem;
        margin-top: .2rem;
      }

      .desc {
        width: 100%;
        display: block;
        font-size: .9rem;
        color: #8795a1;
      }
    }
  }
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -.5rem;

  .formfield {
    margin: 0 .5rem;
  }

  &.center {
    align-items: center;
  }
}

.submit-button {
  margin-top: 100px;
  display: block;
  padding: .5rem 4rem;
  border-radius: .5rem;
}
