
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -.5rem;

  .formfield {
    margin: 0 .5rem;
    width: 100%;
    max-width: 400px;
  }

  &.center {
    align-items: center;
  }
}

.validation {
  &.between {
    margin: 0 .5rem;
  }
}

.submit-button {
  margin-top: 100px;
  display: block;
  padding: .5rem 4rem;
}

.cnsl-error {
  display: block;
}
