$lgn-container-max-width: 350px;
$lgn-container-padding: 20px;
$lgn-container-margin: 0px auto 50px auto;

.content-container {
    display: block;
    margin: $lgn-container-margin;
    max-width: $lgn-container-max-width;
    padding: $lgn-container-padding;
    width: 100%;

    .lgn-head {
        h1 {
            text-align: center;
        }
    }

    .lgn-actions {
        display: flex;
        align-items: center;
        padding: .5rem 0;

        .fill-space {
            flex: 1;
        }
    }

    .lgn-login-profile {
        .lgn-profile-image {
            display: block;
            margin: .5rem;
        }
        .lgn-names {
            border-width: 1px;
            border-style: solid;
            border-radius: 50vw;

            .lgn-displayname{
                margin: .5rem 1rem;
            }
            .lgn-loginname{
                p {
                    margin: .5rem 1rem;
                }
            }
        }
    }
}

i {
    font-size: 1.2rem;
}
