$lgn-container-max-width: 350px;
$lgn-container-padding: 20px;
$lgn-container-margin: 0px auto 50px auto;

.content-container {
    display: block;
    margin: $lgn-container-margin;
    max-width: $lgn-container-max-width;
    padding: $lgn-container-padding;
    width: 100%;
}