$lgn-container-max-width: 380px;
$lgn-container-padding: 20px;
$lgn-container-margin: 0px auto 50px auto;

.content-container {
    position: relative; // used to position a button element relative to the left upper corner of the content wrapper
    display: block;
    margin: $lgn-container-margin;
    max-width: $lgn-container-max-width;
    padding: $lgn-container-padding;
    width: 100%;

    .lgn-head {
        h1 {
            text-align: center;
        }
    }

    .lgn-actions {
        display: flex;
        align-items: center;
        padding: .5rem 0;

        // this is used to reverse the submit button order. 
        //The form submits the htmls first element thus for displaying the desired button on the right side, items have to be reversed.
        &.lgn-reverse-order {
            flex-direction: row-reverse;
        }

        .fill-space {
            flex: 1;
        }
    }

    .lgn-login-profile {
        .lgn-profile-image {
            display: block;
            margin: .5rem;
        }
        .lgn-names {
            border-width: 1px;
            border-style: solid;
            border-radius: 50vw;
            display: flex;
            align-items: center;

            .inline-block {
                display: inline-block;
                margin: 0 2px;
            }

            .lgn-displayname{
                margin: .5rem 1rem;
            }
            .lgn-loginname{
                p {
                    margin: .5rem 1rem;
                }
            }
        }
    }

    .lgn-left-action {
        position: absolute;
        left: 1rem;
        top: calc(-45px);
    }

    ul li {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 10px 0;
        font-style: italic;

        i {
            margin-right: 1rem;
            font-size: 20px;
        }
    }

    ul li::before {
        content: "\2022";
        // color: var(--accent);
        font-weight: bold;
        display: inline-block;
        width: 20px;
        margin-left: -20px;
        font-style: normal;
    }
}

i {
    font-size: 1.2rem;
}
