$lgn-container-max-width: 400px;
$lgn-container-padding: 20px;
$lgn-container-margin: 0 auto 0 auto;
$lgn-container-top-offset: 100px;
$lgn-container-bottom-margin: 50px;

.lgn-max-width-wrapper {
    max-width: $lgn-container-max-width;
    margin: auto;
    margin-top: 50px;
    margin-bottom: $lgn-container-bottom-margin;
    display: block;

    @media only screen and (min-width: 600px) {
        margin-top: $lgn-container-top-offset;
    }

    // --borderWidth: 3px;
    // background: #1D1F20;
    // position: relative;
    // padding-top: 2px;
    // border-radius: var(--borderWidth);

    // &:after {
    //     content: '';
    //     position: absolute;
    //     top: calc(-1 * var(--borderWidth));
    //     left: calc(-1 * var(--borderWidth));
    //     height: calc(100% + var(--borderWidth) * 2);
    //     width: calc(100% + var(--borderWidth) * 2);
    //     background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    //     border-radius: calc(2 * var(--borderWidth));
    //     z-index: -1;
    //     animation: animatedgradient 3s ease alternate infinite;
    //     background-size: 300% 300%;
    // }
}

.content-container {
    position: relative; // used to position a button element relative to the left upper corner of the content wrapper
    display: block;
    margin: $lgn-container-margin;
    padding: $lgn-container-padding;
    width: 100%;
    box-sizing: border-box;

    .lgn-head {
        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    .lgn-actions {
        display: flex;
        align-items: center;
        padding: .5rem 0;

        // this is used to reverse the submit button order. 
        //The form submits the htmls first element thus for displaying the desired button on the right side, items have to be reversed.
        &.lgn-reverse-order {
            flex-direction: row-reverse;
        }

        .fill-space {
            flex: 1;
        }
    }

    .lgn-login-profile {
        margin-bottom: .5rem;
        
        .lgn-profile-image {
            display: block;
            margin: .5rem;
        }
        .lgn-names {
            border-width: 1px;
            border-style: solid;
            border-radius: 50vw;
            display: flex;
            align-items: center;

            .inline-block {
                display: inline-block;
                margin: 0 2px;
            }

            .lgn-displayname{
                margin: .5rem 1rem;
            }
            .lgn-loginname{
                p {
                    margin: .5rem 1rem;
                }
            }
        }
    }

    .lgn-left-action {
        position: absolute;
        left: 1rem;
        top: calc(-45px);
    }

    ul li {
        display: flex;
        align-items: center;
        list-style: none;
        margin: 10px 0;
        font-style: italic;

        i {
            margin-right: 1rem;
            font-size: 20px;
        }
    }

    ul li::before {
        content: "\2022";
        // color: var(--accent);
        font-weight: bold;
        display: inline-block;
        width: 20px;
        margin-left: -20px;
        font-style: normal;
    }
}

i {
    font-size: 1.2rem;
}
