<form [formGroup]="profileForm" *ngIf="profileForm" (ngSubmit)="submitForm()">
  <div class="user-top-content">
    <div class="user-form-content">
      <button
        [disabled]="user && disabled"
        class="camera-wrapper"
        type="button"
        (click)="showEditImage ? openUploadDialog() : null"
      >
        <div class="i-wrapper" *ngIf="showEditImage">
          <i class="las la-camera"></i>
        </div>
        <cnsl-avatar
          *ngIf="user && user.profile"
          class="avatar"
          [name]="user.profile.displayName"
          [avatarUrl]="user.profile.avatarUrl || ''"
          [forColor]="preferredLoginName"
          [size]="80"
        >
        </cnsl-avatar>
      </button>

      <div class="usernamediv">
        <cnsl-form-field class="formfield">
          <cnsl-label>{{ 'USER.PROFILE.USERNAME' | translate }}</cnsl-label>
          <input cnslInput formControlName="userName" />
        </cnsl-form-field>
        <button [disabled]="user && disabled" type="button" mat-stroked-button class="edit" (click)="changeUsername()">
          {{ 'USER.PROFILE.CHANGEUSERNAME' | translate }}
        </button>
      </div>
    </div>
    <div class="user-grid">
      <cnsl-form-field class="formfield">
        <cnsl-label>{{ 'USER.PROFILE.FIRSTNAME' | translate }}</cnsl-label>
        <input cnslInput formControlName="firstName" />
      </cnsl-form-field>
      <cnsl-form-field class="formfield">
        <cnsl-label>{{ 'USER.PROFILE.LASTNAME' | translate }}</cnsl-label>
        <input cnslInput formControlName="lastName" />
      </cnsl-form-field>
      <cnsl-form-field class="formfield">
        <cnsl-label>{{ 'USER.PROFILE.NICKNAME' | translate }}</cnsl-label>
        <input cnslInput formControlName="nickName" />
      </cnsl-form-field>
      <cnsl-form-field class="formfield">
        <cnsl-label>{{ 'USER.PROFILE.DISPLAYNAME' | translate }}</cnsl-label>
        <input cnslInput formControlName="displayName" />
      </cnsl-form-field>
      <cnsl-form-field class="formfield">
        <cnsl-label>{{ 'USER.PROFILE.GENDER' | translate }}</cnsl-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender">
            {{ 'GENDERS.' + gender | translate }}
          </mat-option>
        </mat-select>
      </cnsl-form-field>
      <cnsl-form-field class="formfield">
        <cnsl-label>{{ 'USER.PROFILE.PREFERRED_LANGUAGE' | translate }}</cnsl-label>
        <mat-select formControlName="preferredLanguage">
          <mat-option *ngFor="let language of languages" [value]="language">
            {{ 'LANGUAGES.' + language | translate }}
          </mat-option>
        </mat-select>
      </cnsl-form-field>
    </div>
  </div>
  <div class="btn-container">
    <button [disabled]="disabled" class="submit-button" type="submit" color="primary" mat-raised-button>
      {{ 'ACTIONS.SAVE' | translate }}
    </button>
  </div>
</form>
