<form>
  <cnsl-form-field>
    <cnsl-label>{{ 'PROJECT.GRANT.CREATE.SEL_ORG_FORMFIELD' | translate }}</cnsl-label>
    <input
      cnslInput
      type="text"
      class="max-w-125"
      [matAutocomplete]="auto"
      [formControl]="searchControl"
      name="name"
      data-e2e="add-org-input"
      #input
      (keyup)="searchSignal.set(input.value)"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayOrg"
      [requireSelection]="true"
      [autoActiveFirstOption]="true"
      (optionSelected)="searchControl.value && selectionChanged.emit(searchControl.value)"
    >
      <div cnslScrollable class="overflow-y-scroll max-h-full" (scrollPosition)="onScroll($event)">
        @for (page of query.data()?.pages; track $index) {
          @for (org of page.result; track org.id) {
            <mat-option
              class="max-w-full relative"
              [value]="org"
              data-e2e="org-option"
              [matTooltip]="name.scrollWidth > name.clientWidth ? org.name : ''"
            >
              <div
                class="absolute inset-0 pl-4 pr-4 flex h-full w-full min-w-0 flex-col justify-center"
                data-e2e="org-option"
              >
                <span #name class="block truncate">{{ org.name }}</span>
                <span class="block truncate text-[13px] text-gray-500">{{ org.primaryDomain }}</span>
              </div>
            </mat-option>
          }
        }
      </div>
    </mat-autocomplete>
  </cnsl-form-field>
</form>
