<form>
  <cnsl-form-field>
    <cnsl-label>{{ 'PROJECT.GRANT.CREATE.SEL_ORG_FORMFIELD' | translate }}</cnsl-label>
    <span class="tw:relative">
      <input
        cnslInput
        type="text"
        class="tw:max-w-125"
        [class.tw:pr-9]="query.isFetching()"
        [matAutocomplete]="auto"
        [formControl]="searchControl"
        name="name"
        data-e2e="add-org-input"
        #input
        (keyup)="searchSignal.set(input.value)"
      />
      @if (query.isFetching()) {
        <span class="tw:absolute tw:inset-2 tw:flex tw:items-center tw:justify-end">
          <mat-spinner diameter="25" color="primary"></mat-spinner>
        </span>
      }
    </span>
    <mat-autocomplete
      #auto="matAutocomplete"
      [displayWith]="displayOrg"
      [requireSelection]="true"
      [autoActiveFirstOption]="true"
      (optionSelected)="searchControl.value && selectionChanged.emit(searchControl.value)"
    >
      <div cnslScrollable class="tw:overflow-y-scroll tw:max-h-full" (scrollPosition)="onScroll($event)">
        @for (page of query.data()?.pages; track $index) {
          @for (org of page.result; track org.id) {
            <mat-option
              class="tw:max-w-full tw:relative"
              [value]="org"
              data-e2e="org-option"
              [matTooltip]="org.name"
              (mouseenter)="showTooltip.set(name.scrollWidth > name.clientWidth)"
              (mouseleave)="showTooltip.set(false)"
              [matTooltipDisabled]="!showTooltip()"
            >
              <div
                class="tw:absolute tw:inset-0 tw:flex tw:h-full tw:w-full tw:min-w-0 tw:flex-col tw:justify-center"
                data-e2e="org-option"
              >
                <span #name class="tw:block tw:mr-4 tw:ml-4 tw:truncate">{{ org.name }}</span>
                <span class="tw:block tw:mr-4 tw:ml-4 tw:truncate tw:text-[13px] tw:text-gray-500">{{
                  org.primaryDomain
                }}</span>
              </div>
            </mat-option>
          }
        }
      </div>
    </mat-autocomplete>
  </cnsl-form-field>
</form>
