<div class="filter-button-wrapper">
  <button
    mat-stroked-button
    cdkOverlayOrigin
    #triggereventfilter="cdkOverlayOrigin"
    matRipple
    id="eventfilterbutton"
    class="cnsl-action-button"
    (click)="showFilter = !showFilter"
  >
    <i class="las la-filter no-margin"></i>
    <span>{{ 'ACTIONS.FILTER' | translate }}</span>
    <cnsl-action-keys [doNotUseContrast]="true" [type]="ActionKeysType.FILTER" (actionTriggered)="showFilter = !showFilter">
    </cnsl-action-keys>
  </button>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="triggereventfilter"
    [flexibleDimensions]="true"
    [lockPosition]="true"
    [cdkConnectedOverlayOffsetY]="10"
    [cdkConnectedOverlayHasBackdrop]="true"
    [cdkConnectedOverlayPositions]="positions"
    cdkConnectedOverlayBackdropClass="transparent-backdrop"
    [cdkConnectedOverlayOpen]="showFilter"
    (backdropClick)="showFilter = false"
    (detach)="showFilter = false"
  >
    <div class="filter-events-wrapper">
      <div class="filter-events-top">
        <button mat-stroked-button (click)="reset()">{{ 'ACTIONS.RESET' | translate }}</button>
        <span class="filter-middle">{{ 'FILTER.TITLE' | translate }}</span>
        <button mat-raised-button color="primary" (click)="finish()">{{ 'ACTIONS.FINISH' | translate }}</button>
      </div>
      <form [formGroup]="form" (ngSubmit)="emitChange()">
        <div *ngIf="isLoading" class="sp_wrapper"><mat-spinner diameter="20"></mat-spinner></div>
        <div class="filter-events-section">
          <div class="checkbox-wrapper">
            <mat-checkbox id="userFilterSet" class="cb" formControlName="userFilterSet"
              >{{ 'IAM.EVENTS.FILTERS.USER.CHECKBOX' | translate }}
            </mat-checkbox>
          </div>
          <div class="filter-events-sub" *ngIf="userFilterSet?.value">
            <cnsl-form-field class="filter-input-value">
              <cnsl-label>{{ 'IAM.EVENTS.FILTERS.USER.IDLABEL' | translate }}</cnsl-label>
              <input cnslInput name="editorUserId" formControlName="editorUserId" />
            </cnsl-form-field>
          </div>
        </div>

        <div class="filter-events-section">
          <div class="checkbox-wrapper">
            <mat-checkbox id="aggregateFilterSet" class="cb" formControlName="aggregateFilterSet"
              >{{ 'IAM.EVENTS.FILTERS.AGGREGATE.CHECKBOX' | translate }}
            </mat-checkbox>
          </div>
          <div class="filter-events-sub" *ngIf="aggregateFilterSet?.value">
            <cnsl-form-field class="aggregate-type-select">
              <cnsl-label>{{ 'IAM.EVENTS.FILTERS.AGGREGATE.TYPELABEL' | translate }}</cnsl-label>

              <mat-select
                name="aggregateTypesList"
                formControlName="aggregateTypesList"
                multiple
                [compareWith]="compareTypes"
              >
                <mat-select-trigger>
                  <span *ngIf="aggregateTypesList?.value && aggregateTypesList?.value.length">{{
                    aggregateTypesList?.value[0]?.localized?.localizedMessage || ''
                  }}</span>
                  <small *ngIf="(aggregateTypesList?.value.length || 0) > 1" class="cnsl-secondary-text">
                    (+{{ (aggregateTypesList?.value.length || 0) - 1 }}
                    {{ aggregateTypesList?.value.length === 2 ? 'other' : 'others' }})
                  </small>
                </mat-select-trigger>
                <mat-option *ngFor="let aggregate of aggregateTypes" [value]="aggregate">
                  <span *ngIf="aggregate.localized && aggregate.localized.localizedMessage">
                    {{ aggregate.localized.localizedMessage }}
                  </span>
                </mat-option>
              </mat-select>
            </cnsl-form-field>

            <cnsl-form-field class="filter-input-value">
              <cnsl-label>{{ 'IAM.EVENTS.FILTERS.AGGREGATE.IDLABEL' | translate }}</cnsl-label>
              <input formControlName="aggregateId" cnslInput name="aggregateId" />
            </cnsl-form-field>
          </div>
        </div>

        <div class="filter-events-section">
          <div class="checkbox-wrapper">
            <mat-checkbox id="typeFilterSet" class="cb" formControlName="eventTypesFilterSet"
              >{{ 'IAM.EVENTS.FILTERS.TYPE.CHECKBOX' | translate }}
            </mat-checkbox>
          </div>
          <div class="filter-events-sub" *ngIf="eventTypesFilterSet?.value">
            <cnsl-form-field class="event-types-select">
              <cnsl-label>{{ 'IAM.EVENTS.FILTERS.TYPE.TYPELABEL' | translate }}</cnsl-label>

              <mat-select formControlName="eventTypesList" multiple [compareWith]="compareTypes">
                <mat-select-trigger>
                  <span *ngIf="eventTypesList?.value && eventTypesList?.value.length">{{
                    eventTypesList?.value[0]?.localized?.localizedMessage || ''
                  }}</span>
                  <small *ngIf="(eventTypesList?.value.length || 0) > 1" class="cnsl-secondary-text">
                    (+{{ (eventTypesList?.value.length || 0) - 1 }}
                    {{ eventTypesList?.value.length === 2 ? 'other' : 'others' }})
                  </small>
                </mat-select-trigger>
                <mat-option *ngFor="let type of eventTypes" [value]="type">
                  <ng-container *ngIf="type.localized && type.localized.localizedMessage">
                    {{ type.localized.localizedMessage }}
                  </ng-container>
                </mat-option>
              </mat-select>
            </cnsl-form-field>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</div>
