$logoImgDark: "../logo-dark.png";
$logoImgLight: "../logo-light.png";

$footerimgDark: "";
$footerimgLight: "";

$bodyImgDark: "../flavor-spikes01-narrow.png";
$bodyImgLight: "../flavor-spikes01-narrow.png";