.content {
  display: flex;
  align-items: center;
  margin: 0 -.25rem;

  .formfield {
    flex: 1;
    margin: 0 .5rem;

    @media only screen and (max-width: 450px) {
      flex-basis: 100%;
    }
  }

  .rm-button {
    margin-top: 14px;
  }
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: .5rem;
  }

  button {
    border-radius: .5rem;
  }
}
