.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  margin: 0 -.5rem;
  flex-wrap: wrap;
  border-bottom: 1px solid #ffffff20;

  .formfield {
    margin: 0 .5rem;

    @media only screen and (max-width: 450px) {
      flex-basis: 100%;
    }
  }
}

.action {
  display: flex;
  justify-content: flex-end;

  .ok-button {
    margin-left: .5rem;
  }

  button {
    border-radius: .5rem;
  }
}
