.spinner-wr {
  margin: 0.5rem 0;
}

.default-language {
  max-width: 400px;
  display: block;
}

.general-btn-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;

  .save-button {
    display: block;
  }
}
