.desc {
  font-size: 14px;
  color: var(--grey);
}

.del-button {
  margin-right: 0.5rem;
}

.master-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;

  .left-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .row {
      max-width: 400px;
      display: flex;
      align-items: center;
      padding: 0.5rem 0;

      span {
        font-size: 0.9rem;
      }

      .first {
        color: var(--grey);
      }
    }
  }

  .fill-space {
    flex: 1;
  }
}

.formfield {
  width: 100%;
}

.divider {
  height: 1px;
  background-color: #8795a140;
  margin-bottom: 1.5rem;
  display: block;
}

.project-grant-h2 {
  margin-top: 1rem;
}
