<div class="container">
    <div class="abort-container">
        <button (click)="close()" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
        <span class="abort">{{ 'PROJECT.ROLE.ADDTITLE' | translate }}</span><span class="abort-2">Step
            {{ currentCreateStep }} of
            {{ createSteps }}</span>
    </div>

    <h1>{{'PROJECT.ROLE.ADDDESCRIPTION' | translate}}</h1>
    <button class="add-line-btn" color="primary" type="button" mat-stroked-button (click)="addEntry()">
        {{'PROJECT.ROLE.ADDNEWLINE' | translate}}
    </button>
    <form @list (ngSubmit)="addRole()">
        <div @animate *ngFor="let formGroup of formArray.controls; index as i" class="content">
            <ng-container [formGroup]="formGroup">
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'PROJECT.ROLE.KEY' | translate }}</cnsl-label>
                    <input cnslInput formControlName="key" />
                </cnsl-form-field>
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'PROJECT.ROLE.DISPLAY_NAME' | translate }}</cnsl-label>
                    <input cnslInput formControlName="displayName" />
                </cnsl-form-field>
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'PROJECT.ROLE.GROUP' | translate }}</cnsl-label>
                    <input cnslInput formControlName="group" />
                </cnsl-form-field>
                <button *ngIf="i !== 0" mat-icon-button (click)="removeEntry(i)" type="button" color="warn"
                    matTooltip="{{ 'ACTIONS.REMOVE' | translate }}">
                    <i class="las la-trash"></i>
                </button>
            </ng-container>
        </div>

        <button color="primary" mat-raised-button class="continue-button" [disabled]="formArray.invalid" type="submit">
            {{ 'ACTIONS.SAVE' | translate }}
        </button>
    </form>
</div>