.container {
  padding: 4rem 4rem 2rem 4rem;

  @media only screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem 1rem;
  }

  .abort-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .abort {
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    .abort-2 {
      font-size: 1.2rem;
      margin-left: 2rem;
      white-space: nowrap;
    }
  }

  .add-line-btn {
    margin-bottom: 1rem;
    border-radius: .5rem;
  }
}

.newrole-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ffffff20;
  margin-bottom: 1rem;
  display: flex;

  .newrole {
    display: grid;
    grid-template-columns: 1fr;
    flex: 1;

    @media only screen and (min-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }

  button {
    align-self: flex-end;
    margin-bottom: 1rem;
  }
}

.continue-button {
  margin-top: 3rem;
  display: block;
  padding: .5rem 4rem;

  @media only screen and (max-width: 450px) {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
