<div cdkDropListGroup>
  <div class="shortcut-container">
    <div class="shortcut-title-container">
      <h2>{{ 'HOME.SHORTCUTS.SHORTCUTS' | translate }}</h2>
      <button
        [matTooltip]="(editState ? 'ACTIONS.SAVE' : 'ACTIONS.EDIT') | translate"
        class="shortcut-btn"
        (click)="editState = !editState"
        mat-icon-button
        >
        @if (!editState) {
          <i class="las la-pen"></i>
        }
        @if (editState) {
          <i class="las la-check"></i>
        }
      </button>
      @if (editState) {
        <button matTooltip="{{ 'ACTIONS.RESETDEFAULT' | translate }}" (click)="reset()" mat-icon-button>
          @if (editState) {
            <i class="las la-undo-alt"></i>
          }
        </button>
      }
    </div>

    <div class="shortcut-list-row">
      <div cdkDropList [cdkDropListData]="main" class="shortcut-list" (cdkDropListDropped)="drop($event, 'main')">
        @if (editState) {
          <p class="shortcut-desc cnsl-secondary-text">{{ 'HOME.SHORTCUTS.REORDER' | translate }}</p>
        }
        @for (shortcut of main; track shortcut) {
          <ng-template cnslHasRole [hasRole]="shortcut.withRole">
            <a
              [routerLink]="!editState ? shortcut.routerLink : null"
              [queryParams]="shortcut.queryParams ? shortcut.queryParams : null"
              class="shortcut-box"
              [ngClass]="{ 'edit-state': editState && !shortcut.disabled, disabled: editState && shortcut.disabled }"
              cdkDrag
              [cdkDragDisabled]="shortcut.disabled || !editState"
              >
              <div class="shortcuts-avatar {{ shortcut.color }}">
                @if (shortcut.svgIcon) {
                  <mat-icon class="icon" [svgIcon]="shortcut.svgIcon"></mat-icon>
                }
                @if (shortcut.icon) {
                  <i class="icon {{ shortcut.icon }}"></i>
                }
                @if (shortcut.label) {
                  <span class="shortcuts-avatar-label">{{ shortcut.label }}</span>
                }
              </div>
              <div class="shortcut-col">
                @if (shortcut.i18nTitle) {
                  <span>{{ shortcut.i18nTitle | translate }}</span>
                }
                @if (shortcut.title) {
                  <span>{{ shortcut.title }}</span>
                }
              </div>
              <span class="fill-space"></span>
              @if (shortcut && shortcut.state !== undefined) {
                <div
                  class="shortcut-state-dot"
                  matTooltip="{{ 'PROJECT.STATE.' + shortcut.state | translate }}"
                [ngClass]="{
                  active: shortcut.state === ProjectState.PROJECT_STATE_ACTIVE,
                  inactive: shortcut.state === ProjectState.PROJECT_STATE_INACTIVE,
                }"
                ></div>
              }
            </a>
          </ng-template>
        }
      </div>

      <div cdkDropList [cdkDropListData]="secondary" class="shortcut-list" (cdkDropListDropped)="drop($event, 'secondary')">
        @if (editState) {
          <p class="shortcut-desc cnsl-secondary-text">{{ 'HOME.SHORTCUTS.REORDER' | translate }}</p>
        }
        @for (shortcut of secondary; track shortcut) {
          <ng-template cnslHasRole [hasRole]="shortcut.withRole">
            <a
              [routerLink]="!editState ? shortcut.routerLink : null"
              [queryParams]="shortcut.queryParams ? shortcut.queryParams : null"
              class="shortcut-box"
              [ngClass]="{ 'edit-state': editState && !shortcut.disabled }"
              cdkDrag
              [cdkDragDisabled]="shortcut.disabled || !editState"
              >
              <div class="shortcuts-avatar {{ shortcut.color }}">
                @if (shortcut.svgIcon) {
                  <mat-icon class="icon" [svgIcon]="shortcut.svgIcon"></mat-icon>
                }
                @if (shortcut.icon) {
                  <i class="icon {{ shortcut.icon }}"></i>
                }
                @if (shortcut.label) {
                  <span class="shortcuts-avatar-label">{{ shortcut.label }}</span>
                }
              </div>
              <div class="shortcut-col">
                @if (shortcut.i18nTitle) {
                  <span>{{ shortcut.i18nTitle | translate }}</span>
                }
                @if (shortcut.title) {
                  <span>{{ shortcut.title }}</span>
                }
              </div>
              <span class="fill-space"></span>
              @if (shortcut && shortcut.state !== undefined) {
                <div
                  class="shortcut-state-dot"
                  matTooltip="{{ 'PROJECT.STATE.' + shortcut.state | translate }}"
                [ngClass]="{
                  active: shortcut.state === ProjectState.PROJECT_STATE_ACTIVE,
                  inactive: shortcut.state === ProjectState.PROJECT_STATE_INACTIVE,
                }"
                ></div>
              }
            </a>
          </ng-template>
        }
      </div>

      <div cdkDropList [cdkDropListData]="third" class="shortcut-list" (cdkDropListDropped)="drop($event, 'third')">
        @if (editState) {
          <p class="shortcut-desc cnsl-secondary-text">{{ 'HOME.SHORTCUTS.REORDER' | translate }}</p>
        }
        @for (shortcut of third; track shortcut) {
          <ng-template cnslHasRole [hasRole]="shortcut.withRole">
            <a
              [routerLink]="!editState ? shortcut.routerLink : null"
              [queryParams]="shortcut.queryParams ? shortcut.queryParams : null"
              class="shortcut-box"
              [ngClass]="{ 'edit-state': editState && !shortcut.disabled }"
              cdkDrag
              [cdkDragDisabled]="shortcut.disabled || !editState"
              >
              <div class="shortcuts-avatar {{ shortcut.color }}">
                @if (shortcut.svgIcon) {
                  <mat-icon class="icon" [svgIcon]="shortcut.svgIcon"></mat-icon>
                }
                @if (shortcut.icon) {
                  <i class="icon {{ shortcut.icon }}"></i>
                }
                @if (shortcut.label) {
                  <span class="shortcuts-avatar-label">{{ shortcut.label }}</span>
                }
              </div>
              <div class="shortcut-col">
                @if (shortcut.i18nTitle) {
                  <span>{{ shortcut.i18nTitle | translate }}</span>
                }
                @if (shortcut.title) {
                  <span>{{ shortcut.title }}</span>
                }
              </div>
              <span class="fill-space"></span>
              @if (shortcut && shortcut.state !== undefined) {
                <div
                  class="shortcut-state-dot"
                  matTooltip="{{ 'PROJECT.STATE.' + shortcut.state | translate }}"
                [ngClass]="{
                  active: shortcut.state === ProjectState.PROJECT_STATE_ACTIVE,
                  inactive: shortcut.state === ProjectState.PROJECT_STATE_INACTIVE,
                }"
                ></div>
              }
            </a>
          </ng-template>
        }
      </div>
    </div>
  </div>

  @if (editState) {
    <div class="shortcut-container">
      <h2>{{ 'HOME.SHORTCUTS.SETTINGS' | translate }}</h2>
      <div class="available-shortcut-wrapper">
        @if (editState) {
          <p class="shortcut-desc cnsl-secondary-text">{{ 'HOME.SHORTCUTS.REORDER' | translate }}</p>
        }
        <div
          cdkDropList
          [cdkDropListData]="allAvailableShortcuts"
          class="available-shortcut-list"
          (cdkDropListDropped)="drop($event, 'main')"
          >
          @for (shortcut of allAvailableShortcuts; track shortcut) {
            <ng-template cnslHasRole [hasRole]="shortcut.withRole">
              <div
                class="shortcut-box"
                [ngClass]="{ 'edit-state': editState && !shortcut.disabled, disabled: editState && shortcut.disabled }"
                cdkDrag
                [cdkDragDisabled]="shortcut.disabled"
                >
                <div class="shortcuts-avatar {{ shortcut.color }}">
                  @if (shortcut.svgIcon) {
                    <mat-icon class="icon" [svgIcon]="shortcut.svgIcon"></mat-icon>
                  }
                  @if (shortcut.icon) {
                    <i class="icon {{ shortcut.icon }}"></i>
                  }
                  @if (shortcut.label) {
                    <span class="shortcuts-avatar-label">{{ shortcut.label }}</span>
                  }
                </div>
                <div class="shortcut-col">
                  @if (shortcut.i18nTitle) {
                    <span>{{ shortcut.i18nTitle | translate }}</span>
                  }
                  @if (shortcut.title) {
                    <span>{{ shortcut.title }}</span>
                  }
                  @if (shortcut.i18nDesc) {
                    <span class="shortcut-item-desc cnsl-secondary-text">{{
                      shortcut.i18nDesc | translate
                    }}</span>
                  }
                  @if (shortcut.desc) {
                    <span class="shortcut-item-desc cnsl-secondary-text">{{ shortcut.desc }}</span>
                  }
                </div>
                <span class="fill-space"></span>
                @if (shortcut && shortcut.state !== undefined) {
                  <div
                    class="shortcut-state-dot"
                    matTooltip="{{ 'PROJECT.STATE.' + shortcut.state | translate }}"
                [ngClass]="{
                  active: shortcut.state === ProjectState.PROJECT_STATE_ACTIVE,
                  inactive: shortcut.state === ProjectState.PROJECT_STATE_INACTIVE,
                }"
                  ></div>
                }
              </div>
            </ng-template>
          }
        </div>
      </div>
    </div>
  }
</div>

<!-- <ng-template #shortcutRef let-shortcut="shortcut">
<ng-template cnslHasRole [hasRole]="shortcut.withRole">
  <div class="shortcut-box edit-state" cdkDrag [cdkDragDisabled]="shortcut.disabled">
    <div class="shortcuts-avatar {{shortcut.color}}">
      <mat-icon *ngIf="shortcut.svgIcon" class="icon" [svgIcon]="shortcut.svgIcon"></mat-icon>
      <i *ngIf="shortcut.icon" class="icon {{shortcut.icon}}"></i>
    </div>
    <span *ngIf="shortcut.i18nTitle">{{shortcut.i18nTitle | translate}}</span>
    <span *ngIf="shortcut.title">{{shortcut.title}}</span>
  </div>
</ng-template>
</ng-template> -->
