@mixin toast-theme($theme) {
  $warn: map-get($theme, warn);
  $warn-color: map-get($warn, 500);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .data-e2e-failure {
    .mdc-snackbar__surface {
      background-color: map-get($background, toast) !important;
      color: $warn-color !important;

      * {
        color: $warn-color !important;
      }
    }
  }
}
