<div class="contributor-groups">
  <div class="contributor-people">
    <div class="contributor-img-list" [ngClass]="{'padd-left': totalResult > 0}" [@cardAnimation]="totalResult">
      <mat-spinner class="spinner" diameter="20" *ngIf="loading"></mat-spinner>
      <ng-container *ngIf="totalResult < 10; else compact">
        <ng-container *ngFor="let member of membersSubject | async; index as i">
          <div @animate (click)="emitShowDetail()" class="contributor-avatar-circle"
            matTooltip="{{ member.displayName }} | {{member.rolesList?.join(' ')}}" [ngStyle]="{'z-index': 100 - i}">
            <cnsl-avatar *ngIf="member && member.displayName && member.firstName && member.lastName; else cog"
              class="contributor-avatar dontcloseonclick" [avatarUrl]="member.avatarUrl|| ''"
              [forColor]="member.preferredLoginName ?? 'A'"
              [name]="member.displayName ? member.displayName : (member.firstName + ' '+ member.lastName)" [size]="32">
            </cnsl-avatar>
            <ng-template #cog>
              <cnsl-avatar [isMachine]="true">
                <i class="las la-robot"></i>
              </cnsl-avatar>
            </ng-template>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #compact>
        <div (click)="emitShowDetail()" class="contributor-avatar-circle" matTooltip="Click to show detail">
          <span>{{totalResult}}</span>
        </div>
      </ng-template>
      <button class="add-img" [ngClass]="{'no-margin': totalResult === 0}" (click)="emitAddMember()"
        [disabled]="disabled" mat-icon-button aria-label="Add member">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>