.groups {
    padding-top: 1rem;

    .header {
      display: block;
      margin-bottom: 1rem;
      font-weight: 400;
    }

    .sub-header {
        font-size: .8rem;
        color: #8795a1;
    }
  
    .people {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 1rem;
  
      .owner {
        margin-right: 1rem;
      }
  
      .img-list {
        width: 100%;
        margin-top: 0.5rem;
        margin-left: 1rem;
        display: flex;
        align-items: center;
        transition: all .15s ease-in-out;
  
        .avatar-circle {
            transition: all .3s ease-in-out;
            float: left;
            margin: 0 8px 0 -15px;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            -webkit-box-shadow: 2px 0px 7px -1px rgba(33,34,36,.5);
            -moz-box-shadow: 2px 0px 7px -1px rgba(33,34,36,.5);
            box-shadow: 2px 0px 7px -1px rgba(33,34,36,.5);
        }

        .add-img {
            float: left;
            margin: 0 8px 0 -15px;
        }

        .avatar-circle {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: indianred;
        }
  
        .margin-neg {
          margin-left: -1rem;
        }
      }
    }
  }
  