.groups {
  padding-top: 1rem;

  .co-header {
    display: block;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: .05em;
    text-transform: uppercase;
  }

  .sub-header {
    font-size: .8rem;
    color: var(--grey);
  }

  .people {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    .owner {
      margin-right: 1rem;
    }

    .img-list {
      width: 100%;
      margin-top: .5rem;
      margin-left: 1rem;
      display: flex;
      align-items: center;

      .spinner {
        margin-left: -15px;
        margin-right: 20px;
      }

      .add-img {
        float: left;
        margin: 0 8px 0 -15px;
      }

      .fill-space {
        flex: 1;
      }

      .refresh-img {
        float: left;
        margin: 0 0 0 -15px;
        
        .icon {
          font-size: 1.2rem;
        }
      }

      .avatar-circle {
        float: left;
        margin: 0 8px 0 -15px;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        -webkit-box-shadow: 2px 0 7px -1px rgba(33, 34, 36, .5);
        -moz-box-shadow: 2px 0 7px -1px rgba(33, 34, 36, .5);
        box-shadow: 2px 0 7px -1px rgba(33, 34, 36, .5);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        .avatar {
          pointer-events: none;
        }

        .sa-icon {
          display: block;
          width: 32px;
          margin: 0 .5rem;

          i {
            margin: auto;
            font-size: 1.2rem;
          }
        }
      }

      .margin-neg {
        margin-left: -1rem;
      }
    }
  }
}
