.spinner-wr {
  margin: 0.5rem 0;
}

.generators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;

  @media only screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
