.desc {
  color: var(--grey);
  font-size: 14px;
}

.container {
  padding: 4rem 4rem 2rem 4rem;

  @media only screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem 1rem;
  }

  .abort-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    .abort {
      font-size: 1.2rem;
      margin-left: 2rem;
    }

    .abort-2 {
      font-size: 1.2rem;
      margin-left: 2rem;
      white-space: nowrap;
    }
  }

  .add-line-btn {
    margin-bottom: 1rem;
  }
}

.auto-reg-info {
  display: block;
  width: 100%;

  .auto-reg-desc {
    margin: 0 0 1rem 0;
  }
}

.idp-content {
  display: flex;
  margin: 0 -.5rem;
  flex-wrap: wrap;

  .desc {
    flex-basis: 100%;
    margin: 0 .5rem;
    margin-bottom: 1rem;
    color: var(--grey);
  }

  .formfield {
    flex: 1;
    margin: 0 .5rem;

    @media only screen and (max-width: 450px) {
      flex-basis: 100%;
    }
  }
}

.actions {
  button[mat-stroked-button] {
    float: left;
    margin-top: 1rem;
    border-radius: .5rem;
  }

  button[mat-raised-button] {
    float: right;
    margin-top: 1rem;
    border-radius: .5rem;
    min-width: 100px;
  }
}