<div class="container">
    <div class="abort-container">
        <button (click)="close()" mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
        <span class="abort">{{ 'IDP.CREATE.TITLE' | translate }}</span><span class="abort-2">Step
            {{ currentCreateStep }} of
            {{ createSteps }}</span>
    </div>

    <h1>{{'IDP.CREATE.TITLE' | translate}}</h1>
    <p>{{'IDP.CREATE.DESCRIPTION' | translate}}</p>

    <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>

    <form (ngSubmit)="addIdp()">
        <ng-container [formGroup]="formGroup">
            <div class="content">
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'IDP.NAME' | translate }}</cnsl-label>
                    <input cnslInput formControlName="name" />
                </cnsl-form-field>
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'IDP.ISSUER' | translate }}</cnsl-label>
                    <input cnslInput formControlName="issuer" />
                </cnsl-form-field>
            </div>
            <div class="content">
                <p class="desc">Client Id / Client Secret</p>
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'IDP.CLIENTID' | translate }}</cnsl-label>
                    <input cnslInput formControlName="clientId" />
                </cnsl-form-field>
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'IDP.CLIENTSECRET' | translate }}</cnsl-label>
                    <input cnslInput formControlName="clientSecret" />
                </cnsl-form-field>
            </div>
            <div class="content">
                <cnsl-form-field appearance="outline" class="formfield">
                    <cnsl-label>{{ 'IDP.SCOPESLIST' | translate }}</cnsl-label>
                    <mat-chip-list #chipScopesList aria-label="scope selection" *ngIf="scopesList">
                        <mat-chip class="chip" *ngFor="let scope of scopesList.value" selectable="false" removable
                            (removed)="removeScope(scope)">
                            {{scope}} <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input cnslInput [matChipInputFor]="chipScopesList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                            (matChipInputTokenEnd)="addScope($event)">
                    </mat-chip-list>
                </cnsl-form-field>
            </div>
            <div class="content">
                <cnsl-form-field class="formfield" appearance="outline">
                    <cnsl-label>{{ 'IDP.IDPDISPLAYNAMMAPPING' | translate }}</cnsl-label>
                    <mat-select formControlName="idpDisplayNameMapping">
                        <mat-option *ngFor="let field of mappingFields" [value]="field">
                            {{ 'IDP.MAPPINGFIELD.'+field | translate }}
                        </mat-option>
                    </mat-select>
                </cnsl-form-field>
                <cnsl-form-field class="formfield" appearance="outline">
                    <cnsl-label>{{ 'IDP.USERNAMEMAPPING' | translate }}</cnsl-label>
                    <mat-select formControlName="usernameMapping">
                        <mat-option *ngFor="let field of mappingFields" [value]="field">
                            {{ 'IDP.MAPPINGFIELD.'+field | translate }}
                        </mat-option>
                    </mat-select>
                </cnsl-form-field>
            </div>
        </ng-container>

        <button color="primary" mat-raised-button class="continue-button" [disabled]="formGroup.invalid" type="submit">
            {{ 'ACTIONS.SAVE' | translate }}
        </button>
    </form>
</div>