@import 'src/app/modules/card/card';
@import './styles/table';
@import './styles/input.scss';
@import './styles/error.scss';
@import './styles/link.scss';
@import 'src/app/modules/avatar/avatar.component';
@import 'src/app/modules/app-radio/app-type-radio/app-type-radio.component';
@import 'src/app/modules/app-radio/app-auth-method-radio/app-auth-method-radio.component';
@import 'src/app/modules/changes/changes.component';
@import 'src/app/modules/info-section/info-section.component';
@import 'src/app/modules/detail-layout/detail-layout.component';
@import 'src/app/modules/app-card/app-card.component';
@import 'src/app/modules/contributors/contributors.component';
@import 'src/app/modules/nav/nav.component';
@import './styles/toast.scss';
@import 'src/app/modules/table-actions/table-actions.component';
@import 'src/app/modules/org-context/org-context.component.scss';
@import 'src/app/modules/action-keys/action-keys.component.scss';
@import 'src/app/modules/header/header.component';
@import 'src/app/modules/keyboard-shortcuts/keyboard-shortcuts.component';
@import 'src/app/modules/footer/footer.component';
@import 'src/app/modules/theme-setting/theme-setting.component.scss';
@import 'src/app/pages/projects/owned-projects/owned-project-detail/owned-project-detail.component';
@import 'src/app/pages/projects/granted-projects/granted-project-detail/granted-project-detail.component';
@import 'src/app/pages/projects/apps/app-detail/app-detail.component';
@import 'src/app/modules/top-view/top-view.component';
@import 'src/app/pages/projects/projects.component';
@import 'src/app/modules/edit-text/edit-text.component.scss';
@import 'src/app/pages/users/user-detail/auth-user-detail/auth-user-detail.component';
@import 'src/app/pages/users/user-detail/user-detail/user-detail.component';
@import 'src/app/pages/users/user-list/user-table/user-table.component';
@import 'src/app/pages/users/user-detail/contact/contact.component';
@import 'src/app/pages/projects/project-grid/project-grid.component';
@import 'src/app/app.component.scss';
@import './styles/color.scss';
@import 'src/app/pages/instance/instance.component.scss';
@import 'src/app/modules/refresh-table/refresh-table.component.scss';
@import 'src/app/modules/form-field/form-field.component.scss';
@import 'src/app/modules/label/label.component.scss';
@import 'src/app/modules/meta-layout/meta.scss';
@import 'src/app/pages/projects/owned-projects/project-grant-detail/project-grant-illustration/project-grant-illustration.component';
@import 'src/app/modules/accounts-card/accounts-card.component.scss';
@import 'src/app/modules/filter/filter.component.scss';
@import 'src/app/modules/policies/message-texts/message-texts.component.scss';
@import 'src/app/modules/policies/private-labeling-policy/private-labeling-policy.component.scss';
@import 'src/app/modules/info-row/info-row.component.scss';
@import 'src/app/modules/sidenav/sidenav.component';
@import 'src/app/modules/user-grants/user-grants.component.scss';
@import 'src/app/modules/shortcuts/shortcuts.component.scss';
@import 'src/app/modules/idp-create/idp-type-radio/idp-type-radio.component.scss';
@import 'src/app/pages/actions/add-action-dialog/add-action-dialog.component';
@import 'src/app/modules/project-role-chip/project-role-chip.component';
@import 'src/app/pages/home/home.component.scss';
@import 'src/app/modules/policies/login-policy/mfa-table/mfa-table.component.scss';
@import 'src/app/modules/info-overlay/info-overlay.component.scss';
@import './styles/codemirror.scss';

@mixin component-themes($theme) {
  @include cnsl-color-theme($theme);
  @include main-theme($theme);
  @include avatar-theme($theme);
  @include nav-theme($theme);
  @include header-theme($theme);
  @include app-type-radio-theme($theme);
  @include projects-theme($theme);
  @include idp-type-radio-theme($theme);
  @include top-view-theme($theme);
  @include info-overlay-theme($theme);
  @include app-auth-method-radio-theme($theme);
  @include project-role-chips-theme($theme);
  @include card-theme($theme);
  @include footer-theme($theme);
  @include table-theme($theme);
  @include detail-layout-theme($theme);
  @include app-card-theme($theme);
  @include login-policy-mfas-theme($theme);
  @include changes-theme($theme);
  @include home-theme($theme);
  @include owned-project-detail-theme($theme);
  @include theme-setting($theme);
  @include input-theme($theme);
  @include cnsl-form-field-theme($theme);
  @include contributors-theme($theme);
  @include shortcut-theme($theme);
  @include message-texts-theme($theme);
  @include app-detail-theme($theme);
  @include user-table-theme($theme);
  @include cnsl-label-theme($theme);
  @include table-actions-theme($theme);
  @include cnsl-error-theme($theme);
  @include link-theme($theme);
  @include org-context-theme($theme);
  @include auth-user-detail-theme($theme);
  @include edit-text-theme($theme);
  @include user-detail-theme($theme);
  @include instance-detail-theme($theme);
  @include meta-theme($theme);
  @include toast-theme($theme);
  @include keyboard-shortcuts-theme($theme);
  @include project-grant-illustration-theme($theme);
  @include refresh-table-theme($theme);
  @include accounts-card-theme($theme);
  @include sidenav-theme($theme);
  @include info-section-theme($theme);
  @include filter-theme($theme);
  @include private-label-theme($theme);
  @include project-grid-theme($theme);
  @include granted-project-detail-theme($theme);
  @include user-grants-theme($theme);
  @include info-row-theme($theme);
  @include action-dialog-theme($theme);
  @include action-keys-theme($theme);
  @include codemirror-theme($theme);
  @include contact-theme($theme);
}
