// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '~@angular/material' as mat;

@import './component-themes';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@font-face {
  font-family: ailerons;
  font-display: auto;
  src: url(assets/ailerons.otf) format('opentype');
}

:root {
  --grey: #8795a1;
  --table-row-back: #363738;
}

$caos-dark-brand: (
  50 : var(--theme-dark-50),
  100 : var(--theme-dark-100),
  200 : var(--theme-dark-200),
  300 : var(--theme-dark-300),
  400 : var(--theme-dark-400),
  500 : var(--theme-dark-500),
  600 : var(--theme-dark-600),
  700 : var(--theme-dark-700),
  800 : var(--theme-dark-800),
  900 : var(--theme-dark-900),
  A100 : var(--theme-dark-A100),
  A200 : var(--theme-dark-A200),
  A400 : var(--theme-dark-A400),
  A700 : var(--theme-dark-A700),
  contrast:
    (
      50: var(--theme-dark-contrast-50),
      100: var(--theme-dark-contrast-100),
      200: var(--theme-dark-contrast-200),
      300: var(--theme-dark-contrast-300),
      400: var(--theme-dark-contrast-400),
      500: var(--theme-dark-contrast-500),
      600: var(--theme-dark-contrast-600),
      700: var(--theme-dark-contrast-700),
      800: var(--theme-dark-contrast-800),
      900: var(--theme-dark-contrast-900),
      A100: var(--theme-dark-contrast-A100),
      A200: var(--theme-dark-contrast-A200),
      A400: var(--theme-dark-contrast-A400),
      A700: var(--theme-dark-contrast-A700)
    )
);

$caos-light-brand: (
  50 : var(--theme-light-50),
  100 : var(--theme-light-100),
  200 : var(--theme-light-200),
  300 : var(--theme-light-300),
  400 : var(--theme-light-400),
  500 : var(--theme-light-500),
  600 : var(--theme-light-600),
  700 : var(--theme-light-700),
  800 : var(--theme-light-800),
  900 : var(--theme-light-900),
  A100 : var(--theme-light-A100),
  A200 : var(--theme-light-A200),
  A400 : var(--theme-light-A400),
  A700 : var(--theme-light-A700),
  contrast:
    (
      50: var(--theme-light-contrast-50),
      100: var(--theme-light-contrast-100),
      200: var(--theme-light-contrast-200),
      300: var(--theme-light-contrast-300),
      400: var(--theme-light-contrast-400),
      500: var(--theme-light-contrast-500),
      600: var(--theme-light-contrast-600),
      700: var(--theme-light-contrast-700),
      800: var(--theme-light-contrast-800),
      900: var(--theme-light-contrast-900),
      A100: var(--theme-light-contrast-A100),
      A200: var(--theme-light-contrast-A200),
      A400: var(--theme-light-contrast-A400),
      A700: var(--theme-light-contrast-A700)
    )
);

$light-primary: mat.define-palette($caos-light-brand);
$light-accent: mat.define-palette($caos-light-brand);
$light-warn: mat.define-palette(mat.$red-palette);

$dark-primary: mat.define-palette($caos-dark-brand);
$dark-accent: mat.define-palette($caos-dark-brand);
$dark-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);
$dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

$custom-typography: mat.define-typography-config($font-family: 'Lato');

@include mat.core($custom-typography);

// default theme
@include component-themes($dark-theme);
@include mat.all-component-themes($dark-theme);

.mat-dialog-container,
.mat-raised-button,
.mat-stroked-button {
  border-radius: 6px !important;
}

.light-theme {
  @include component-themes($light-theme);
  @include mat.all-component-themes($light-theme);

  --grey: #697386;
  --color-main: #5469d4;

  .sidenav,
  .main-container,
  .mat-dialog-container {
    background-color: #fafafa;
    transition: background-color .3s cubic-bezier(.645, .045, .355, 1);
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #fafafa;
    border-radius: 8px;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fafafa;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #737c8850;
    border-radius: 8px;
    cursor: pointer;
  }

  .root-header {
    box-shadow: inset 0 -1px #e3e8ee;
  }
}

.dark-theme {
  @include component-themes($dark-theme);
  @include mat.all-component-themes($dark-theme);

  --color-main: #5282c1;

  .sidenav,
  .main-container,
  .mat-dialog-container {
    background-color: #212224;
    transition: background-color .3s cubic-bezier(.645, .045, .355, 1);
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2d2e30;
    border-radius: 8px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1) !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #2d2e30;
    transition: all .3s cubic-bezier(.645, .045, .355, 1) !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #737c8870;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1) !important;
  }

  .root-header {
    box-shadow: inset 0 -1px #303131;
  }
}
// @include mat.checkbox-theme($candy-app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 400;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.mat-paginator .mat-select {
  border: none;
}

.max-width-container {
  max-width: 1350px;
  padding: 0 2rem;
  padding-top: 2rem;
  padding-left: 2rem;

  @media only screen and (min-width: 1024px) {
    max-width: 1120px;
  }

  @media only screen and (min-width: 899px) {
    max-width: 899px;
  }

  @media only screen and (max-width: 500px) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.enlarged-container {
  padding: 0 1.5rem;
  padding-top: 2rem;
  padding-left: 2rem;

  @media only screen and (max-width: 500px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

i {
  font-size: 1.5rem;
}

.mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin {
  margin-right: .5rem !important;
}
