// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '~@angular/material' as mat;

@import './component-themes';
@import '~@angular/material/theming';

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@font-face {
  font-family: ailerons;
  font-display: auto;
  src: url(assets/ailerons.otf) format('opentype');
}

:root {
  --grey: #8795a1;
  --table-row-back: #363738;
}

$caos-dark-primary: (
  50 : var(--theme-dark-primary-50),
  100 : var(--theme-dark-primary-100),
  200 : var(--theme-dark-primary-200),
  300 : var(--theme-dark-primary-300),
  400 : var(--theme-dark-primary-400),
  500 : var(--theme-dark-primary-500),
  600 : var(--theme-dark-primary-600),
  700 : var(--theme-dark-primary-700),
  800 : var(--theme-dark-primary-800),
  900 : var(--theme-dark-primary-900),
  A100 : var(--theme-dark-primary-A100),
  A200 : var(--theme-dark-primary-A200),
  A400 : var(--theme-dark-primary-A400),
  A700 : var(--theme-dark-primary-A700),
  contrast:
    (
      50: var(--theme-dark-primary-contrast-50),
      100: var(--theme-dark-primary-contrast-100),
      200: var(--theme-dark-primary-contrast-200),
      300: var(--theme-dark-primary-contrast-300),
      400: var(--theme-dark-primary-contrast-400),
      500: var(--theme-dark-primary-contrast-500),
      600: var(--theme-dark-primary-contrast-600),
      700: var(--theme-dark-primary-contrast-700),
      800: var(--theme-dark-primary-contrast-800),
      900: var(--theme-dark-primary-contrast-900),
      A100: var(--theme-dark-primary-contrast-A100),
      A200: var(--theme-dark-primary-contrast-A200),
      A400: var(--theme-dark-primary-contrast-A400),
      A700: var(--theme-dark-primary-contrast-A700)
    )
);

$caos-light-primary: (
  50 : var(--theme-light-primary-50),
  100 : var(--theme-light-primary-100),
  200 : var(--theme-light-primary-200),
  300 : var(--theme-light-primary-300),
  400 : var(--theme-light-primary-400),
  500 : var(--theme-light-primary-500),
  600 : var(--theme-light-primary-600),
  700 : var(--theme-light-primary-700),
  800 : var(--theme-light-primary-800),
  900 : var(--theme-light-primary-900),
  A100 : var(--theme-light-primary-A100),
  A200 : var(--theme-light-primary-A200),
  A400 : var(--theme-light-primary-A400),
  A700 : var(--theme-light-primary-A700),
  contrast:
    (
      50: var(--theme-light-primary-contrast-50),
      100: var(--theme-light-primary-contrast-100),
      200: var(--theme-light-primary-contrast-200),
      300: var(--theme-light-primary-contrast-300),
      400: var(--theme-light-primary-contrast-400),
      500: var(--theme-light-primary-contrast-500),
      600: var(--theme-light-primary-contrast-600),
      700: var(--theme-light-primary-contrast-700),
      800: var(--theme-light-primary-contrast-800),
      900: var(--theme-light-primary-contrast-900),
      A100: var(--theme-light-primary-contrast-A100),
      A200: var(--theme-light-primary-contrast-A200),
      A400: var(--theme-light-primary-contrast-A400),
      A700: var(--theme-light-primary-contrast-A700)
    )
);

$caos-dark-background: (
  50 : var(--theme-dark-background-50),
  100 : var(--theme-dark-background-100),
  200 : var(--theme-dark-background-200),
  300 : var(--theme-dark-background-300),
  400 : var(--theme-dark-background-400),
  500 : var(--theme-dark-background-500),
  600 : var(--theme-dark-background-600),
  700 : var(--theme-dark-background-700),
  800 : var(--theme-dark-background-800),
  900 : var(--theme-dark-background-900),
  A100 : var(--theme-dark-background-A100),
  A200 : var(--theme-dark-background-A200),
  A400 : var(--theme-dark-background-A400),
  A700 : var(--theme-dark-background-A700),
  contrast:
    (
      50: var(--theme-dark-background-contrast-50),
      100: var(--theme-dark-background-contrast-100),
      200: var(--theme-dark-background-contrast-200),
      300: var(--theme-dark-background-contrast-300),
      400: var(--theme-dark-background-contrast-400),
      500: var(--theme-dark-background-contrast-500),
      600: var(--theme-dark-background-contrast-600),
      700: var(--theme-dark-background-contrast-700),
      800: var(--theme-dark-background-contrast-800),
      900: var(--theme-dark-background-contrast-900),
      A100: var(--theme-dark-background-contrast-A100),
      A200: var(--theme-dark-background-contrast-A200),
      A400: var(--theme-dark-background-contrast-A400),
      A700: var(--theme-dark-background-contrast-A700)
    )
);

$caos-light-background: (
  50 : var(--theme-light-background-50),
  100 : var(--theme-light-background-100),
  200 : var(--theme-light-background-200),
  300 : var(--theme-light-background-300),
  400 : var(--theme-light-background-400),
  500 : var(--theme-light-background-500),
  600 : var(--theme-light-background-600),
  700 : var(--theme-light-background-700),
  800 : var(--theme-light-background-800),
  900 : var(--theme-light-background-900),
  A100 : var(--theme-light-background-A100),
  A200 : var(--theme-light-background-A200),
  A400 : var(--theme-light-background-A400),
  A700 : var(--theme-light-background-A700),
  contrast:
    (
      50: var(--theme-light-background-contrast-50),
      100: var(--theme-light-background-contrast-100),
      200: var(--theme-light-background-contrast-200),
      300: var(--theme-light-background-contrast-300),
      400: var(--theme-light-background-contrast-400),
      500: var(--theme-light-background-contrast-500),
      600: var(--theme-light-background-contrast-600),
      700: var(--theme-light-background-contrast-700),
      800: var(--theme-light-background-contrast-800),
      900: var(--theme-light-background-contrast-900),
      A100: var(--theme-light-background-contrast-A100),
      A200: var(--theme-light-background-contrast-A200),
      A400: var(--theme-light-background-contrast-A400),
      A700: var(--theme-light-background-contrast-A700)
    )
);

$caos-dark-theme-background: (
  status-bar: map_get($caos-dark-background, 300),
  app-bar: map_get($caos-dark-background, 100),
  background: map_get($caos-dark-background, 500),
  hover: rgba(black, 0.04),
  card: map_get($caos-dark-background, 400),
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($caos-dark-background, 300),
  selected-disabled-button: map_get($caos-dark-background, 400),
  disabled-button-toggle: map_get($caos-dark-background, 200),
  unselected-chip: map_get($caos-dark-background, 300),
  disabled-list-option: map_get($caos-dark-background, 200)
);

$caos-light-theme-background: (
  status-bar: map_get($caos-light-background, 300),
  app-bar: map_get($caos-light-background, 100),
  background: map_get($caos-light-background, 500),
  hover: rgba(black, 0.04),
  card: map_get($caos-light-background, 400),
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $light-focused,
  selected-button: map_get($caos-light-background, 300),
  selected-disabled-button: map_get($caos-light-background, 400),
  disabled-button-toggle: map_get($caos-light-background, 200),
  unselected-chip: map_get($caos-light-background, 300),
  disabled-list-option: map_get($caos-light-background, 200)
);

$caos-dark-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38)
);

$caos-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: rgba(black, 0.87),
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38)
);

$caos-dark-app-theme: (
  primary: mat-palette($caos-dark-primary),
  accent: mat-palette($caos-dark-primary),
  warn: mat-palette($mat-red),
  is-dark: false,
  foreground: $caos-dark-theme-foreground,
  background: $caos-dark-theme-background
);

$caos-light-app-theme: (
  primary: mat-palette($caos-light-primary),
  accent: mat-palette($caos-light-primary),
  warn: mat-palette($mat-red),
  is-dark: false,
  foreground: $caos-light-theme-foreground,
  background: $caos-light-theme-background
);

// $light-primary: mat.define-palette($caos-light-primary);
// $light-accent: mat.define-palette($caos-light-primary);
// $light-warn: mat.define-palette(mat.$red-palette);

// $dark-primary: mat.define-palette($caos-dark-primary);
// $dark-accent: mat.define-palette($caos-dark-primary);
// $dark-warn: mat.define-palette(mat.$red-palette);

// $caos-light-app-theme: mat.define-light-theme($light-primary, $light-accent, $light-warn);
// $caos-dark-app-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

$custom-typography: mat.define-typography-config($font-family: 'Lato');

@include mat.core($custom-typography);

// default theme
@include component-themes($caos-dark-app-theme);
@include mat.all-component-themes($caos-dark-app-theme);

.mat-dialog-container,
.mat-raised-button,
.mat-stroked-button {
  border-radius: 6px !important;
}

.light-theme {
  @include component-themes($caos-light-app-theme);
  @include mat.all-component-themes($caos-light-app-theme);

  --grey: #697386;
  --color-main: #5469d4;
  $background: map-get($caos-light-app-theme, background);

  .sidenav,
  .main-container,
  .mat-dialog-container {
    background-color: map-get($background, background);
    transition: background-color .3s cubic-bezier(.645, .045, .355, 1);
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: map-get($background, background);
    border-radius: 8px;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: map-get($background, background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #737c8850;
    border-radius: 8px;
    cursor: pointer;
  }

  .root-header {
    box-shadow: inset 0 -1px #e3e8ee;
  }
}

.dark-theme {
  @include component-themes($caos-dark-app-theme);
  @include mat.all-component-themes($caos-dark-app-theme);

  --color-main: #5282c1;
  $background: map-get($caos-dark-app-theme, background);

  .sidenav,
  .main-container,
  .mat-dialog-container {
    background-color: map-get($background, background);
    transition: background-color .3s cubic-bezier(.645, .045, .355, 1);
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #2d2e30;
    border-radius: 8px;
    transition: all .3s cubic-bezier(.645, .045, .355, 1) !important;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #2d2e30;
    transition: all .3s cubic-bezier(.645, .045, .355, 1) !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #737c8870;
    border-radius: 8px;
    cursor: pointer;
    transition: all .3s cubic-bezier(.645, .045, .355, 1) !important;
  }

  .root-header {
    box-shadow: inset 0 -1px #303131;
  }
}
// @include mat.checkbox-theme($candy-app-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-weight: 400;
}

h2 {
  font-size: 1.3rem;
  font-weight: 400;
}

.mat-paginator .mat-select {
  border: none;
}

.max-width-container {
  max-width: 1350px;
  padding: 0 2rem;
  padding-top: 2rem;
  padding-left: 2rem;

  @media only screen and (min-width: 1024px) {
    max-width: 1120px;
  }

  @media only screen and (min-width: 899px) {
    max-width: 899px;
  }

  @media only screen and (max-width: 500px) {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.enlarged-container {
  padding: 0 1.5rem;
  padding-top: 2rem;
  padding-left: 2rem;

  @media only screen and (max-width: 500px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

i {
  font-size: 1.5rem;
}

.mat-checkbox-inner-container.mat-checkbox-inner-container-no-side-margin {
  margin-right: .5rem !important;
}
