<cnsl-create-layout
  title="{{ id ? ('IDP.DETAIL.TITLE' | translate) : ('IDP.CREATE.TITLE' | translate) }}"
  (closed)="close()"
>
  <div class="identity-provider-create-content">
    <div class="title-row">
      <img class="idp-logo" src="./assets/images/idp/saml-icon.svg" alt="saml" />
      <h1>{{ 'IDP.CREATE.SAML.TITLE' | translate }}</h1>
      <mat-spinner diameter="25" *ngIf="loading" color="primary"></mat-spinner>
    </div>

    <div *ngIf="provider">
      <cnsl-card
        title="Configure Your SAML Identity Provider (TRANSLATE)"
        description="ZITADEL is configured. Now your SAML Identity Provider needs some configuration. Most providers allow you to just upload the whole ZITADEL metadata XML. Other providers ask you to provide some distict URLs only, like for example the entity ID (metadata URL), the Assertion Consumer Service (ACS) URL or the Single Logout URL. (TRANSLATE)"
        *ngIf="copyRows$ | async as copyRows"
      >
        <cnsl-copy-row *ngFor="let row of copyRows" [label]="row.label" [value]="row.url" labelMinWidth="200px">
          <a *ngIf="row.downloadable" class="download-button" mat-stroked-button [href]="row.url" download>{{
            'ACTIONS.DOWNLOAD' | translate
          }}</a>
        </cnsl-copy-row>
      </cnsl-card>
      <cnsl-card
        title="Autofill user data (TRANSLATE)"
        description="Use an Action to improve your users experience. You can pre-fill ZITADELs registration form with values they already submitted to the SAML identity provider. (TRANSLATE)"
      >
        <a
          card-actions
          mat-icon-button
          href="https://zitadel.com/docs/guides/integrate/identity-providers/mocksaml#optional-add-zitadel-action-to-autofill-userdata"
          rel="noreferrer"
          target="_blank"
        >
          <mat-icon class="icon">info_outline</mat-icon>
        </a>
      </cnsl-card>
    </div>

    <p class="identity-provider-desc cnsl-secondary-text">
      {{ !provider ? ('IDP.CREATE.SAML.DESCRIPTION' | translate) : ('IDP.DETAIL.DESCRIPTION' | translate) }}
    </p>

    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <div class="identity-provider-content">
        <cnsl-form-field class="formfield">
          <cnsl-label>{{ 'IDP.NAME' | translate }}</cnsl-label>
          <input cnslInput formControlName="name" />
        </cnsl-form-field>
        <cnsl-form-field class="formfield">
          <cnsl-label>{{ 'IDP.SAML.METADATAXML' | translate }}</cnsl-label>
          <textarea
            cnslInput
            formControlName="metadataXml"
            placeholder="base64 encoded metadata xml"
            class="metadata-xml"
          ></textarea>
        </cnsl-form-field>
        <cnsl-form-field class="formfield">
          <cnsl-label>{{ 'IDP.SAML.METADATAURL' | translate }}</cnsl-label>
          <input cnslInput formControlName="metadataUrl" />
        </cnsl-form-field>
        <cnsl-form-field class="formfield">
          <cnsl-label>{{ 'IDP.SAML.BINDING' | translate }}</cnsl-label>
          <mat-select formControlName="binding" [compareWith]="compareBinding">
            <mat-option *ngFor="let binding of bindingValues" [value]="binding">{{ binding }}</mat-option>
          </mat-select>
        </cnsl-form-field>

        <mat-checkbox formControlName="withSignedRequest">{{ 'IDP.SAML.SIGNEDREQUEST' | translate }}</mat-checkbox>
      </div>

      <div class="identity-provider-optional-h-wrapper">
        <h2>{{ 'IDP.OPTIONAL' | translate }}</h2>
        <button (click)="showOptional = !showOptional" type="button" mat-icon-button>
          <mat-icon *ngIf="showOptional">keyboard_arrow_up</mat-icon
          ><mat-icon *ngIf="!showOptional">keyboard_arrow_down</mat-icon>
        </button>
      </div>
      <div *ngIf="showOptional">
        <cnsl-provider-options
          [initialOptions]="provider?.config?.options"
          (optionsChanged)="options = $event"
        ></cnsl-provider-options>
      </div>

      <div class="identity-provider-create-actions">
        <button
          color="primary"
          mat-raised-button
          class="continue-button"
          [disabled]="form.invalid || form.disabled"
          type="submit"
        >
          <span *ngIf="id">{{ 'ACTIONS.SAVE' | translate }}</span>
          <span *ngIf="!id">{{ 'ACTIONS.CREATE' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</cnsl-create-layout>
