<h1 mat-dialog-title>
  <span>{{ 'SETTING.SMTP.SETPASSWORD' | translate }} {{ data?.number }}</span>
</h1>
<div mat-dialog-content>
  <cnsl-form-field class="formfield">
    <cnsl-label>{{ 'SETTING.SMTP.PASSWORD' | translate }}</cnsl-label>
    <input cnslInput [(ngModel)]="password" />
  </cnsl-form-field>
</div>
<div mat-dialog-actions class="action">
  <button color="primary" mat-stroked-button class="ok-button" (click)="closeDialog()">
    {{ 'ACTIONS.CLOSE' | translate }}
  </button>

  <button
    [disabled]="!password"
    cdkFocusInitial
    color="primary"
    mat-raised-button
    class="ok-button"
    (click)="closeDialog(password)"
  >
    {{ 'ACTIONS.OK' | translate }}
  </button>
</div>
