<h1 mat-dialog-title>
  <span>{{ data.titleKey | translate: data.titleParam }}</span>
</h1>

<div mat-dialog-content>
  @if (data.icon) {
    <div class="icon-wrapper">
      <i class="icon {{ data.icon }}"></i>
    </div>
  }
  <p class="desc cnsl-secondary-text">{{ data.descriptionKey | translate: data.descriptionParam }}</p>

  @if (data.warnSectionKey) {
    <cnsl-info-section [type]="InfoSectionType.WARN">
      {{ data.warnSectionKey | translate }}
    </cnsl-info-section>
  }

  @if (data.hintKey) {
    <p class="desc cnsl-secondary-text">{{ data.hintKey | translate: { value: data.confirmation } }}</p>
  }

  <cnsl-form-field class="formfield">
    <cnsl-label>{{ data.emailKey | translate }}</cnsl-label>
    <input cnslInput [(ngModel)]="email" data-e2e="email-test-dialog-input" />
  </cnsl-form-field>

  @if (isLoading()) {
    <div class="is-loading">
      <mat-spinner diameter="50"></mat-spinner>
    </div>
  }

  @if (testResult) {
    <cnsl-form-field class="formfield">
      <cnsl-label>{{ data.testResultKey | translate }}</cnsl-label>
      <textarea cnslInput class="{{ resultClass }}" [(ngModel)]="testResult"></textarea>
    </cnsl-form-field>
  }
</div>

<div class="action" mat-dialog-actions>
  @if (data.cancelKey) {
    <button mat-stroked-button (click)="closeDialog()">
      {{ data.cancelKey | translate }}
    </button>
  }
  <span class="fill-space"></span>
  <button
    color="primary"
    [disabled]="!email || isLoading()"
    mat-raised-button
    class="ok-button"
    (click)="testEmailConfiguration()"
    data-e2e="test-email-button"
    >
    {{ data.confirmKey | translate }}
  </button>
</div>
