h1 {
  font-size: 1.5rem;
  margin: 0;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  align-items: center;

  .icon {
    font-size: 3rem;
  }
}

.desc {
  font-size: 0.9rem;
}

.action {
  display: flex;

  button {
    border-radius: 0.5rem;
  }

  .ok-button {
    margin-left: 0.5rem;
  }

  .fill-space {
    flex: 1;
  }
}

.is-loading {
  display: flex;
  justify-content: center;
}

.test-error {
  border-color: #ff3b5b;
  min-height: 200px;
}

.test-success {
  border-color: #10b981;
  min-height: 200px;
}
