.spinner-wr {
  margin: 0.5rem 0;
}

.policy-content {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  width: 75%;

  @media only screen and (min-width: 800px) {
    grid-template-columns: 1fr 1fr;
  }
}

.privacy-policy-formfield {
  .chips {
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    margin: 0;
    transition: all 0.2s ease;

    .chip {
      border-radius: 50vw;
      padding: 4px 0.5rem;
      font-size: 12px;
      background: #5282c1;
      color: white;
      margin-right: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 10;

      * {
        transition: all 0.2s ease;
      }

      i {
        opacity: 0.5;
        font-size: 1.1rem;
        margin-left: 0.5rem;
      }

      .key {
        display: inline-block;
      }
    }
  }

  &.cnsl-focused {
    .chips {
      opacity: 1;
      cursor: copy;
    }
  }
}

.policy-actions {
  display: flex;
  justify-content: flex-start;

  .save-button {
    display: block;
    margin: 0;
  }
}
