<span class="title" mat-dialog-title>{{ 'FLOWS.DIALOG.ADD.TITLE' | translate }}</span>

<div mat-dialog-content>
  <form *ngIf="form" [formGroup]="form">
    <cnsl-form-field class="form-field">
      <cnsl-label>{{ 'FLOWS.TRIGGERTYPE' | translate }}</cnsl-label>
      <mat-select formControlName="triggerType" name="triggerType">
        <mat-option *ngFor="let type of triggerTypesForSelection" [value]="type">
          {{ type.name?.localizedMessage }}
        </mat-option>
      </mat-select>
    </cnsl-form-field>

    <cnsl-form-field class="form-field">
      <cnsl-label>{{ 'FLOWS.ACTIONS' | translate }}</cnsl-label>
      <mat-select formControlName="actionIdsList" name="actionIdsList" multiple>
        <mat-option *ngFor="let action of actions" [value]="action.id">
          {{ action.name }}
        </mat-option>
      </mat-select>
    </cnsl-form-field>
  </form>
</div>
<div mat-dialog-actions class="action">
  <span class="fill-space"></span>
  <button mat-stroked-button (click)="closeDialog()">
    {{ 'ACTIONS.CANCEL' | translate }}
  </button>

  <button color="primary" mat-raised-button class="ok-button" [disabled]="false" (click)="closeDialogWithSuccess()">
    <span>{{ 'ACTIONS.SAVE' | translate }}</span>
  </button>
</div>
