.users-title-row {
  display: flex;
  align-items: center;

  h1 {
    margin: 0;
  }

  a .icon {
    font-size: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
  }
}

.user-list-sub {
  margin-bottom: 1.5rem;
  font-size: 14px;
}
