.icon-button {
  margin-right: .5rem;
}

.table-wrapper {
  overflow: auto;

  .table,
  .paginator {
    width: 100%;
    background-color: #2d2e30;

    td,
    th {
      &:first-child {
        padding-left: 0;
        padding-right: 1rem;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    .action {
      width: 40px;
    }

    .margin-neg {
      margin-left: -1rem;
    }

    .role {
      display: inline-block;
      margin: .25rem;
    }
  }
}

.pointer {
  outline: none;
  cursor: pointer;
}

tr {
    outline: none;
  
    button {
      visibility: hidden;
    }
  
    &:hover {
      button {
        visibility: visible;
      }
    }
  }
  