<app-detail-layout [backRouterLink]="[ serviceType === PolicyComponentServiceType.ADMIN ? '/iam/policies' : '/org']"
    [title]="'POLICY.LOGIN_POLICY.TITLE' | translate"
    [description]="(serviceType==PolicyComponentServiceType.MGMT ? 'POLICY.LOGIN_POLICY.DESCRIPTIONCREATEMGMT' : PolicyComponentServiceType.ADMIN ? 'POLICY.LOGIN_POLICY.DESCRIPTIONCREATEADMIN' : '') | translate">

    <div class="spinner-wr">
        <mat-spinner diameter="30" *ngIf="loading" color="primary"></mat-spinner>
    </div>

    <div class="content" >
      <cnsl-edit-text label="one"></cnsl-edit-text>
      <cnsl-edit-text label="one"></cnsl-edit-text>
    </div>

    <div class="divider"></div>

    <ng-container
        *ngIf="serviceType == PolicyComponentServiceType.MGMT && (['login_policy.idp'] | hasFeature | async) == false">
        <cnsl-info-section type="WARN">{{'FEATURES.NOTAVAILABLE' | translate: ({value:
            'login_policy.idp'})}}
        </cnsl-info-section>
    </ng-container>

    <cnsl-links *ngIf="nextLinks" [links]="nextLinks"></cnsl-links>

</app-detail-layout>
