<app-detail-layout [backRouterLink]="[ serviceType === PolicyComponentServiceType.ADMIN ? '/iam/policies' : '/org']"
    [title]="'POLICY.MESSAGE_TEXTS.TITLE' | translate"
    [description]="'POLICY.MESSAGE_TEXTS.DESCRIPTION' | translate">

    <div class="message-type">
      <button (click)="setCurrentType(type.key)" [ngClass]="{'active': currentType == type.key}" mat-button *ngFor="let type of MESSAGETYPES | keyvalue">{{'POLICY.MESSAGE_TEXTS.TYPES.'+type.value | translate}}</button>
    </div>
    <div class="content" >
      <cnsl-edit-text label="one" [default$]="getDefaultInitMessageTextMap$" [current$]="getCustomInitMessageTextMap$" (changedValues)="updateCurrentValues(
        $event)"></cnsl-edit-text>
    </div>

    <div class="actions">
      <button class="save-button" (click)="saveCurrentMessage()" color="primary" type="submit"
        mat-raised-button>{{ 'ACTIONS.SAVE' | translate }}</button>
    </div>

    <div class="divider"></div>

    <ng-container
        *ngIf="serviceType == PolicyComponentServiceType.MGMT && (['login_policy.idp'] | hasFeature | async) == false">
        <cnsl-info-section type="WARN">{{'FEATURES.NOTAVAILABLE' | translate: ({value:
            'login_policy.idp'})}}
        </cnsl-info-section>
    </ng-container>

    <cnsl-links *ngIf="nextLinks" [links]="nextLinks"></cnsl-links>

</app-detail-layout>
