.spinner-wr {
  margin: .5rem 0;
}

.top-actions {
  display: flex;
  margin: 0 -.5rem;
  justify-content: space-between;
  align-items: flex-end;

  .message-type {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 11px;

    .active {
      background: #cbf4c9;
      color: #0e6245;
    }
  }

  .language {
    display: block;
    margin: 0 .5rem;
    min-width: 150px;

    .lighter {
      font-size: 12px;
      color: var(--grey);
      padding: 0 .5rem;
    }
  }
}

.warn {
  margin-top: 1rem;
  display: block;
}

.content {
  padding-top: 1rem;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: rgba(var(--grey), .5);
  margin: 1rem 0;
}

.actions {
  display: flex;
  justify-content: flex-end;

  .save-button,
  .reset-button {
    display: block;
    margin: 0 .25rem 3rem .25rem;
  }

  .reset-button {
    display: flex;
    align-items: center;

    i {
      margin-bottom: 3px;
    }
  }
}
