@use '@angular/material' as mat;

@mixin message-texts-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat.get-color-from-palette($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .spinner-wr {
    margin: 0.5rem 0;
  }

  .message-texts-top-actions {
    display: flex;
    margin: 0 -0.5rem;
    justify-content: space-between;
    align-items: flex-end;

    .message-type {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 11px;

      .active {
        background: $primary-color;
        color: mat.get-color-from-palette($primary, default-contrast);
      }
    }

    .language {
      display: block;
      margin: 0 0.5rem;
      min-width: 150px;

      mat-select {
        height: 36px;
        padding: 0 10px !important;
        line-height: 36px;
      }

      .lighter {
        font-size: 12px;
        padding: 0 0.5rem;
      }
    }
  }

  .message-texts-divider {
    width: 100%;
    height: 1px;
    background-color: rgba(var(--grey), 0.5);
    margin: 1rem 0;
  }
}

.warn {
  margin-top: 1rem;
  display: block;
}

.content {
  padding-top: 1rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  .save-button,
  .reset-button {
    display: block;
    margin: 0 0.25rem 3rem 0.25rem;
  }

  .reset-button {
    display: flex;
    align-items: center;

    i {
      margin-bottom: 3px;
    }
  }
}
