.tier-desc {
  color: var(--grey);
  font-size: 14px;
  margin-top: 0;
}

.detail {
  margin-bottom: 1rem;

  p {
    margin: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 14px;
    color: var(--grey);
    margin-bottom: .5rem;

    a {
      margin-left: .5rem;
      cursor: pointer;
    }
  }

  .center {
    display: flex;
    align-items: center;

    a {
      margin-left: .5rem;
    }
  }

  img {
    height: 15px;
    width: auto;
    margin-left: .5rem;
  }
}

.spinner {
  margin: .5rem;
}

.error {
  color: #f44336;
  font-size: 14px;
}

.current-tier {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--grey);
  opacity: .5;
  margin: .5rem 0;
  display: block;
}

.content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .row {
    display: flex;
    align-items: center;
    padding: .3rem 0;

    i,
    .icon {
      margin-right: 1rem;
      font-size: 1.5rem;
    }

    .left-desc {
      font-size: .9rem;
    }

    .fill-space {
      flex: 1;
    }

    .length-wrapper {
      display: flex;
      align-items: center;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    margin-top: 3rem;
    display: block;
  }
}
