.subinfo {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: -1.5rem 0 0 0;

  i {
    font-size: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
  }
}

.tier-desc {
  font-size: 14px;
  margin-top: 0;
}

.detail {
  margin-bottom: 1rem;

  p {
    margin: 0;
    font-size: 14px;
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 14px;
    margin-bottom: 0.5rem;

    a {
      margin-left: 0.5rem;
      cursor: pointer;
    }
  }

  .center {
    display: flex;
    align-items: center;

    a {
      margin-left: 0.5rem;
    }
  }

  img {
    height: 15px;
    width: auto;
    margin-left: 0.5rem;
  }
}

.spinner {
  margin: 0.5rem;
}

.error-tier-message {
  color: var(--warn);
  font-size: 14px;
}

.current-tier {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.content {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;

  .feature-section {
    font-size: 14px;
    margin-top: 1.5rem;
  }

  .row {
    display: flex;
    align-items: center;
    padding: 0.3rem 0;

    .featureavatar {
      margin-right: 1rem;
      height: 30px;
      width: 30px;
      min-width: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(40deg, rgb(129, 85, 185) 30%, #7b8ada);

      &.purple {
        background: linear-gradient(40deg, #7c3aed 30%, #6d28d9);
      }

      &.red {
        background: linear-gradient(40deg, #dc2626 30%, #db2777);
      }

      &.green {
        background: linear-gradient(40deg, #059669 30%, #047857);
      }

      &.blue {
        background: linear-gradient(40deg, #3b82f6 30%, #4f46e5);
      }

      &.pink {
        background: linear-gradient(40deg, #db2777 30%, #be185d);
      }

      &.yellow {
        background: linear-gradient(40deg, #f59e0b 30%, #b45309);
      }

      &.black {
        background: linear-gradient(40deg, #1f2937, #111827);
      }

      i,
      .icon {
        font-size: 1.5rem;
        height: 1.5rem;
        line-height: 1.5rem;
        color: white;

        &.smaller {
          font-size: 1.2rem;
          height: 1.2rem;
          line-height: 1.2rem;
        }
      }
    }

    .left-desc {
      font-size: 0.9rem;
      margin-right: 1rem;
    }

    .fill-space {
      flex: 1;
    }

    .length-wrapper {
      display: flex;
      align-items: center;
    }

    .flow-select {
      flex-shrink: 1;
      min-width: 150px;
      margin-left: 1rem;
    }

    .flow-count {
      flex-shrink: 1;
      width: 70px;
      margin-left: 1rem;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;

  button {
    margin-top: 3rem;
    display: block;
  }
}

.toggle {
  margin-left: 1rem;
}
