<div class="onboarding-card" cdkTrapFocus>
  <div class="spinner-w">
    <mat-spinner diameter="20" *ngIf="loading$ | async" color="accent"> </mat-spinner>
  </div>
  <div class="progress-header">
    <h2>Get your ZITADEL running</h2>
    <p class="cnsl-secondary-text">
      This checklist helps to setup your instance and guides your through the most essential steps
    </p>
  </div>
  <div class="actions-list">
    <ng-container *ngFor="let action of actions | async | keyvalue">
      <a [routerLink]="[action.value?.link]" class="action-element" [ngClass]="{ done: action.value?.event !== undefined }">
        <div class="state-circle">
          <i *ngIf="action.value?.event !== undefined" class="las la-check"></i>
        </div>
        <span class="name">{{ 'ONBOARDING.EVENTS.' + action.key | translate }}</span>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
    </ng-container>
  </div>
  <div class="no-thanks-wrapper">
    <a class="no-thanks-btn" (click)="dismiss()">No thanks, I'm a pro</a>
  </div>
</div>
