
.card {
  margin: 1rem 0;
  padding: 1.5rem;
  border-radius: .5rem;
  padding-top: 1rem;
  min-width: 300px;

  .header {
    margin-top: 0;

    &.bottom-margin {
      margin-bottom: 1rem;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: .05em;
      }

      .fill-space {
        flex: 1;
      }

      .button {
        margin-right: -.5rem;
      }
    }

    .desc {
      font-size: .9rem;
      color: var(--grey);
    }
  }

  .card-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  @media only screen and (max-width: 500px) {
    margin: .5rem 0;
    padding: .5rem;
  }
}
