@use '~@angular/material' as mat;

@mixin card-theme($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $primary-color: mat.get-color-from-palette($primary, 500);
  $is-dark-theme: map-get($theme, is-dark);
  $back: if($is-dark-theme, #2d2e30, #ffffff);
  $border-color: if($is-dark-theme, rgba(#8795a1, .2), rgba(#8795a1, .2));
  $border-selected-color: if($is-dark-theme, #ffffff, #000000);
  /* stylelint-enable */

  .card {
    background-color: $back;
    transition: background-color .3s cubic-bezier(.645, .045, .355, 1);
    border: 1px solid $border-color;
    box-sizing: border-box;
    border-radius: .5rem;
    outline: none;
    height: 100%;

    .selection-icon {
      opacity: 0;
      position: absolute;
      top: -12px;
      left: -12px;
      color: $border-color;
    }

    &.selected {
      background-color: #ffffff25;
      border: 1px solid $border-selected-color;

      .text-part {
        .icons {
          opacity: 1;
        }
      }

      .selection-icon {
        color: $border-selected-color;
        opacity: 1;
      }
    }

    .iamuser {
      color: $primary-color;
    }

    .edit-button {
      &:hover {
        color: $border-selected-color;
      }
    }
  }
}
