@use '@angular/material' as mat;

@mixin smtp-provider-theme($theme) {
  $is-dark-theme: map-get($theme, is-dark);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .stepper {
    background: inherit !important;
    margin: 0 -1.5rem;
  }

  .smtp-create-actions {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .bck-button {
      margin-right: 1rem;
    }

    .create-button {
      padding: 0.5rem 4rem;
    }
  }

  .smtp-form-field,
  .info-section-warn {
    max-width: 400px;
    display: block;
  }

  .wizard-header {
    display: flex;
    align-items: center;

    .smtp-logo {
      margin-right: 1rem;
      height: 48px;
      width: 48px;
      flex-shrink: 0;
    }

    .smtp-icon {
      margin-right: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 36px;
      width: 36px;

      .icon {
        font-size: 2.25rem;
        height: 2.25rem;
        width: 2.25rem;
      }
    }
  }

  .row {
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      margin-bottom: 0.5rem;
      font-size: 14px;
    }
  }

  .title-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .left {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .right {
      flex-shrink: 0;
    }

    .title {
      margin: 1.2rem 0;
    }

    .next-icon {
      font-size: 1.2rem;
      height: 1.2rem;
      width: 1.2rem;
    }
  }

  .continue-button {
    margin-top: 3rem;
    display: block;
    height: 3.5rem;
    padding: 0 4rem;
  }

  .is-loading {
    display: flex;
    justify-content: center;
  }

  .test-error {
    border-color: #ff3b5b !important;
    min-height: 200px;
  }

  .test-success {
    border-color: #10b981 !important;
    min-height: 200px;
  }
}
