$column-gap: 1rem;
$row-gap: .5rem;

.lgn-register {
    display: grid;
    grid-column-gap: $column-gap;
    grid-row-gap: $row-gap;
    grid-template-rows: 1fr 1fr;

    .lgn-field {
        grid-row-start: 1;
        grid-row-end: 2;

        .half-width {
            grid-row-start: 1;
            grid-row-end: 1;
        }
    }
}