name: Lint

on:
  workflow_call:
    inputs:
      buf_version:
        required: true
        type: string
      go_lint_version:
        required: true
        type: string
      nx_cache_key:
        required: true
        type: string
      nx_cache_path:
        required: true
        type: string

jobs:
  lint-skip:
    name: lint skip
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - name: Lint skip
        run: |
          echo "Linting outside of pull requests is skipped"

  protos:
    name: protos
    runs-on: ubuntu-latest
    continue-on-error: true
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v4
      - uses: bufbuild/buf-setup-action@v1
        with:
          version: ${{ inputs.buf_version }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: lint
        uses: bufbuild/buf-lint-action@v1
      - uses: bufbuild/buf-breaking-action@v1
        with:
          against: "https://github.com/${{ github.repository }}.git#branch=${{ github.base_ref }}"

  api:
    name: api
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0      
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: "pnpm"
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - name: Restore Nx cache
        uses: actions/cache/restore@v4
        id: nx_cache
        with:
          path: ${{ inputs.nx_cache_path }}
          key: ${{ inputs.nx_cache_key }}
          fail-on-cache-miss: true
      - name: Restore generated API files from Nx cache
        run: pnpm nx run @zitadel/api:generate
      - uses: golangci/golangci-lint-action@v8
        with:
          version: ${{ inputs.go_lint_version }}
          github-token: ${{ github.token }}
          only-new-issues: true
