name: ZITADEL CI/CD

on:
  push:
    tags-ignore:
      - "*"
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  actions: write

jobs:

  check:
    uses: ./.github/workflows/check.yml
    with:
      node_version: "22"

  version:
    uses: ./.github/workflows/version.yml
    with:
      semantic_version: "23.0.7"
      dry_run: true

  api-compile:
    needs: 
      - check
      - version
    uses: ./.github/workflows/api-compile.yml
    with:
      node_version: "22"
      nx_cache_key: ${{ needs.check.outputs.nx_cache_key }}
      nx_cache_path: ${{ needs.check.outputs.nx_cache_path }}
      version: ${{ needs.version.outputs.version }}

  api-unit-test:
    needs: check
    uses: ./.github/workflows/api-unit-test.yml
    with:
      node_version: "22"
      nx_cache_key: ${{ needs.check.outputs.nx_cache_key }}
      nx_cache_path: ${{ needs.check.outputs.nx_cache_path }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  api-integration-test:
    needs: check
    uses: ./.github/workflows/api-integration-test.yml
    with:
      node_version: "22"
      nx_cache_key: ${{ needs.check.outputs.nx_cache_key }}
      nx_cache_path: ${{ needs.check.outputs.nx_cache_path }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  api-lint:
    needs: check
    uses: ./.github/workflows/api-lint.yml
    with:
      node_version: "22"
      buf_version: "latest"
      go_lint_version: "latest"
      nx_cache_key: ${{ needs.check.outputs.nx_cache_key }}
      nx_cache_path: ${{ needs.check.outputs.nx_cache_path }}

  container:
    needs: 
    - api-compile
    - check
    uses: ./.github/workflows/container.yml
    secrets: inherit
    permissions:
      packages: write
    if: ${{ github.event_name == 'workflow_dispatch' }}
    with:
      node_version: "22"
      image_name_github_api: "ghcr.io/zitadel/zitadel"
      image_name_google_api: "europe-docker.pkg.dev/zitadel-common/zitadel-repo/zitadel"
      image_name_github_login: "ghcr.io/zitadel/zitadel-login"
      image_name_google_login: "europe-docker.pkg.dev/zitadel-common/zitadel-repo/zitadel-login"
      nx_cache_key: ${{ needs.check.outputs.nx_cache_key }}
      nx_cache_path: ${{ needs.check.outputs.nx_cache_path }}

  functional-ui:
    uses: ./.github/workflows/functional-ui.yml
    needs: api-compile

  release:
    uses: ./.github/workflows/release.yml
    permissions:
      packages: write
      contents: write
      issues: write
      pull-requests: write
    needs:
      - version
      - api-unit-test
      - api-integration-test
      - check
      - container
      - functional-ui
    if: ${{ github.event_name == 'workflow_dispatch' }}
    secrets:
      GCR_JSON_KEY_BASE64: ${{ secrets.GCR_JSON_KEY_BASE64 }}
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
    with:
      semantic_version: "23.0.7"
      image_name_github_api: "ghcr.io/zitadel/zitadel"
      image_name_google_api: "europe-docker.pkg.dev/zitadel-common/zitadel-repo/zitadel"
      image_name_github_login: "ghcr.io/zitadel/zitadel-login"
      image_name_google_login: "europe-docker.pkg.dev/zitadel-common/zitadel-repo/zitadel-login"
