name: NX Release

on:
  push:
    tags-ignore:
      - "*"
    branches:
      - "nx-release-lean"
  pull_request:
  workflow_dispatch:


permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  actions: write

jobs:
  ci:
    name: ci
    runs-on: depot-ubuntu-22.04-16
    environment: ${{ github.ref_protected == 'true' && 'Protected' || null }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0
      - name: Fetch main branch
        if: ${{ github.ref != 'refs/heads/main' }}
        run: git fetch origin main:main
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Set SHAs for nx affected commands
        uses: nrwl/nx-set-shas@v4
      - name: Build API
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN || secrets.NX_CLOUD_ACCESS_TOKEN_READONLY }}
          NX_DAEMON: "false"
          NX_DISABLE_DB: "true"
        run: pnpm nx run @zitadel/release:publish
      - run: ls -la .artifacts
      - run: ls -R .artifacts
      - name: Upload Release Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: release-artifacts
          path: .artifacts/
          include-hidden-files: true
          retention-days: 5
