name: NX Release

on:
  push:
    tags-ignore:
      - "*"
    branches:
      - "nx-release-lean"
  pull_request:
  workflow_dispatch:


permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  actions: write

jobs:
  ci:
    name: ci
    runs-on: depot-ubuntu-22.04-16
    environment: ${{ github.ref_protected == 'true' && 'Protected' || null }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          filter: tree:0
      - name: Fetch main branch
        if: ${{ github.ref != 'refs/heads/main' }}
        run: git fetch origin main:main
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: true
          cache-dependency-path: "**/*.sum"
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Set SHAs for nx affected commands
        uses: nrwl/nx-set-shas@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Verify Packaging
        run: pnpm nx run @zitadel/zitadel:pack
      - name: Release
        if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
        env:
          CI_RELEASE: ${{ github.ref == 'refs/heads/main' && 'true' || 'false' }} 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN || secrets.NX_CLOUD_ACCESS_TOKEN_READONLY }}
          NX_DAEMON: "false"
          NX_DISABLE_DB: "true"
        run: pnpm release:release
      - name: Upload Linux AMD64 Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zitadel-linux-amd64
          path: .artifacts/pack/zitadel-linux-amd64.tar.gz
          if-no-files-found: ignore
          retention-days: 5
      - name: Upload Linux ARM64 Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zitadel-linux-arm64
          path: .artifacts/pack/zitadel-linux-arm64.tar.gz
          if-no-files-found: ignore
          retention-days: 5
      - name: Upload Darwin AMD64 Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zitadel-darwin-amd64
          path: .artifacts/pack/zitadel-darwin-amd64.tar.gz
          if-no-files-found: ignore
          retention-days: 5
      - name: Upload Darwin ARM64 Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zitadel-darwin-arm64
          path: .artifacts/pack/zitadel-darwin-arm64.tar.gz
          if-no-files-found: ignore
          retention-days: 5
      - name: Upload Windows AMD64 Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zitadel-windows-amd64
          path: .artifacts/pack/zitadel-windows-amd64.tar.gz
          if-no-files-found: ignore
          retention-days: 5
      - name: Upload Windows ARM64 Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zitadel-windows-arm64
          path: .artifacts/pack/zitadel-windows-arm64.tar.gz
          if-no-files-found: ignore
          retention-days: 5
      - name: Upload Login Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: zitadel-login
          path: .artifacts/pack/zitadel-login.tar.gz
          if-no-files-found: ignore
          retention-days: 5
      - name: Upload Release Metadata
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: metadata
          path: |
            .artifacts/version
            .artifacts/pack/checksums.txt
          if-no-files-found: ignore
          retention-days: 5
