name: CI

on:
  push:
    tags-ignore:
      - "*"
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  packages: write
  issues: write
  pull-requests: write
  actions: write

jobs:
  check:
    uses: ./.github/workflows/check.yml
    with:
      node_version: "22"
      nx_version: "21.5.2"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  version:
    uses: ./.github/workflows/version.yml
    if: ${{ github.event_name == 'workflow_dispatch' }}
    with:
      semantic_version: "23.0.7"
      dry_run: true

  pack:
    needs: version
    uses: ./.github/workflows/pack.yml
    secrets:
      GCR_JSON_KEY_BASE64: ${{ secrets.GCR_JSON_KEY_BASE64 }}
    permissions:
      packages: write
    if: ${{ github.event_name == 'workflow_dispatch' }}
    with:
      node_version: "22"
      nx_version: "21.5.2"
      zitadel_version: ${{ needs.version.outputs.version }}
      image_name_github_api: "ghcr.io/zitadel/zitadel"
      image_name_google_api: "europe-docker.pkg.dev/zitadel-common/zitadel-repo/zitadel"
      image_name_github_login: "ghcr.io/zitadel/zitadel-login"
      image_name_google_login: "europe-docker.pkg.dev/zitadel-common/zitadel-repo/zitadel-login"

  release:
    uses: ./.github/workflows/release.yml
    permissions:
      packages: write
      contents: write
      issues: write
      pull-requests: write
    needs:
      - version
      - check
      - pack
    if: ${{ github.event_name == 'workflow_dispatch' }}
    secrets:
      GCR_JSON_KEY_BASE64: ${{ secrets.GCR_JSON_KEY_BASE64 }}
      APP_ID: ${{ secrets.APP_ID }}
      APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
    with:
      semantic_version: "23.0.7"
      image_name_github_api: "ghcr.io/zitadel/zitadel"
      image_name_google_api: "europe-docker.pkg.dev/zitadel-common/zitadel-repo/zitadel"
      image_name_github_login: "ghcr.io/zitadel/zitadel-login"
      image_name_google_login: "europe-docker.pkg.dev/zitadel-common/zitadel-repo/zitadel-login"
