name: Container

on:
  workflow_call:
    inputs:
      image_name_github_api:
        required: true
        type: string
      image_name_github_login:
        required: true
        type: string
      image_name_google_api:
        required: true
        type: string
      image_name_google_login:
        required: true
        type: string
      nx_cache_key:
        required: true
        type: string
      nx_cache_path:
        required: true
        type: string
      node_version:
        required: true
        type: string
    secrets:
      GCR_JSON_KEY_BASE64:
        description: 'base64 endcrypted key to connect to Google'
        required: true

permissions:
  packages: write

env:
  default_labels: |
    org.opencontainers.image.documentation=https://zitadel.com/docs
    org.opencontainers.image.vendor=CAOS AG

jobs:
  build-api:
    name: api
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
      - name: Scratch meta
        id: scratch-meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ inputs.image_name_github_api }}
            ${{ inputs.image_name_google_api }}
          labels: ${{ env.default_labels}}
          tags: |
            type=sha,prefix=,suffix=,format=long
      - name: Debug meta
        id: debug-meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ inputs.image_name_github_api }}
            ${{ inputs.image_name_google_api }}
          labels: ${{ env.default_labels}}
          tags: |
            type=sha,prefix=,suffix=-debug,format=long
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Google Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: europe-docker.pkg.dev
          username: _json_key_base64
          password: ${{ secrets.GCR_JSON_KEY_BASE64 }}
      - uses: actions/download-artifact@v4
        with:
          path: .artifacts
          pattern: zitadel-linux-*
          merge-multiple: true
      - name: Unpack executables
        run: |
          mkdir -p ./.artifacts/linux/amd64 ./.artifacts/linux/arm64
          tar -xzf .artifacts/zitadel-linux-amd64.tar.gz -C .artifacts/
          mv .artifacts/zitadel-linux-amd64/zitadel ./.artifacts/linux/amd64/zitadel
          tar -xzf .artifacts/zitadel-linux-arm64.tar.gz -C .artifacts/
          mv .artifacts/zitadel-linux-arm64/zitadel ./.artifacts/linux/arm64/zitadel
      - name: Debug
        id: build-debug
        uses: docker/build-push-action@v6
        timeout-minutes: 5
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: apps/api/Dockerfile
          target: artifact
          platforms: linux/amd64,linux/arm64
          push: true
          labels: ${{ steps.debug-meta.outputs.labels }}
          tags: ${{ steps.debug-meta.outputs.tags }}
          outputs: type=image,name=${{ inputs.image_name_github_api }},name-canonical=true
      - name: Scratch
        id: build-scratch
        uses: docker/build-push-action@v6
        timeout-minutes: 3
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: apps/api/Dockerfile
          target: final
          platforms: linux/amd64,linux/arm64
          push: true
          labels: ${{ steps.scratch-meta.outputs.labels }}
          tags: ${{ steps.scratch-meta.outputs.tags }}

  build-login:
    name: login
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          filter: tree:0
          fetch-depth: 0      
      - name: Set up pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false
      - name: Install Nx
        run: pnpm add -g nx
      - name: Restore Nx cache
        uses: actions/cache/restore@v4
        id: nx_cache
        with:
          path: ${{ inputs.nx_cache_path }}
          key: ${{ inputs.nx_cache_key }}
          fail-on-cache-miss: true
      - name: Login meta
        id: login-meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ inputs.image_name_github_login }}
            ${{ inputs.image_name_google_login }}
          labels: |
            org.opencontainers.image.licenses=MIT
            ${{ env.default_labels}}
          tags: |
            type=sha,prefix=,suffix=,format=long
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Login to Google Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: europe-docker.pkg.dev
          username: _json_key_base64
          password: ${{ secrets.GCR_JSON_KEY_BASE64 }}
      - name: Restore Login
        run: nx run @zitadel/login:build
      - name: Login
        id: build-login
        uses: docker/build-push-action@v6
        timeout-minutes: 3
        with:
          context: apps/login
          cache-from: type=gha
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
          push: true
          labels: ${{ steps.login-meta.outputs.labels }}
          tags: ${{ steps.login-meta.outputs.tags }}
