name: "ZITADEL e2e Tests"

on:
  workflow_call:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        browser: [firefox, chrome]
    runs-on: ubuntu-latest
    steps:
      - 
        name: Checkout Repository
        uses: actions/checkout@v3
      -
        uses: actions/download-artifact@v3
        with:
          path: .artifacts
          name: zitadel-linux-amd64
      -
        name: Unpack executable
        run: |
          tar -xvf .artifacts/zitadel-linux-amd64.tar
          mv zitadel-linux-amd64/zitadel ./zitadel
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        with:
          driver-opts: 'image=moby/buildkit:v0.11.6'
      -
        name: Debug
        id: build-debug
        uses: docker/build-push-action@v4
        timeout-minutes: 3
        with:
          context: .
          cache-from: type=gha
          cache-to: type=gha,mode=max
          file: build/Dockerfile
          target: artifact
          platforms: linux/amd64
          push: false
          outputs: type=image,name=localhost:5000/zitadel:local
      -
        name: Start DB and ZITADEL
        run: |
          cd ./e2e
          ZITADEL_IMAGE=localhost:5000/zitadel:local docker compose up --detach --wait
      - 
        name: Cypress run
        uses: cypress-io/github-action@v5
        env:
          CYPRESS_BASE_URL: http://localhost:8080/ui/console
          CYPRESS_WEBHOOK_HANDLER_HOST: host.docker.internal
          CYPRESS_DATABASE_CONNECTION_URL: 'postgresql://root@localhost:26257/zitadel'
          CYPRESS_BACKEND_URL: http://localhost:8080
        with:
          working-directory: e2e
          browser: ${{ matrix.browser }}
          command: npm run e2e
          config-file: cypress.config.ts
      - 
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: production-tests-${{ matrix.browser }}
          path: |
            e2e/cypress/screenshots
            e2e/cypress/videos
            e2e/cypress/results
          retention-days: 30
