name: "ZITADEL Functional UI Tests"

on:
  workflow_call:

jobs:
  test:
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        browser: [firefox, chrome]
    runs-on:
      group: zitadel-public
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          path: .artifacts
          name: zitadel-linux-amd64
      -
        name: Unpack executables
        run: |
          mkdir -p ./artifacts/linux/amd64
          tar -xzf .artifacts/zitadel-linux-amd64.tar.gz --strip-components=1 -C ./artifacts/linux/amd64/ zitadel-linux-amd64/zitadel
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"
          cache-dependency-path: pnpm-lock.yaml
      - name: Install dependencies
        working-directory: ./tests/functional-ui
        run: pnpm install
      - name: Install Cypress binary
        working-directory: ./tests/functional-ui
        run: pnpm exec cypress install
      - name: Start DB, API and Console
        working-directory: ./tests/functional-ui
        run: docker compose up --build --detach --wait
      - name: Cypress run
        uses: cypress-io/github-action@v6
        env:
          CYPRESS_BASE_URL: http://localhost:8080/ui/console
          CYPRESS_WEBHOOK_HANDLER_HOST: host.docker.internal
          CYPRESS_DATABASE_CONNECTION_URL: "postgresql://root@localhost:26257/zitadel"
          CYPRESS_BACKEND_URL: http://localhost:8080
        with:
          working-directory: tests/functional-ui
          browser: ${{ matrix.browser }}
          config-file: cypress.config.ts
          install: false
      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: production-tests-${{ matrix.browser }}
          path: |
            tests/functional-ui/cypress/screenshots
            tests/functional-ui/cypress/videos
            tests/functional-ui/cypress/results
          retention-days: 30
