@use '@angular/material' as mat;

.idp-radio-button-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
  max-width: 500px;
}

@mixin idp-type-radio-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat.get-color-from-palette($primary, 500);
  $primary-color-light: mat.get-color-from-palette($primary, 300);
  $primary-color-dark: mat.get-color-from-palette($primary, 700);
  $primary-color-contrast: mat.get-color-from-palette($primary, default-contrast);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($theme, background);
  $fg: map-get($theme, foreground);
  $cardback: map-get($back, card);
  $text: map-get($fg, text);
  $border-color: if($is-dark-theme, rgba(#8795a1, 0.2), rgba(#8795a1, 0.2));

  input[type='radio'].idp {
    appearance: none;
    display: none;
    box-sizing: border-box;
  }

  .cnsl-idp-type-radio-button {
    margin: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: relative;
    background-color: $cardback;
    border: 1px solid $border-color;
    box-sizing: border-box;

    .cnsl-idp-type-radio-header {
      display: flex;
      align-items: center;
      padding: 0 1rem;

      span {
        margin: 1rem 0;
        font-size: 1.1rem;
      }

      .fill-space {
        flex: 1;
      }
    }
  }

  input.idp:checked + label {
    border: 1px solid if($is-dark-theme, $primary-color-dark, $primary-color-light) !important;
  }
}
