<div class="idp-radio-button-wrapper">
    <ng-container *ngFor="let type of types">
        <input class="idp mat-elevation-z1" type="radio" (change)="emitChange()" [value]="type" [(ngModel)]="selected" [id]="type.titleI18nKey" />
        <label class="cnsl-idp-type-radio-button" [for]="type.titleI18nKey">
            <div class="cnsl-idp-type-radio-header" >
              <mat-icon class="icon" *ngIf="type.mdi" [svgIcon]="type.mdi"></mat-icon>
              <span class="fill-space"></span>
              <span>{{type.titleI18nKey | translate}}</span>
            </div>
        </label>
    </ng-container>
</div>