@use '@angular/material' as mat;

@mixin theme-setting($theme) {
  /* stylelint-disable */
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($background, background);
  /* stylelint-enable */

  .theme-conent,
  .crescent {
    background-color: $back;
    transition: background-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); // cubic-bezier(.645, .045, .355, 1);
  }
}
