@use '@angular/material' as mat;

@mixin theme-setting($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $is-dark-theme: map-get($theme, is-dark);
  $back: map-get($background, background);
}
